<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AuthenticationCredentialsProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <AuthenticationCredentialsProvider.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LoginOKCancelButtonWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="LoginOKCancelButtonHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LoginSelectButtonWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LoginSelectButtonHeight" serializeAs="String">
                <value>50</value>
            </setting>
        </AuthenticationCredentialsProvider.Properties.Settings>
    </applicationSettings>
</configuration>
