<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utilities.Properties.Settings>
            <setting name="ProjectSymbolTag" serializeAs="String">
                <value>&lt;project&gt;</value>
            </setting>
            <setting name="PatternXaml" serializeAs="String">
                <value>.xaml</value>
            </setting>
            <setting name="RootSymbolFolder" serializeAs="String">
                <value>Symbols</value>
            </setting>
            <setting name="RootStyleFolder" serializeAs="String">
                <value>Styles</value>
            </setting>
            <setting name="UsupportedExpressionFunctions" serializeAs="String">
                <value>HLookUp,VLookUp,LookUp,Value,OffSet,Index,Match,Column,Choose,Sumif,Sumx2my2,Sumx2py2,Sumxmy2,Address,AverageIF,AverageIFS,SumIFS,NetworkDays,RANK.AVG,RANK.SQ,QUARTILE.EXC,QUARTILE.INC,MODE.SGNL,MODE.MULT,Sheet,_Xlfn.Sheet,Sheets,_Xlfn.Sheets,MDETERM,MMULT,MInverse,MUnit,_Xlfn.MUnit,Row,Rows,Columns,Areas,Cell,Transpose,BahtText</value>
            </setting>
            <setting name="OpenTagAlias" serializeAs="String">
                <value>&lt;&lt;</value>
            </setting>
            <setting name="CloseTagAlias" serializeAs="String">
                <value>&gt;&gt;</value>
            </setting>
            <setting name="ProjectRootPlaceholder" serializeAs="String">
                <value>&lt;ProjectRoot&gt;</value>
            </setting>
            <setting name="MethodCallableFastChecking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUICulture" serializeAs="String">
                <value>en-US</value>
            </setting>
        </Utilities.Properties.Settings>
    </applicationSettings>
</configuration>