.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Marble .contextcontainer .applicationmenu {
  color: #222222;
}
.sf-ribboncontainer.Marble .menucontainer .menuimage {
  border-right: #989898;
}
.sf-ribboncontainer.Marble .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Marble .contextcontainer .active.wrappertab:hover {
  border: 1px solid #aaaaaa;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: #222222;
}
.sf-ribboncontainer.Marble .contextcontainer .wrappertab:hover {
  border: 1px solid #aaaaaa;
}
.sf-ribboncontainer.Marble .menucontainer {
  background: none repeat scroll 0 0 #e1dad9;
  border: 1px solid #989898;
}
.sf-ribboncontainer.Marble .menucontainer ul {
  background: none repeat scroll 0 0 #e1dad9;
  border: 1px solid #989898;
}
.sf-ribboncontainer.Marble .pagecontainer {
  background: none repeat scroll 0 0 #e1dad9;
  border: 2px solid #989898;
  border-top: 2px solid #989898;
}
.sf-ribboncontainer.Marble .pagecontainer .menutext.active {
  background-color: white;
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
}
.sf-ribboncontainer.Marble .pagecontainer .menutext:hover {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}
.sf-ribboncontainer.Marble .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Marble .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Marble .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Marble .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Marble .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Marble .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Marble .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Marble .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Marble .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Marble .contextcontainer {
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #eeedec 21%, #d8d8d8 49%, #c7c9c9 74%, #c0c2c2 92%, #c0c2c2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(21%, #eeedec), color-stop(49%, #d8d8d8), color-stop(74%, #c7c9c9), color-stop(92%, #c0c2c2), color-stop(100%, #c0c2c2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafafa 0%, #eeedec 21%, #d8d8d8 49%, #c7c9c9 74%, #c0c2c2 92%, #c0c2c2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafafa 0%, #eeedec 21%, #d8d8d8 49%, #c7c9c9 74%, #c0c2c2 92%, #c0c2c2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafafa 0%, #eeedec 21%, #d8d8d8 49%, #c7c9c9 74%, #c0c2c2 92%, #c0c2c2 100%);
  /* IE10+ */
  background: linear-gradient(top, #fafafa 0%, #eeedec 21%, #d8d8d8 49%, #c7c9c9 74%, #c0c2c2 92%, #c0c2c2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#c0c2c2', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Marble .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #f8f8f8;
}
.sf-ribboncontainer.Marble .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #cdcece;
  background: #dddce7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddce7), color-stop(5%, #dbdbe5), color-stop(24%, #e0dbec), color-stop(48%, #ece9f4), color-stop(71%, #f6f2f8), color-stop(81%, #f7f7fb), color-stop(100%, #f9f8fd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%);
  /* IE10+ */
  background: linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddce7', endColorstr='#f9f8fd', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .contextcontainer .tabcontextbar {
  background: #c8d8fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c8d8fe 0%, #ccdcff 11%, #d9e4fe 17%, #dde6fe 21%, #e0e7fc 36%, #eceffa 43%, #f1f0f5 47%, #f1f1f4 53%, #f6f4ed 64%, #f5f0e7 70%, #f4f0ea 72%, #f9f7f7 79%, #faf8fa 83%, #fcfcfd 96%, #fbfafb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8d8fe), color-stop(11%, #ccdcff), color-stop(17%, #d9e4fe), color-stop(21%, #dde6fe), color-stop(36%, #e0e7fc), color-stop(43%, #eceffa), color-stop(47%, #f1f0f5), color-stop(53%, #f1f1f4), color-stop(64%, #f6f4ed), color-stop(70%, #f5f0e7), color-stop(72%, #f4f0ea), color-stop(79%, #f9f7f7), color-stop(83%, #faf8fa), color-stop(96%, #fcfcfd), color-stop(100%, #fbfafb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c8d8fe 0%, #ccdcff 11%, #d9e4fe 17%, #dde6fe 21%, #e0e7fc 36%, #eceffa 43%, #f1f0f5 47%, #f1f1f4 53%, #f6f4ed 64%, #f5f0e7 70%, #f4f0ea 72%, #f9f7f7 79%, #faf8fa 83%, #fcfcfd 96%, #fbfafb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c8d8fe 0%, #ccdcff 11%, #d9e4fe 17%, #dde6fe 21%, #e0e7fc 36%, #eceffa 43%, #f1f0f5 47%, #f1f1f4 53%, #f6f4ed 64%, #f5f0e7 70%, #f4f0ea 72%, #f9f7f7 79%, #faf8fa 83%, #fcfcfd 96%, #fbfafb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c8d8fe 0%, #ccdcff 11%, #d9e4fe 17%, #dde6fe 21%, #e0e7fc 36%, #eceffa 43%, #f1f0f5 47%, #f1f1f4 53%, #f6f4ed 64%, #f5f0e7 70%, #f4f0ea 72%, #f9f7f7 79%, #faf8fa 83%, #fcfcfd 96%, #fbfafb 100%);
  /* IE10+ */
  background: linear-gradient(top, #c8d8fe 0%, #ccdcff 11%, #d9e4fe 17%, #dde6fe 21%, #e0e7fc 36%, #eceffa 43%, #f1f0f5 47%, #f1f1f4 53%, #f6f4ed 64%, #f5f0e7 70%, #f4f0ea 72%, #f9f7f7 79%, #faf8fa 83%, #fcfcfd 96%, #fbfafb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8d8fe', endColorstr='#fbfafb', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #cecfcf;
  border-right: 1px solid #cecfcf;
  border-top: 2px solid #cecfcf;
  color: #aaaaaa;
}
.sf-ribboncontainer.Marble .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Marble .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .groupcontainer {
  background: #f8f8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(15%, #f3f3f3), color-stop(38%, #f1f1f1), color-stop(45%, #eeeeee), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb', GradientType=0);
  /* IE6-9 */

  border: 1px solid #cecfcf;
}
.sf-ribboncontainer.Marble .contentitems {
  background: #f8f8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(15%, #f3f3f3), color-stop(38%, #f1f1f1), color-stop(45%, #eeeeee), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%, #f3f3f3 15%, #f1f1f1 38%, #eeeeee 45%, #ebebeb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .contextcontainer .applicationmenu {
  background: #cfe7fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfe7fa), color-stop(100%, #6393c1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cfe7fa 0%, #6393c1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe7fa', endColorstr='#6393c1', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .menucontainer .menuitem:hover {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #f6f6f6), color-stop(8%, #e5e5e5), color-stop(12%, #e1e1e1), color-stop(32%, #d8d8d8), color-stop(56%, #d7d7d7), color-stop(64%, #dbdbdb), color-stop(80%, #ececec), color-stop(96%, #f8f8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* IE10+ */
  background: linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f8f8f8', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
.sf-ribboncontainer.Marble .pagecontainer .leftcontainer {
  background: #e8e6e5;
  /* Old browsers */
  background: -moz-linear-gradient(left, #e8e6e5 0%, #eae8e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e8e6e5), color-stop(100%, #eae8e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e8e6e5 0%, #eae8e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e8e6e5 0%, #eae8e7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e8e6e5 0%, #eae8e7 100%);
  /* IE10+ */
  background: linear-gradient(left, #e8e6e5 0%, #eae8e7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e6e5', endColorstr='#eae8e7', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.Marble .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Marble .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Marble .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #ede9e9;
  color: #222222;
}
.sf-ribboncontainer.Marble .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: white;
  color: #111111;
}
.sf-ribboncontainer.Marble .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Marble .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Marble {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Marble .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.sfGalleryView.png%>);
}
.sf-galleryview.Marble .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Marble .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Marble .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Marble .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Marble .slideup,
.sf-galleryview.Marble .slidedown,
.sf-galleryview.Marble .popup {
  position: relative;
}
.sf-galleryview.Marble .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Marble .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Marble .extracontainer ul,
.sf-galleryview.Marble .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Marble .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Marble .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Marble .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Marble .galleryrow {
  position: relative;
}
.sf-galleryview.Marble .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Marble .galleryitem:hover,
.sf-galleryview.Marble .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Marble .extracontainer .menuimage {
  border-right: 1px solid #989898;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Marble .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Marble .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Marble .gallerycontainer {
  background: none repeat scroll 0 0 #e1dad9;
  border: 1px solid #989898;
}
.sf-galleryview.Marble .subcontainer {
  background: none repeat scroll 0 0 #e1dad9;
  border: 1px solid #989898;
}
.sf-galleryview.Marble .extracontainer {
  border-top: 1px solid #989898;
  color: #222222;
}
.sf-galleryview.Marble .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Marble .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Marble .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Marble .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Marble .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Marble .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Marble .extraitems .image {
  border-right: 1px solid #989898;
  width: 20px;
}
.sf-galleryview.Marble .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Marble .galleryitem:hover {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #f6f6f6), color-stop(8%, #e5e5e5), color-stop(12%, #e1e1e1), color-stop(32%, #d8d8d8), color-stop(56%, #d7d7d7), color-stop(64%, #dbdbdb), color-stop(80%, #ececec), color-stop(96%, #f8f8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* IE10+ */
  background: linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f8f8f8', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
.sf-galleryview.Marble .extracontainer ul li:hover {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #f6f6f6), color-stop(8%, #e5e5e5), color-stop(12%, #e1e1e1), color-stop(32%, #d8d8d8), color-stop(56%, #d7d7d7), color-stop(64%, #dbdbdb), color-stop(80%, #ececec), color-stop(96%, #f8f8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* IE10+ */
  background: linear-gradient(top, #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f8f8f8', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
