.sfrotator_container {
  padding: 10px;
  float: left;
}
.sfrotator_container .sfrotator_leftbutton {
  background: transparent;
  border-radius: 17px;
  position: relative;
  height: 35px;
  width: 35px;
}
.sfrotator_container .sfrotator_rightbutton {
  border-radius: 17px;
  position: relative;
  height: 35px;
  width: 35px;
  background: transparent;
}
.sfrotator_container .sfrotator_rightbutton-vertical {
  background: transparent;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  outline: none;
}
.sfrotator_container .sfrotator_leftbutton-vertical {
  background: transparent;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  outline: none;
}
.sfrotator_container .sfrotatorbutton {
  float: left;
  margin-top: 2px;
  height: 20px;
  width: 20px;
  outline: none;
}
.sfrotator_container .sfrotator-clip_region {
  overflow: hidden;
  position: relative;
}
.sfrotator_container .sfrotator-itemcontainer {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}
.sfrotator_container .sfrotator-itemlist {
  display: block;
}
.sfrotator_container .sfrotator_leftbuttondiv {
  border: 1px none;
  border-radius: 17px;
  position: relative;
  height: 35px;
  width: 35px;
  top: -24px;
}
.sfrotator_container .sfrotator_rhtbuttondiv {
  border: 1px none;
  border-radius: 17px;
  position: relative;
  height: 35px;
  width: 35px;
  top: 24px;
}
.sfrotator_container .sfrotator-itemlist .rotator-text {
  text-align: justify;
}
/* Pager */

.sfrotator_container .rotatorpager {
  padding-top: 2px;
  padding-bottom: 12px;
  padding-left: 3px;
}
.sfrotator_container .Spacing {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 2px;
  padding-right: 2px;
}
.sfrotator_container .CurrentItem {
  border-width: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1px;
  margin-left: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}
.sfrotator_container .NumericItem:Hover {
  cursor: pointer;
  text-decoration: none;
  margin-right: 1px;
  margin-left: 1px;
  padding-left: 2px;
  -moz-border-radius: 3px 3px 3px 3px;
}
/******************************************************/

.Marble.sfrotator_container {
  background-color: #e1dad9;
  border: 1px solid #989898;
}
.Marble .sfrotator_leftbutton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.Marble-arrow.png%>);
  background-repeat: no-repeat;
  background-position: 60% -51px;
  border: 1px solid #989898;
}
.Marble .sfrotator_rightbutton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.Marble-arrow.png%>);
  background-repeat: no-repeat;
  background-position: 70% -117px;
  border: 1px solid #989898;
}
.Marble .sfrotator_leftbutton-vertical {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.Marble-arrow.png%>);
  background-repeat: no-repeat;
  background-position: center -180px;
  border: 1px solid #989898;
}
.Marble .sfrotator_rightbutton-vertical {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Marble.Images.Marble-arrow.png%>);
  background-repeat: no-repeat;
  background-position: center 13px;
  border: 1px solid #989898;
}
.Marble .sfrotator-itemlist {
  border: 1px solid #989898;
}
.Marble .sfrotator_rhtbuttondiv.buttonhover,
.Marble .sfrotator_leftbuttondiv.buttonhover {
  background-color: #ede9e9;
}
.Marble .sfrotator_leftbuttondiv,
.Marble .sfrotator_rhtbuttondiv {
  background-color: #e1dad9;
}
.Marble .NumericItem {
  color: black;
}
.Marble .NumericItem:Hover {
  background-color: #ede9e9;
}
.Marble .CurrentItem {
  background-color: white;
  border-color: #aaaaaa;
}
