.schedule_Vista.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  position: relative;
  border: 1px solid #51728b;
  background-color: #e2f3fc;
}
.schedule_Vista table,
.schedule_Vista th,
.schedule_Vista tr,
.schedule_Vista .GoToDateWindowInner table tr,
.schedule_Vista .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Vista td,
.schedule_Vista .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Vista .NavigationPaneTd {
  border-right: 1px solid #51728b;
  font-size: 10px;
  padding: 2px;
}
.schedule_Vista .NavigationPane {
  font-size: 10px;
}
.schedule_Vista .ui-datepicker-group {
  width: 100%;
}
.schedule_Vista .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Vista .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #e2f3fc;
}
.schedule_Vista .HeaderBar {
  background-color: #e2f3fc;
  background-repeat: repeat-x;
  border-top: 1px solid #51728b;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Vista .HeaderBar td {
  background-color: #e2f3fc;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Vista .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Vista .WorkCellUp,
.schedule_Vista .AllDayCell,
.schedule_Vista .WorkCellDown {
  font-size: 10px;
  background-color: #d9ebf8;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  overflow: hidden;
}
.schedule_Vista .WorkCatCellUp,
.schedule_Vista .WorkCatCellDown {
  font-size: 10px;
  background-color: #d9ebf8;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  overflow: hidden;
}
.schedule_Vista .WorkCellDownMonth {
  font-size: 10px;
  background-color: white;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  overflow: hidden;
}
.schedule_Vista .WorkCellUpMonth {
  font-size: 10px;
  background-color: #d9ebf8;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  overflow: hidden;
}
.schedule_Vista .TimeHourCell,
.schedule_Vista .TimeHourCellHorizontal {
  background-color: #e2f3fc;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #51728b;
  text-align: center;
  overflow: hidden;
}
.schedule_Vista .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #51728b;
  vertical-align: top;
}
.schedule_Vista .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Vista .TimeHourCellMonth {
  background-color: #e2f3fc;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #51728b;
  text-align: center;
  overflow: hidden;
}
.schedule_Vista .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Vista .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #51728b;
  border-bottom: 1px solid #51728b;
}
.schedule_Vista .ContentContainer {
  background-color: #51728b;
  position: relative;
  width: 100%;
  border: 1px solid #51728b;
  text-align: left;
  vertical-align: middle;
}
.schedule_Vista .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Vista .TimeMinuteCell {
  font-size: 7pt;
  background-color: #e2f3fc;
  border-bottom: 1px solid #51728b;
  text-align: left;
}
.schedule_Vista .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #39759c 0%, #ccebf8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #39759c 0%, #ccebf8 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #39759c 0%, #ccebf8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #39759c), color-stop(2, #ccebf8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #39759c 0%, #ccebf8 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #39759c 0%, #ccebf8 100%);
  background-color: #77c6d4;
  box-shadow: 0 1px 4px #39759c;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: Black;
}
.schedule_Vista .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Vista .ViewStripCont {
  background-color: #2e6b93;
  text-align: left;
  vertical-align: middle;
  color: white;
}
.schedule_Vista .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_VistaTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: Black;
  padding: 3px;
  font-size: 8pt;
  background-color: #17488a;
  color: white;
  border: 1px solid #51728b;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Vista .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Vista .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Vista .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Vista .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Vista .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Vista .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Vista .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Vista 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #51728b;
  background-color: #e2f3fc;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Vista 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Vista 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #e2f3fc;
}
.schedule_Vista .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Vista .AppointmentWindowInner {
  background-color: #e2f3fc;
  border: 1px solid #51728b;
  color: Black;
}
.schedule_Vista .AppointmentWindow td {
  padding: 3px;
}
.schedule_Vista .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: white;
}
.schedule_Vista .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Vista .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Vista .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Vista .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Vista .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Vista .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Vista .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Vista .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Vista .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Vista .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Vista .LowImportanceImage {
  *float: left;
}
.schedule_Vista .HighImportanceImage {
  *float: left;
}
.schedule_Vista .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Vista .SaveImageTd,
.schedule_Vista .DeleteImageTd,
.schedule_Vista .RecurrenceImageTd,
.schedule_Vista  .HighImportanceImageTd,
.schedule_Vista  .LowImportanceImageTd,
.schedule_Vista  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Vista .SaveImageTd:hover,
.schedule_Vista  .DeleteImageTd:hover,
.schedule_Vista  .RecurrenceImageTd:hover,
.schedule_Vista  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #51728b;
  cursor: pointer;
}
.schedule_Vista  .SaveImageTd:active,
.schedule_Vista  .DeleteImageTd:active,
.schedule_Vista  .RecurrenceImageTd:active,
.schedule_Vista  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -362px;
  background-color: #1c5981;
  border: 1px solid #51728b;
}
.schedule_Vista 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Vista 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Vista 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Vista 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Vista .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #39759c;
  border: 1px solid #51728b;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Vista .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #39759c;
  border: 1px solid #51728b;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Vista .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Vista .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Vista .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Vista .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Vista .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Vista .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Vista .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Vista .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Vista .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Vista .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Vista .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Vista .DayImage,
.schedule_Vista .WeekImage,
.schedule_Vista .WorkWeekImage,
.schedule_Vista .MonthImage,
.schedule_Vista .TodayView,
.schedule_Vista .ImportIcon,
.schedule_Vista .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #cfeafa;
  border-right: 1px solid #51728b;
}
.schedule_Vista .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Vista .DayImage:active,
.schedule_Vista .WeekImage:active,
.schedule_Vista .WorkWeekImage:active,
.schedule_Vista .MonthImage:active,
.schedule_Vista .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #1c5981;
  border-right: 1px solid #51728b;
  color: white;
}
.schedule_Vista .ImportIcon:hover,
.schedule_Vista .ExportIcon:hover,
.schedule_Vista .TodayView:hover,
.schedule_Vista .DayImage:hover,
.schedule_Vista .WeekImage:hover,
.schedule_Vista .WorkWeekImage:hover,
.schedule_Vista .MonthImage:hover,
.schedule_Vista .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #51728b;
}
.schedule_Vista .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Vista .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Vista .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Vista .CrudButtons {
  height: 30px;
}
.schedule_Vista .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Vista .Recurrence_types {
  border-right: 1px solid #cfeafa;
}
.schedule_Vista .Recurrence_common {
  padding: 3px;
}
.schedule_Vista .Recurrence_common div {
  padding: 3px;
}
.schedule_Vista .Recurrence_input {
  vertical-align: top;
}
.schedule_Vista .Recurrence_label {
  display: inline-table;
}
.schedule_Vista .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Vista .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Vista .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Vista .HeaderDaysOuter {
  background-color: #51728b;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #51728b;
  border-right: 1px solid #51728b;
  border-top: 1px solid #51728b;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Vista .HeaderDays {
  padding-top: 1px;
  background-color: #e2f3fc;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Vista .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Vista .HeaderDays table {
  table-layout: fixed;
}
.schedule_Vista .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Vista .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #51728b;
  border-bottom: 1px solid #51728b;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Vista .HeaderResourceCell {
  background-color: #e2f3fc;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Vista .HeaderResourceCellCategory {
  background-color: #e2f3fc;
  border-bottom: 1px solid #51728b;
  border-right: 1px solid #51728b;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Vista .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Vista .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -124px;
  background-color: #1c5981;
  border-right: 1px solid #1c5981;
  border-left: 1px solid #1c5981;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Vista .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -124px;
  background-color: #1c5981;
  border-right: 1px solid #1c5981;
  border-left: 1px solid #1c5981;
  text-align: left;
  overflow: hidden;
}
.schedule_Vista .CellToday {
  border-right: 1px solid #1c5981;
  border-left: 1px solid #1c5981;
}
.schedule_Vista .CellTodayMonth {
  border: 1px solid #1c5981;
}
.schedule_Vista .CellTodayLeft {
  border-left: 1px solid #1c5981;
}
.schedule_Vista .CellTodayRight {
  border-right: 1px solid #1c5981;
}
.schedule_Vista .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Vista .BusinessHour {
  background-color: white;
}
.schedule_Vista .selectedCell {
  color: white;
  background-color: #39759c;
}
.schedule_Vista .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #ccebf8;
  overflow: hidden;
}
.schedule_Vista .tablediv {
  display: table;
  width: 100%;
}
.schedule_Vista .celldiv {
  display: table-cell;
}
.schedule_Vista .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Vista .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -93px;
  background-color: #cfeafa;
  background-repeat: repeat-x;
  border: 1px solid #51728b;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}
.schedule_Vista div.scheduleButton:hover,
.schedule_Vista input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #51728b;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Vista  .HighImportanceImageTd:hover,
.schedule_Vista  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -124px;
  border: 1px solid #51728b;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Vista div.scheduleButton:active,
.schedule_Vista  .HighImportanceImageTd:active,
.schedule_Vista  .LowImportanceImageTd:active,
.schedule_Vista .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -158px;
  background-color: #1c5981;
  border: 1px solid #51728b;
}
.schedule_Vista .RecurrenceWindow,
.schedule_Vista .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: #e2f3fc;
  border: 1px solid #51728b;
  padding: 1px 5px;
}
.schedule_Vista .RecurrenceWindow td {
  height: 24px;
}
.schedule_Vista .Recurrence_Duration,
.schedule_Vista .Recurrence_Pattern,
.schedule_Vista .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #51728b;
  line-height: 20px;
  padding: 2px;
}
.schedule_Vista .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Vista .SelectedRecurrence,
.schedule_Vista .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -362px;
  background-color: #1c5981;
  border: 1px solid #51728b;
}
.schedule_Vista .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Vista .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Vista .Reminder_Details {
  border: 1px solid #51728b;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Vista .Reminder_Details td,
.schedule_Vista .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Vista .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #51728b;
}
.schedule_Vista .ReminderHeader th {
  border: 1px solid #51728b;
}
.schedule_Vista .Reminder_Details thead {
  background-color: #e2f3fc;
  border: 1px solid 1px solid #51728b;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Vista .Reminder_Details tbody {
  border: 1px solid 1px solid #51728b;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Vista .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Vista .selectedReminderCell {
  text-align: left;
  color: white;
  background-color: #39759c;
}
.schedule_Vista .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Vista .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #51728b;
}
.schedule_Vista .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Vista .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: white;
}
.schedule_Vista .PrintAppointment td {
  padding: 3px;
}
.schedule_Vista .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Vista .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Vista .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Vista .hasDatepicker {
  border: 1px solid #51728b;
}
.schedule_Vista .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Vista .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #51728b;
}
.schedule_Vista .InputBox {
  background-color: #5393ac !important;
  color: white !important;
  border: 1px solid #51728b !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: white !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Vista .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Vista .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Vista .AppointmentIndicatorPrev {
  border: 1px solid #51728b;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #2e6b93;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Vista .AppointmentIndicatorNext {
  border: 1px solid #51728b;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #2e6b93;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Vista .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Vista .ui-resizable {
  position: relative;
}
.schedule_Vista .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Vista .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Vista .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Vista .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Vista .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Vista .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Vista .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Vista .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Vista .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Vista .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Vista .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Vista .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #51728b;
}
/*----BlockCell------*/

.schedule_Vista .BlockTime {
  color: white;
  background-color: #39759c;
  position: absolute;
  opacity: .4;
}
.schedule_Vista .highlightSelectedDate a {
  background: #39759c !important;
  border: 1px solid #39759c !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Vista .highlighAppointmentDate {
  font-weight: bolder !important;
  color: white !important;
}
.schedule_Vista .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: white !important;
}
.schedule_Vista .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Vista .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Vista .DateSeparator {
  border-right-color: #39759c;
}
.schedule_Vista .AppointmentSubject {
  display: inline-block;
}
.schedule_Vista .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Vista .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Vista .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Vista .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Vista .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: Black;
}
