<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFInstallWebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <UFInstallWebClient.Properties.Settings>
            <setting name="DefaultWebSite" serializeAs="String">
                <value>Default Web Site</value>
            </setting>
            <setting name="DefaultAppPool" serializeAs="String">
                <value>MovNExTWebServerAppPool</value>
            </setting>
            <setting name="DefaultIdentity" serializeAs="String">
                <value>ApplicationPoolIdentity</value>
            </setting>
            <setting name="DefaultTheme" serializeAs="String">
                <value>Blend</value>
            </setting>
            <setting name="ProjectPathSuffix" serializeAs="String">
                <value>Project</value>
            </setting>
            <setting name="WebClientPathSuffix" serializeAs="String">
                <value>UFWebClient.HTML5</value>
            </setting>
            <setting name="LogPathSuffix" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="CommonApplicationFolder" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
            <setting name="AppDataPathSuffix" serializeAs="String">
                <value>App_Data</value>
            </setting>
            <setting name="SelectImageFilter" serializeAs="String">
                <value>Images (*.jpg, *.jpeg , *.jpe, *.gif, *.png, *.bmp)|*.jpg;*.jpeg;*.jpe;*.gif;*.png;*.bmp|All Files|*.*</value>
            </setting>
            <setting name="RefreshPollingTimeDefaultValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RefreshPollingTimeCountDefaultValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DelayBroadcasterDefaultValue" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SessionTimeoutDefaultValue" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConcurrentRenderingPipelineValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LowResolutionDefaultValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftwareRenderingDefaultValue" serializeAs="String">
                <value>False</value>
            </setting>
        </UFInstallWebClient.Properties.Settings>
    </applicationSettings>
</configuration>