<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatesChartControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StatesChartControl.Properties.Settings>
            <setting name="DesignSettingName" serializeAs="String">
                <value>Design settings</value>
            </setting>
            <setting name="DesignSettingBaseName" serializeAs="String">
                <value>Memory</value>
            </setting>
            <setting name="UtcTimeColumnName" serializeAs="String">
                <value>UtcTimeCol</value>
            </setting>
            <setting name="RealtimeBufferSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WebLegendHeightFactor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WebLegendMinHeight" serializeAs="String">
                <value>100</value>
            </setting>
        </StatesChartControl.Properties.Settings>
    </applicationSettings>
</configuration>