/*============== Sandune ===================*/
.SF_Sandune {
  overflow: auto;
  display: inline-block;
}
.SF_Sandune table {
  font: 11px/19px Verdana;
  border-collapse: collapse;
  background-color: #f3eddd;
  cursor: default;
}
.SF_Sandune th,
.SF_Sandune td {
  padding: 0 2px 0 3px;
  border: solid 1px;
  border-color: #d5c8b1;
  white-space: nowrap;
}
.SF_Sandune .Value {
  background-color: White;
  text-align: right !important;
}
.SF_Sandune .Summary {
  background-color: #f3eddd;
  white-space: nowrap;
  text-align: left;
}
.SF_Sandune .ColHeader,
.SF_Sandune .RowHeader {
  background-color: #e4cda3;
  background-repeat: repeat;
  padding: 0px 3px;
  text-align: left;
}
.SF_Sandune .RowHeader {
  vertical-align: top;
}
.SF_Sandune .Expand {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton.png%>);
  background-repeat: no-repeat;
  background-position: 5px 0px;
  width: 19px;
  display: inline-block;
  cursor: pointer;
}
.SF_Sandune .Expand:hover {
  background-position: 5px -50px;
}
.SF_Sandune .Collapse {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton.png%>);
  background-repeat: no-repeat;
  background-position: 5px -25px;
  width: 19px;
  display: inline-block;
  cursor: pointer;
}
.SF_Sandune .Collapse:hover {
  background-position: 5px -75px;
}
.SF_Sandune .ExpandableTextElement {
  text-align: left;
  white-space: nowrap;
}
.SF_Sandune .ToolTip {
  position: absolute;
  padding: 10px;
  border: 0px;
  margin: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
.SF_Sandune .ValueCellToolTip {
  background-color: #fcfdfe;
  background: -moz-linear-gradient(top, #fcfdfe 0%, #e5e6f1 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfdfe), color-stop(100%, #e5e6f1));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FCFDFE', endColorStr='#E5E6F1', GradientType=0) !important;
  /* ie */
  border: solid 1px #767676;
  display: none;
  white-space: nowrap;
  padding: 2px 5px;
  position: absolute;
  font: 11px/19px Verdana;
  color: #575757;
}
.SF_Sandune .ValueCellToolTip .ValueCellTipCaption {
  font-weight: bold;
}
.SF_Sandune .KpiIconValue {
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.SF_Sandune .KpiUpArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.UpArrow.png%>);
}
.SF_Sandune .KpiRightArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.RightArrow.png%>);
}
.SF_Sandune .KpiDownArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.DownArrow.png%>);
}
.SF_Sandune .KpiDiamond {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Diamond.png%>);
}
.SF_Sandune .KpiTriangle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Triangle.png%>);
}
.SF_Sandune .KpiCircle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Circle.png%>);
}
.SF_Sandune .KpiRedRoad {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Red.png%>);
}
.SF_Sandune .KpiGreenRoad {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Green.png%>);
}
.SF_Sandune .KpiAllColor {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Yellow.png%>);
}
