/*----- Editor--*/

.sf-editor.Sandune .sfInputText,
.sf-editor.Sandune .Syncfusion_Value_TextBox,
.sf-editor.Sandune .maskeditInput {
  color: #5e4721;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Sandune {
  border: 1px solid #bb964c;
  display: inline-block;
}
.sf-editor.Sandune .sfInputText,
.sf-editor.Sandune .Syncfusion_Value_TextBox,
.sf-editor.Sandune .Syncfusion_Watermark_TextBox {
  border-right: 1px solid #bb964c;
  background-color: white;
}
.sf-editor.Sandune .sf-splitup,
.sf-editor.Sandune .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Sandune .sf-splitup:hover,
.sf-editor.Sandune .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Sandune .sf-splitup:active,
.sf-editor.Sandune .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Sandune .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.Sandune .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.Sandune .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.Sandune .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.Sandune .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.Sandune .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.Sandune .sf-splitup,
.sf-editor.Sandune {
  background-color: white;
}
.sf-editor.Sandune .sf-splitup:hover {
  background-color: #f2debb;
}
.sf-editor.Sandune .sf-splitup:active {
  background-color: #f8e9cd;
}
.sf-editor.Sandune .sf-splitdown {
  background-color: white;
}
.sf-editor.Sandune .sf-splitdown:hover {
  background-color: #f2debb;
}
.sf-editor.Sandune .sf-splitdown:active {
  background-color: #f8e9cd;
}
.sf-core.disablebuttons,
.sf-genericdropdown.Sandune .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.Sandune.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.Sandune.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid #bb964c;
}
.sf-editor.Sandune .Syncfusion_Validator,
.sf-editor.Sandune .error,
.sf-editor.Sandune .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.Sandune .Syncfusion_Watermark_TextBox,
.sf-editor.Sandune .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Sandune .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.Sandune.Autocomplete_Wrapper {
  color: #5e4721;
  border: 1px solid #bb964c;
  height: 20px;
}
.sf-autocomplete.Sandune.Autocomplete_SuggestionList {
  border: 1px solid #bb964c;
  background-color: #faf3ec;
  color: #5e4721;
  font-size: 11px;
}
.sf-autocomplete.Sandune ul li.listHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #f2debb;
  color: #212121;
}
.sf-autocomplete.Sandune .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.Sandune ul li div.template {
  color: #5e4721;
}
.sf-autocomplete.Sandune .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid #bb964c;
  background-color: white;
}
.sf-autocomplete.Sandune .AutoCompleteDD_RTL {
  border-right: 1px solid #bb964c;
  border-left: none;
}
.sf-autocomplete.Sandune .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #f2debb;
  color: #212121;
}
.sf-autocomplete.Sandune .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #f8e9cd;
  color: #65532f;
}
.sf-autocomplete.Sandune.Autocomplete_Wrapper input,
.sf-autocomplete.Sandune.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.Sandune.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: #5e4721;
  background-color: white;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.Sandune .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.Sandune .HighlightQueryText {
  font-weight: bold;
  color: #363636;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.Sandune .GenericDropDownButtonBase {
  color: #5e4721;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.Sandune .GenericDropDownButtonBase,
.sf-genericdropdown.Sandune .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid #bb964c;
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
}
.sf-multicolumn.sf-genericdropdown.Sandune .GenericDropDownButtonBase:hover,
.sf-genericdropdown.Sandune .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-color: #f2debb;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.Sandune .GenericDropDownButtonBase:active,
.sf-genericdropdown.Sandune .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-color: #f8e9cd;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.Sandune .GenericDropDownContainer {
  border: 1px solid #bb964c;
}
.sf-genericdropdown.Sandune .GenericDropDownTextBox {
  background-color: white;
  color: #5e4721;
}
.sf-genericdropdown.Sandune .GenericDropDownTextBoxHover {
  background-color: white;
}
.sf-genericdropdown.Sandune .GenericDropDownPopupPanel {
  background-color: #faf3ec;
  color: #5e4721;
  border: 1px solid #bb964c;
  font-size: 11px;
}
.sf-genericdropdown.Sandune .GenericDropDownPopupPanel .listHover {
  background: #f2debb url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>) bottom;
  background-repeat: repeat-x;
  color: #212121;
}
/*-----------Button-------------*/

.sf-button.Sandune {
  color: #5e4721;
}
.sf-button.Sandune.background {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.header-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #f0d7b0;
  color: #ba964c;
  border: 1px solid #bb964c;
}
.sf-button.Sandune.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #f2debb;
  border: 1px solid #c6b187;
  color: #212121;
}
.sf-button.Sandune.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #f8e9cd;
  border: 1px solid #ba964c;
  color: #65532f;
}
.sf-button.Sandune .spritesplitdropdownbutton,
.sf-button.Sandune .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.Sandune .dropdowndownarrow,
.sf-button.Sandune .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Sandune .splitrightarrow:hover .dropdowndownarrow,
.sf-button.Sandune .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Sandune .splitrightarrow:active .dropdowndownarrow,
.sf-button.Sandune .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Sandune .splitbottomarrow {
  display: block;
  border-top: 1px solid #bb964c;
  text-align: center;
}
.sf-button.Sandune .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.Sandune .splitrightarrow {
  display: table-cell;
  border-left: 1px solid #bb964c;
  text-align: center;
  vertical-align: top;
}
.sf-button.Sandune .borderleftmousehover {
  border-left: 1px solid #c6b187;
}
.sf-button.Sandune .bordertopmousehover {
  border-top: 1px solid #c6b187;
}
.sf-ribboncontainer.Sandune .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.Sandune .ribbonbutton:hover {
  background-image: none;
  background-color: #f2debb;
  border: 1px solid #c6b187;
}
.sf-ribboncontainer.Sandune .ribbonbutton:active {
  background-image: none;
  background-color: #f8e9cd;
  border: 1px solid #ba964c;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.Sandune  .captcha-image-container {
  float: left;
  border: 1px solid #a67c52;
  border-radius: 3px;
}
.sf-captcha.Sandune .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.Sandune .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #f1ebdf url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #a67c52;
  border-radius: 3px;
}
.sf-captcha.Sandune .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #f1ebdf url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #a67c52;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.Sandune.horizontal .stars,
.sf-rating.Sandune.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.stars.png%>) no-repeat;
}
.sf-rating.Sandune.horizontal .reset,
.sf-rating.Sandune.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.Sandune .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.Sandune .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.Sandune .stars.active {
  background-position: 0 -51px;
}
.sf-rating.Sandune .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.Sandune .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.Sandune .sf-sp-Hhandle,
.Sandune .sf-sp-Vhandle {
  background: #faf3ec;
  border: 1px solid #e5d9be;
}
.Sandune .sf-sp-tb,
.Sandune .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.Sandune .sf-sp-bl,
.Sandune .sf-sp-br {
  height: 12px;
  width: 7px;
}
.Sandune .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.Sandune .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.Sandune .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.Sandune .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.Sandune {
  border-color: #bb964c;
}
.sf-splitter.Sandune .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.Sandune .pane {
  color: #ba964c;
  background-color: #faf3ec;
}
.sf-splitter.Sandune .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.Sandune .splitbar {
  background-color: #f0d7b0;
  border-color: #bb964c;
}
.sf-splitter.Sandune .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Sandune .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: #f2debb;
}
.sf-splitter.Sandune .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Sandune .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: #f2debb;
}
/* Vertical view css classes */

.sf-splitter.Sandune .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.Sandune .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: #f2debb;
}
.sf-splitter.Sandune .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.Sandune .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: #f2debb;
}
/*----Tag-Cloud------*/

.sf-tagcloud.Sandune {
  background-color: #fafafa;
}
.sf-tagcloud.Sandune .tagcloud-header {
  background-color: #f1ebdf;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.header-bg.png%>);
  color: #ba964c;
}
.sf-tagcloud.Sandune .tagcloud-items .textNode {
  color: #ba964c;
}
.sf-tagcloud.Sandune .tagcloud-items .textNode.hover {
  color: #65532f;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.Sandune {
  border: 1px solid #bb964c;
}
.sf-timepicker.Sandune li {
  background-color: #f0d7b0;
  color: #ba964c;
  border-color: #bb964c;
}
.sf-timepicker.Sandune li:hover {
  background-color: #f2debb;
  color: #212121;
  border-color: #c6b187;
}
/*------ Toolbar--------*/

.sf-toolbar.Sandune-horizontal {
  color: #ba964c;
  border: 1px solid #bb964c;
  background: #f0d7b0 url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.header-bg.png%>) repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.Sandune-vertical {
  color: #ba964c;
  border: 1px solid #bb964c;
  background: #f0d7b0 url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.header-bg-ver.png%>) repeat-y left;
  display: inline-block;
}
.sf-toolbar.Sandune-vertical,
.sf-toolbar.Sandune-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.Sandune-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.Sandune-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.Sandune-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.Sandune-horizontal .Disable_ToolLi,
.sf-toolbar.Sandune-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.Sandune-horizontal .Tool_Hover,
.sf-toolbar.Sandune-vertical .Tool_Hover {
  background: #f2debb url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>) repeat-x center bottom;
  border: 1px solid #c6b187;
  color: #212121;
}
.sf-toolbar.Sandune-horizontal .Tool_Selected,
.sf-toolbar.Sandune-vertical .Tool_Selected {
  border: 1px solid #ba964c;
  background: #f8e9cd url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.active-bg.png%>) repeat-x center bottom;
  color: #65532f;
}
.sf-toolbar.Sandune-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.Sandune-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.Sandune-horizontal .AlignMiddle,
.sf-toolbar.Sandune-vertical .AlignMiddle,
.sf-toolbar.Sandune-horizontal .Toolbar_Text,
.sf-toolbar.Sandune-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.Sandune .ImgCss {
  border: 1px solid #bb964c;
}
.sf-treeview.Sandune .showline-NodeText,
.sf-treeview.Sandune .noline-NodeText {
  color: #ba964c;
}
.sf-treeview.Sandune .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.Sandune.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.Sandune .Input_Text {
  border: solid 2px #f8e9cd;
}
.sf-treeview.Sandune span.noline-child,
.sf-treeview.Sandune span.showline-child {
  white-space: nowrap;
}
.sf-treeview.Sandune .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.Sandune .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.Sandune.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.Sandune.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.Sandune .pointer,
.sf-treeview.Sandune.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.Sandune .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.Sandune .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.Sandune .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.Sandune.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.Sandune.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.Sandune.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.Sandune .showline-selected,
.sf-treeview.Sandune .noline-selected {
  background: #f8e9cd url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.active-bg.png%>) 0 0 repeat-x;
  color: #65532f;
  border: 1px solid #ba964c;
}
.sf-treeview.Sandune .showline-hover,
.sf-treeview.Sandune .noline-hover {
  background: #f2debb url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>) 0 0 repeat-x;
  color: #212121;
  border: 1px solid #c6b187;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid #bb964c;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.Sandune .file-progress {
  border: 1px solid #bb964c;
  background-color: #f0d7b0;
}
.sf-uploadbox.Sandune .file-action,
.sf-uploadbox.Sandune .file-list .file-size {
  border-color: #bb964c;
  background-color: #f0d7b0;
}
.sf-uploadbox.Sandune .file-progress-status {
  background-color: #f07f2f;
}
.sf-uploadbox.Sandune .inputbutton {
  background-color: #f0d7b0;
  color: #c59661;
  border: 1px solid #bb964c;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.Sandune .file-list {
  color: #c59661;
}
