<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StorageHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StorageHelper.Properties.Settings>
            <setting name="StorageFileExtension" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="OldStorageFileExtension" serializeAs="String">
                <value>.xaml</value>
            </setting>
        </StorageHelper.Properties.Settings>
    </applicationSettings>
</configuration>