
@base-background-color: #e6c8d2;
@base-border: 1px solid #85495e;
@base-Header: #85495e;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #f5e8ec;
@Workcell-select: #d195aa;
@Workcell-Hover: #e6c8d2;
@Workcell-Header: #E6C8D2;
@WorkCellUp-Month: #f5e8ec;
@appointment-color: #d195aa;
@ViewStrip-color: #e2bfcb;
@highlighAppDate: #9F0060;
@highlightSelectedDate: #F7EDF0;
@base-font-family:segoe UI;
@hover: #ffd86a ;
@active: #85495E ;
@base-font-size:10px; 
@color:#000000;
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #D18F8F;
@tooltip-font-color: #FFFFFF;
@Appointment-text-color:#000000;
@Dialog-bg-color:#FAFAFA;
@ViewStrip-text-color:#000000;
@Dialog-text-color:#000000;
