<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebHMIProjectWizardPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebHMIProjectWizardPlugin.Properties.Settings>
            <setting name="DefaultServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DefaultNetTcpPort" serializeAs="String">
                <value>62846</value>
            </setting>
            <setting name="DefaultOpcTcpPort" serializeAs="String">
                <value>62841</value>
            </setting>
            <setting name="AppNameSuffix" serializeAs="String">
                <value>IOServer</value>
            </setting>
            <setting name="XpoDefaultConnectionServer" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="AuditNameSuffix" serializeAs="String">
                <value>Audit</value>
            </setting>
            <setting name="SQLiteExtension" serializeAs="String">
                <value>.db</value>
            </setting>
        </WebHMIProjectWizardPlugin.Properties.Settings>
    </applicationSettings>
</configuration>
