<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UFProjectWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="UFProjectWizard.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <UFProjectWizard.Properties.Settings>
            <setting name="DriverSection" serializeAs="String">
                <value>Driver Section</value>
            </setting>
            <setting name="AlarmSection" serializeAs="String">
                <value>Alarm Section</value>
            </setting>
            <setting name="ScreenSection" serializeAs="String">
                <value>Screen Section</value>
            </setting>
            <setting name="ScreenNumber" serializeAs="String">
                <value>Screen Number</value>
            </setting>
            <setting name="PluginsFolder" serializeAs="String">
                <value>WizardPlugins</value>
            </setting>
            <setting name="PluginsExtension" serializeAs="String">
                <value>.dll</value>
            </setting>
            <setting name="ProLeanAssembly" serializeAs="String">
                <value>ProLeanWizardPlugin</value>
            </setting>
            <setting name="ProEnergyAssembly" serializeAs="String">
                <value>ProEnergyWizardPlugin</value>
            </setting>
            <setting name="WizardPluginInfoExtension" serializeAs="String">
                <value>dat</value>
            </setting>
        </UFProjectWizard.Properties.Settings>
        <UFProjectWizard.Properties.Settings1>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>Project</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFProject</value>
            </setting>
        </UFProjectWizard.Properties.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
