 
@img-border:0 none;

@scroll-bg-color:#C0C0C0;
@scroll-position:center;
@scroll-bg-repeat: no-repeat;
@scroll-vertical-align:middle;

@table-height:100%;
@table-width:100%;
@table-padding:1px;
@table-font-size:0px;
@table-zoom-padding:0px;

@model-position:absolute;
@model-padding:2px;

@tooltip-Xsize:11px;
@tooltip-Ysize:4px;
@tooltip-img: ~"url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImage.png%>)";

@toolbar-size:24px;
@toolbaritem-width:20px;
@toolbaritem-height:12px;
@toolbar-position:relative;
@toolbar-top:5px;






