/*----- Editor--*/

.sf-editor.Office2007Silver .sfInputText,
.sf-editor.Office2007Silver .Syncfusion_Value_TextBox,
.sf-editor.Office2007Silver .maskeditInput {
  color: #3c3c3c;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Office2007Silver {
  border: 1px solid #6f7074;
  display: inline-block;
}
.sf-editor.Office2007Silver .sfInputText,
.sf-editor.Office2007Silver .Syncfusion_Value_TextBox,
.sf-editor.Office2007Silver .Syncfusion_Watermark_TextBox {
  border-right: 1px solid #6f7074;
  background-color: white;
}
.sf-editor.Office2007Silver .sf-splitup,
.sf-editor.Office2007Silver .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Office2007Silver .sf-splitup:hover,
.sf-editor.Office2007Silver .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Office2007Silver .sf-splitup:active,
.sf-editor.Office2007Silver .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Office2007Silver .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.Office2007Silver .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.Office2007Silver .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.Office2007Silver .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.Office2007Silver .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.Office2007Silver .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.Office2007Silver .sf-splitup,
.sf-editor.Office2007Silver {
  background-color: white;
}
.sf-editor.Office2007Silver .sf-splitup:hover {
  background-color: #ffecac;
}
.sf-editor.Office2007Silver .sf-splitup:active {
  background-color: #ffd870;
}
.sf-editor.Office2007Silver .sf-splitdown {
  background-color: white;
}
.sf-editor.Office2007Silver .sf-splitdown:hover {
  background-color: #ffecac;
}
.sf-editor.Office2007Silver .sf-splitdown:active {
  background-color: #ffd870;
}
.sf-core.disablebuttons,
.sf-genericdropdown.Office2007Silver .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.Office2007Silver.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.Office2007Silver.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid #6f7074;
}
.sf-editor.Office2007Silver .Syncfusion_Validator,
.sf-editor.Office2007Silver .error,
.sf-editor.Office2007Silver .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.Office2007Silver .Syncfusion_Watermark_TextBox,
.sf-editor.Office2007Silver .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Office2007Silver .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.Office2007Silver.Autocomplete_Wrapper {
  color: #3c3c3c;
  border: 1px solid #6f7074;
  height: 20px;
}
.sf-autocomplete.Office2007Silver.Autocomplete_SuggestionList {
  border: 1px solid #6f7074;
  background-color: #f3f5f7;
  color: #3c3c3c;
  font-size: 11px;
}
.sf-autocomplete.Office2007Silver ul li.listHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.hover-bg.png%>);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #ffecac;
  color: black;
}
.sf-autocomplete.Office2007Silver .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.Office2007Silver ul li div.template {
  color: #3c3c3c;
}
.sf-autocomplete.Office2007Silver .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid #6f7074;
  background-color: white;
}
.sf-autocomplete.Office2007Silver .AutoCompleteDD_RTL {
  border-right: 1px solid #6f7074;
  border-left: none;
}
.sf-autocomplete.Office2007Silver .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #ffecac;
  color: black;
}
.sf-autocomplete.Office2007Silver .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #ffd870;
  color: black;
}
.sf-autocomplete.Office2007Silver.Autocomplete_Wrapper input,
.sf-autocomplete.Office2007Silver.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.Office2007Silver.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: #3c3c3c;
  background-color: white;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.Office2007Silver .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.Office2007Silver .HighlightQueryText {
  font-weight: bold;
  color: #363636;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase {
  color: #3c3c3c;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase,
.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid #6f7074;
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
}
.sf-multicolumn.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase:hover,
.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-color: #ffecac;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase:active,
.sf-genericdropdown.Office2007Silver .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-color: #ffd870;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.Office2007Silver .GenericDropDownContainer {
  border: 1px solid #6f7074;
}
.sf-genericdropdown.Office2007Silver .GenericDropDownTextBox {
  background-color: white;
  color: #3c3c3c;
}
.sf-genericdropdown.Office2007Silver .GenericDropDownTextBoxHover {
  background-color: white;
}
.sf-genericdropdown.Office2007Silver .GenericDropDownPopupPanel {
  background-color: #f3f5f7;
  color: #3c3c3c;
  border: 1px solid #6f7074;
  font-size: 11px;
}
.sf-genericdropdown.Office2007Silver .GenericDropDownPopupPanel .listHover {
  background: #ffecac url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.hover-bg.png%>) bottom;
  background-repeat: repeat-x;
  color: black;
}
/*-----------Button-------------*/

.sf-button.Office2007Silver {
  color: #3c3c3c;
}
.sf-button.Office2007Silver.background {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.header-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #f3f5f7;
  color: #3c3c3c;
  border: 1px solid #6f7074;
}
.sf-button.Office2007Silver.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #ffecac;
  border: 1px solid #fcb24a;
  color: black;
}
.sf-button.Office2007Silver.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #ffd870;
  border: 1px solid #fcb24a;
  color: black;
}
.sf-button.Office2007Silver .spritesplitdropdownbutton,
.sf-button.Office2007Silver .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.Office2007Silver .dropdowndownarrow,
.sf-button.Office2007Silver .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Office2007Silver .splitrightarrow:hover .dropdowndownarrow,
.sf-button.Office2007Silver .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Office2007Silver .splitrightarrow:active .dropdowndownarrow,
.sf-button.Office2007Silver .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Office2007Silver .splitbottomarrow {
  display: block;
  border-top: 1px solid #6f7074;
  text-align: center;
}
.sf-button.Office2007Silver .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.Office2007Silver .splitrightarrow {
  display: table-cell;
  border-left: 1px solid #6f7074;
  text-align: center;
  vertical-align: top;
}
.sf-button.Office2007Silver .borderleftmousehover {
  border-left: 1px solid #fcb24a;
}
.sf-button.Office2007Silver .bordertopmousehover {
  border-top: 1px solid #fcb24a;
}
.sf-ribboncontainer.Office2007Silver .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.Office2007Silver .ribbonbutton:hover {
  background-image: none;
  background-color: #ffecac;
  border: 1px solid #fcb24a;
}
.sf-ribboncontainer.Office2007Silver .ribbonbutton:active {
  background-image: none;
  background-color: #ffd870;
  border: 1px solid #fcb24a;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.Office2007Silver  .captcha-image-container {
  float: left;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
}
.sf-captcha.Office2007Silver .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.Office2007Silver .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
}
.sf-captcha.Office2007Silver .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #9a9a9a;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.Office2007Silver.horizontal .stars,
.sf-rating.Office2007Silver.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.stars.png%>) no-repeat;
}
.sf-rating.Office2007Silver.horizontal .reset,
.sf-rating.Office2007Silver.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.Office2007Silver .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.Office2007Silver .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.Office2007Silver .stars.active {
  background-position: 0 -51px;
}
.sf-rating.Office2007Silver .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.Office2007Silver .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.Office2007Silver .sf-sp-Hhandle,
.Office2007Silver .sf-sp-Vhandle {
  background: #f3f5f7;
  border: 1px solid #ccd6e5;
}
.Office2007Silver .sf-sp-tb,
.Office2007Silver .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.Office2007Silver .sf-sp-bl,
.Office2007Silver .sf-sp-br {
  height: 12px;
  width: 7px;
}
.Office2007Silver .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.Office2007Silver .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.Office2007Silver .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.Office2007Silver .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.Office2007Silver {
  border-color: #6f7074;
}
.sf-splitter.Office2007Silver .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.Office2007Silver .pane {
  color: #3c3c3c;
  background-color: #f3f5f7;
}
.sf-splitter.Office2007Silver .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.Office2007Silver .splitbar {
  background-color: #f3f5f7;
  border-color: #6f7074;
}
.sf-splitter.Office2007Silver .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Office2007Silver .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: #ffecac;
}
.sf-splitter.Office2007Silver .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Office2007Silver .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: #ffecac;
}
/* Vertical view css classes */

.sf-splitter.Office2007Silver .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.Office2007Silver .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: #ffecac;
}
.sf-splitter.Office2007Silver .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.Office2007Silver .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: #ffecac;
}
/*----Tag-Cloud------*/

.sf-tagcloud.Office2007Silver {
  background-color: white;
}
.sf-tagcloud.Office2007Silver .tagcloud-header {
  background-color: #f3f5f7;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.header-bg.png%>);
  color: #3c3c3c;
}
.sf-tagcloud.Office2007Silver .tagcloud-items .textNode {
  color: #3c3c3c;
}
.sf-tagcloud.Office2007Silver .tagcloud-items .textNode.hover {
  color: black;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.Office2007Silver {
  border: 1px solid #6f7074;
}
.sf-timepicker.Office2007Silver li {
  background-color: #f3f5f7;
  color: #3c3c3c;
  border-color: #6f7074;
}
.sf-timepicker.Office2007Silver li:hover {
  background-color: #ffecac;
  color: black;
  border-color: #fcb24a;
}
/*------ Toolbar--------*/

.sf-toolbar.Office2007Silver-horizontal {
  color: #3c3c3c;
  border: 1px solid #6f7074;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.header-bg.png%>) repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.Office2007Silver-vertical {
  color: #3c3c3c;
  border: 1px solid #6f7074;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.header-bg-ver.png%>) repeat-y left;
  display: inline-block;
}
.sf-toolbar.Office2007Silver-vertical,
.sf-toolbar.Office2007Silver-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.Office2007Silver-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.Office2007Silver-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.Office2007Silver-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.Office2007Silver-horizontal .Disable_ToolLi,
.sf-toolbar.Office2007Silver-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.Office2007Silver-horizontal .Tool_Hover,
.sf-toolbar.Office2007Silver-vertical .Tool_Hover {
  background: #ffecac url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.hover-bg.png%>) repeat-x center bottom;
  border: 1px solid #fcb24a;
  color: black;
}
.sf-toolbar.Office2007Silver-horizontal .Tool_Selected,
.sf-toolbar.Office2007Silver-vertical .Tool_Selected {
  border: 1px solid #fcb24a;
  background: #ffd870 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.active-bg.png%>) repeat-x center bottom;
  color: black;
}
.sf-toolbar.Office2007Silver-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.Office2007Silver-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.Office2007Silver-horizontal .AlignMiddle,
.sf-toolbar.Office2007Silver-vertical .AlignMiddle,
.sf-toolbar.Office2007Silver-horizontal .Toolbar_Text,
.sf-toolbar.Office2007Silver-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.Office2007Silver .ImgCss {
  border: 1px solid #6f7074;
}
.sf-treeview.Office2007Silver .showline-NodeText,
.sf-treeview.Office2007Silver .noline-NodeText {
  color: #3c3c3c;
}
.sf-treeview.Office2007Silver .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.Office2007Silver.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.Office2007Silver .Input_Text {
  border: solid 2px #ffd870;
}
.sf-treeview.Office2007Silver span.noline-child,
.sf-treeview.Office2007Silver span.showline-child {
  white-space: nowrap;
}
.sf-treeview.Office2007Silver .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.Office2007Silver .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.Office2007Silver.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.Office2007Silver.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.Office2007Silver .pointer,
.sf-treeview.Office2007Silver.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.Office2007Silver .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.Office2007Silver .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.Office2007Silver .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.Office2007Silver.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.Office2007Silver.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.Office2007Silver.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.Office2007Silver .showline-selected,
.sf-treeview.Office2007Silver .noline-selected {
  background: #ffd870 url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.active-bg.png%>) 0 0 repeat-x;
  color: black;
  border: 1px solid #fcb24a;
}
.sf-treeview.Office2007Silver .showline-hover,
.sf-treeview.Office2007Silver .noline-hover {
  background: #ffecac url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.hover-bg.png%>) 0 0 repeat-x;
  color: black;
  border: 1px solid #fcb24a;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid #6f7074;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.Office2007Silver .file-progress {
  border: 1px solid #6f7074;
  background-color: #f3f5f7;
}
.sf-uploadbox.Office2007Silver .file-action,
.sf-uploadbox.Office2007Silver .file-list .file-size {
  border-color: #6f7074;
  background-color: #f3f5f7;
}
.sf-uploadbox.Office2007Silver .file-progress-status {
  background-color: #c0bfbf;
}
.sf-uploadbox.Office2007Silver .inputbutton {
  background-color: #f3f5f7;
  color: #3c3c3c;
  border: 1px solid #6f7074;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.Office2007Silver .file-list {
  color: #3c3c3c;
}
