@border-color: #808282;
@font-color: #FFFFFF;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #FFFFFF;
@group-caption-pager-color: #FFFFFF;
@numeric-hover-color: #2C2C2C;
@header-bg-color: #353435;
@row-cell-border-color : #333333;
@gridcontent-bg-color: #3D3D3D;
@grid-externalform-header-font-color: #FFFFFF;
@group-droparea-bg-color: #444444;
@group-droparea-border-color: #2D2C2C;
@clone-bg-color: #434343;
@clone-border-color: #333333;
@top-right-border-color: #333333;
@caption-row-border-color: #333333;
@caption-row-bg-color: #595959;
@group-caption-drop-row-font-color:#FFFFFF;
@pager-caption-row-border-color: #333333;
@pager-groupdrop-border-color: #333333;
@pager-groupdrop-bg-color: #595959;
@group-indent-expand-collapse-bg-color: #666666;
@group-indent-expand-collapse-border-color: #333333;
@hover-header-border-color: #333333;
@hover-group-header-border-color: #2B2B2B;
@selected-header-border-color: #333333;
@selected-header-bg-color: #000000;
@selected-header-color: #FFFFFF;
@selected-column-color:#000000;
@row-header-bg-color: #414141;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #333333;
@selected-row-header-bg-color: #414141;
@alt-row-bg-color: #414141;
@summary-font-color: #FFFFFF;
@summary-bg-color: #2B2B2B;
@summary-border-color: #333333;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #BDBDBD;
@selection-bg-color: #333333;
@currentcell-bg-color: #BDBDBD;
@currentcell-font-color: #272828;
@gridpager-bg-color: #383838;
@gridpager-border-color: #2D2C2C;
@numericitem-font-color: #FFFFFF;
@numeric-hover-bg-color: #BDBDBD;
@spacing-color: #FFFFFF;
@currentitem-border-color: #333333;
@currentitem-bg-color: #D8D6D6;
@currentitem-font-color: #2C2C2C;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #333333;
@record-caption-font-color: #FFFFFF;
@legend-font-color: #BCBCBC;
@error: red;
@fieldset-border-color: #EBD7D6;
@custom-font-color: #FFFFFF;
@resizecol-bg-color: #2D2C2C;
@helper-bg-color: #333333;
@helper-border-color: #333333;
@dragelement-bg-color: #BDBDBD;
@dragelement-font-color: #272828;
@dragelement-border-color: #333333;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #9D9EA0;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #808080;
@tooltip-bg-color: #E5E5E5;
@tooltip-font-color: #000000;
@next-last-hover-bg-color: #BDBDBD;
@filter-cell-bg-color: #414141;
@filter-input-border-color: #333333; 
@filter-status-bg-color: #535352;
@filter-status-border-color: #333333; 
@msg-font-color: #FFFFFF;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #535352;
@skin: ~"Blend";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-blend-menu";
@selected-row-color: #FFFFFF;