@color:#BCBCBC;
@base-background-color: #333333;
@base-border: 1px solid #7E7E7E;
@base-Header: #444444;
@BusinessHr-color: #bdbdbd;
@Workcell-color: #424242;
@Workcell-select: #4C535C;
@Workcell-Hover: #4a4a4a;
@Workcell-Header: #333333;
@WorkCellUp-Month: #424242;
@ViewStrip-color:#444444;
@appointment-color: #595959;
@highlighAppDate: #FFFFFF;
@highlightSelectedDate: #858585;
@base-font-family: segoe UI; 
@hover: #525252 ;
@active: #595959 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.blend.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #E5E5E5;
@tooltip-font-color: #000000;
@Appointment-text-color:#BCBCBC;
@Dialog-bg-color:#333333;
@ViewStrip-text-color:#BCBCBC;
@Dialog-text-color:#BCBCBC;