<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SVGHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SVGHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SVGHelper.Properties.Settings>
            <setting name="WebExportExtension" serializeAs="String">
                <value>.svg</value>
            </setting>
            <setting name="SVGControlStylesCommonFolder" serializeAs="String">
                <value>SVGControlStyles42</value>
            </setting>
            <setting name="SvgFrameworkProperties" serializeAs="String">
                <value>FontSize|FontWeight|FontFamily|FontStyle|Content|Background|Foreground|ToolTip|VerticalContentAlignment|HorizontalContentAlignment|BorderThickness|BorderBrush|Opacity</value>
            </setting>
            <setting name="SVGSymbolCommonFolder" serializeAs="String">
                <value>SVGSymbols</value>
            </setting>
            <setting name="SymbolCommonFolder" serializeAs="String">
                <value>Symbols</value>
            </setting>
            <setting name="SymbolStyleTag" serializeAs="String">
                <value>syms</value>
            </setting>
            <setting name="SymbolTag" serializeAs="String">
                <value>SymbolStatic</value>
            </setting>
            <setting name="ProjectSymbolTag" serializeAs="String">
                <value>prjs</value>
            </setting>
            <setting name="ControlStyles" serializeAs="String">
                <value>.styles</value>
            </setting>
            <setting name="AnimationsToJson" serializeAs="String">
                <value>.animations</value>
            </setting>
            <setting name="CommandToJson" serializeAs="String">
                <value>.commands</value>
            </setting>
            <setting name="EnitiesToJson" serializeAs="String">
                <value>.entities</value>
            </setting>
            <setting name="EntityReferenceExportExtension" serializeAs="String">
                <value>.references</value>
            </setting>
            <setting name="ControlsToJson" serializeAs="String">
                <value>.controls</value>
            </setting>
            <setting name="Symbol4CommonFolder" serializeAs="String">
                <value>Symbols4</value>
            </setting>
            <setting name="BaseStyleTag" serializeAs="String">
                <value>st</value>
            </setting>
            <setting name="ExportDecimalNumders" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TagBackground" serializeAs="String">
                <value>BG</value>
            </setting>
            <setting name="SVGReferenceId" serializeAs="String">
                <value>SVGReferenceId</value>
            </setting>
            <setting name="StyleON" serializeAs="String">
                <value>StyleON</value>
            </setting>
            <setting name="StyleOFF" serializeAs="String">
                <value>StyleOFF</value>
            </setting>
            <setting name="StyleNULL" serializeAs="String">
                <value>StyleNULL</value>
            </setting>
            <setting name="SourceSymbolLinked" serializeAs="String">
                <value>SourceSymbolLinked</value>
            </setting>
            <setting name="GUIDStyle" serializeAs="String">
                <value>GUIDStyle</value>
            </setting>
            <setting name="SvgBackground" serializeAs="String">
                <value>SvgBackground</value>
            </setting>
            <setting name="IsSolidColorBorder" serializeAs="String">
                <value>IsSolidColorBorder</value>
            </setting>
            <setting name="ClipStyleTag" serializeAs="String">
                <value>svg-clipped</value>
            </setting>
            <setting name="SVGTileDetails" serializeAs="String">
                <value>Tile.details</value>
            </setting>
            <setting name="StylePartValue" serializeAs="String">
                <value>PART_Value</value>
            </setting>
            <setting name="StylePartEUnit" serializeAs="String">
                <value>PART_EUnit</value>
            </setting>
            <setting name="StylePartIndicator" serializeAs="String">
                <value>PART_Indicator</value>
            </setting>
            <setting name="UnMuteVideos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iOSExtension" serializeAs="String">
                <value>.ios</value>
            </setting>
            <setting name="ProgressBarOrientation" serializeAs="String">
                <value>progressbarOrientation</value>
            </setting>
            <setting name="ProgressBarAnimation" serializeAs="String">
                <value>progressbarAnimation</value>
            </setting>
            <setting name="FlatStyleTag" serializeAs="String">
                <value>ThreeStateCheckBoxControlNew</value>
            </setting>
        </SVGHelper.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <SVGHelper.Properties.Settings>
            <setting name="ClipDefTag" serializeAs="String">
                <value>svg-clip</value>
            </setting>
        </SVGHelper.Properties.Settings>
    </userSettings>
</configuration>
