<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Toolbox.Properties.Settings>
            <setting name="ToolBoxFolder" serializeAs="String">
                <value>Toolbox</value>
            </setting>
            <setting name="ToolboxIconExtension" serializeAs="String">
                <value>.png</value>
            </setting>
        </Toolbox.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Toolbox.Properties.Settings>
            <setting name="QuickToolBoxFolder" serializeAs="String">
                <value>QuickToolbox</value>
            </setting>
        </Toolbox.Properties.Settings>
    </userSettings>
</configuration>