<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OPCUAClient" type="Opc.Ua.ApplicationConfigurationSection, Opc.Ua.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="LogicService.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Emit" value="false"/>
  </appSettings>
  <OPCUAClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>LogicService.Core.Config.xml</FilePath>
    </ConfigurationLocation>
  </OPCUAClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LogicService.Core.Properties.Settings>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
    </LogicService.Core.Properties.Settings>
  </userSettings>
</configuration>
