
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #822222;
@click-font-color:@font-color;
@hover-font-color: #C75E5D;
@active-font-color: #912121;
@content-a-font-color: #b85251;
@header-a-font-color: #b85251;
@highlight-font-color: #363636;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@error-font-color: #cd0a0a;
@upload-font-color: #F0C483;

@border-size: 1px;
@border-type: solid;

@border-color: #E29C9C;
@hover-border-color: #E29C9C;
@active-border-color: #E29C9C;
@content-border-color: #b85251;
@header-border-color: #e2baba;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;


@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #DD7B80;
@hover-bg-color: #E1898E;
@active-bg-color: #DC9498;
@progress-bg-color: #F0C483;
@submenu-bg-color:#ffffff;
@content-bg-color: #fafafa;
@header-bg-color: #f2e1e1;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@pane-bg-color: #faedeb;
@popup-bg-color: #faedeb;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #fbf4f4;
@refresh-audio-button-border-color: #790000;
@captcha-image-border-color: #790000;

@scroll-bg-color:#faedeb;
@scroll-border:1px solid #E29C9C;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Almond.Images.active-bg-ver.png%>)";

@skin: ~"Almond";
@foldername: ~"Themes";
@seperator-color: #D195AA;
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";

@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@content-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.content-bg.png%>)";
@header-bg: ~"none";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";



@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #df9d9d; /* Old browsers */
    background: -moz-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df9d9d), color-stop(4%,#fbf2f2), color-stop(8%,#f1d4d4), color-stop(12%,#efcece), color-stop(32%,#eabebe), color-stop(56%,#eabdbd), color-stop(64%,#ebc3c3), color-stop(72%,#f0d2d2), color-stop(96%,#fbf3f3), color-stop(100%,#de9999)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #df9d9d 0%,#fbf2f2 4%,#f1d4d4 8%,#efcece 12%,#eabebe 32%,#eabdbd 56%,#ebc3c3 64%,#f0d2d2 72%,#fbf3f3 96%,#de9999 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #df9d9d 0%,#fbf2f2 4%,#f1d4d4 8%,#efcece 12%,#eabebe 32%,#eabdbd 56%,#ebc3c3 64%,#f0d2d2 72%,#fbf3f3 96%,#de9999 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #df9d9d 0%,#fbf2f2 4%,#f1d4d4 8%,#efcece 12%,#eabebe 32%,#eabdbd 56%,#ebc3c3 64%,#f0d2d2 72%,#fbf3f3 96%,#de9999 100%); /* IE10+ */
    background: linear-gradient(top, #df9d9d 0%,#fbf2f2 4%,#f1d4d4 8%,#efcece 12%,#eabebe 32%,#eabdbd 56%,#ebc3c3 64%,#f0d2d2 72%,#fbf3f3 96%,#de9999 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d4d4', endColorstr='#fbf3f3',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #DF9D9D;
}

.hover-gradient()
{
	background: #f1d5d5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f1d5d5), color-stop(4%,#efcfcf), color-stop(10%,#eabebe), color-stop(25%,#e9bbbb), color-stop(26%,#eabdbd), color-stop(38%,#eabdbd), color-stop(94%,#f4dede), color-stop(99%,#fbf3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1d5d5 2%,#efcfcf 4%,#eabebe 10%,#e9bbbb 25%,#eabdbd 26%,#eabdbd 38%,#f4dede 94%,#fbf3f3 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1d5d5 2%,#efcfcf 4%,#eabebe 10%,#e9bbbb 25%,#eabdbd 26%,#eabdbd 38%,#f4dede 94%,#fbf3f3 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1d5d5 2%,#efcfcf 4%,#eabebe 10%,#e9bbbb 25%,#eabdbd 26%,#eabdbd 38%,#f4dede 94%,#fbf3f3 99%); /* IE10+ */
	background: linear-gradient(top,  #f1d5d5 2%,#efcfcf 4%,#eabebe 10%,#e9bbbb 25%,#eabdbd 26%,#eabdbd 38%,#f4dede 94%,#fbf3f3 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d5d5', endColorstr='#fbf3f3',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #DF9D9D;
}

.container-gradient()
{
	background: #c87976; /* Old browsers */
    background: -moz-linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87976), color-stop(31%,#c46a67), color-stop(69%,#bb5253), color-stop(100%,#b74148)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* IE10+ */
    background: linear-gradient(top, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c87976', endColorstr='#b74148',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #EECCCC;
}
.itemcontainer-gradient()
{
	background: #fcf6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf6f6), color-stop(4%,#fbf3f3), color-stop(13%,#fbf2f2), color-stop(15%,#faefef), color-stop(29%,#faefef), color-stop(45%,#f8e9e9), color-stop(57%,#f8e9e9), color-stop(58%,#f7e7e7), color-stop(62%,#f8e9e9), color-stop(63%,#f7e7e7), color-stop(80%,#f7e6e6), color-stop(81%,#f6e4e4), color-stop(100%,#f6e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcf6f6 0%,#fbf3f3 4%,#fbf2f2 13%,#faefef 15%,#faefef 29%,#f8e9e9 45%,#f8e9e9 57%,#f7e7e7 58%,#f8e9e9 62%,#f7e7e7 63%,#f7e6e6 80%,#f6e4e4 81%,#f6e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcf6f6 0%,#fbf3f3 4%,#fbf2f2 13%,#faefef 15%,#faefef 29%,#f8e9e9 45%,#f8e9e9 57%,#f7e7e7 58%,#f8e9e9 62%,#f7e7e7 63%,#f7e6e6 80%,#f6e4e4 81%,#f6e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcf6f6 0%,#fbf3f3 4%,#fbf2f2 13%,#faefef 15%,#faefef 29%,#f8e9e9 45%,#f8e9e9 57%,#f7e7e7 58%,#f8e9e9 62%,#f7e7e7 63%,#f7e6e6 80%,#f6e4e4 81%,#f6e4e4 100%); /* IE10+ */
    background: linear-gradient(top, #fcf6f6 0%,#fbf3f3 4%,#fbf2f2 13%,#faefef 15%,#faefef 29%,#f8e9e9 45%,#f8e9e9 57%,#f7e7e7 58%,#f8e9e9 62%,#f7e7e7 63%,#f7e6e6 80%,#f6e4e4 81%,#f6e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf6f6', endColorstr='#f6e4e4',GradientType=0 ); /* IE6-9 */   
}

.active-hover-gradient()
{
    background: #FCF6F6;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #EECCCC;
    background: #e8b7b7; /* Old browsers */
    background: -moz-linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8b7b7), color-stop(5%,#e5afaf), color-stop(14%,#ecc5c5), color-stop(18%,#eecccc), color-stop(32%,#f4dede), color-stop(45%,#f8e9e9), color-stop(68%,#faefef), color-stop(73%,#fbf3f3), color-stop(82%,#fbf3f3), color-stop(86%,#fdf8f8), color-stop(100%,#fefbfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8b7b7 0%,#e5afaf 5%,#ecc5c5 14%,#eecccc 18%,#f4dede 32%,#f8e9e9 45%,#faefef 68%,#fbf3f3 73%,#fbf3f3 82%,#fdf8f8 86%,#fefbfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8b7b7 0%,#e5afaf 5%,#ecc5c5 14%,#eecccc 18%,#f4dede 32%,#f8e9e9 45%,#faefef 68%,#fbf3f3 73%,#fbf3f3 82%,#fdf8f8 86%,#fefbfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8b7b7 0%,#e5afaf 5%,#ecc5c5 14%,#eecccc 18%,#f4dede 32%,#f8e9e9 45%,#faefef 68%,#fbf3f3 73%,#fbf3f3 82%,#fdf8f8 86%,#fefbfb 100%); /* IE10+ */
    background: linear-gradient(top, #e8b7b7 0%,#e5afaf 5%,#ecc5c5 14%,#eecccc 18%,#f4dede 32%,#f8e9e9 45%,#faefef 68%,#fbf3f3 73%,#fbf3f3 82%,#fdf8f8 86%,#fefbfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b7b7', endColorstr='#fefbfb',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: #d68181; /* Old browsers */
    background: -moz-linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d68181), color-stop(4%,#d68181), color-stop(6%,#d88787), color-stop(11%,#d78585), color-stop(21%,#d98a8a), color-stop(23%,#d88888), color-stop(26%,#d98b8b), color-stop(30%,#d78585), color-stop(32%,#da8d8d), color-stop(36%,#dc9393), color-stop(40%,#dc9494), color-stop(47%,#e09f9f), color-stop(51%,#e4acac), color-stop(53%,#e5afaf), color-stop(57%,#e9bbbb), color-stop(66%,#ebc3c3), color-stop(70%,#eecccc), color-stop(72%,#f1d4d4), color-stop(77%,#f4dede), color-stop(87%,#f8e9e9), color-stop(96%,#fcf5f5), color-stop(98%,#fcf6f6), color-stop(100%,#fbf3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d68181 0%,#d68181 4%,#d88787 6%,#d78585 11%,#d98a8a 21%,#d88888 23%,#d98b8b 26%,#d78585 30%,#da8d8d 32%,#dc9393 36%,#dc9494 40%,#e09f9f 47%,#e4acac 51%,#e5afaf 53%,#e9bbbb 57%,#ebc3c3 66%,#eecccc 70%,#f1d4d4 72%,#f4dede 77%,#f8e9e9 87%,#fcf5f5 96%,#fcf6f6 98%,#fbf3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d68181 0%,#d68181 4%,#d88787 6%,#d78585 11%,#d98a8a 21%,#d88888 23%,#d98b8b 26%,#d78585 30%,#da8d8d 32%,#dc9393 36%,#dc9494 40%,#e09f9f 47%,#e4acac 51%,#e5afaf 53%,#e9bbbb 57%,#ebc3c3 66%,#eecccc 70%,#f1d4d4 72%,#f4dede 77%,#f8e9e9 87%,#fcf5f5 96%,#fcf6f6 98%,#fbf3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d68181 0%,#d68181 4%,#d88787 6%,#d78585 11%,#d98a8a 21%,#d88888 23%,#d98b8b 26%,#d78585 30%,#da8d8d 32%,#dc9393 36%,#dc9494 40%,#e09f9f 47%,#e4acac 51%,#e5afaf 53%,#e9bbbb 57%,#ebc3c3 66%,#eecccc 70%,#f1d4d4 72%,#f4dede 77%,#f8e9e9 87%,#fcf5f5 96%,#fcf6f6 98%,#fbf3f3 100%); /* IE10+ */
    background: linear-gradient(top, #d68181 0%,#d68181 4%,#d88787 6%,#d78585 11%,#d98a8a 21%,#d88888 23%,#d98b8b 26%,#d78585 30%,#da8d8d 32%,#dc9393 36%,#dc9494 40%,#e09f9f 47%,#e4acac 51%,#e5afaf 53%,#e9bbbb 57%,#ebc3c3 66%,#eecccc 70%,#f1d4d4 72%,#f4dede 77%,#f8e9e9 87%,#fcf5f5 96%,#fcf6f6 98%,#fbf3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68181', endColorstr='#fbf3f3',GradientType=0 ); /* IE6-9 */
	border-left: @border-size @border-type #D88686;
	border-right: @border-size @border-type #D88686;
	border-top: @border-size+1 @border-type #D88686;
	color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	border: @border-size @border-type #EECCCC;
    background: #f9eded; /* Old browsers */
    background: -moz-linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9eded), color-stop(5%,#f4dddd), color-stop(9%,#f4dddd), color-stop(27%,#f9eded), color-stop(45%,#fbf2f2), color-stop(68%,#fcf5f5), color-stop(100%,#fcf5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9eded 0%,#f4dddd 5%,#f4dddd 9%,#f9eded 27%,#fbf2f2 45%,#fcf5f5 68%,#fcf5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9eded 0%,#f4dddd 5%,#f4dddd 9%,#f9eded 27%,#fbf2f2 45%,#fcf5f5 68%,#fcf5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9eded 0%,#f4dddd 5%,#f4dddd 9%,#f9eded 27%,#fbf2f2 45%,#fcf5f5 68%,#fcf5f5 100%); /* IE10+ */
    background: linear-gradient(top, #f9eded 0%,#f4dddd 5%,#f4dddd 9%,#f9eded 27%,#fbf2f2 45%,#fcf5f5 68%,#fcf5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eded', endColorstr='#fcf5f5',GradientType=0 ); /* IE6-9 */
}

.ribboncontainer-hover()
{
	border: @border-size @border-type #EECCCC;
    border-bottom:0px;
    background: #fdf8f8; /* Old browsers */
    background: -moz-linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf8f8), color-stop(100%,#fdf8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdf8f8 0%,#fdf8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdf8f8 0%,#fdf8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdf8f8 0%,#fdf8f8 100%); /* IE10+ */
    background: linear-gradient(top, #fdf8f8 0%,#fdf8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf8f8', endColorstr='#fdf8f8',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #eecccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eecccc), color-stop(31%,#e29c9c), color-stop(62%,#e5b5b5), color-stop(100%,#fef6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eecccc 0%,#e29c9c 31%,#e5b5b5 62%,#fef6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eecccc 0%,#e29c9c 31%,#e5b5b5 62%,#fef6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eecccc 0%,#e29c9c 31%,#e5b5b5 62%,#fef6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eecccc 0%,#e29c9c 31%,#e5b5b5 62%,#fef6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecccc', endColorstr='#fef6f6',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: #c87976; /* Old browsers */
    background: -moz-linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c87976), color-stop(31%,#c46a67), color-stop(69%,#bb5253), color-stop(100%,#b74148)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* IE10+ */
    background: linear-gradient(left, #c87976 0%,#c46a67 31%,#bb5253 69%,#b74148 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c87976', endColorstr='#b74148',GradientType=1 ); /* IE6-9 */
}
