@border-color: #E29C9C;
@font-color: #000000;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #FFFFFF;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@header-bg-color: #C79194;
@row-cell-border-color : #D4B9B8;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #BE5A5C;
@group-droparea-bg-color: #F2D9D9;
@group-droparea-border-color: #D4B9B8;
@clone-bg-color: #F2D9D9;
@clone-border-color: #EACDCC;
@top-right-border-color: #EACDCC;
@caption-row-border-color: #D4B9B8;
@caption-row-bg-color: #F3E2E2;
@group-caption-drop-row-font-color:#BE5A5C;
@pager-caption-row-border-color: #EACDCC;
@pager-groupdrop-border-color: #EACDCC;
@pager-groupdrop-bg-color: #F3E2E2;
@group-indent-expand-collapse-bg-color: #E7CFCD;
@group-indent-expand-collapse-border-color: #D4B9B8;
@hover-header-border-color: #E0ABAE;
@hover-group-header-border-color: #D4B9B8;
@selected-header-border-color: #D4B9B8;
@selected-header-bg-color: #BA5D62;
@selected-header-color: #FFFFFF;
@selected-column-color:#000000;
@row-header-bg-color: #F3E2E2;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #D4B9B8;
@selected-row-header-bg-color: #F3E2E2;
@alt-row-bg-color: #F9F2F1;
@summary-font-color: #464749;
@summary-bg-color: #F6D8D8;
@summary-border-color: #D4B9B8;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #B95252;
@selected-column-bg-color: #D1A9A9;
@selection-bg-color: #C67B7B;
@currentcell-bg-color: #B36D6D;
@currentcell-font-color: #FFFFFF;
@gridpager-bg-color: #e0afaf;
@gridpager-border-color: #D4B9B8;
@numericitem-font-color: #BE5A5C;
@numeric-hover-bg-color: #F2DADA;
@spacing-color: #BE5A5C;
@currentitem-border-color: #EACDCC;
@currentitem-bg-color: #C67B7B;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color:#6593CF;
@edit-form-bg-color: #EBD7D6;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #EBD7D6;
@custom-font-color: #BE5A5C;
@resizecol-bg-color: #B95252;
@helper-bg-color: #D18F8F;
@helper-border-color: #BB964C;
@dragelement-bg-color: #B36D6D;
@dragelement-font-color: #FFFFFF;
@dragelement-border-color: #B95252;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #B95252;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #E29C9C;
@tooltip-bg-color: #D18F8F;
@tooltip-font-color: #FFFFFF;
@next-last-hover-bg-color: #F2DADA;
@filter-cell-bg-color: #F3E2E2;
@filter-input-border-color: #D4B9B8; 
@filter-status-bg-color: #F9F2F1;
@filter-status-border-color: #D4B9B8; 
@msg-font-color: #BE5A5C;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #E2BABA;
@skin: ~"Almond";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-almond-menu";
@selected-row-color: #FFFFFF;