<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ipldtestwindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <File value="log-file.xml" />
      <encoding value="unicode" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <!--
    <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="log-file.txt" />
        <appendToFile value="true" />
        <encoding value="unicode" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%utcdate{dd MMM yyyy HH:mm:ss,fff} %level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="ALL" />
        <appender-ref ref="FileAppender" />
      </root>
    </log4net>
    -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ipldtestwindows.Properties.Settings>
            <setting name="FileFormatVersion" serializeAs="String">
                <value>4.1.326</value>
            </setting>
            <setting name="LicenseSKUFile" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;

&lt;!--

+ Editor Options:
DEV				: Editor (enable the Editor of the projects)
DBG				: Debugger (allow to attach to our process with a debugger otherwise the anti-debugger check inside our application will close the process)
WDEP			: WebClient WPF/SVG Deploy Command (enable the command inside the editor for deploying projects)

+ Runtime Options (yes/no):

CMD				: Movicon HMI Client Runtime
SVR				: I/O Data Server Runtime
DIS				: Alarm Dispatcher
SCD				: Scheduler

OUAS			: OPC UA Server
NTW				: Networking

+======+======+======================================================================================+
| OUAS | NRW | Description                                                                           +
+======+======+======================================================================================+
|  no  | no  | I/O Data Server will accept only local connections (no third parts OPC Clients)       |
+======+======+======================================================================================+
|  yes | no  | I/O Data Server will accept only local connections (third parts OPC Clients too)      |
+======+======+======================================================================================+
|  no  | yes | I/O Data Server will accept local or remote connections (no third parts OPC Clients)  |
+======+======+======================================================================================+
|  yes | yes | I/O Data Server will accept local or remote connections (third parts OPC Clients too) |
+======+======+======================================================================================+

LNX				: .NET Core Runtime Only
VB				: .NET Scripts
RED				: Redundancy
DLR				: Historian Manager
RCP				: Recipe Manager
REP				: Report Manager
GEO				: Geo SCADA
G3D				: 3D Graphics
ART				: Cognitive Augmented Reality
STA				: Downtime Analyzer

MDB				: Basic driver packages
AUT				: Automation driver packages
TLM				: Telemetry driver packages
FCS				: Facilities driver packages
IOT				: IoT driver packages

+ Runtime Options (numerical):

STG				: Server License Tags Nr.
DRV				: I/O Drivers Nr.
SCR				: HMI Screens Nr.
ALR				: Alarms Nr.
WCL5			: WebClients Nr.
NET				: Nr. Users for NET License
SIN				: Multiple Instance I/O Data Servers
PEN				: Pro.Energy Measures Nr.
PLN				: Pro.Lean OEE Nr.

--&gt;

&lt;root&gt;
	&lt;sku1&gt;
		&lt;DEV /&gt;&lt;SVR /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;WDEP /&gt;&lt;OUAS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;LNX /&gt;&lt;STG&gt;2000&lt;/STG&gt;&lt;DRV&gt;1&lt;/DRV&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku1&gt;
	&lt;sku2&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;WDEP /&gt;&lt;OUAS /&gt;&lt;REP /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;LNX /&gt;&lt;STG&gt;2000&lt;/STG&gt;&lt;DRV&gt;1&lt;/DRV&gt;&lt;WCL5&gt;2&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku2&gt;
	&lt;sku3&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;CMD /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;SCD /&gt;&lt;WDEP /&gt;&lt;REP /&gt;&lt;DIS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;STG&gt;500&lt;/STG&gt;&lt;CTG&gt;100000&lt;/CTG&gt;&lt;DRV&gt;2&lt;/DRV&gt;&lt;CHLD&gt;16&lt;/CHLD&gt;&lt;WCL5&gt;1&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SCR&gt;100000&lt;/SCR&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku3&gt;
	&lt;sku4&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;CMD /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;SCD /&gt;&lt;WDEP /&gt;&lt;REP /&gt;&lt;DIS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;STG&gt;2000&lt;/STG&gt;&lt;CTG&gt;100000&lt;/CTG&gt;&lt;DRV&gt;2&lt;/DRV&gt;&lt;CHLD&gt;16&lt;/CHLD&gt;&lt;WCL5&gt;1&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SCR&gt;100000&lt;/SCR&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku4&gt;
	&lt;sku5&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;CMD /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;SCD /&gt;&lt;WDEP /&gt;&lt;REP /&gt;&lt;DIS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;STG&gt;5000&lt;/STG&gt;&lt;CTG&gt;100000&lt;/CTG&gt;&lt;DRV&gt;2&lt;/DRV&gt;&lt;CHLD&gt;16&lt;/CHLD&gt;&lt;WCL5&gt;1&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SCR&gt;100000&lt;/SCR&gt;&lt;PLN&gt;5&lt;/PLN&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku5&gt;
	&lt;sku6&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;CMD /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;SCD /&gt;&lt;WDEP /&gt;&lt;REP /&gt;&lt;DIS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;STG&gt;20000&lt;/STG&gt;&lt;CTG&gt;100000&lt;/CTG&gt;&lt;DRV&gt;2&lt;/DRV&gt;&lt;CHLD&gt;16&lt;/CHLD&gt;&lt;WCL5&gt;1&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SCR&gt;100000&lt;/SCR&gt;&lt;PLN&gt;10&lt;/PLN&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku6&gt;
	&lt;sku7&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;CMD /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;SCD /&gt;&lt;WDEP /&gt;&lt;REP /&gt;&lt;DIS /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;STG&gt;2000&lt;/STG&gt;&lt;CTG&gt;100000&lt;/CTG&gt;&lt;DRV&gt;32&lt;/DRV&gt;&lt;CHLD&gt;16&lt;/CHLD&gt;&lt;WCL5&gt;1&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SCR&gt;100000&lt;/SCR&gt;&lt;PLN&gt;10&lt;/PLN&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku7&gt;
	&lt;sku8&gt;
		&lt;SVR /&gt;&lt;DLR /&gt;&lt;RCP /&gt;&lt;VB /&gt;&lt;WDEP /&gt;&lt;OUAS /&gt;&lt;REP /&gt;&lt;NTW /&gt;&lt;MDB /&gt;&lt;AUT /&gt;&lt;IOT /&gt;&lt;LNX /&gt;&lt;STG&gt;2000&lt;/STG&gt;&lt;DRV&gt;2&lt;/DRV&gt;&lt;WCL5&gt;2&lt;/WCL5&gt;&lt;ALR&gt;100000&lt;/ALR&gt;&lt;SIN&gt;1&lt;/SIN&gt;
	&lt;/sku8&gt;
&lt;/root&gt;</value>
            </setting>
            <setting name="SleepCycleTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxCycleCount" serializeAs="String">
                <value>0</value>
            </setting>
        </ipldtestwindows.Properties.Settings>
    </applicationSettings>
</configuration>