.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Midnight .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Midnight .ef-toggle:hover {
  background-color: #232323;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Midnight .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #262424;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Midnight-horizontal {
  width: 100%;
  height: 32px;
}
ul.Midnight-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #232323;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-midnight-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-midnight-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-midnight-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Midnight .sf-sp-tr {
  background-position: 2px -169px;
}
.Midnight .sf-sp-vwrapper,
.Midnight .sf-sp-hwrapper {
  background-color: #2e2e2e;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Midnight {
  border-color: #808282;
  color: white;
}
.Syncfusion-Grid-Midnight .GridContent .Table {
  border-top-color: #383838;
  border-bottom-color: #383838;
}
.Syncfusion-Grid-Midnight .GridContent {
  background-color: #2e2e2e;
}
.Syncfusion-Grid-Midnight .Gridtoolbar {
  border-top-color: #383838 !important;
}
.Syncfusion-Grid-Midnight .GroupDropArea {
  background-color: #302f2f;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight.cloneProperties {
  color: white;
  background-color: #1c1b1b;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight th.MasterHeaderLeftCell {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .CaptionRow {
  background-color: #383838;
}
.Syncfusion-Grid-Midnight .HeaderCell,
.Syncfusion-Grid-Midnight .GroupTopLeftCell,
.Syncfusion-Grid-Midnight .TopLeftCell,
.Syncfusion-Grid-Midnight .CaptionRow,
.Syncfusion-Grid-Midnight .HeaderCellHover {
  border-color: #383838;
}
.Syncfusion-Grid-Core .sf-toolbar.Midnight-horizontal {
  border-color: #383838;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Midnight .sf-sp-tr {
  border-color: #383838;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Midnight .PagerCaptionRow {
  border-top-color: #383838;
}
.Syncfusion-Grid-Midnight .PagerGroupDropArea {
  border-top-color: #383838;
  background-color: #2d2d2b;
}
.Syncfusion-Grid-Midnight .GroupCaption {
  background-color: #2d2d2b;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .HeaderCellHover,
.Syncfusion-Grid-Midnight .GroupHeaderCell:hover {
  color: white;
}
.Syncfusion-Grid-Midnight .GroupHeaderCell,
.Syncfusion-Grid-Midnight .GroupHeaderCell:hover,
.Syncfusion-Grid-Midnight .GrpHdrUnboundColumn {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .GroupHeaderCell {
  color: white;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .SelectedHeaderCell {
  border-color: #383838;
  color: white;
}
.Syncfusion-Grid-Midnight .RowHeader {
  border-color: #383838;
  background-color: #2e2e2e;
}
.Syncfusion-Grid-Midnight .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Midnight .UnboundCell {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .SelectedRowHeaderCell,
Syncfusion-Grid-Midnight .UnboundButton {
  border-color: #383838;
  background-color: #2e2e2e;
}
.Syncfusion-Grid-Midnight .RowCell,
.Syncfusion-Grid-Midnight .EmptyCell,
.Syncfusion-Grid-Midnight tr[class*=ChildRow] > .ChildGrid {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .Alt_Row {
  background-color: #262626;
}
.Syncfusion-Grid-Midnight .IndentCell {
  border-color: #383838;
  background-color: #2d2d2b;
}
.Syncfusion-Grid-Midnight .Summary {
  color: white;
  background-color: #191919;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .GridSummary {
  border: 1px none #383838;
}
.Syncfusion-Grid-Midnight .RecordPlusCollapse,
.Syncfusion-Grid-Midnight .RecordPlusExpand {
  background-color: #2d2d2b;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .MasterCellCollapse,
.Syncfusion-Grid-Midnight .MasterCellExpand {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .RecordPlusExpand > div,
.Syncfusion-Grid-Midnight .MasterCellExpand > div {
  background-color: #2d2d2b;
}
.Syncfusion-Grid-Midnight .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Midnight .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-Midnight .SelectedColumn {
  background-color: #1a1a1a;
  color: white;
}
.Syncfusion-Grid-Midnight .SelectionBackground {
  background-color: black;
  color: white;
}
.Syncfusion-Grid-Midnight .CurrentCell {
  background-color: #a09c9c;
  color: black;
}
.Syncfusion-Grid-Midnight .GridPager {
  background-color: #494949;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .GridPager,
.Syncfusion-Grid-Midnight .GridPager .NumericItem,
.Syncfusion-Grid-Midnight .Spacing,
.Syncfusion-Grid-Midnight .CaptionRow,
.Syncfusion-Grid-Midnight .GroupDropArea {
  color: white;
}
.Syncfusion-Grid-Midnight .NumericItem-hover {
  background-color: #232323;
  color: white;
}
ul.Midnight ul li a span.arrows,
ul.Midnight-context span.arrows,
ul.Midnight-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Midnight .PrevPageDisabled,
.Syncfusion-Grid-Midnight .PrevPage,
.Syncfusion-Grid-Midnight .NextPage,
.Syncfusion-Grid-Midnight .NextPageDisabled,
.Syncfusion-Grid-Midnight .Descending,
.Syncfusion-Grid-Midnight .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.Midnight_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Midnight .RecordPlusCollapse > div,
.Syncfusion-Grid-Midnight .MasterCellCollapse > div,
.Syncfusion-Grid-Midnight .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Midnight .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Midnight .HeaderCellHover,
.sf-grid-midnight-menu .button-wrapper,
.sf-grid-midnight-menu .button-wrapper:hover,
.Syncfusion-Grid-Midnight .FilterCellHover,
.Syncfusion-Grid-Midnight .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>) repeat-x scroll center bottom #2d2f30;
}
.sf-grid-midnight-menu .sf-choiceList,
.sf-grid-midnight-menu .Disable_MenuItem a:hover {
  color: white !important;
}
.Syncfusion-Grid-Midnight .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Midnight .AddNewItem,
.Syncfusion-Grid-Midnight .EditItem,
.Syncfusion-Grid-Midnight .ExcelItem,
.Syncfusion-Grid-Midnight .WordItem,
.Syncfusion-Grid-Midnight .PdfItem,
.Syncfusion-Grid-Midnight .DeleteItem,
.Syncfusion-Grid-Midnight .SaveItem,
.Syncfusion-Grid-Midnight .Cancel,
.Syncfusion-Grid-Midnight .FirstPage,
.Syncfusion-Grid-Midnight .LastPage,
.Syncfusion-Grid-Midnight .FirstPageDisabled,
.Syncfusion-Grid-Midnight .LastPageDisabled,
.Syncfusion-Grid-Midnight .GridPager .RefreshPager,
.Syncfusion-Grid-Midnight .Search,
.Syncfusion-Grid-Midnight .FilterIcon,
.Syncfusion-Grid-Midnight .FilterIconTick,
.sf-grid-midnight-menu .ClearFilterSideImg,
.sf-grid-midnight-menu .searchButton,
.sf-grid-midnight-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.Midnight_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.Midnight_sprite.png%>);
}
.Syncfusion-Grid-Midnight .sliderContainer .ui-slider,
.Syncfusion-Grid-Midnight .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Midnight .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Midnight .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.Midnight_sprite.png%>) !important;
}
.Syncfusion-Grid-Midnight .HeaderCell,
.Syncfusion-Grid-Midnight .grid-icon,
.Syncfusion-Grid-Midnight .GroupTopLeftCell,
.Syncfusion-Grid-Midnight .TopRightCell,
.Syncfusion-Grid-Midnight th.MasterHeaderLeftCell,
.Syncfusion-Grid-Midnight .TopLeftCell,
.Syncfusion-Grid-Midnight.cloneProperties,
.Syncfusion-Grid-Midnight .ExternalForm-Header,
.Syncfusion-Grid-Midnight .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg.png%>) repeat-x scroll center bottom #1e1f20;
}
.Syncfusion-Grid-Midnight .GridHeader {
  background-color: #1e1f20;
  color: white;
}
.Syncfusion-Grid-Midnight .ef-headerText {
  color: white;
}
.Syncfusion-Grid-Midnight .Hdr-widthSettings {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .CurrentItem,
.Syncfusion-Grid-Midnight .CurrentItem:hover {
  border-color: white;
  background-color: white;
  color: black !important;
}
.Syncfusion-Grid-Midnight .ToolbarItems {
  color: white;
}
.Syncfusion-Grid-Midnight .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Midnight .StringFilter,
.Syncfusion-Grid-Midnight .DateFilter,
.Syncfusion-Grid-Midnight .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Midnight .EditForm {
  background-color: #262424;
}
.Syncfusion-Grid-Midnight .RecordCaption {
  color: #e0dada;
}
.Syncfusion-Grid-Midnight .EditForm legend {
  color: #e0dada;
}
.Syncfusion-Grid-Midnight .EditCell .field-validation-error,
.Syncfusion-Grid-Midnight .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Midnight .EditCell {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .EditForm fieldset {
  border-color: #989898;
}
.Syncfusion-Grid-Midnight .Gridtoolbar .customToolItem {
  color: white;
}
.reSizeColbg {
  background-color: #2d2c2c;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: white;
  border-color: black !important;
}
.Syncfusion-Grid-Midnight.DragElementtext {
  background-color: #a09c9c;
  color: black;
  border-color: #989898 !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Midnight .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-midnight-menu .sf-choiceList,
.sf-grid-midnight-menu .Search-Choice-wrapper,
.sf-grid-midnight-menu .button-wrapper,
.sf-grid-midnight-menu .button-wrapper:hover {
  border-color: #9d9ea0;
}
.Syncfusion-Grid-Midnight .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Midnight .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Midnight .sfInputText {
  color: black;
}
.Syncfusion-Grid-Midnight .Table td.FrozenX,
.Syncfusion-Grid-Midnight .Table th.FrozenX {
  border-right-color: #6d6d6d;
}
.Syncfusion-Grid-Midnight .Table td.FrozenY {
  border-top-color: #6d6d6d;
}
.Syncfusion-Grid-Midnight .sfMidnight .ui-state-default,
.Syncfusion-Grid-Midnight .sfMidnight .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Midnight .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Midnight .RecordPlusExpand > div,
.Syncfusion-Grid-Midnight .MasterCellExpand > div,
.Syncfusion-Grid-Midnight-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Midnight .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg.png%>) repeat-x scroll center bottom #0a0a0a;
}
.Syncfusion-Grid-Midnight-Tooltip .tooltipTopDiv {
  background-color: white;
  color: black;
}
.Syncfusion-Grid-Midnight .NextPage:Hover,
.Syncfusion-Grid-Midnight .LastPage:Hover,
.Syncfusion-Grid-Midnight .FirstPage:Hover,
.Syncfusion-Grid-Midnight .PrevPage:Hover,
.Syncfusion-Grid-Midnight .GridPager .RefreshPager:Hover {
  background-color: #232323;
}
.Syncfusion-Grid-Midnight .FilterBarCell,
.Syncfusion-Grid-Midnight .FilterBarCellDisabled {
  border-color: #383838;
  background-color: #2e2e2e;
  background-image: none;
}
.Syncfusion-Grid-Midnight .FilterBarCell input {
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Midnight .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #2e2e2e;
  border-color: Gray;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: white;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Midnight .EnableRowHover tbody > tr:hover {
  background-color: #393b3d;
}
.Syncfusion-Grid-Midnight .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #383838;
  background-color: #2e2e2e;
}
.Syncfusion-Grid-Midnight .ExternalEdit {
  background-color: #2e2e2e;
  border-color: #808282;
}
.Syncfusion-Grid-Midnight .bg-clear,
.Syncfusion-Grid-Midnight .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Midnight .MasterCellCollapse,
.Syncfusion-Grid-Midnight .MasterCellExpand,
.Syncfusion-Grid-Midnight td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #383838;
}
.Syncfusion-Grid-Midnight .ef-wrapper {
  border-color: #2e2e2e;
  background-color: #383838;
}
