/*----- Editor--*/

.sf-editor.Midnight .sfInputText,
.sf-editor.Midnight .Syncfusion_Value_TextBox,
.sf-editor.Midnight .maskeditInput {
  color: #fcfcfc;
  background-color: #333536;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Midnight {
  border: 1px solid #808282;
  display: inline-block;
}
.sf-editor.Midnight .sfInputText,
.sf-editor.Midnight .Syncfusion_Value_TextBox,
.sf-editor.Midnight .Syncfusion_Watermark_TextBox {
  border-right: 1px solid #808282;
  background-color: #333333;
}
.sf-editor.Midnight .sf-splitup,
.sf-editor.Midnight .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Midnight .sf-splitup:hover,
.sf-editor.Midnight .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Midnight .sf-splitup:active,
.sf-editor.Midnight .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Midnight .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.Midnight .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.Midnight .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.Midnight .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.Midnight .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.Midnight .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.Midnight .sf-splitup,
.sf-editor.Midnight {
  background-color: #333333;
}
.sf-editor.Midnight .sf-splitup:hover {
  background-color: #2d2f30;
}
.sf-editor.Midnight .sf-splitup:active {
  background-color: #393a3a;
}
.sf-editor.Midnight .sf-splitdown {
  background-color: #333333;
}
.sf-editor.Midnight .sf-splitdown:hover {
  background-color: #2d2f30;
}
.sf-editor.Midnight .sf-splitdown:active {
  background-color: #393a3a;
}
.sf-core.disablebuttons,
.sf-genericdropdown.Midnight .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.Midnight.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.Midnight.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid #808282;
}
.sf-editor.Midnight .Syncfusion_Validator,
.sf-editor.Midnight .error,
.sf-editor.Midnight .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.Midnight .Syncfusion_Watermark_TextBox,
.sf-editor.Midnight .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: #333536;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Midnight .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.Midnight.Autocomplete_Wrapper {
  color: #fcfcfc;
  border: 1px solid #808282;
  height: 20px;
}
.sf-autocomplete.Midnight.Autocomplete_SuggestionList {
  border: 1px solid #808282;
  background-color: #333536;
  color: #fcfcfc;
  font-size: 11px;
}
.sf-autocomplete.Midnight ul li.listHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #2d2f30;
  color: white;
}
.sf-autocomplete.Midnight .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.Midnight ul li div.template {
  color: #fcfcfc;
}
.sf-autocomplete.Midnight .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid #808282;
  background-color: #333333;
}
.sf-autocomplete.Midnight .AutoCompleteDD_RTL {
  border-right: 1px solid #808282;
  border-left: none;
}
.sf-autocomplete.Midnight .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #2d2f30;
  color: white;
}
.sf-autocomplete.Midnight .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #393a3a;
  color: #fafafa;
}
.sf-autocomplete.Midnight.Autocomplete_Wrapper input,
.sf-autocomplete.Midnight.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.Midnight.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: #fcfcfc;
  background-color: #333536;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.Midnight .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.Midnight .HighlightQueryText {
  font-weight: bold;
  color: #363636;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.Midnight .GenericDropDownButtonBase {
  color: #fcfcfc;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.Midnight .GenericDropDownButtonBase,
.sf-genericdropdown.Midnight .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid #808282;
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #333333;
}
.sf-multicolumn.sf-genericdropdown.Midnight .GenericDropDownButtonBase:hover,
.sf-genericdropdown.Midnight .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-color: #2d2f30;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.Midnight .GenericDropDownButtonBase:active,
.sf-genericdropdown.Midnight .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-color: #393a3a;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.Midnight .GenericDropDownContainer {
  border: 1px solid #808282;
}
.sf-genericdropdown.Midnight .GenericDropDownTextBox {
  background-color: #333536;
  color: #fcfcfc;
}
.sf-genericdropdown.Midnight .GenericDropDownTextBoxHover {
  background-color: #333536;
}
.sf-genericdropdown.Midnight .GenericDropDownPopupPanel {
  background-color: #333536;
  color: #fcfcfc;
  border: 1px solid #808282;
  font-size: 11px;
}
.sf-genericdropdown.Midnight .GenericDropDownPopupPanel .listHover {
  background: #2d2f30 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>) bottom;
  background-repeat: repeat-x;
  color: white;
}
/*-----------Button-------------*/

.sf-button.Midnight {
  color: #fcfcfc;
}
.sf-button.Midnight.background {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #333536;
  color: whitesmoke;
  border: 1px solid #808282;
}
.sf-button.Midnight.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #2d2f30;
  border: 1px solid #5c5c5c;
  color: white;
}
.sf-button.Midnight.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #393a3a;
  border: 1px solid #5c5c5c;
  color: #fafafa;
}
.sf-button.Midnight .spritesplitdropdownbutton,
.sf-button.Midnight .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.Midnight .dropdowndownarrow,
.sf-button.Midnight .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Midnight .splitrightarrow:hover .dropdowndownarrow,
.sf-button.Midnight .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Midnight .splitrightarrow:active .dropdowndownarrow,
.sf-button.Midnight .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Midnight .splitbottomarrow {
  display: block;
  border-top: 1px solid #808282;
  text-align: center;
}
.sf-button.Midnight .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.Midnight .splitrightarrow {
  display: table-cell;
  border-left: 1px solid #808282;
  text-align: center;
  vertical-align: top;
}
.sf-button.Midnight .borderleftmousehover {
  border-left: 1px solid #5c5c5c;
}
.sf-button.Midnight .bordertopmousehover {
  border-top: 1px solid #5c5c5c;
}
.sf-ribboncontainer.Midnight .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.Midnight .ribbonbutton:hover {
  background-image: none;
  background-color: #2d2f30;
  border: 1px solid #5c5c5c;
}
.sf-ribboncontainer.Midnight .ribbonbutton:active {
  background-image: none;
  background-color: #393a3a;
  border: 1px solid #5c5c5c;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.Midnight  .captcha-image-container {
  float: left;
  border: 1px solid #ededed;
  border-radius: 3px;
}
.sf-captcha.Midnight .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.Midnight .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #323232 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #ededed;
  border-radius: 3px;
}
.sf-captcha.Midnight .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #323232 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #ededed;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.Midnight.horizontal .stars,
.sf-rating.Midnight.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.stars.png%>) no-repeat;
}
.sf-rating.Midnight.horizontal .reset,
.sf-rating.Midnight.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.Midnight .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.Midnight .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.Midnight .stars.active {
  background-position: 0 -51px;
}
.sf-rating.Midnight .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.Midnight .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.Midnight .sf-sp-Hhandle,
.Midnight .sf-sp-Vhandle {
  background: #2a2a2b;
  border: 1px solid #5c5c5c;
}
.Midnight .sf-sp-tb,
.Midnight .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.Midnight .sf-sp-bl,
.Midnight .sf-sp-br {
  height: 12px;
  width: 7px;
}
.Midnight .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.Midnight .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.Midnight .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.Midnight .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.Midnight {
  border-color: #808282;
}
.sf-splitter.Midnight .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.Midnight .pane {
  color: black;
  background-color: white;
}
.sf-splitter.Midnight .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.Midnight .splitbar {
  background-color: #333536;
  border-color: #808282;
}
.sf-splitter.Midnight .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Midnight .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: #2d2f30;
}
.sf-splitter.Midnight .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Midnight .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: #2d2f30;
}
/* Vertical view css classes */

.sf-splitter.Midnight .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.Midnight .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: #2d2f30;
}
.sf-splitter.Midnight .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.Midnight .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: #2d2f30;
}
/*----Tag-Cloud------*/

.sf-tagcloud.Midnight {
  background-color: #fafafa;
}
.sf-tagcloud.Midnight .tagcloud-header {
  background-color: #242323;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg.png%>);
  color: whitesmoke;
}
.sf-tagcloud.Midnight .tagcloud-items .textNode {
  color: black;
}
.sf-tagcloud.Midnight .tagcloud-items .textNode.hover {
  color: #fafafa;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.Midnight {
  border: 1px solid #808282;
}
.sf-timepicker.Midnight li {
  background-color: #333536;
  color: whitesmoke;
  border-color: #808282;
}
.sf-timepicker.Midnight li:hover {
  background-color: #2d2f30;
  color: white;
  border-color: #5c5c5c;
}
/*------ Toolbar--------*/

.sf-toolbar.Midnight-horizontal {
  color: whitesmoke;
  border: 1px solid #808282;
  background: #333536 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg.png%>) repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.Midnight-vertical {
  color: whitesmoke;
  border: 1px solid #808282;
  background: #333536 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg-ver.png%>) repeat-y left;
  display: inline-block;
}
.sf-toolbar.Midnight-vertical,
.sf-toolbar.Midnight-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.Midnight-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.Midnight-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.Midnight-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.Midnight-horizontal .Disable_ToolLi,
.sf-toolbar.Midnight-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.Midnight-horizontal .Tool_Hover,
.sf-toolbar.Midnight-vertical .Tool_Hover {
  background: #2d2f30 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>) repeat-x center bottom;
  border: 1px solid #5c5c5c;
  color: white;
}
.sf-toolbar.Midnight-horizontal .Tool_Selected,
.sf-toolbar.Midnight-vertical .Tool_Selected {
  border: 1px solid #5c5c5c;
  background: #393a3a url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg.png%>) repeat-x center bottom;
  color: #fafafa;
}
.sf-toolbar.Midnight-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.Midnight-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.Midnight-horizontal .AlignMiddle,
.sf-toolbar.Midnight-vertical .AlignMiddle,
.sf-toolbar.Midnight-horizontal .Toolbar_Text,
.sf-toolbar.Midnight-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.Midnight .ImgCss {
  border: 1px solid #808282;
}
.sf-treeview.Midnight .showline-NodeText,
.sf-treeview.Midnight .noline-NodeText {
  color: black;
}
.sf-treeview.Midnight .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.Midnight.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.Midnight .Input_Text {
  border: solid 2px #393a3a;
}
.sf-treeview.Midnight span.noline-child,
.sf-treeview.Midnight span.showline-child {
  white-space: nowrap;
}
.sf-treeview.Midnight .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.Midnight .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.Midnight.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.Midnight.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.Midnight .pointer,
.sf-treeview.Midnight.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.Midnight .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.Midnight .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.Midnight .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.Midnight.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.Midnight.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.Midnight.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.Midnight .showline-selected,
.sf-treeview.Midnight .noline-selected {
  background: #393a3a url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg.png%>) 0 0 repeat-x;
  color: #fafafa;
  border: 1px solid #5c5c5c;
}
.sf-treeview.Midnight .showline-hover,
.sf-treeview.Midnight .noline-hover {
  background: #2d2f30 url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>) 0 0 repeat-x;
  color: white;
  border: 1px solid #5c5c5c;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid #808282;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.Midnight .file-progress {
  border: 1px solid #808282;
  background-color: #333536;
}
.sf-uploadbox.Midnight .file-action,
.sf-uploadbox.Midnight .file-list .file-size {
  border-color: #808282;
  background-color: #333536;
}
.sf-uploadbox.Midnight .file-progress-status {
  background-color: #bfbfbf;
}
.sf-uploadbox.Midnight .inputbutton {
  background-color: #333536;
  color: white;
  border: 1px solid #808282;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.Midnight .file-list {
  color: white;
}
