<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSZUtilsWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <MSZUtilsWebService.Properties.Settings>
            <setting name="IsServerLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSentRecordNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxTransactionsBeforeCommit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>Platform NExT</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>ProgeaDB</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>SERVERDB</value>
            </setting>
        </MSZUtilsWebService.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MSZUServiceBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehavior">
            <serviceDebug includeExceptionDetailInFaults="true" />
            <serviceCredentials>
              <serviceCertificate findValue="licmng.progea.com" storeLocation="LocalMachine"
                storeName="My" x509FindType="FindBySubjectName" />
            </serviceCredentials>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service behaviorConfiguration="ServiceBehavior" name="MSZUtilsWebService.ServerCMS.MSZUtilsServiceCSM">
          <endpoint address="https://licmng.progea.com:63916/MSZUtilsWService"
            binding="basicHttpBinding" bindingConfiguration="MSZUServiceBinding"
            name="MSZUtilsWServiceEndPoint" contract="MSZServiceCMS.IMSZWUServiceCMS">
            <identity>
              <dns value="licmng.progea.com" />
              <certificateReference x509FindType="FindBySubjectName" findValue="licmng.progea.com"
                isChainIncluded="true" />
            </identity>
          </endpoint>
        </service>
      </services>
    </system.serviceModel>
</configuration>
