.sf-diagram {
  display: block;
  border: 1px solid #dadada;
  padding: 0px;
  margin: 0px;
  position: relative;
  outline: transparent none 0px;
  font-family: Segoe UI, Verdana, Sans-Serif, Arial;
}
.sf-diagram.workArea {
  border: 0px none transparent;
  width: 100%;
  height: 100%;
}
.sf-diagram.svg {
  border: 0px none transparent;
}
.sf-diagram .nodeHighlighted {
  border: 3px solid red;
}
.sf-diagram .nodecustomcontent {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}
.sf-diagram .connectorlabel {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px;
}
.sf-diagram .gridlineswrapper {
  overflow: hidden !important;
}
.sf-diagram .labelWrapper {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  padding: 2px;
  display: inline-block;
}
.sf-diagram .connectorselector {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.sf-diagram .nodeHighlighted {
  border: 3px solid red;
}
.svg.foreignObject {
  top: 0px;
  left: 0px;
  position: absolute;
  border: 0px none transparent;
  display: block;
}
.panningOpen {
  cursor: url(<%Syncfusion.Theme.Base.Diagram.Images.PanReady.cur%>), move;
}
.panningClosed {
  cursor: url(<%Syncfusion.Theme.Base.Diagram.Images.Panning.cur%>), move;
}
.zoomCursor {
  cursor: url(<%Syncfusion.Theme.Base.Diagram.Images.Zoom.cur%>), move;
}
.rotateCursor {
  cursor: url(<%Syncfusion.Theme.Base.Diagram.Images.Rotate.cur%>), move;
}
.Group {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -190px;
}
.Ungroup {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -167px;
}
.Cut {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: 2px -13px;
}
.Copy {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: 0px -35px;
}
.Paste {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -57px;
}
.Undo {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -2px -232px;
}
.Redo {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -211px;
}
.SelectAll {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -256px;
}
.SendBackward {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -146px;
}
.SendToBack {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -123px;
}
.BringToFront {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: -1px -101px;
}
.MoveForward {
  background-image: url(<%Syncfusion.Theme.Base.Diagram.Images.contextmenu.png%>);
  height: 16px;
  width: 16px;
  background-position: 0px -79px;
}
