@import "Definition/SymbolPalette.less";

.sp
{
    border: 1px solid @borderColor;
    padding: 0px;
    margin: 0px;
    outline: transparent none 0px;    
	overflow:auto;
	text-decoration: none;
}

.sp-header
{
    display:table;
	border: 0px solid transparent;
    border-bottom-width:1px;
	border-bottom-color:@borderColor;
	outline: transparent none 0px;
    cursor: pointer;		
	color: #787878;
	font-style:normal;
	font-variant:normal;
    font-size:14px;
	font-family: @fontFamily;
	position: relative;
	width:100%;
}

.sp-header-text
{
	display: table-cell;
	vertical-align: middle;
	padding-left:1em;
	width:100%;
}

.sp-header-text.vs
{
	padding-left:1.5em;
}

.sp-header-arrow
{
    background-image: ~"url(<%Syncfusion.Theme.Base.Diagram.Images.arrow.png%>)";
    background-repeat: no-repeat;
    border: 0px none transparent;
    height: 16px;
    width: 16px;
    right: 2px;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
}

.sp-header-arrow.vs
{
	right: 0px;
	left: 2px;
}

.sp-header-arrow.expanded
{
	background-position: 2px 2px;
}

.sp-header-arrow.vs.expanded
{
	background-position: 2px -84px;
}

.sp-header-arrow.vs.expanded.selected, .sp-header-arrow.vs.expanded.hover
{
	background-position: 2px -119px;
}

.sp-header-arrow.collapsed
{
	background-position: 2px -14px;
}

.sp-header-arrow.vs.collapsed
{
	background-position: 2px -66px;
}

.sp-header-arrow.vs.collapsed.selected, .sp-header-arrow.vs.collapsed.hover
{
	background-position: 2px -101px;
}

.sp-header-arrow.expanded.selected, .sp-header-arrow.expanded.hover
{
	background-position: 2px -32px;
}

.sp-header-arrow.collapsed.selected, .sp-header-arrow.collapsed.hover
{
	background-position: 2px -49px;
}

.sp-header.collapsed.selected, .sp-header.expanded.selected
{
	background:@headerSelectedBackground;
	color: white;
}

.sp-header.collapsed.hover, .sp-header.expanded.hover
{
	background:@headerHoverBackground;
}

.sp-content
{
    display:block;
	border: 0px solid transparent;
	outline-style:none;
	padding:0.5em;
	border-bottom-width:1px;
	border-bottom-color:@borderColor;
	background:transparent;
	overflow:auto;
}

.sp-anchor
{    
    overflow: hidden;
    padding: 1px;
    border: 1px solid transparent;
    display: inline-block;
	text-decoration: none !important;
	color: #787878;
	font-style:normal;
	font-variant:normal;
    font-size:11px;    
	font-family: @fontFamily;
	text-align:center;
	outline:transparent none 0px;
	background:transparent;
	width:100%;
}

.sp-anchor.vs
{
	width:100%;
	text-align:left;
}

.sp-paletteItem
{
    border-color:transparent;
    border-width:2px;
    border-style:solid;
    float:left;
    padding-right:4px;
	padding-top:4px;	
    margin:1px;
    overflow:visible;
}

.sp-paletteItem.vs
{
	float:none;
	outline:transparent none 0px;
}

.sp-paletteItem.hover
{
    border-color:@paletteItemSelectedBorderColor;
	background: @paletteItemSelectedBackground;
}

.sp-paletteItem.selected
{
    border-color:@paletteItemSelectedBorderColor;
	background: @paletteItemSelectedBackground;
}

.sp-text-container
{
	white-space:nowrap;
	color:black;
	overflow:hidden;
}

.sp-text-container.vs
{
	display: table;
	text-align: left;
}

.sp-paletteItemText.vs
{
	display: table-cell;
	vertical-align: middle;
	padding-left: 1.5em; 
	white-space:normal;
}

.sp-svg-container
{
	display:block;
	position:relative;
	border:0px none transparent;
}

.sp-svg-container.vs
{
	float:left;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.svg.foreignObject
{
    top:0px;
    left:0px;
    position:absolute;
    border:0px none transparent;
    display:block;    
}