@border-color: #6F7074;
@font-color: #000000;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #FFFFFF;
@numeric-hover-color: #FFFFFF;
@selected-row-color: #000000;
@header-bg-color: #D3D7DB;
@row-cell-border-color : #C7CBD1;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #000000;
@group-droparea-bg-color: #555555;
@group-droparea-border-color: gray;
@clone-bg-color: #555555;
@clone-border-color: #C7CBD1;
@top-right-border-color: #C7CBD1;
@caption-row-border-color: #969696;
@caption-row-bg-color: #686868;
@group-caption-drop-row-font-color:#FFFFFF;
@pager-caption-row-border-color: #969696;
@pager-groupdrop-border-color: #969696;
@pager-groupdrop-bg-color: #686868;
@group-indent-expand-collapse-bg-color: #D7D9DE;
@group-indent-expand-collapse-border-color: #C7CBD1;
@hover-header-border-color: #C7CBD1;
@hover-group-header-border-color: #cfd1d8;
@selected-header-border-color: #BABABA;
@selected-header-bg-color: #FFECB6;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #F0F1F2;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #C7CBD1;
@selected-row-header-bg-color: #F0F1F2;
@alt-row-bg-color: #F0F3F8;
@summary-font-color: #464749;
@summary-bg-color: #FFF5BF;
@summary-border-color: #C7CBD1;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: ThreeDDarkShadow;
@selected-column-bg-color: #FFECB6;
@selection-bg-color: #FFBD69;
@currentcell-bg-color: #F68B3C;
@currentcell-font-color: #FFFFFF;
@gridpager-bg-color: #828080;
@gridpager-border-color: #646464;
@numericitem-font-color: #FFFFFF;
@numeric-hover-bg-color: #F68B3C;
@spacing-color: #FFFFFF;
@currentitem-border-color: #FFF8ED;
@currentitem-bg-color: Orange;
@currentitem-font-color: #000000;
@edit-caption-font-color: #000000;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #555555;
@record-caption-font-color: #ffffff;
@legend-font-color: #ffffff;
@error: red;
@fieldset-border-color: #EBD7D6;
@custom-font-color: #000000;
@resizecol-bg-color: #6F7074;
@helper-bg-color: #F0F3F8;
@helper-border-color: #C7CBD1;
@dragelement-bg-color: #F89643;
@dragelement-font-color: #FFFFFF;
@dragelement-border-color: #C7CBD1;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #F68B3C;
@choice-wrapper-border-color: #9D9EA0;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #6F7074;
@tooltip-bg-color: #eeeff1;
@tooltip-font-color: #000000;
@next-last-hover-bg-color: #F68B3C;
@filter-cell-bg-color: #F0F1F2;
@filter-input-border-color: #C7CBD1; 
@filter-status-bg-color: #F0F3F8;
@filter-status-border-color: #C7CBD1; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #FBE292;
@skin: ~"Office2007Black";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-office2007black-menu";