
@base-background-color: #f0f1f2;
@base-border: 1px solid #4c535c;
@base-Header: #D6E2F1;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #E8EAEC;
@Workcell-select: #4C535C;
@Workcell-Hover: #d3d6db;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #E8EAEC;
@appointment-color:#7C7C7E;
@ViewStrip-color:#c7cbd1;
@highlighAppDate: #3C3C3C;
@highlightSelectedDate: #A6A6A6;
@color:Black;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #F2B242 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.black.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #eeeff1;
@tooltip-font-color: #000000;
@Appointment-text-color:Black;
@Dialog-bg-color: #f0f1f2;
@ViewStrip-text-color:Black;
@Dialog-text-color:Black;