
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-weight: normal;
@font-color: #107274;
@click-font-color: @font-color;
@hover-font-color: #212121;
@active-font-color: #107274;
@seperator-color: #66BAC2;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@success-font-color: #008000;
@content-a-font-color: #107274;
@header-a-font-color: #107274;
@highlight-font-color: #363636;
@error-font-color: #cd0a0a;
@upload-font-color: #127274;

@border-size: 1px;
@border-type: solid;
@border-color: #52B9BB;
@hover-border-color: #159A9D;
@active-border-color: #BBE3E2;
@content-border-color: #c6f0f1;
@header-border-color: #c6f0f1;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;

@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;
@bg-color: #b8e5ee;
@hover-bg-color: #eaffff;
@active-bg-color: #a4dfea;
@progress-bg-color: #4BABBF;
@submenu-bg-color:#f5ffff;
@pane-bg-color: #ebf6f7;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@popup-bg-color: #ebf6f7;
@content-bg-color: #ffffff;
@header-bg-color: #effbfb;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #107274;
@refresh-audio-button-border-color: #95c3c4;
@captcha-image-border-color: #95c3c4;

@skin: ~"Turquoise";
@foldername: ~"Themes";

@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.active-bg-ver.png%>)";

@content-bg: ~"none";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";

@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";

@scroll-bg-color:#ebf6f7;
@scroll-border:1px solid #159A9D;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: rgb(229,239,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,239,236,1) 8%, rgba(229,239,236,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(229,239,236,1)), color-stop(92%,rgba(229,239,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efec', endColorstr='#e5efec',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFD3CB;
}

.hover-gradient()
{
	background: rgb(229,239,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,239,236,1) 8%, rgba(229,239,236,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(229,239,236,1)), color-stop(92%,rgba(229,239,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efec', endColorstr='#e5efec',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFD3CB;
}

.container-gradient()
{
	background: #d8eceb; /* Old browsers */
    background: -moz-linear-gradient(top,  #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8eceb), color-stop(59%,#a3d5d7), color-stop(100%,#87cbcc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8eceb 0%,#a3d5d7 59%,#87cbcc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d8eceb 0%,#a3d5d7 59%,#87cbcc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d8eceb 0%,#a3d5d7 59%,#87cbcc 100%); /* IE10+ */
    background: linear-gradient(top,  #d8eceb 0%,#a3d5d7 59%,#87cbcc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8eceb', endColorstr='#87cbcc',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #9BD2D4;
}
.itemcontainer-gradient()
{
	background: #ecfdfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecfdfc), color-stop(20%,#e1f8f6), color-stop(23%,#e1faf9), color-stop(38%,#def7f6), color-stop(38%,#dcfaf9), color-stop(45%,#d9f7f6), color-stop(61%,#d7f5f4), color-stop(62%,#d7f7f7), color-stop(100%,#d4f2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ecfdfc 0%,#e1f8f6 20%,#e1faf9 23%,#def7f6 38%,#dcfaf9 38%,#d9f7f6 45%,#d7f5f4 61%,#d7f7f7 62%,#d4f2f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ecfdfc 0%,#e1f8f6 20%,#e1faf9 23%,#def7f6 38%,#dcfaf9 38%,#d9f7f6 45%,#d7f5f4 61%,#d7f7f7 62%,#d4f2f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ecfdfc 0%,#e1f8f6 20%,#e1faf9 23%,#def7f6 38%,#dcfaf9 38%,#d9f7f6 45%,#d7f5f4 61%,#d7f7f7 62%,#d4f2f1 100%); /* IE10+ */
    background: linear-gradient(top,  #ecfdfc 0%,#e1f8f6 20%,#e1faf9 23%,#def7f6 38%,#dcfaf9 38%,#d9f7f6 45%,#d7f5f4 61%,#d7f7f7 62%,#d4f2f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecfdfc', endColorstr='#d4f2f1',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
    background: #EBFDFC;
}

.wrapper-ribbon-hover-gradient()
{
    border: @border-size @border-type #B2D5CE;
    background: #d7dbe4; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7dbe4), color-stop(5%,#d5d9e2), color-stop(24%,#d4d6ea), color-stop(38%,#dfe1ef), color-stop(81%,#f3f4f9), color-stop(100%,#f5f6fb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7dbe4 0%,#d5d9e2 5%,#d4d6ea 24%,#dfe1ef 38%,#f3f4f9 81%,#f5f6fb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7dbe4 0%,#d5d9e2 5%,#d4d6ea 24%,#dfe1ef 38%,#f3f4f9 81%,#f5f6fb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7dbe4 0%,#d5d9e2 5%,#d4d6ea 24%,#dfe1ef 38%,#f3f4f9 81%,#f5f6fb 100%); /* IE10+ */
    background: linear-gradient(top,  #d7dbe4 0%,#d5d9e2 5%,#d4d6ea 24%,#dfe1ef 38%,#f3f4f9 81%,#f5f6fb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dbe4', endColorstr='#f5f6fb',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
   background: #ff630e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff630e), color-stop(4%,#ff630d), color-stop(6%,#c77050), color-stop(9%,#c57153), color-stop(11%,#c67151), color-stop(19%,#c57255), color-stop(21%,#c57558), color-stop(23%,#c57456), color-stop(26%,#c6755a), color-stop(30%,#c17155), color-stop(32%,#c67a5e), color-stop(36%,#c77d65), color-stop(43%,#cc826a), color-stop(47%,#ce8c78), color-stop(51%,#d1988c), color-stop(53%,#d19b91), color-stop(57%,#d5aba7), color-stop(64%,#d9b2ab), color-stop(70%,#e0beb9), color-stop(72%,#e3c3c3), color-stop(77%,#e5d6d8), color-stop(79%,#e8dbe1), color-stop(85%,#e3e2ea), color-stop(96%,#f0f1f6), color-stop(100%,#f1f1f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff630e 0%,#ff630d 4%,#c77050 6%,#c57153 9%,#c67151 11%,#c57255 19%,#c57558 21%,#c57456 23%,#c6755a 26%,#c17155 30%,#c67a5e 32%,#c77d65 36%,#cc826a 43%,#ce8c78 47%,#d1988c 51%,#d19b91 53%,#d5aba7 57%,#d9b2ab 64%,#e0beb9 70%,#e3c3c3 72%,#e5d6d8 77%,#e8dbe1 79%,#e3e2ea 85%,#f0f1f6 96%,#f1f1f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff630e 0%,#ff630d 4%,#c77050 6%,#c57153 9%,#c67151 11%,#c57255 19%,#c57558 21%,#c57456 23%,#c6755a 26%,#c17155 30%,#c67a5e 32%,#c77d65 36%,#cc826a 43%,#ce8c78 47%,#d1988c 51%,#d19b91 53%,#d5aba7 57%,#d9b2ab 64%,#e0beb9 70%,#e3c3c3 72%,#e5d6d8 77%,#e8dbe1 79%,#e3e2ea 85%,#f0f1f6 96%,#f1f1f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff630e 0%,#ff630d 4%,#c77050 6%,#c57153 9%,#c67151 11%,#c57255 19%,#c57558 21%,#c57456 23%,#c6755a 26%,#c17155 30%,#c67a5e 32%,#c77d65 36%,#cc826a 43%,#ce8c78 47%,#d1988c 51%,#d19b91 53%,#d5aba7 57%,#d9b2ab 64%,#e0beb9 70%,#e3c3c3 72%,#e5d6d8 77%,#e8dbe1 79%,#e3e2ea 85%,#f0f1f6 96%,#f1f1f4 100%); /* IE10+ */
    background: linear-gradient(top,  #ff630e 0%,#ff630d 4%,#c77050 6%,#c57153 9%,#c67151 11%,#c57255 19%,#c57558 21%,#c57456 23%,#c6755a 26%,#c17155 30%,#c67a5e 32%,#c77d65 36%,#cc826a 43%,#ce8c78 47%,#d1988c 51%,#d19b91 53%,#d5aba7 57%,#d9b2ab 64%,#e0beb9 70%,#e3c3c3 72%,#e5d6d8 77%,#e8dbe1 79%,#e3e2ea 85%,#f0f1f6 96%,#f1f1f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff630e', endColorstr='#f1f1f4',GradientType=0 ); /* IE6-9 */
    border-left: @border-size @border-type #ff630e;
    border-right: @border-size @border-type #ff630e;
    border-top: @border-size+1 @border-type #ff630e;
    color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
    background: #ffa572; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa572), color-stop(4%,#f19f73), color-stop(13%,#edb5a1), color-stop(17%,#eabeaf), color-stop(26%,#e5ccc7), color-stop(30%,#e8d5d3), color-stop(39%,#ebdee2), color-stop(43%,#eae3e7), color-stop(57%,#e8e7ef), color-stop(70%,#eeeff4), color-stop(78%,#eff0f5), color-stop(83%,#f3f4f9), color-stop(96%,#f6f7fc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa572 0%,#f19f73 4%,#edb5a1 13%,#eabeaf 17%,#e5ccc7 26%,#e8d5d3 30%,#ebdee2 39%,#eae3e7 43%,#e8e7ef 57%,#eeeff4 70%,#eff0f5 78%,#f3f4f9 83%,#f6f7fc 96%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa572 0%,#f19f73 4%,#edb5a1 13%,#eabeaf 17%,#e5ccc7 26%,#e8d5d3 30%,#ebdee2 39%,#eae3e7 43%,#e8e7ef 57%,#eeeff4 70%,#eff0f5 78%,#f3f4f9 83%,#f6f7fc 96%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa572 0%,#f19f73 4%,#edb5a1 13%,#eabeaf 17%,#e5ccc7 26%,#e8d5d3 30%,#ebdee2 39%,#eae3e7 43%,#e8e7ef 57%,#eeeff4 70%,#eff0f5 78%,#f3f4f9 83%,#f6f7fc 96%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #ffa572 0%,#f19f73 4%,#edb5a1 13%,#eabeaf 17%,#e5ccc7 26%,#e8d5d3 30%,#ebdee2 39%,#eae3e7 43%,#e8e7ef 57%,#eeeff4 70%,#eff0f5 78%,#f3f4f9 83%,#f6f7fc 96%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa572', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border: @border-size @border-type @pane-bg-color;
}

.ribboncontainer-hover()
{
    border: @border-size @border-type @pane-bg-color;
    background: #ffa572; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa572), color-stop(5%,#f19f73), color-stop(14%,#edb5a1), color-stop(18%,#eabeaf), color-stop(27%,#e5ccc7), color-stop(32%,#e8d5d3), color-stop(41%,#ebdee2), color-stop(45%,#eae3e7), color-stop(59%,#e8e7ef), color-stop(73%,#eeeff4), color-stop(82%,#eff0f5), color-stop(86%,#f3f4f9), color-stop(100%,#f6f7fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa572 0%,#f19f73 5%,#edb5a1 14%,#eabeaf 18%,#e5ccc7 27%,#e8d5d3 32%,#ebdee2 41%,#eae3e7 45%,#e8e7ef 59%,#eeeff4 73%,#eff0f5 82%,#f3f4f9 86%,#f6f7fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa572 0%,#f19f73 5%,#edb5a1 14%,#eabeaf 18%,#e5ccc7 27%,#e8d5d3 32%,#ebdee2 41%,#eae3e7 45%,#e8e7ef 59%,#eeeff4 73%,#eff0f5 82%,#f3f4f9 86%,#f6f7fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa572 0%,#f19f73 5%,#edb5a1 14%,#eabeaf 18%,#e5ccc7 27%,#e8d5d3 32%,#ebdee2 41%,#eae3e7 45%,#e8e7ef 59%,#eeeff4 73%,#eff0f5 82%,#f3f4f9 86%,#f6f7fc 100%); /* IE10+ */
    background: linear-gradient(top,  #ffa572 0%,#f19f73 5%,#edb5a1 14%,#eabeaf 18%,#e5ccc7 27%,#e8d5d3 32%,#ebdee2 41%,#eae3e7 45%,#e8e7ef 59%,#eeeff4 73%,#eff0f5 82%,#f3f4f9 86%,#f6f7fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa572', endColorstr='#f6f7fc',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
    background: #f2825b; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: rgb(215,236,235); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(215,236,235,1) 0%, rgba(216,236,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(215,236,235,1)), color-stop(100%,rgba(216,236,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(215,236,235,1) 0%,rgba(216,236,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(215,236,235,1) 0%,rgba(216,236,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(215,236,235,1) 0%,rgba(216,236,235,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(215,236,235,1) 0%,rgba(216,236,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eceb', endColorstr='#d8eceb',GradientType=1 ); /* IE6-9 */
}

