<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <applicationSettings>
        <WPFUtilities.Properties.Settings>
            <setting name="DialogFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ButtonsWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="ButtonsHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DialogControlsFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ImportExportExternalRefExtension" serializeAs="String">
                <value>.ieext</value>
            </setting>
            <setting name="RibbonBaseEditMinWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="RibbonDateSpanMinWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RuntimeDarkSharedResourcesNamespace" serializeAs="String">
                <value>/RuntimeDarkSharedResources;</value>
            </setting>
            <setting name="RuntimeLightSharedResourcesNamespace" serializeAs="String">
                <value>/RuntimeLightSharedResources;</value>
            </setting>
            <setting name="SharedResourcesNamespace" serializeAs="String">
                <value>/SharedResources;</value>
            </setting>
            <setting name="SupportedImageExtension" serializeAs="String">
                <value>.bmp|.png|.gif|.tif|.jpg|.jpeg|.tiff|.ico</value>
            </setting>
            <setting name="FontSizeToRowMinHeightFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AccessLevelPlaceHolder" serializeAs="String">
                <value>AccessLevel</value>
            </setting>
            <setting name="DefaultDeployTheme" serializeAs="String">
                <value>Blend</value>
            </setting>
            <setting name="DeployThemeColorDeltaContrast" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CustomThemes" serializeAs="String">
                <value>DevExpress.Xpf.Themes.VS2019Dark2.v21.2</value>
            </setting>
            <setting name="DarkThemeName" serializeAs="String">
                <value>VS2017Dark2</value>
            </setting>
            <setting name="LightThemeName" serializeAs="String">
                <value>VS2017Light</value>
            </setting>
            <setting name="BingMapKey" serializeAs="String">
                <value>AlyRXdH0-7gITM8V4SpqrJg7QxwD9zzbzLIICmxrhn1LS8rtJn7bpcCym6NK0qGb</value>
            </setting>
            <setting name="GeoMapOpeningParametersMaxZoom" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GeoMapOpeningParametersMinZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GeoMapOpeningParametersIncrementZoom" serializeAs="String">
                <value>0.1</value>
            </setting>
        </WPFUtilities.Properties.Settings>
    </applicationSettings>
</configuration>