<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Droptiles.master.cs" Inherits="Droptiles" %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="WebClient" />
    <meta name="author" content="Progea srl" />
    <meta name="copyright" content="Progea srl" />
    <meta name="license" content="Progea srl" />
    <meta name="apple-mobile-web-app-capable" content="yes" /> 
    
    <title>WebClient</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/droptiles.css?v=14">
    
    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>    
    
</head>
<body>
    <form id="Form1" runat="server">
        <div id="mainDiv" class="main">
            <asp:ContentPlaceHolder ID="body" runat="server">

            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>

<% if (Request.IsLocal) { %>    
    <!-- 
    If you change any of the below javascript files, make sure you run the Combine.bat
    file in the /js folder to generate the CombinedDashboard.js file again. And then don't
    forget to update the ?v=14#. Otherwise user's will have cached copies in their browser
    and won't get the newly deployed file. -->

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="js/jQueryEnhancement.js"></script>
<script type="text/javascript" src="js/jQuery.MouseWheel.js"></script>
<script type="text/javascript" src="js/jquery.kinetic.js"></script>
<script type="text/javascript" src="js/Knockout-2.1.0.js"></script>
<script type="text/javascript" src="js/knockout.sortable.js"></script>
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/Underscore.js"></script>
<script type="text/javascript" src="js/jQuery.hashchange.js"></script>
<script type="text/javascript" src="js/User.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<% } else { %>
<script type="text/javascript" src="js/Combined.js?v=14"></script>
<% } %>    

<script type="text/javascript">
    // Bootstrap initialization
    //$(document).ready(function () {
    //    $('.dropdown-toggle').dropdown();        
    //});
</script>
        
<% if (true) { %>
<script type="text/javascript">
    window.currentUser = new User({
        firstName: "None",
        lastName: "Anonymous",
        photo: "img/User No-Frame.png",
        isAnonymous: true
    });
</script>
<% } else { %>
<script type="text/javascript">
    window.currentUser = new User({
        firstName: "None",
        lastName: "Anonymous",
        photo: "img/User No-Frame.png",
        isAnonymous: true
</script>
<% } %>

    <asp:ContentPlaceHolder ID="scripts" runat="server">
    </asp:ContentPlaceHolder>
	
</html>