<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Log4NetViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LogViewer.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>SysLog</value>
            </setting>
            <setting name="BackupFilePrefix" serializeAs="String">
                <value>_backup_</value>
            </setting>
            <setting name="LogFileDefaultExt" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="LogFileFilter" serializeAs="String">
                <value>XML Files (*.xml)|*.xml</value>
            </setting>
        </LogViewer.Properties.Settings>
    </applicationSettings>
</configuration>