<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SymbolsUpdater.Properties.Settings>
            <setting name="CommonApplicationFolder" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
        </SymbolsUpdater.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DocumentManagers;Managers;Drivers;CommonPlugins;Toolbox" />
    </assemblyBinding>
  </runtime>
</configuration>