@border-color: #6593CF;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #DAEAFF;
@row-cell-border-color : #ADD1FF;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #27769E;
@group-droparea-bg-color: #DEECFF;
@group-droparea-border-color: #ADD1FF;
@clone-bg-color: #454545;
@clone-border-color: #ADD1FF;
@top-right-border-color: #ADD1FF;
@caption-row-border-color: #4A5E80;
@caption-row-bg-color: #BFDBFF;
@group-caption-drop-row-font-color:#27769E;
@pager-caption-row-border-color: #ADD1FF;
@pager-groupdrop-border-color: #ADD1FF;
@pager-groupdrop-bg-color: #BFDBFF;
@group-indent-expand-collapse-bg-color: #E3EFFF;
@group-indent-expand-collapse-border-color: #ADD1FF;
@hover-header-border-color: #ADD1FF;
@hover-group-header-border-color: #A4D0FF;
@selected-header-border-color: #ADD1FF;
@selected-header-bg-color: #E0EDFF;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #DEECFF;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #ADD1FF;
@selected-row-header-bg-color: #DEECFF;
@alt-row-bg-color: #F9F9F9;
@summary-font-color: #464749;
@summary-bg-color: #FFF5BF;
@summary-border-color: #ADD1FF;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #FFECB6;
@selection-bg-color: #FFBD69;
@currentcell-bg-color: #F68B3C;
@currentcell-font-color: #000000;
@gridpager-bg-color: #BFDBFF;
@gridpager-border-color: #688CAF;
@numericitem-font-color: #27769E;
@numeric-hover-bg-color: #ffe59b;
@spacing-color: #27769E;
@currentitem-border-color: 4A5E80;
@currentitem-bg-color: orange;
@currentitem-font-color: #000000;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #DEECFF;
@record-caption-font-color: #4378a5;
@legend-font-color: #4378a5;
@error: red;
@fieldset-border-color: #6593CF;
@custom-font-color: #000000;
@resizecol-bg-color: #6593CF;
@helper-bg-color: #F0F3F8;
@helper-border-color: #C7CBD1;
@dragelement-bg-color: #F89643;
@dragelement-font-color: #000000;
@dragelement-border-color: #C7CBD1;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #F68B3C;
@choice-wrapper-border-color: #8BB1E5;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #6593CF;
@tooltip-bg-color: #4378a5;
@tooltip-font-color: #000000;
@next-last-hover-bg-color: #ffe59b;
@filter-cell-bg-color: #DEECFF;
@filter-input-border-color: #ADD1FF; 
@filter-status-bg-color: #F9F9F9;
@filter-status-border-color: #ADD1FF; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #ADD1FF;
@tr-hover: #FBE292;
@skin: ~"Office2007Blue";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-office2007blue-menu";