
@base-background-color: #e3efff;
@base-border: 1px solid #8daed9;
@base-Header: #d0deef;
@BusinessHr-color: White;
@Workcell-color: #e6edf7;
@Workcell-select: #294c7a;
@Workcell-Hover: #bdd0e9;
@Workcell-Header: #d0deef;
@WorkCellUp-Month: #FFFFFF;
@appointment-color:#dbe6f5;
@ViewStrip-color:#ADD2FF;
@highlighAppDate: #1C3888;
@highlightSelectedDate: #FCB24A;
@color:#1c3888;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #F2B242 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.blue.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@tooltip-bg-color: #4378a5;
@tooltip-font-color: #000000;
@Appointment-text-color:Black;
@Dialog-bg-color: #FAFAFA;
@ViewStrip-text-color:Black;
@Dialog-text-color:Black;