.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Metro.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Metro .contextcontainer .applicationmenu {
  color: white;
}
.sf-ribboncontainer.Metro .menucontainer .menuimage {
  border-right: #b3b3b3;
}
.sf-ribboncontainer.Metro .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Metro .contextcontainer .active.wrappertab:hover {
  border: 1px solid #53c3ea;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: white;
}
.sf-ribboncontainer.Metro .contextcontainer .wrappertab:hover {
  border: 1px solid #53c3ea;
}
.sf-ribboncontainer.Metro .menucontainer {
  background: none repeat scroll 0 0 #159ed9;
  border: 1px solid #b3b3b3;
}
.sf-ribboncontainer.Metro .menucontainer ul {
  background: none repeat scroll 0 0 #159ed9;
  border: 1px solid #b3b3b3;
}
.sf-ribboncontainer.Metro .pagecontainer {
  background: none repeat scroll 0 0 #159ed9;
  border: 2px solid #b3b3b3;
  border-top: 2px solid #b3b3b3;
}
.sf-ribboncontainer.Metro .pagecontainer .menutext.active {
  background-color: #a8cacc;
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
}
.sf-ribboncontainer.Metro .pagecontainer .menutext:hover {
  border-bottom: 1px solid #159ccb;
  border-top: 1px solid #159ccb;
}
.sf-ribboncontainer.Metro .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Metro .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Metro .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Metro .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Metro .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Metro .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Metro .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Metro .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Metro .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Metro .contextcontainer {
  background: #159ed9;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Metro .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #159ed9;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #159ccb;
  background: #33beef;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .contextcontainer .tabcontextbar {
  background: #159ed9;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 2px solid #b3b3b3;
  color: #159ed9;
}
.sf-ribboncontainer.Metro .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Metro .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #e6e6e6;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  background: #33beef;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .groupcontainer {
  background: #159ed9;
  /* Old browsers */

  border: 1px solid #dddddd;
}
.sf-ribboncontainer.Metro .contentitems {
  background: #159ed9;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .contextcontainer .applicationmenu {
  background: #159ed9;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .menucontainer .menuitem:hover {
  background: #159ed9;
  /* Old browsers */
  border-radius: 0;
  border: 1px solid #b3b3b3;
}
.sf-ribboncontainer.Metro .pagecontainer .leftcontainer {
  background: #159ed9;
  /* Old browsers */

}
.sf-ribboncontainer.Metro .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Metro .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Metro .groupcontainer .groupbutton.backgroundhover {
  background-image: none;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #33beef;
  color: white;
}
.sf-ribboncontainer.Metro .groupcontainer .groupbutton.backgroundselected {
  background-image: none;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #a8cacc;
  color: #555555;
}
.sf-ribboncontainer.Metro .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Metro.Images.active-ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Metro .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Metro.Images.active-ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Metro {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Metro .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Metro.Images.sfGalleryView.png%>);
}
.sf-galleryview.Metro .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Metro .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Metro .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Metro .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Metro .slideup,
.sf-galleryview.Metro .slidedown,
.sf-galleryview.Metro .popup {
  position: relative;
}
.sf-galleryview.Metro .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Metro .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Metro .extracontainer ul,
.sf-galleryview.Metro .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Metro .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Metro .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Metro .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Metro .galleryrow {
  position: relative;
}
.sf-galleryview.Metro .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Metro .galleryitem:hover,
.sf-galleryview.Metro .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Metro .extracontainer .menuimage {
  border-right: 1px solid #b3b3b3;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Metro .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Metro .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Metro .gallerycontainer {
  background: none repeat scroll 0 0 #159ed9;
  border: 1px solid #b3b3b3;
}
.sf-galleryview.Metro .subcontainer {
  background: none repeat scroll 0 0 #159ed9;
  border: 1px solid #b3b3b3;
}
.sf-galleryview.Metro .extracontainer {
  border-top: 1px solid #b3b3b3;
  color: white;
}
.sf-galleryview.Metro .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Metro .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Metro .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Metro .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Metro .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Metro .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Metro .extraitems .image {
  border-right: 1px solid #b3b3b3;
  width: 20px;
}
.sf-galleryview.Metro .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Metro .galleryitem:hover {
  background: #33beef;
  /* Old browsers */
  border-radius: 0;
  border: 1px solid #159ccb;
}
.sf-galleryview.Metro .extracontainer ul li:hover {
  background: #159ed9;
  /* Old browsers */
  border-radius: 0;
  border: 1px solid #b3b3b3;
}
