.opc-monitor-table {
    table-layout: fixed;
    width: 100%;
}

.opc-monitor-table td,
.opc-monitor-table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.opc-th-resize {
    position: relative;
    user-select: none;
}

.opc-col-resizer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: col-resize;
    z-index: 1;
}

.opc-col-resizer:hover,
.opc-col-resizer:active {
    background: var(--bs-primary);
    opacity: 0.4;
}
