<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Meters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Meters.Properties.Settings>
            <setting name="TagBackground" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="TagFill" serializeAs="String">
                <value>Fill</value>
            </setting>
            <setting name="MinWidthControlDimension" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="MinControlWidthSize" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="MinControlHeightSize" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="MinControlWSizePrecVisibilityA" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlWSizePrecVisibilityB" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlWSizePrecVisibilityC" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlWSizePrecVisibilityD" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlWSizePrecVisibilityE" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlHSizePrecVisibilityA" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlHSizePrecVisibilityB" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlHSizePrecVisibilityC" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlHSizePrecVisibilityD" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlHSizePrecVisibilityE" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MinControlVisibility" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="SvgBarOffset" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MeterInnerPadding" serializeAs="String">
                <value>0</value>
            </setting>
        </Meters.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ActiproSoftware.Shared.Wpf" publicKeyToken="36ff2196ab5654b9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1.1.0" newVersion="20.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>