.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    max-width: none;
}

.root {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.ui-layout-north {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.ui-layout-south {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.ui-layout-west {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
}

.ui-layout-east {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
}

div#rootAppBars {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div#svgcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.dx-scrollview div#svgcontainer {
    overflow: initial;
}

div#mapcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

div#arcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#reportContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tileView {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.dx-tile-content {
    height: 100%;
    padding: 0;
    position: relative;
}

.dx-tile {
    border: 1px solid #999;
    overflow: hidden;
}

.dx-tile.dx-state-hover {
    border-color: #EEE;
}

.dx-tile-content .image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: block;
}

.dx-tile-content .title {
    font-size: 18px;
    position: absolute;
    color: white;
    padding: 2px;
    margin: 5px;
    word-break: break-word;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@font-face {
    font-family: LedDisplay;
    src: url('The Led Display St.ttf');
}

@font-face {
    font-family: Digital;
    src: url('digital-7.ttf');
}

.dx-icon {
    font-size: 4em;
    width: auto;
    height: auto;
    line-height: normal;
}

.dx-state-hover .dx-icon {
    color: red;
}

.disableStyle {
    opacity: 0.5;
}

.disablePointer {
    pointer-events: none;
}

thead.fixed {
    position: fixed;
    z-index: 2;
    top: 0;
}

.fixedTable {
    width: 100%;
}

.fixedTable th {
    background-color: #333333;
}

.ui-widget.ui-keyboard {
    border-radius: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: auto;
    bottom: 0;
    position: fixed;
    white-space: nowrap;
    overflow-x: auto;
    /* see issue #484 */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding: 0.3em 0 0 0;
}

.ui-keyboard span {
    font-size: 1.1em;
}

.ui-keyboard-button {
    margin: .1em;
    cursor: pointer;
}

.ui-keyboard .ui-keyboard-button {
    margin: 0.2vmin;
}
.ui-keyboard[data-ui-keyboard-layout="num"] .ui-keyboard-button {
    height: 13vmin;
    width: 22vmin;
}

.ui-keyboard[data-ui-keyboard-layout="num"] div {
    font-size: 5vmin;
}

.ui-keyboard[data-ui-keyboard-layout="qwerty"] .ui-keyboard-button {
    height: min(15vmin, 10vw);
    min-width: 6vw;
}

.ui-keyboard[data-ui-keyboard-layout="qwerty"] div {
    font-size: 3.7vmin;
}

.ui-keyboard[data-ui-keyboard-layout="qwerty"] input.ui-keyboard-preview {
    font-size: 5vmin;
}

.dx-header-row {
    color: #DEDEDE;
}

#imgBackground {
    margin-top: 10%;
    width: 70%;
    max-width: 900px;
}

.webKitRenderCorrection {
    transform-origin: top left;
}

.popupButtonsContainer .dx-button {
    margin: 0px 10px;
}

.dx-button-content img {
    filter: drop-shadow(0px 0px 2px black);
}

div.dx-dropdowneditor-button.dx-button-mode-contained, div.dx-dropdowneditor-button.dx-button-mode-outlined, div.dx-dropdowneditor-button.dx-button-mode-text {
    background: #444;
    border: 1px solid #666;
}

div.dx-dropdowneditor-icon {
    color: #f2f2f2;
}

div.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
    background-color: #222;
    border-color: transparent;
}
div.toolbarSeparator10 {
    padding: 0px 10px;
    float: left;
}

/*#region Toolbox widgets CSS */

/*#region PdfViewer*/

.pdfjsPageContainer {
    position: relative;
    display: inline-block;
}

.PdfViewer canvas {
    padding: 5px;
}

.PdfViewer.singlePage .pdfjsPageContainer, .PdfViewer.singlePage canvas {
    display: block;
    margin: auto;
}

.PdfViewer #edit::-webkit-scrollbar {
    background: transparent;
    height: 10px;
    overflow: visible;
    width: 10px;
}

.PdfViewer #edit::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 5px;
}

.PdfViewer #edit::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.PdfViewer #edit::-webkit-scrollbar-corner {
    background: transparent;
}

.PdfViewer #large-indicator {
    z-index: 1;
}

/*#endregion*/

/*#region SliderControl */

.SliderControl div.noUi-target {
    border: none;
    background: transparent;
    box-shadow: none;
}

.SliderControl div.noUi-target.noUi-horizontal {
    top: 70px;
    height: 5px;
}

.SliderControl div.noUi-target.noUi-vertical {
    width: 5px;
}

.SliderControl .noUi-horizontal div.noUi-handle {
    top: -11px;
}

.SliderControl .noUi-vertical div.noUi-handle {
    left: -11px;
}

.SliderControl div.noUi-horizontal .noUi-connect {
    box-shadow: inset #888 0px -1px 0px 0px;
    background: #515151;
}

.SliderControl div.noUi-vertical .noUi-connect {
    box-shadow: inset #888 -1px 0px 0px 0px;
    background: #515151;
}

.SliderControl .noUi-pips.noUi-pips-horizontal {
    top: -80px;
}

.SliderControl .noUi-value.noUi-value-horizontal {
    top: -30px;
}

.SliderControl div.noUi-horizontal .noUi-base {
    top: -50px;
}

.SliderControl .noUi-handle:focus, .noUi-touch-area:focus {
    outline: none !important;
}

.SliderControl .noUi-target .noUi-connects {
    overflow: visible;
}

/*#endregion */

/*#region GridAlarmWindow */

.GridAlarmWindow .dx-button-mode-contained.clicked {
    border-color: #fff;
    box-shadow: inset 0px 0px 5px #fff;
}

.GridAlarmWindow .blinkingRow, .BannerAlarmWindow .blinkingRow {
    background: white !important;
    color: black !important;
}

.GridAlarmWindow .dx-datagrid .dx-row td {
    padding: 2px;
}

.alarmThresholdIconContainer {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
}

.GridAlarmWindow .dx-datagrid-rowsview .dx-selection.dx-row td {
    background-color: initial !important;
    color: initial !important;
}

.notWrappedCell {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.GridAlarmWindow .verticalCenteredContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

/*#endregion */
/*#region ReportViewer */
.reportView .dxrd-tab-panel-right {
    display: none;
}

/*#endregion */

/*#region Chart */

.Chart .dxc.dxc-chart .dxc-labels text {
    text-shadow: 1px 1px 3px black, -1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black;
}

.Chart.webKitRenderCorrection .dxc.dxc-chart .dxc-labels text {
    text-shadow: 1px 1px 3px black, -1px 1px 3px transparent, -1px -1px 3px transparent, 1px -1px 3px transparent;
}

.Chart .dx-button-mode-contained.clicked, .ChartXY .dx-button-mode-contained.clicked, .DataAnalisysRT .dx-button-mode-contained.clicked {
    background-color: #fc8807;
    color: #333;
}

.Chart .dx-button-mode-contained.dx-state-hover.clicked, .ChartXY .dx-button-mode-contained.dx-state-hover.clicked {
    background-color: #fcA827;
    color: #333;
}

.Chart div.dx-datagrid .dx-row > td, .ChartXY div.dx-datagrid .dx-row > td {
    padding: 4px;
}

/*#endregion */

/*#region GridControl */

.GridControl .dataGridToolbar > div {
    width: 18%;
}

.GridControl #mainDataGrid .dx-datagrid-addrow-button {
    display: none !important;
}

.GridControl #mainDataGrid td[role=columnheader] .dx-datagrid-text-content {
    opacity: 0;
}

.GridControl .cellTemplateContainer {
    display: flex;
    justify-content: center;
}

.GridControl .cellImageCaption {
    margin: 2px;
    text-align: center;
}

/*#endregion */

/*#region StatesChartControl */

.StatesChartControl .buttonsContainer .dx-button .dx-button-content {
    font-size: 12px;
    padding: 0px 10px;
}

.StatesChartControl .buttonsContainer .dx-datebox-datetime input.dx-texteditor-input, .buttonsContainer .dx-selectbox-container input.dx-texteditor-input {
    font-size: 12px;
    padding: 0px 10px !important;
    min-height: 23px;
}

.StatesChartControl .buttonsContainer > div {
    height: 25px;
}

.StatesChartControl .dx-button-has-icon .dx-button-content {
    padding: 6px;
}

.StatesChartControl .topButton {
    margin: 3px;
    min-height: 36px;
}

/*#endregion */

/*#region RealTimeTrendControl */

.RealTimeTrendControl div.dx-datagrid .dx-row > td {
    padding: 4px;
}

/*#endregion */

/*#region RecipeGrid */

.RecipeGrid #recipegrid {
    max-width: none !important;
}

.RecipeGrid #recipegrid td.dx-editor-cell {
    border-color: #4a4a4a !important;
    border-width: 1px 2px !important;
}

.RecipeGrid #recipeToolbar > div {
    width: 15%; /*11%;*/
}

.RecipeGrid div.recipeEditTemplate {
    margin: 5px !important;
}

.RecipeGrid .lastRecipeErrorOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 35%;
    font-size: 2em;
}

.RecipeGrid .errorAckedBtn {
    padding: 5px;
    box-shadow: 0px 0px 10px white;
    margin: 10px;
}

.RecipeGrid .dvErrorTemplate {
    color: red;
}

.RecipeGrid #recipeErrorBar > td {
    white-space: normal;
    text-align: center;
    padding: 5px;
    background: #d9534f;
    cursor: pointer;
    font-size: 0.9em;
}
/*#endregion */
/*#region DataAnalisysRT */
.DataAnalisysRT div.dx-datagrid .dx-row > td {
    padding: 4px;
}

.DataAnalisysRT .buttonsContainer .dx-button .dx-button-content {
    font-size: 12px;
    padding: 0px 10px;
}

.DataAnalisysRT .buttonsContainer .dx-datebox-datetime input.dx-texteditor-input, .buttonsContainer .dx-selectbox-container input.dx-texteditor-input {
    font-size: 12px;
    padding: 0px 10px !important;
    min-height: 23px;
}

.DataAnalisysRT .buttonsContainer > div {
    height: 25px;
}

.DataAnalisysRT .dx-button-has-icon .dx-button-content {
    padding: 6px;
}

.DataAnalisysRT .topButton {
    min-height: 36px;
    margin: 3px;
}

/*#endregion */

/*#region ButtonControl */

.ButtonControl .pressedState {
    transform-origin: center;
    transform: scale(0.95);
    transform-box: fill-box;
}

/*#endregion */

/*#region BannerAlarmWindow */

.BannerAlarmWindow .spinBtn {
    text-align: center;
    height: 50%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
}

.BannerAlarmWindow #spinner {
    height: 100%;
}

/*#endregion */

/*#region AnimatedText, FullAnimatedText */

@keyframes rightleft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes leftright {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes topbottom {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes bottomtop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes rotateright {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateleft {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleX {
    50% {
        transform: scale(1.5, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scaleY {
    50% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scaleXY {
    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes skewX {
    50% {
        transform: skew(180deg, 0deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes skewY {
    50% {
        transform: skew(0deg, 180deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes skewXY {
    50% {
        transform: skew(180deg, 180deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

/*#endregion */

/*#region ListBoxControl*/

.ListBoxControl .dx-list-item-content {
    padding: 2px 4px;
    overflow: visible;
}

.ListBoxControl .dx-list-item {
    width: auto;
    min-width: 100%;
}

.ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected {
    background-color: initial;
}

.ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: initial;
}

.ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
    background-color: initial;
}

.ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active .dx-list-slide-item-content, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
    background-color: initial;
}

.ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected, .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active, .dx-device-mobile .ListBoxControl .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover {
    background-color: var(--listboxBgColor) !important;
    color: var(--listboxFgColor) !important;
}

.ListBoxControl .dx-scrollview-content {
    padding: 2px;
}

/*#endregion */

/*#region StreamMediaElement*/

.StreamMediaElementUC #loadingMessage {
    color: #fff;
}

.StreamMediaElementUC #loadingMessage.inError {
    color: #ff0000;
}

/*#endregion*/
.dx-datagrid .dx-datagrid-header-panel .dx-toolbar {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

/*#endregion */

/*#region LinearMeterControl*/
.LinearMeterControl .dxgVerticalTicksline {
    transform: rotate(180deg) scaleX(0.6);
    transform-box: fill-box;
    transform-origin: center;
}

.LinearMeterControl .dxgHorizontalTicksline {
    transform: rotate(180deg) scaleY(0.6);
    transform-box: fill-box;
    transform-origin: center;
}
/*#endregion*/

/*#region Quality*/
.badQuality {
    box-shadow: 0px 0px 5px 0px red;
}
.badQuality_iOS {
    overflow: visible;
}
.badQualityFilter {
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(255, 0, 0, 1));
    filter: drop-shadow( 0px 0px 10px rgba(255, 0, 0, 1));
}
.badQualityBorder {
    border: 2px solid red !important;
}
.badQualityOutline {
    outline: 9px solid red;
    outline-offset: -9px;
}
/*#endregion*/

/*#region Popups*/
.dx-popup-title.dx-toolbar .dx-toolbar-label {
    max-width: none!important;
}
.dx-popup-title.dx-toolbar .dx-toolbar-center {
    float: left!important;
}
.dx-popup.dx-overlay .dx-overlay-wrapper {
    width: 100% !important;
    height: 100% !important;
}
.noPaddingPopup .dx-popup-content {
    position: relative;
    padding: 0px;
}
/*#endregion*/
.selectedViewerPanel {
    color: orange;
    opacity: 0.7;
    background: transparent!important;
}
.viewerPanel {
    background: #555;
}

.fittedDataGrid .dx-datagrid-focus-overlay {
    display: none!important;
}

.fittedDataGrid .dx-editor-cell.dx-focused .dx-texteditor-input {
    box-shadow: inset 0px 0px 0px 3px #1F8FB9
}

.ribbonStyleIcons {
    min-width: 1300px;
}

.ribbonStyleIcons .dx-button-has-icon .dx-button-content .dx-icon {
    font-size: 35px;
    margin-right: 15px;
    padding-top: 3px;
}
.ribbonStyleIcons .dx-button-has-text .dx-button-text {
    display: block;
    padding-top: 5px;
}

/*#region DevExtreme UI dialog*/
.dx-dialog .dx-overlay-content {
    max-width: 60%;
}

.dx-dialog .dx-popup-content.dx-dialog-content {
    min-width: 80px;
}
/*#endregion*/

.fobjReplacer {
    user-select: none;
}

.fobjReplacer text {
    user-select: text;
}

.invalidDxList {
    box-shadow: inset 0px 0px 10px red;
}