
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #3C3C3C;
@click-font-color: @font-color;
@hover-font-color: #000000;
@active-font-color: #000000;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@content-a-font-color: #3c3c3c;
@header-a-font-color: #3c3c3c;
@highlight-font-color: #363636;
@error-font-color: #cd0a0a;
@upload-font-color: #F7F7F7;

@border-size: 1px;
@border-type: solid;
@border-color: #6F7074;
@hover-border-color: #FFBD69;
@active-border-color: #FEB449;
@content-border-color: #9d9ea0;
@header-border-color: #9d9ea0;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;


@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #66676E;
@hover-bg-color: #ffecac;
@active-bg-color: #ffd870;
@progress-bg-color: #ACAEAE;
@submenu-bg-color:#f6f6f6;
@error-bg-color: #fef1ec;
@hightlight-bg-color: #fbf9ee;
@header-bg-color: #eceeef;
@content-bg-color: #ffffff;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@popup-bg-color: @bg-color;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@seperator-color: #91979F;
@pane-bg-color: @bg-color;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #d2d5af;
@refresh-audio-button-border-color: #4c535c;
@captcha-image-border-color: #4c535c;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.active-bg-ver.png%>)";


@skin: ~"Office2007Black";
@foldername: ~"Themes";

@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@content-bg: ~"none";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";

@scroll-bg-color:#ECEEEF;
@scroll-border:1px solid #9D9EA0;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #fbe9a2; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe9a2), color-stop(3%,#fae595), color-stop(7%,#fae189), color-stop(18%,#fae189), color-stop(20%,#f8df87), color-stop(24%,#fae289), color-stop(49%,#f9e188), color-stop(83%,#faf2c5), color-stop(91%,#fdfdeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* IE10+ */
    background: linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe9a2', endColorstr='#fdfdeb',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #F1C43F;
}

.hover-gradient()
{
	background: #fbe9a2; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe9a2), color-stop(3%,#fae595), color-stop(7%,#fae189), color-stop(18%,#fae189), color-stop(20%,#f8df87), color-stop(24%,#fae289), color-stop(49%,#f9e188), color-stop(83%,#faf2c5), color-stop(91%,#fdfdeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* IE10+ */
    background: linear-gradient(top,  #fbe9a2 0%,#fae595 3%,#fae189 7%,#fae189 18%,#f8df87 20%,#fae289 24%,#f9e188 49%,#faf2c5 83%,#fdfdeb 91%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe9a2', endColorstr='#fdfdeb',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #F1C43F;
}

.container-gradient()
{
	background: rgb(199,199,198); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(199,199,198,1) 0%, rgba(199,199,198,1) 10%, rgba(197,197,196,1) 13%, rgba(183,182,182,1) 26%, rgba(171,171,171,1) 33%, rgba(150,149,148,1) 51%, rgba(133,133,133,1) 67%, rgba(129,128,128,1) 74%, rgba(129,128,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,199,198,1)), color-stop(10%,rgba(199,199,198,1)), color-stop(13%,rgba(197,197,196,1)), color-stop(26%,rgba(183,182,182,1)), color-stop(33%,rgba(171,171,171,1)), color-stop(51%,rgba(150,149,148,1)), color-stop(67%,rgba(133,133,133,1)), color-stop(74%,rgba(129,128,128,1)), color-stop(100%,rgba(129,128,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c6', endColorstr='#818080',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #858585;
}
.itemcontainer-gradient()
{
	background: rgb(212,212,212); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,212,212,1) 0%, rgba(213,213,213,1) 3%, rgba(205,205,205,1) 27%, rgba(200,200,200,1) 60%, rgba(198,198,198,1) 61%, rgba(199,199,199,1) 63%, rgba(195,195,195,1) 74%, rgba(190,190,190,1) 81%, rgba(188,188,188,1) 89%, rgba(185,185,185,1) 93%, rgba(186,186,186,1) 95%, rgba(182,182,182,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,1)), color-stop(3%,rgba(213,213,213,1)), color-stop(27%,rgba(205,205,205,1)), color-stop(60%,rgba(200,200,200,1)), color-stop(61%,rgba(198,198,198,1)), color-stop(63%,rgba(199,199,199,1)), color-stop(74%,rgba(195,195,195,1)), color-stop(81%,rgba(190,190,190,1)), color-stop(89%,rgba(188,188,188,1)), color-stop(93%,rgba(185,185,185,1)), color-stop(95%,rgba(186,186,186,1)), color-stop(100%,rgba(182,182,182,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(213,213,213,1) 3%,rgba(205,205,205,1) 27%,rgba(200,200,200,1) 60%,rgba(198,198,198,1) 61%,rgba(199,199,199,1) 63%,rgba(195,195,195,1) 74%,rgba(190,190,190,1) 81%,rgba(188,188,188,1) 89%,rgba(185,185,185,1) 93%,rgba(186,186,186,1) 95%,rgba(182,182,182,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(213,213,213,1) 3%,rgba(205,205,205,1) 27%,rgba(200,200,200,1) 60%,rgba(198,198,198,1) 61%,rgba(199,199,199,1) 63%,rgba(195,195,195,1) 74%,rgba(190,190,190,1) 81%,rgba(188,188,188,1) 89%,rgba(185,185,185,1) 93%,rgba(186,186,186,1) 95%,rgba(182,182,182,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(213,213,213,1) 3%,rgba(205,205,205,1) 27%,rgba(200,200,200,1) 60%,rgba(198,198,198,1) 61%,rgba(199,199,199,1) 63%,rgba(195,195,195,1) 74%,rgba(190,190,190,1) 81%,rgba(188,188,188,1) 89%,rgba(185,185,185,1) 93%,rgba(186,186,186,1) 95%,rgba(182,182,182,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(213,213,213,1) 3%,rgba(205,205,205,1) 27%,rgba(200,200,200,1) 60%,rgba(198,198,198,1) 61%,rgba(199,199,199,1) 63%,rgba(195,195,195,1) 74%,rgba(190,190,190,1) 81%,rgba(188,188,188,1) 89%,rgba(185,185,185,1) 93%,rgba(186,186,186,1) 95%,rgba(182,182,182,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */ 
}

.active-hover-gradient()
{
	background: #D4D4D4;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #858585;
	background: rgb(155,147,163); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,147,163,1) 0%, rgba(136,129,147,1) 5%, rgba(104,97,112,1) 24%, rgba(90,87,95,1) 52%, rgba(83,81,84,1) 86%, rgba(82,81,84,1) 90%, rgba(89,89,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,147,163,1)), color-stop(5%,rgba(136,129,147,1)), color-stop(24%,rgba(104,97,112,1)), color-stop(52%,rgba(90,87,95,1)), color-stop(86%,rgba(83,81,84,1)), color-stop(90%,rgba(82,81,84,1)), color-stop(100%,rgba(89,89,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(155,147,163,1) 0%,rgba(136,129,147,1) 5%,rgba(104,97,112,1) 24%,rgba(90,87,95,1) 52%,rgba(83,81,84,1) 86%,rgba(82,81,84,1) 90%,rgba(89,89,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(155,147,163,1) 0%,rgba(136,129,147,1) 5%,rgba(104,97,112,1) 24%,rgba(90,87,95,1) 52%,rgba(83,81,84,1) 86%,rgba(82,81,84,1) 90%,rgba(89,89,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(155,147,163,1) 0%,rgba(136,129,147,1) 5%,rgba(104,97,112,1) 24%,rgba(90,87,95,1) 52%,rgba(83,81,84,1) 86%,rgba(82,81,84,1) 90%,rgba(89,89,89,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(155,147,163,1) 0%,rgba(136,129,147,1) 5%,rgba(104,97,112,1) 24%,rgba(90,87,95,1) 52%,rgba(83,81,84,1) 86%,rgba(82,81,84,1) 90%,rgba(89,89,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b93a3', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: rgb(189,173,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(189,173,90,1) 6%, rgba(192,176,95,1) 23%, rgba(193,177,102,1) 30%, rgba(191,176,99,1) 32%, rgba(185,170,102,1) 43%, rgba(174,159,116,1) 51%, rgba(161,149,122,1) 57%, rgba(153,142,110,1) 64%, rgba(145,135,108,1) 68%, rgba(128,119,107,1) 72%, rgba(105,97,99,1) 79%, rgba(95,89,94,1) 81%, rgba(78,74,83,1) 87%, rgba(70,68,72,1) 96%, rgba(71,69,73,1) 98%, rgba(80,79,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(189,173,90,1)), color-stop(23%,rgba(192,176,95,1)), color-stop(30%,rgba(193,177,102,1)), color-stop(32%,rgba(191,176,99,1)), color-stop(43%,rgba(185,170,102,1)), color-stop(51%,rgba(174,159,116,1)), color-stop(57%,rgba(161,149,122,1)), color-stop(64%,rgba(153,142,110,1)), color-stop(68%,rgba(145,135,108,1)), color-stop(72%,rgba(128,119,107,1)), color-stop(79%,rgba(105,97,99,1)), color-stop(81%,rgba(95,89,94,1)), color-stop(87%,rgba(78,74,83,1)), color-stop(96%,rgba(70,68,72,1)), color-stop(98%,rgba(71,69,73,1)), color-stop(100%,rgba(80,79,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(189,173,90,1) 6%,rgba(192,176,95,1) 23%,rgba(193,177,102,1) 30%,rgba(191,176,99,1) 32%,rgba(185,170,102,1) 43%,rgba(174,159,116,1) 51%,rgba(161,149,122,1) 57%,rgba(153,142,110,1) 64%,rgba(145,135,108,1) 68%,rgba(128,119,107,1) 72%,rgba(105,97,99,1) 79%,rgba(95,89,94,1) 81%,rgba(78,74,83,1) 87%,rgba(70,68,72,1) 96%,rgba(71,69,73,1) 98%,rgba(80,79,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(189,173,90,1) 6%,rgba(192,176,95,1) 23%,rgba(193,177,102,1) 30%,rgba(191,176,99,1) 32%,rgba(185,170,102,1) 43%,rgba(174,159,116,1) 51%,rgba(161,149,122,1) 57%,rgba(153,142,110,1) 64%,rgba(145,135,108,1) 68%,rgba(128,119,107,1) 72%,rgba(105,97,99,1) 79%,rgba(95,89,94,1) 81%,rgba(78,74,83,1) 87%,rgba(70,68,72,1) 96%,rgba(71,69,73,1) 98%,rgba(80,79,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(189,173,90,1) 6%,rgba(192,176,95,1) 23%,rgba(193,177,102,1) 30%,rgba(191,176,99,1) 32%,rgba(185,170,102,1) 43%,rgba(174,159,116,1) 51%,rgba(161,149,122,1) 57%,rgba(153,142,110,1) 64%,rgba(145,135,108,1) 68%,rgba(128,119,107,1) 72%,rgba(105,97,99,1) 79%,rgba(95,89,94,1) 81%,rgba(78,74,83,1) 87%,rgba(70,68,72,1) 96%,rgba(71,69,73,1) 98%,rgba(80,79,81,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(189,173,90,1) 6%,rgba(192,176,95,1) 23%,rgba(193,177,102,1) 30%,rgba(191,176,99,1) 32%,rgba(185,170,102,1) 43%,rgba(174,159,116,1) 51%,rgba(161,149,122,1) 57%,rgba(153,142,110,1) 64%,rgba(145,135,108,1) 68%,rgba(128,119,107,1) 72%,rgba(105,97,99,1) 79%,rgba(95,89,94,1) 81%,rgba(78,74,83,1) 87%,rgba(70,68,72,1) 96%,rgba(71,69,73,1) 98%,rgba(80,79,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdad5a', endColorstr='#504f51',GradientType=0 ); /* IE6-9 */
    border-left: @border-size @border-type #FCE914;
    border-right: @border-size @border-type #FCE914;
    border-top: @border-size+1 @border-type #FCE914;
    color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	background: rgb(200,199,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(200,199,200,1) 0%, rgba(169,165,151,1) 5%, rgba(169,165,152,1) 9%, rgba(182,180,179,1) 45%, rgba(200,199,200,1) 82%, rgba(200,199,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,199,200,1)), color-stop(5%,rgba(169,165,151,1)), color-stop(9%,rgba(169,165,152,1)), color-stop(45%,rgba(182,180,179,1)), color-stop(82%,rgba(200,199,200,1)), color-stop(100%,rgba(200,199,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(200,199,200,1) 0%,rgba(169,165,151,1) 5%,rgba(169,165,152,1) 9%,rgba(182,180,179,1) 45%,rgba(200,199,200,1) 82%,rgba(200,199,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(200,199,200,1) 0%,rgba(169,165,151,1) 5%,rgba(169,165,152,1) 9%,rgba(182,180,179,1) 45%,rgba(200,199,200,1) 82%,rgba(200,199,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(200,199,200,1) 0%,rgba(169,165,151,1) 5%,rgba(169,165,152,1) 9%,rgba(182,180,179,1) 45%,rgba(200,199,200,1) 82%,rgba(200,199,200,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(200,199,200,1) 0%,rgba(169,165,151,1) 5%,rgba(169,165,152,1) 9%,rgba(182,180,179,1) 45%,rgba(200,199,200,1) 82%,rgba(200,199,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a597', endColorstr='#c8c7c8',GradientType=0 ); /* IE6-9 */
}

.ribboncontainer-hover()
{
	background: #faf17a; /* Old browsers */
    background: -moz-linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf17a), color-stop(5%,#ebe27d), color-stop(9%,#eade92), color-stop(14%,#eadfa7), color-stop(27%,#e5decb), color-stop(32%,#e9e3d7), color-stop(55%,#eee9ef), color-stop(73%,#f3f1f6), color-stop(82%,#f4f2f7), color-stop(86%,#f8f6fb), color-stop(100%,#fbf9fe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #faf17a 0%,#ebe27d 5%,#eade92 9%,#eadfa7 14%,#e5decb 27%,#e9e3d7 32%,#eee9ef 55%,#f3f1f6 73%,#f4f2f7 82%,#f8f6fb 86%,#fbf9fe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #faf17a 0%,#ebe27d 5%,#eade92 9%,#eadfa7 14%,#e5decb 27%,#e9e3d7 32%,#eee9ef 55%,#f3f1f6 73%,#f4f2f7 82%,#f8f6fb 86%,#fbf9fe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #faf17a 0%,#ebe27d 5%,#eade92 9%,#eadfa7 14%,#e5decb 27%,#e9e3d7 32%,#eee9ef 55%,#f3f1f6 73%,#f4f2f7 82%,#f8f6fb 86%,#fbf9fe 100%); /* IE10+ */
    background: linear-gradient(top, #faf17a 0%,#ebe27d 5%,#eade92 9%,#eadfa7 14%,#e5decb 27%,#e9e3d7 32%,#eee9ef 55%,#f3f1f6 73%,#f4f2f7 82%,#f8f6fb 86%,#fbf9fe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf17a', endColorstr='#fbf9fe',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
.pagecontainer-leftcontainer()
{
	background: rgb(199,199,198); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(199,199,198,1) 0%, rgba(199,199,198,1) 10%, rgba(197,197,196,1) 13%, rgba(183,182,182,1) 26%, rgba(171,171,171,1) 33%, rgba(150,149,148,1) 51%, rgba(133,133,133,1) 67%, rgba(129,128,128,1) 74%, rgba(129,128,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(199,199,198,1)), color-stop(10%,rgba(199,199,198,1)), color-stop(13%,rgba(197,197,196,1)), color-stop(26%,rgba(183,182,182,1)), color-stop(33%,rgba(171,171,171,1)), color-stop(51%,rgba(150,149,148,1)), color-stop(67%,rgba(133,133,133,1)), color-stop(74%,rgba(129,128,128,1)), color-stop(100%,rgba(129,128,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(199,199,198,1) 0%,rgba(199,199,198,1) 10%,rgba(197,197,196,1) 13%,rgba(183,182,182,1) 26%,rgba(171,171,171,1) 33%,rgba(150,149,148,1) 51%,rgba(133,133,133,1) 67%,rgba(129,128,128,1) 74%,rgba(129,128,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c6', endColorstr='#818080',GradientType=1 ); /* IE6-9 */
}

