<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImportWizardPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImportWizardPlugin.Properties.Settings>
            <setting name="TagExtension" serializeAs="String">
                <value>.movrealtimedb</value>
            </setting>
            <setting name="DLRExtension" serializeAs="String">
                <value>.movdlrec</value>
            </setting>
            <setting name="AlarmExtension" serializeAs="String">
                <value>.movalr</value>
            </setting>
            <setting name="ScreenExtension" serializeAs="String">
                <value>.movscr</value>
            </setting>
            <setting name="DriverSettingExtension" serializeAs="String">
                <value>.drvsettings</value>
            </setting>
            <setting name="AppNameSuffix" serializeAs="String">
                <value>IOServer</value>
            </setting>
        </ImportWizardPlugin.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Drawing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>