.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Turquoise .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Turquoise .ef-toggle:hover {
  background-color: #b4deee;
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Turquoise .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Turquoise-horizontal {
  width: 100%;
  height: 32px;
}
ul.Turquoise-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #b4deee;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-turquoise-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-turquoise-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-turquoise-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Turquoise .sf-sp-tr {
  background-position: 2px -169px;
}
.Turquoise .sf-sp-vwrapper,
.Turquoise .sf-sp-hwrapper {
  background-color: #e3f3f3;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Turquoise {
  border-color: #52b9bb;
  color: black;
}
.Syncfusion-Grid-Turquoise .GridContent .Table {
  border-top-color: #90d0d0;
  border-bottom-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .GridContent {
  background-color: white;
}
.Syncfusion-Grid-Turquoise .Gridtoolbar {
  border-top-color: #90d0d0 !important;
}
.Syncfusion-Grid-Turquoise .GroupDropArea {
  background-color: #b1e5e3;
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise.cloneProperties {
  color: black;
  background-color: #e0f2f2;
  border-color: #bbe3e3;
}
.Syncfusion-Grid-Turquoise th.MasterHeaderLeftCell {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .CaptionRow {
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .HeaderCell,
.Syncfusion-Grid-Turquoise .GroupTopLeftCell,
.Syncfusion-Grid-Turquoise .TopLeftCell,
.Syncfusion-Grid-Turquoise .CaptionRow,
.Syncfusion-Grid-Turquoise .HeaderCellHover {
  border-color: #b2dded;
}
.Syncfusion-Grid-Core .sf-toolbar.Turquoise-horizontal {
  border-color: #b2dded;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Turquoise .sf-sp-tr {
  border-color: #b2dded;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Turquoise .PagerCaptionRow {
  border-top-color: #bbe3e3;
}
.Syncfusion-Grid-Turquoise .PagerGroupDropArea {
  border-top-color: #bbe3e3;
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .GroupCaption {
  background-color: #cfebee;
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .HeaderCellHover,
.Syncfusion-Grid-Turquoise .GroupHeaderCell:hover {
  color: black;
}
.Syncfusion-Grid-Turquoise .GroupHeaderCell,
.Syncfusion-Grid-Turquoise .GroupHeaderCell:hover,
.Syncfusion-Grid-Turquoise .GrpHdrUnboundColumn {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .GroupHeaderCell {
  color: black;
  border-color: #52b9bb;
}
.Syncfusion-Grid-Turquoise .SelectedHeaderCell {
  border-color: #90d0d0;
  color: black;
}
.Syncfusion-Grid-Turquoise .RowHeader {
  border-color: #90d0d0;
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Turquoise .UnboundCell {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .SelectedRowHeaderCell,
Syncfusion-Grid-Turquoise .UnboundButton {
  border-color: #90d0d0;
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .RowCell,
.Syncfusion-Grid-Turquoise .EmptyCell,
.Syncfusion-Grid-Turquoise tr[class*=ChildRow] > .ChildGrid {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .Alt_Row {
  background-color: #f3f8fb;
}
.Syncfusion-Grid-Turquoise .IndentCell {
  border-color: #90d0d0;
  background-color: #cfebee;
}
.Syncfusion-Grid-Turquoise .Summary {
  color: black;
  background-color: #90d0d0;
  border-color: #59bbbb;
}
.Syncfusion-Grid-Turquoise .GridSummary {
  border: 1px none #59bbbb;
}
.Syncfusion-Grid-Turquoise .RecordPlusCollapse,
.Syncfusion-Grid-Turquoise .RecordPlusExpand {
  background-color: #cfebee;
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .MasterCellCollapse,
.Syncfusion-Grid-Turquoise .MasterCellExpand {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .RecordPlusExpand > div,
.Syncfusion-Grid-Turquoise .MasterCellExpand > div {
  background-color: #cfebee;
}
.Syncfusion-Grid-Turquoise .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Turquoise .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-Turquoise .SelectedColumn {
  background-color: #a1cfd1;
  color: black;
}
.Syncfusion-Grid-Turquoise .SelectionBackground {
  background-color: #90d0d0;
  color: black;
}
.Syncfusion-Grid-Turquoise .CurrentCell {
  background-color: #d5eef4;
  color: #0f7273;
}
.Syncfusion-Grid-Turquoise .GridPager {
  background-color: #d2ebeb;
  border-color: #52b9bb;
}
.Syncfusion-Grid-Turquoise .GridPager,
.Syncfusion-Grid-Turquoise .GridPager .NumericItem,
.Syncfusion-Grid-Turquoise .Spacing,
.Syncfusion-Grid-Turquoise .CaptionRow,
.Syncfusion-Grid-Turquoise .GroupDropArea {
  color: black;
}
.Syncfusion-Grid-Turquoise .NumericItem-hover {
  background-color: #b4deee;
  color: black;
}
ul.Turquoise ul li a span.arrows,
ul.Turquoise-context span.arrows,
ul.Turquoise-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Turquoise .PrevPageDisabled,
.Syncfusion-Grid-Turquoise .PrevPage,
.Syncfusion-Grid-Turquoise .NextPage,
.Syncfusion-Grid-Turquoise .NextPageDisabled,
.Syncfusion-Grid-Turquoise .Descending,
.Syncfusion-Grid-Turquoise .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.Turquoise_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Turquoise .RecordPlusCollapse > div,
.Syncfusion-Grid-Turquoise .MasterCellCollapse > div,
.Syncfusion-Grid-Turquoise .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Turquoise .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Turquoise .HeaderCellHover,
.sf-grid-turquoise-menu .button-wrapper,
.sf-grid-turquoise-menu .button-wrapper:hover,
.Syncfusion-Grid-Turquoise .FilterCellHover,
.Syncfusion-Grid-Turquoise .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.hover-bg.png%>) repeat-x scroll center bottom #eaffff;
}
.sf-grid-turquoise-menu .sf-choiceList,
.sf-grid-turquoise-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-Turquoise .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Turquoise .AddNewItem,
.Syncfusion-Grid-Turquoise .EditItem,
.Syncfusion-Grid-Turquoise .ExcelItem,
.Syncfusion-Grid-Turquoise .WordItem,
.Syncfusion-Grid-Turquoise .PdfItem,
.Syncfusion-Grid-Turquoise .DeleteItem,
.Syncfusion-Grid-Turquoise .SaveItem,
.Syncfusion-Grid-Turquoise .Cancel,
.Syncfusion-Grid-Turquoise .FirstPage,
.Syncfusion-Grid-Turquoise .LastPage,
.Syncfusion-Grid-Turquoise .FirstPageDisabled,
.Syncfusion-Grid-Turquoise .LastPageDisabled,
.Syncfusion-Grid-Turquoise .GridPager .RefreshPager,
.Syncfusion-Grid-Turquoise .Search,
.Syncfusion-Grid-Turquoise .FilterIcon,
.Syncfusion-Grid-Turquoise .FilterIconTick,
.sf-grid-turquoise-menu .ClearFilterSideImg,
.sf-grid-turquoise-menu .searchButton,
.sf-grid-turquoise-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.Turquoise_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.Turquoise_sprite.png%>);
}
.Syncfusion-Grid-Turquoise .sliderContainer .ui-slider,
.Syncfusion-Grid-Turquoise .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Turquoise .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Turquoise .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.Turquoise_sprite.png%>) !important;
}
.Syncfusion-Grid-Turquoise .HeaderCell,
.Syncfusion-Grid-Turquoise .grid-icon,
.Syncfusion-Grid-Turquoise .GroupTopLeftCell,
.Syncfusion-Grid-Turquoise .TopRightCell,
.Syncfusion-Grid-Turquoise th.MasterHeaderLeftCell,
.Syncfusion-Grid-Turquoise .TopLeftCell,
.Syncfusion-Grid-Turquoise.cloneProperties,
.Syncfusion-Grid-Turquoise .ExternalForm-Header,
.Syncfusion-Grid-Turquoise .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.header-bg.png%>) repeat-x scroll center bottom #9ad0e7;
}
.Syncfusion-Grid-Turquoise .GridHeader {
  background-color: #9ad0e7;
  color: black;
}
.Syncfusion-Grid-Turquoise .ef-headerText {
  color: black;
}
.Syncfusion-Grid-Turquoise .Hdr-widthSettings {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .CurrentItem,
.Syncfusion-Grid-Turquoise .CurrentItem:hover {
  border-color: #e0f2f2;
  background-color: #7abddd;
  color: white !important;
}
.Syncfusion-Grid-Turquoise .ToolbarItems {
  color: black;
}
.Syncfusion-Grid-Turquoise .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Turquoise .StringFilter,
.Syncfusion-Grid-Turquoise .DateFilter,
.Syncfusion-Grid-Turquoise .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Turquoise .EditForm {
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .RecordCaption {
  color: black;
}
.Syncfusion-Grid-Turquoise .EditForm legend {
  color: black;
}
.Syncfusion-Grid-Turquoise .EditCell .field-validation-error,
.Syncfusion-Grid-Turquoise .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Turquoise .EditCell {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .EditForm fieldset {
  border-color: #989898;
}
.Syncfusion-Grid-Turquoise .Gridtoolbar .customToolItem {
  color: black;
}
.reSizeColbg {
  background-color: #52b9bb;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #e3f3f3;
  border-color: #52b9bb !important;
}
.Syncfusion-Grid-Turquoise.DragElementtext {
  background-color: #d5eef4;
  color: black;
  border-color: #52b9bb !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Turquoise .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-turquoise-menu .sf-choiceList,
.sf-grid-turquoise-menu .Search-Choice-wrapper,
.sf-grid-turquoise-menu .button-wrapper,
.sf-grid-turquoise-menu .button-wrapper:hover {
  border-color: #52b9b8;
}
.Syncfusion-Grid-Turquoise .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Turquoise .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Turquoise .sfInputText {
  color: black;
}
.Syncfusion-Grid-Turquoise .Table td.FrozenX,
.Syncfusion-Grid-Turquoise .Table th.FrozenX {
  border-right-color: #52b9bb;
}
.Syncfusion-Grid-Turquoise .Table td.FrozenY {
  border-top-color: #52b9bb;
}
.Syncfusion-Grid-Turquoise .sfTurquoise .ui-state-default,
.Syncfusion-Grid-Turquoise .sfTurquoise .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Turquoise .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Turquoise .RecordPlusExpand > div,
.Syncfusion-Grid-Turquoise .MasterCellExpand > div,
.Syncfusion-Grid-Turquoise-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Turquoise .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.active-bg.png%>) repeat-x scroll center bottom #77bcdc;
}
.Syncfusion-Grid-Turquoise-Tooltip .tooltipTopDiv {
  background-color: #6da393;
  color: white;
}
.Syncfusion-Grid-Turquoise .NextPage:Hover,
.Syncfusion-Grid-Turquoise .LastPage:Hover,
.Syncfusion-Grid-Turquoise .FirstPage:Hover,
.Syncfusion-Grid-Turquoise .PrevPage:Hover,
.Syncfusion-Grid-Turquoise .GridPager .RefreshPager:Hover {
  background-color: #b4deee;
}
.Syncfusion-Grid-Turquoise .FilterBarCell,
.Syncfusion-Grid-Turquoise .FilterBarCellDisabled {
  border-color: #90d0d0;
  background-color: #e3f3f3;
  background-image: none;
}
.Syncfusion-Grid-Turquoise .FilterBarCell input {
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Turquoise .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #f3f8fb;
  border-color: #90d0d0;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: black;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Turquoise .EnableRowHover tbody > tr:hover {
  background-color: #bbe3e3;
}
.Syncfusion-Grid-Turquoise .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #90d0d0;
  background-color: #e3f3f3;
}
.Syncfusion-Grid-Turquoise .ExternalEdit {
  background-color: #e3f3f3;
  border-color: #52b9bb;
}
.Syncfusion-Grid-Turquoise .bg-clear,
.Syncfusion-Grid-Turquoise .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Turquoise .MasterCellCollapse,
.Syncfusion-Grid-Turquoise .MasterCellExpand,
.Syncfusion-Grid-Turquoise td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #90d0d0;
}
.Syncfusion-Grid-Turquoise .ef-wrapper {
  border-color: #bbe3e3;
  background-color: #e3f3f3;
}
