.schedule_Turquoise.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  position: relative;
  border: 1px solid #54b8c2;
  background-color: #abdbde;
}
.schedule_Turquoise table,
.schedule_Turquoise th,
.schedule_Turquoise tr,
.schedule_Turquoise .GoToDateWindowInner table tr,
.schedule_Turquoise .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Turquoise td,
.schedule_Turquoise .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Turquoise .NavigationPaneTd {
  border-right: 1px solid #54b8c2;
  font-size: 10px;
  padding: 2px;
}
.schedule_Turquoise .NavigationPane {
  font-size: 10px;
}
.schedule_Turquoise .ui-datepicker-group {
  width: 100%;
}
.schedule_Turquoise .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Turquoise .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #abdbde;
}
.schedule_Turquoise .HeaderBar {
  background-color: #abdbde;
  background-repeat: repeat-x;
  border-top: 1px solid #54b8c2;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Turquoise .HeaderBar td {
  background-color: #abdbde;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Turquoise .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Turquoise .WorkCellUp,
.schedule_Turquoise .AllDayCell,
.schedule_Turquoise .WorkCellDown {
  font-size: 10px;
  background-color: #e2f3f3;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  overflow: hidden;
}
.schedule_Turquoise .WorkCatCellUp,
.schedule_Turquoise .WorkCatCellDown {
  font-size: 10px;
  background-color: #e2f3f3;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  overflow: hidden;
}
.schedule_Turquoise .WorkCellDownMonth {
  font-size: 10px;
  background-color: white;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  overflow: hidden;
}
.schedule_Turquoise .WorkCellUpMonth {
  font-size: 10px;
  background-color: #e2f3f3;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  overflow: hidden;
}
.schedule_Turquoise .TimeHourCell,
.schedule_Turquoise .TimeHourCellHorizontal {
  background-color: #abdbde;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #54b8c2;
  text-align: center;
  overflow: hidden;
}
.schedule_Turquoise .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #54b8c2;
  vertical-align: top;
}
.schedule_Turquoise .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Turquoise .TimeHourCellMonth {
  background-color: #abdbde;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #54b8c2;
  text-align: center;
  overflow: hidden;
}
.schedule_Turquoise .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Turquoise .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #54b8c2;
  border-bottom: 1px solid #54b8c2;
}
.schedule_Turquoise .ContentContainer {
  background-color: #abdbde;
  position: relative;
  width: 100%;
  border: 1px solid #54b8c2;
  text-align: left;
  vertical-align: middle;
}
.schedule_Turquoise .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Turquoise .TimeMinuteCell {
  font-size: 7pt;
  background-color: #abdbde;
  border-bottom: 1px solid #54b8c2;
  text-align: left;
}
.schedule_Turquoise .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #66bac2 0%, #abdbde 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #66bac2 0%, #abdbde 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #66bac2 0%, #abdbde 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #66bac2), color-stop(2, #abdbde));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #66bac2 0%, #abdbde 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #66bac2 0%, #abdbde 100%);
  background-color: #5ca7af;
  box-shadow: 0 1px 4px #66bac2;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: Black;
}
.schedule_Turquoise .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Turquoise .ViewStripCont {
  background-color: #54b8c2;
  text-align: left;
  vertical-align: middle;
  color: Black;
}
.schedule_Turquoise .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_TurquoiseTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: Black;
  padding: 3px;
  font-size: 8pt;
  background-color: #6da393;
  color: white;
  border: 1px solid #54b8c2;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Turquoise .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Turquoise .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Turquoise .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Turquoise .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Turquoise .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Turquoise .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Turquoise .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Turquoise 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #54b8c2;
  background-color: #abdbde;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Turquoise 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Turquoise 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #abdbde;
}
.schedule_Turquoise .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Turquoise .AppointmentWindowInner {
  background-color: #abdbde;
  border: 1px solid #54b8c2;
  color: Black;
}
.schedule_Turquoise .AppointmentWindow td {
  padding: 3px;
}
.schedule_Turquoise .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: black;
}
.schedule_Turquoise .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Turquoise .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Turquoise .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Turquoise .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Turquoise .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Turquoise .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Turquoise .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Turquoise .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Turquoise .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Turquoise .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Turquoise .LowImportanceImage {
  *float: left;
}
.schedule_Turquoise .HighImportanceImage {
  *float: left;
}
.schedule_Turquoise .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Turquoise .SaveImageTd,
.schedule_Turquoise .DeleteImageTd,
.schedule_Turquoise .RecurrenceImageTd,
.schedule_Turquoise  .HighImportanceImageTd,
.schedule_Turquoise  .LowImportanceImageTd,
.schedule_Turquoise  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Turquoise .SaveImageTd:hover,
.schedule_Turquoise  .DeleteImageTd:hover,
.schedule_Turquoise  .RecurrenceImageTd:hover,
.schedule_Turquoise  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #54b8c2;
  cursor: pointer;
}
.schedule_Turquoise  .SaveImageTd:active,
.schedule_Turquoise  .DeleteImageTd:active,
.schedule_Turquoise  .RecurrenceImageTd:active,
.schedule_Turquoise  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -362px;
  background-color: #66bac2;
  border: 1px solid #54b8c2;
}
.schedule_Turquoise 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Turquoise 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Turquoise 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Turquoise 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Turquoise .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #66bac2;
  border: 1px solid #54b8c2;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Turquoise .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #66bac2;
  border: 1px solid #54b8c2;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Turquoise .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Turquoise .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Turquoise .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Turquoise .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Turquoise .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Turquoise .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Turquoise .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Turquoise .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Turquoise .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Turquoise .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Turquoise .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Turquoise .DayImage,
.schedule_Turquoise .WeekImage,
.schedule_Turquoise .WorkWeekImage,
.schedule_Turquoise .MonthImage,
.schedule_Turquoise .TodayView,
.schedule_Turquoise .ImportIcon,
.schedule_Turquoise .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #54b8c2;
  border-right: 1px solid #54b8c2;
}
.schedule_Turquoise .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Turquoise .DayImage:active,
.schedule_Turquoise .WeekImage:active,
.schedule_Turquoise .WorkWeekImage:active,
.schedule_Turquoise .MonthImage:active,
.schedule_Turquoise .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #66bac2;
  border-right: 1px solid #54b8c2;
  color: black;
}
.schedule_Turquoise .ImportIcon:hover,
.schedule_Turquoise .ExportIcon:hover,
.schedule_Turquoise .TodayView:hover,
.schedule_Turquoise .DayImage:hover,
.schedule_Turquoise .WeekImage:hover,
.schedule_Turquoise .WorkWeekImage:hover,
.schedule_Turquoise .MonthImage:hover,
.schedule_Turquoise .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #54b8c2;
}
.schedule_Turquoise .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Turquoise .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Turquoise .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Turquoise .CrudButtons {
  height: 30px;
}
.schedule_Turquoise .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Turquoise .Recurrence_types {
  border-right: 1px solid #54b8c2;
}
.schedule_Turquoise .Recurrence_common {
  padding: 3px;
}
.schedule_Turquoise .Recurrence_common div {
  padding: 3px;
}
.schedule_Turquoise .Recurrence_input {
  vertical-align: top;
}
.schedule_Turquoise .Recurrence_label {
  display: inline-table;
}
.schedule_Turquoise .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Turquoise .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Turquoise .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Turquoise .HeaderDaysOuter {
  background-color: #abdbde;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  border-top: 1px solid #54b8c2;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Turquoise .HeaderDays {
  padding-top: 1px;
  background-color: #abdbde;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Turquoise .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Turquoise .HeaderDays table {
  table-layout: fixed;
}
.schedule_Turquoise .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Turquoise .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #54b8c2;
  border-bottom: 1px solid #54b8c2;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Turquoise .HeaderResourceCell {
  background-color: #abdbde;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Turquoise .HeaderResourceCellCategory {
  background-color: #abdbde;
  border-bottom: 1px solid #54b8c2;
  border-right: 1px solid #54b8c2;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Turquoise .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Turquoise .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -124px;
  background-color: #66bac2;
  border-right: 1px solid #66bac2;
  border-left: 1px solid #66bac2;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Turquoise .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -124px;
  background-color: #66bac2;
  border-right: 1px solid #66bac2;
  border-left: 1px solid #66bac2;
  text-align: left;
  overflow: hidden;
}
.schedule_Turquoise .CellToday {
  border-right: 1px solid #66bac2;
  border-left: 1px solid #66bac2;
}
.schedule_Turquoise .CellTodayMonth {
  border: 1px solid #66bac2;
}
.schedule_Turquoise .CellTodayLeft {
  border-left: 1px solid #66bac2;
}
.schedule_Turquoise .CellTodayRight {
  border-right: 1px solid #66bac2;
}
.schedule_Turquoise .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Turquoise .BusinessHour {
  background-color: white;
}
.schedule_Turquoise .selectedCell {
  color: white;
  background-color: #66bac2;
}
.schedule_Turquoise .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #abdbde;
  overflow: hidden;
}
.schedule_Turquoise .tablediv {
  display: table;
  width: 100%;
}
.schedule_Turquoise .celldiv {
  display: table-cell;
}
.schedule_Turquoise .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Turquoise .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -93px;
  background-color: #54b8c2;
  background-repeat: repeat-x;
  border: 1px solid #54b8c2;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: Black;
}
.schedule_Turquoise div.scheduleButton:hover,
.schedule_Turquoise input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #54b8c2;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Turquoise  .HighImportanceImageTd:hover,
.schedule_Turquoise  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -124px;
  border: 1px solid #54b8c2;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Turquoise div.scheduleButton:active,
.schedule_Turquoise  .HighImportanceImageTd:active,
.schedule_Turquoise  .LowImportanceImageTd:active,
.schedule_Turquoise .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -158px;
  background-color: #66bac2;
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .RecurrenceWindow,
.schedule_Turquoise .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: #fafafa;
  border: 1px solid #54b8c2;
  padding: 1px 5px;
}
.schedule_Turquoise .RecurrenceWindow td {
  height: 24px;
}
.schedule_Turquoise .Recurrence_Duration,
.schedule_Turquoise .Recurrence_Pattern,
.schedule_Turquoise .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #54b8c2;
  line-height: 20px;
  padding: 2px;
}
.schedule_Turquoise .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Turquoise .SelectedRecurrence,
.schedule_Turquoise .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -362px;
  background-color: #66bac2;
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Turquoise .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Turquoise .Reminder_Details {
  border: 1px solid #54b8c2;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Turquoise .Reminder_Details td,
.schedule_Turquoise .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Turquoise .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .ReminderHeader th {
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .Reminder_Details thead {
  background-color: #abdbde;
  border: 1px solid 1px solid #54b8c2;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Turquoise .Reminder_Details tbody {
  border: 1px solid 1px solid #54b8c2;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Turquoise .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Turquoise .selectedReminderCell {
  text-align: left;
  color: white;
  background-color: #66bac2;
}
.schedule_Turquoise .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Turquoise .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #54b8c2;
}
.schedule_Turquoise .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Turquoise .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: white;
}
.schedule_Turquoise .PrintAppointment td {
  padding: 3px;
}
.schedule_Turquoise .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Turquoise .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Turquoise .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Turquoise .hasDatepicker {
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Turquoise .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #54b8c2;
}
.schedule_Turquoise .InputBox {
  background-color: white !important;
  color: black !important;
  border: 1px solid #54b8c2 !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: black !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Turquoise .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Turquoise .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Turquoise .AppointmentIndicatorPrev {
  border: 1px solid #54b8c2;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #54b8c2;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Turquoise .AppointmentIndicatorNext {
  border: 1px solid #54b8c2;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #54b8c2;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Turquoise .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Turquoise .ui-resizable {
  position: relative;
}
.schedule_Turquoise .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Turquoise .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Turquoise .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Turquoise .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Turquoise .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Turquoise .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Turquoise .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Turquoise .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Turquoise .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Turquoise .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Turquoise .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Turquoise .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #54b8c2;
}
/*----BlockCell------*/

.schedule_Turquoise .BlockTime {
  color: white;
  background-color: #66bac2;
  position: absolute;
  opacity: .4;
}
.schedule_Turquoise .highlightSelectedDate a {
  background: #83c7ce !important;
  border: 1px solid #66bac2 !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Turquoise .highlighAppointmentDate {
  font-weight: bolder !important;
  color: #107274 !important;
}
.schedule_Turquoise .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: black !important;
}
.schedule_Turquoise .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Turquoise .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Turquoise .DateSeparator {
  border-right-color: #66bac2;
}
.schedule_Turquoise .AppointmentSubject {
  display: inline-block;
}
.schedule_Turquoise .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Turquoise .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Turquoise .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Turquoise .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Turquoise .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: Black;
}
