
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;

@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #000000;
@click-font-color:@font-color;
@hover-font-color: #222222;
@active-font-color: #111111;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@content-a-font-color: #222222;
@header-a-font-color: #222222;
@highlight-font-color: #363636;
@error-font-color: #cd0a0a;
@upload-font-color: #636464;

@border-size: 1px;
@border-type: solid;
@border-color: #989898;
@hover-border-color: #999999;
@active-border-color: #AAAAAA;
@header-border-color: #aaaaaa;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;
@content-border-color: #aaaaaa;

@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #e1dad9;
@hover-bg-color: #ede9e9;
@active-bg-color: #ffffff;
@progress-bg-color: #B1AA9F;
@submenu-bg-color:#f6f6f6;
@content-bg-color: #ffffff;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@popup-bg-color: #fbfcfc;
@header-bg-color: #cccccc;
@pane-bg-color: #fbfcfc;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #ffffff;
@refresh-audio-button-border-color: #b7b7b7;
@captcha-image-border-color : #464646;

@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";
@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.active-bg-ver.png%>)";

@skin: ~"Marble";
@foldername: ~"Themes";

@seperator-color: #D6D6D6;
@content-bg: ~"none";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";

@scroll-bg-color:#cccccc;
@scroll-border:1px solid #D3D3D3;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f6f6f6), color-stop(8%,#e5e5e5), color-stop(12%,#e1e1e1), color-stop(32%,#d8d8d8), color-stop(56%,#d7d7d7), color-stop(64%,#dbdbdb), color-stop(80%,#ececec), color-stop(96%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* IE10+ */
    background: linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #C3C3C3;
}

.hover-gradient()
{
	background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 4%, #e5e5e5 8%, #e1e1e1 12%, #d8d8d8 32%, #d7d7d7 56%, #dbdbdb 64%, #ececec 80%, #f8f8f8 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f6f6f6), color-stop(8%,#e5e5e5), color-stop(12%,#e1e1e1), color-stop(32%,#d8d8d8), color-stop(56%,#d7d7d7), color-stop(64%,#dbdbdb), color-stop(80%,#ececec), color-stop(96%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* IE10+ */
    background: linear-gradient(top,  #f6f6f6 4%,#e5e5e5 8%,#e1e1e1 12%,#d8d8d8 32%,#d7d7d7 56%,#dbdbdb 64%,#ececec 80%,#f8f8f8 96%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #C3C3C3;
}

.container-gradient()
{
	background: rgb(250,250,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(238,237,236,1) 21%, rgba(216,216,216,1) 49%, rgba(199,201,201,1) 74%, rgba(192,194,194,1) 92%, rgba(192,194,194,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(21%,rgba(238,237,236,1)), color-stop(49%,rgba(216,216,216,1)), color-stop(74%,rgba(199,201,201,1)), color-stop(92%,rgba(192,194,194,1)), color-stop(100%,rgba(192,194,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(238,237,236,1) 21%,rgba(216,216,216,1) 49%,rgba(199,201,201,1) 74%,rgba(192,194,194,1) 92%,rgba(192,194,194,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(238,237,236,1) 21%,rgba(216,216,216,1) 49%,rgba(199,201,201,1) 74%,rgba(192,194,194,1) 92%,rgba(192,194,194,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(238,237,236,1) 21%,rgba(216,216,216,1) 49%,rgba(199,201,201,1) 74%,rgba(192,194,194,1) 92%,rgba(192,194,194,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(250,250,250,1) 0%,rgba(238,237,236,1) 21%,rgba(216,216,216,1) 49%,rgba(199,201,201,1) 74%,rgba(192,194,194,1) 92%,rgba(192,194,194,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#c0c2c2',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #CECFCF;
}
.itemcontainer-gradient()
{
	background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(243,243,243,1) 15%, rgba(241,241,241,1) 38%, rgba(238,238,238,1) 45%, rgba(235,235,235,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(15%,rgba(243,243,243,1)), color-stop(38%,rgba(241,241,241,1)), color-stop(45%,rgba(238,238,238,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(243,243,243,1) 15%,rgba(241,241,241,1) 38%,rgba(238,238,238,1) 45%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(243,243,243,1) 15%,rgba(241,241,241,1) 38%,rgba(238,238,238,1) 45%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(243,243,243,1) 15%,rgba(241,241,241,1) 38%,rgba(238,238,238,1) 45%,rgba(235,235,235,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(243,243,243,1) 15%,rgba(241,241,241,1) 38%,rgba(238,238,238,1) 45%,rgba(235,235,235,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
	background: #F8F8F8;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #CDCECE;
    background: #dddce7; /* Old browsers */
    background: -moz-linear-gradient(top, #dddce7 0%, #dbdbe5 5%, #e0dbec 24%, #ece9f4 48%, #f6f2f8 71%, #f7f7fb 81%, #f9f8fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddce7), color-stop(5%,#dbdbe5), color-stop(24%,#e0dbec), color-stop(48%,#ece9f4), color-stop(71%,#f6f2f8), color-stop(81%,#f7f7fb), color-stop(100%,#f9f8fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddce7 0%,#dbdbe5 5%,#e0dbec 24%,#ece9f4 48%,#f6f2f8 71%,#f7f7fb 81%,#f9f8fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddce7 0%,#dbdbe5 5%,#e0dbec 24%,#ece9f4 48%,#f6f2f8 71%,#f7f7fb 81%,#f9f8fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddce7 0%,#dbdbe5 5%,#e0dbec 24%,#ece9f4 48%,#f6f2f8 71%,#f7f7fb 81%,#f9f8fd 100%); /* IE10+ */
    background: linear-gradient(top, #dddce7 0%,#dbdbe5 5%,#e0dbec 24%,#ece9f4 48%,#f6f2f8 71%,#f7f7fb 81%,#f9f8fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddce7', endColorstr='#f9f8fd',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: rgb(200,216,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(200,216,254,1) 0%, rgba(204,220,255,1) 11%, rgba(217,228,254,1) 17%, rgba(221,230,254,1) 21%, rgba(224,231,252,1) 36%, rgba(236,239,250,1) 43%, rgba(241,240,245,1) 47%, rgba(241,241,244,1) 53%, rgba(246,244,237,1) 64%, rgba(245,240,231,1) 70%, rgba(244,240,234,1) 72%, rgba(249,247,247,1) 79%, rgba(250,248,250,1) 83%, rgba(252,252,253,1) 96%, rgba(251,250,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,216,254,1)), color-stop(11%,rgba(204,220,255,1)), color-stop(17%,rgba(217,228,254,1)), color-stop(21%,rgba(221,230,254,1)), color-stop(36%,rgba(224,231,252,1)), color-stop(43%,rgba(236,239,250,1)), color-stop(47%,rgba(241,240,245,1)), color-stop(53%,rgba(241,241,244,1)), color-stop(64%,rgba(246,244,237,1)), color-stop(70%,rgba(245,240,231,1)), color-stop(72%,rgba(244,240,234,1)), color-stop(79%,rgba(249,247,247,1)), color-stop(83%,rgba(250,248,250,1)), color-stop(96%,rgba(252,252,253,1)), color-stop(100%,rgba(251,250,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(200,216,254,1) 0%,rgba(204,220,255,1) 11%,rgba(217,228,254,1) 17%,rgba(221,230,254,1) 21%,rgba(224,231,252,1) 36%,rgba(236,239,250,1) 43%,rgba(241,240,245,1) 47%,rgba(241,241,244,1) 53%,rgba(246,244,237,1) 64%,rgba(245,240,231,1) 70%,rgba(244,240,234,1) 72%,rgba(249,247,247,1) 79%,rgba(250,248,250,1) 83%,rgba(252,252,253,1) 96%,rgba(251,250,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(200,216,254,1) 0%,rgba(204,220,255,1) 11%,rgba(217,228,254,1) 17%,rgba(221,230,254,1) 21%,rgba(224,231,252,1) 36%,rgba(236,239,250,1) 43%,rgba(241,240,245,1) 47%,rgba(241,241,244,1) 53%,rgba(246,244,237,1) 64%,rgba(245,240,231,1) 70%,rgba(244,240,234,1) 72%,rgba(249,247,247,1) 79%,rgba(250,248,250,1) 83%,rgba(252,252,253,1) 96%,rgba(251,250,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(200,216,254,1) 0%,rgba(204,220,255,1) 11%,rgba(217,228,254,1) 17%,rgba(221,230,254,1) 21%,rgba(224,231,252,1) 36%,rgba(236,239,250,1) 43%,rgba(241,240,245,1) 47%,rgba(241,241,244,1) 53%,rgba(246,244,237,1) 64%,rgba(245,240,231,1) 70%,rgba(244,240,234,1) 72%,rgba(249,247,247,1) 79%,rgba(250,248,250,1) 83%,rgba(252,252,253,1) 96%,rgba(251,250,251,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(200,216,254,1) 0%,rgba(204,220,255,1) 11%,rgba(217,228,254,1) 17%,rgba(221,230,254,1) 21%,rgba(224,231,252,1) 36%,rgba(236,239,250,1) 43%,rgba(241,240,245,1) 47%,rgba(241,241,244,1) 53%,rgba(246,244,237,1) 64%,rgba(245,240,231,1) 70%,rgba(244,240,234,1) 72%,rgba(249,247,247,1) 79%,rgba(250,248,250,1) 83%,rgba(252,252,253,1) 96%,rgba(251,250,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d8fe', endColorstr='#fbfafb',GradientType=0 ); /* IE6-9 */
	border-left: @border-size @border-type #CECFCF;
	border-right: @border-size @border-type #CECFCF;
	border-top: @border-size+1 @border-type #CECFCF;
	color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	background: rgb(209,216,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(209,216,232,1) 0%, rgba(206,213,230,1) 9%, rgba(208,215,232,1) 32%, rgba(211,218,234,1) 36%, rgba(230,234,242,1) 50%, rgba(248,249,253,1) 68%, rgba(252,253,255,1) 82%, rgba(250,252,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,216,232,1)), color-stop(9%,rgba(206,213,230,1)), color-stop(32%,rgba(208,215,232,1)), color-stop(36%,rgba(211,218,234,1)), color-stop(50%,rgba(230,234,242,1)), color-stop(68%,rgba(248,249,253,1)), color-stop(82%,rgba(252,253,255,1)), color-stop(100%,rgba(250,252,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */  
}

.ribboncontainer-hover()
{
	background: #d1d8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d8e8), color-stop(9%,#ced5e6), color-stop(32%,#d0d7e8), color-stop(36%,#d3daea), color-stop(50%,#e6eaf2), color-stop(68%,#f8f9fd), color-stop(82%,#fcfdff), color-stop(100%,#fafcff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* IE10+ */
    background: linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #cfe7fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: #e8e6e5; /* Old browsers */
    background: -moz-linear-gradient(left,  #e8e6e5 0%, #eae8e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8e6e5), color-stop(100%,#eae8e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #e8e6e5 0%,#eae8e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #e8e6e5 0%,#eae8e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #e8e6e5 0%,#eae8e7 100%); /* IE10+ */
    background: linear-gradient(left,  #e8e6e5 0%,#eae8e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e6e5', endColorstr='#eae8e7',GradientType=1 ); /* IE6-9 */
}

