@border-color: #989898;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #D3D3D3;
@row-cell-border-color : #D7D7D7;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #6F6E69;
@group-droparea-bg-color: #D6D7D6;
@group-droparea-border-color: #989898;
@clone-bg-color: #D6D7D6;
@clone-border-color: #D7D7D7;
@top-right-border-color: #D7D7D7;
@caption-row-border-color: #D7D7D7;
@caption-row-bg-color: #E2E2E2;
@group-caption-drop-row-font-color:#6F6E69;
@pager-caption-row-border-color: #D7D7D7;
@pager-groupdrop-border-color: #D7D7D7;
@pager-groupdrop-bg-color: #E2E2E2;
@group-indent-expand-collapse-bg-color: #EAEAEA;
@group-indent-expand-collapse-border-color: #D7D7D7;
@hover-header-border-color: #D7D7D7;
@hover-group-header-border-color: #BFBFBF;
@selected-header-border-color: #D7D7D7;
@selected-header-bg-color: #F8FAF9;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #E4E4E4;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #D7D7D7;
@selected-row-header-bg-color: #E4E4E4;
@alt-row-bg-color: #EDEDED;
@summary-font-color: #000000;
@summary-bg-color: #E5E5E5;
@summary-border-color: #D7D7D7;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #989898;
@selected-column-bg-color: #cccccc;
@selection-bg-color: #cccccc;
@currentcell-bg-color: #F4F5F5;
@currentcell-font-color: #000000;
@gridpager-bg-color: #cbcbcb;
@gridpager-border-color: #989898;
@numericitem-font-color: #808080;
@numeric-hover-bg-color: #F2F2F2;
@spacing-color: #333333;
@currentitem-border-color: #D7D7D7;
@currentitem-bg-color: #F4F5F5;
@currentitem-font-color: #000000;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #D8D8D8;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #000000;
@resizecol-bg-color: #989898;
@helper-bg-color: #D7D7D7;
@helper-border-color: #989898;
@dragelement-bg-color: #F4F5FF;
@dragelement-font-color: #000000;
@dragelement-border-color: #989898;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #989898;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #989898;
@tooltip-bg-color: #BBAFAD;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #F2F2F2;
@filter-cell-bg-color: #E4E4E4;
@filter-input-border-color: #D7D7D7; 
@filter-status-bg-color: #E4E4E4;
@filter-status-border-color: #989898; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #F4F5F5;
@skin: ~"Marble";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-marble-menu";