<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFUAAlarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <UFUAAlarm.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.alrSettings</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Alarms</value>
            </setting>
            <setting name="DelaySavePersistence" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TotalTimeOnUpdateRate" serializeAs="String">
                <value>1000</value>
            </setting>
        </UFUAAlarm.Properties.Settings>
    </applicationSettings>
</configuration>
