
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #f0f0f0;
@click-font-color:@font-color;
@hover-font-color: #ffffff;
@active-font-color: #BCBCBC;
@content-a-font-color: #BCBCBC;
@header-a-font-color: #FFFFFF;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@error-font-color: #cd0a0a;
@highlight-font-color: #363636;
@upload-font-color: #FFFFFF;

@border-size: 1px;
@border-type: solid;
@border-color: #808282;
@hover-border-color: #3a3a3a;
@active-border-color: #4a4a4a;
@content-border-color: #2d2c2c;
@header-border-color: #2d2c2c;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;

@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;
@bg-color: #262726;
@hover-bg-color: #353634;
@active-bg-color:  #010201;
@progress-bg-color: #7F7F7F;
@submenu-bg-color:#64635e;
@pane-bg-color: #595959;
@content-bg-color: #333333;
@header-bg-color: #454545;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@popup-bg-color: #3A3A3A;
@input-bg-color: #444;
@input-hover-color: #444;
@editbutton-bg-color:#444444;
@refresh-audio-button-bg-color: #ebebeb;
@refresh-audio-button-border-color: #d7d7d7;
@captcha-image-border-color: #d7d7d7;

@seperator-color: #9D9EA0;
@content-bg: ~"none";
@header-bg: ~"none";
@header-img: ~"none";
@hover-img: ~"none";
@active-img: ~"none";


@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons-light.png%>)";

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg-ver.png%>)";


@skin: ~"Blend";
@foldername: ~"Themes";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";

@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";


@scroll-bg-color:#454545;
@scroll-border:1px solid #333;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #303030; /* Old browsers */
    background: -moz-linear-gradient(top, #303030 0%, #494949 4%, #4e4e4e 8%, #424242 24%, #3d3d3d 36%, #3d3d3d 44%, #3e3e3e 56%, #4e4e4e 80%, #555555 96%, #2f2f2f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(4%,#494949), color-stop(8%,#4e4e4e), color-stop(24%,#424242), color-stop(36%,#3d3d3d), color-stop(44%,#3d3d3d), color-stop(56%,#3e3e3e), color-stop(80%,#4e4e4e), color-stop(96%,#555555), color-stop(100%,#2f2f2f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #303030 0%,#494949 4%,#4e4e4e 8%,#424242 24%,#3d3d3d 36%,#3d3d3d 44%,#3e3e3e 56%,#4e4e4e 80%,#555555 96%,#2f2f2f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #303030 0%,#494949 4%,#4e4e4e 8%,#424242 24%,#3d3d3d 36%,#3d3d3d 44%,#3e3e3e 56%,#4e4e4e 80%,#555555 96%,#2f2f2f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #303030 0%,#494949 4%,#4e4e4e 8%,#424242 24%,#3d3d3d 36%,#3d3d3d 44%,#3e3e3e 56%,#4e4e4e 80%,#555555 96%,#2f2f2f 100%); /* IE10+ */
    background: linear-gradient(top, #303030 0%,#494949 4%,#4e4e4e 8%,#424242 24%,#3d3d3d 36%,#3d3d3d 44%,#3e3e3e 56%,#4e4e4e 80%,#555555 96%,#2f2f2f 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#2f2f2f',GradientType=0 ); /* IE6-9 */
    border-radius: @border-size+3;
    border: @border-size @border-type #313132;
}

.hover-gradient()
{
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top,  #494949 1%, #414141 2%, #3a3a3a 11%, #3b3b3b 78%, #3e3e3e 83%, #444444 88%, #5b5b5b 95%, #626262 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#494949), color-stop(2%,#414141), color-stop(11%,#3a3a3a), color-stop(78%,#3b3b3b), color-stop(83%,#3e3e3e), color-stop(88%,#444444), color-stop(95%,#5b5b5b), color-stop(99%,#626262)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #494949 1%,#414141 2%,#3a3a3a 11%,#3b3b3b 78%,#3e3e3e 83%,#444444 88%,#5b5b5b 95%,#626262 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #494949 1%,#414141 2%,#3a3a3a 11%,#3b3b3b 78%,#3e3e3e 83%,#444444 88%,#5b5b5b 95%,#626262 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #494949 1%,#414141 2%,#3a3a3a 11%,#3b3b3b 78%,#3e3e3e 83%,#444444 88%,#5b5b5b 95%,#626262 99%); /* IE10+ */
	background: linear-gradient(top,  #494949 1%,#414141 2%,#3a3a3a 11%,#3b3b3b 78%,#3e3e3e 83%,#444444 88%,#5b5b5b 95%,#626262 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#626262',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #DF9D9D;
}

.container-gradient()
{
	background: #2d2d2e; /* Old browsers */
    background: -moz-linear-gradient(top, #2d2d2e 0%, #2f2f30 26%, #3d3d3d 77%, #3d3d3e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2e), color-stop(26%,#2f2f30), color-stop(77%,#3d3d3d), color-stop(100%,#3d3d3e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2d2d2e 0%,#2f2f30 26%,#3d3d3d 77%,#3d3d3e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2d2d2e 0%,#2f2f30 26%,#3d3d3d 77%,#3d3d3e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d2d2e 0%,#2f2f30 26%,#3d3d3d 77%,#3d3d3e 100%); /* IE10+ */
    background: linear-gradient(top, #2d2d2e 0%,#2f2f30 26%,#3d3d3d 77%,#3d3d3e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2e', endColorstr='#3d3d3e',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #353536;
}
.itemcontainer-gradient()
{
	background: #878587; /* Old browsers */
	background: -moz-linear-gradient(top, #878587 0%, #4f4f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878587), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #878587 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #878587 0%,#4f4f4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #878587 0%,#4f4f4f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #878587 0%,#4f4f4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878587', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
	background: #878587;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #D3D7DC;
    background: #c7cdd4; /* Old browsers */
    background: -moz-linear-gradient(top, #c7cdd4 0%, #dee0e4 57%, #e3e6ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7cdd4), color-stop(57%,#dee0e4), color-stop(100%,#e3e6ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* IE10+ */
    background: linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cdd4', endColorstr='#e3e6ea',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: -moz-linear-gradient(top, rgba(204,211,228,0.58) 0%, rgba(204,211,228,0.62) 3%, rgba(204,211,228,0.66) 9%, rgba(204,211,228,0.65) 20%, rgba(204,211,228,0.5) 37%, rgba(204,211,228,0.31) 49%, rgba(204,211,228,0.28) 51%, rgba(204,211,228,0.23) 66%, rgba(204,211,228,0.15) 74%, rgba(204,211,228,0.18) 77%, rgba(204,211,228,0.31) 83%, rgba(204,211,228,0.35) 86%, rgba(204,211,228,0.37) 89%, rgba(204,211,228,0.39) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,211,228,0.58)), color-stop(3%,rgba(204,211,228,0.62)), color-stop(9%,rgba(204,211,228,0.66)), color-stop(20%,rgba(204,211,228,0.65)), color-stop(37%,rgba(204,211,228,0.5)), color-stop(49%,rgba(204,211,228,0.31)), color-stop(51%,rgba(204,211,228,0.28)), color-stop(66%,rgba(204,211,228,0.23)), color-stop(74%,rgba(204,211,228,0.15)), color-stop(77%,rgba(204,211,228,0.18)), color-stop(83%,rgba(204,211,228,0.31)), color-stop(86%,rgba(204,211,228,0.35)), color-stop(89%,rgba(204,211,228,0.37)), color-stop(100%,rgba(204,211,228,0.39))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ccd3e4', endColorstr='#63ccd3e4',GradientType=0 ); /* IE6-9 */
	border-left: @border-size @border-type #888C96;
	border-right: @border-size @border-type #888C96;
	border-top: @border-size+1 @border-type #888C96;
	color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	background: rgb(209,216,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(209,216,232,1) 0%, rgba(206,213,230,1) 9%, rgba(208,215,232,1) 32%, rgba(211,218,234,1) 36%, rgba(230,234,242,1) 50%, rgba(248,249,253,1) 68%, rgba(252,253,255,1) 82%, rgba(250,252,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,216,232,1)), color-stop(9%,rgba(206,213,230,1)), color-stop(32%,rgba(208,215,232,1)), color-stop(36%,rgba(211,218,234,1)), color-stop(50%,rgba(230,234,242,1)), color-stop(68%,rgba(248,249,253,1)), color-stop(82%,rgba(252,253,255,1)), color-stop(100%,rgba(250,252,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */  
}

.ribboncontainer-hover()
{
	background: #d1d8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d8e8), color-stop(9%,#ced5e6), color-stop(32%,#d0d7e8), color-stop(36%,#d3daea), color-stop(50%,#e6eaf2), color-stop(68%,#f8f9fd), color-stop(82%,#fcfdff), color-stop(100%,#fafcff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* IE10+ */
    background: linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #faba0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #faba0b 0%, #fba306 55%, #ffb22c 82%, #ffcb22 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faba0b), color-stop(55%,#fba306), color-stop(82%,#ffb22c), color-stop(100%,#ffcb22)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faba0b 0%,#fba306 55%,#ffb22c 82%,#ffcb22 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faba0b 0%,#fba306 55%,#ffb22c 82%,#ffcb22 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faba0b 0%,#fba306 55%,#ffb22c 82%,#ffcb22 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faba0b 0%,#fba306 55%,#ffb22c 82%,#ffcb22 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faba0b', endColorstr='#ffcb22',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(left, #3d3d3d 0%, #3d3d3d 13%, #373737 23%, #1d1e1e 46%, #000000 67%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3d3d3d), color-stop(13%,#3d3d3d), color-stop(23%,#373737), color-stop(46%,#1d1e1e), color-stop(67%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3d3d3d 0%,#3d3d3d 13%,#373737 23%,#1d1e1e 46%,#000000 67%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3d3d3d 0%,#3d3d3d 13%,#373737 23%,#1d1e1e 46%,#000000 67%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3d3d3d 0%,#3d3d3d 13%,#373737 23%,#1d1e1e 46%,#000000 67%,#000000 100%); /* IE10+ */
    background: linear-gradient(left, #3d3d3d 0%,#3d3d3d 13%,#373737 23%,#1d1e1e 46%,#000000 67%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
