<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientEditor.Properties.Settings>
            <setting name="TypeLabelString" serializeAs="String">
                <value>Strings</value>
            </setting>
            <setting name="DefaultProjectNameString" serializeAs="String">
                <value>Strings</value>
            </setting>
            <setting name="DefaultFileExtString" serializeAs="String">
                <value>.Strings</value>
            </setting>
            <setting name="MaxItemsInTree" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.Client</value>
            </setting>
            <setting name="AddressSpaceTypeScheme" serializeAs="String">
                <value>AddressSpace</value>
            </setting>
            <setting name="FolderAlwaysExpandible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="GeneralSettingsTypeScheme" serializeAs="String">
                <value>GeneralSettings</value>
            </setting>
        </ClientEditor.Properties.Settings>
    </applicationSettings>
</configuration>