<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MelsecQEth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MelsecQEth.Properties.Settings>
            <setting name="LabelNrMaxJobs1stTimeRuntimeAggregationLimits"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LabelWaitTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LabelNrMaxAggregatedRequests" serializeAs="String">
                <value>90</value>
            </setting>
        </MelsecQEth.Properties.Settings>
    </userSettings>
</configuration>