@border-color: #BB964C;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #F0DEBA;
@row-cell-border-color : #ECE4D1;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #A3884F;
@group-droparea-bg-color: #ebe0d2;
@group-droparea-border-color: #e6d9be;
@clone-bg-color: #383838;
@clone-border-color: #e6d9be;
@top-right-border-color: #ECE4D1;
@caption-row-border-color: #e5d9be;
@caption-row-bg-color: #f0e9de;
@group-caption-drop-row-font-color:#A3884F;
@pager-caption-row-border-color: #E6D9BE;
@pager-groupdrop-border-color: #E6D9BE;
@pager-groupdrop-bg-color: #F0E9DE;
@group-indent-expand-collapse-bg-color: #E8DBC9;
@group-indent-expand-collapse-border-color: #D5C8B1;
@hover-header-border-color: #E7CFA9;
@hover-group-header-border-color: #E6D9BE;
@selected-header-border-color: #ECE4D1;
@selected-header-bg-color: #E9CE9A;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #F3EDDD;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #ECE4D1;
@selected-row-header-bg-color: #F3EDDD;
@alt-row-bg-color: #F3EDDD;
@summary-font-color: #464749;
@summary-bg-color: #D7BF92;
@summary-border-color: #ECE4D1;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #C9B99D;
@selection-bg-color: #D7BF92;
@currentcell-bg-color: #b59863;
@currentcell-font-color: #FFFFFF;
@gridpager-bg-color: #e1d0ba;
@gridpager-border-color: #BB964C;
@numericitem-font-color: #99793a;
@numeric-hover-bg-color: #F2E6D5;
@spacing-color: #A3884F;
@currentitem-border-color: #ECE4D1;
@currentitem-bg-color: #9C8A69;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #d7bf92;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #BA964C;
@resizecol-bg-color: #BB964C;
@helper-bg-color: #F0E9DE;
@helper-border-color: #BB964C;
@dragelement-bg-color: #B59863;
@dragelement-font-color: #ffffff;
@dragelement-border-color: #BB964C;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #BB964C;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #BB964C;
@tooltip-bg-color: #A3846D;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #E6D9BE;
@filter-cell-bg-color: #F3EDDD;
@filter-input-border-color: #ECE4D1; 
@filter-status-bg-color: #F3EDDD;
@filter-status-border-color: #D5C8B1; 
@msg-font-color: #A3884F;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #E6D9BE;
@tr-hover: #C9BBA3;
@skin: ~"Sandune";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-sandune-menu";