
@base-background-color: #e6d9be;
@base-border: 1px solid #d7bf92;
@base-Header: #E6D9BE;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #F3ECDE;
@Workcell-select: #d7bf92;
@Workcell-Hover: #e6d9be;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #DBCBAB;
@appointment-color:#C2AC83;
@ViewStrip-color:#E6D9BE;
@highlighAppDate: #5E4721;
@highlightSelectedDate: #E6D9BE;
@color:Black;
@base-font-family: segoe UI;
 @hover: #ffd86a ;
@active: #D7BF92 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.sandune.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #A3846D;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #e6d9be;
@ViewStrip-text-color:Black;
@Dialog-text-color:#000000;