<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSServerInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <MSServerInfo.Properties.Settings>
            <setting name="DefaultServerExe" serializeAs="String">
                <value>SchedulerServer.exe</value>
            </setting>
            <setting name="DefaultServerConfig" serializeAs="String">
                <value>MSServer.MSUAServer.Config.xml</value>
            </setting>
            <setting name="TagsRootName" serializeAs="String">
                <value>Tags</value>
            </setting>
            <setting name="GetSchedulersListGuid" serializeAs="String">
                <value>{5ABF10DB-A0DE-4553-9535-08754A25FD46}</value>
            </setting>
            <setting name="SetSchedulerSettingsGuid" serializeAs="String">
                <value>{553975E9-6020-4D22-89B2-46259776EFA8}</value>
            </setting>
            <setting name="GetSchedulersListMethodName" serializeAs="String">
                <value>GetSchedulersList</value>
            </setting>
            <setting name="SetSchedulerSettingsMethodName" serializeAs="String">
                <value>SetSchedulerSettings</value>
            </setting>
            <setting name="SchedulerUtilsFolder" serializeAs="String">
                <value>SchedulerUtils</value>
            </setting>
            <setting name="ReloadVariableName" serializeAs="String">
                <value>ReloadSchedulerConfiguration</value>
            </setting>
            <setting name="ReloadVariableGuid" serializeAs="String">
                <value>{DF4AB93A-F960-4879-90E5-2BCACCBF8033}</value>
            </setting>
            <setting name="ExecuteOffName" serializeAs="String">
                <value>ExecuteOff</value>
            </setting>
            <setting name="EnabledStateName" serializeAs="String">
                <value>EnabledState</value>
            </setting>
            <setting name="SysTrayApp" serializeAs="String">
                <value>SchedulerSysTray.exe</value>
            </setting>
        </MSServerInfo.Properties.Settings>
    </applicationSettings>
</configuration>
