.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-VS2010 .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>);
}
.Syncfusion-Grid-VS2010 .ef-toggle:hover {
  background-color: #dce1e8;
  border-color: #8f9aaa;
}
.Syncfusion-Grid-VS2010 .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-VS2010 .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: white;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.VS2010-horizontal {
  width: 100%;
  height: 32px;
}
ul.VS2010-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #dce1e8;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-vs2010-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-vs2010-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-vs2010-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.VS2010 .sf-sp-tr {
  background-position: 2px -169px;
}
.VS2010 .sf-sp-vwrapper,
.VS2010 .sf-sp-hwrapper {
  background-color: #b6bdce;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-VS2010 {
  border-color: #2b3b57;
  color: black;
}
.Syncfusion-Grid-VS2010 .GridContent .Table {
  border-top-color: #4a5e80;
  border-bottom-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .GridContent {
  background-color: white;
}
.Syncfusion-Grid-VS2010 .Gridtoolbar {
  border-top-color: #4a5e80 !important;
}
.Syncfusion-Grid-VS2010 .GroupDropArea {
  background-color: #b6bdce;
  border-color: #8f9aaa;
}
.Syncfusion-Grid-VS2010.cloneProperties {
  color: white;
  background-color: #4a5e80;
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 th.MasterHeaderLeftCell {
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .CaptionRow {
  background-color: #c3cbde;
}
.Syncfusion-Grid-VS2010 .HeaderCell,
.Syncfusion-Grid-VS2010 .GroupTopLeftCell,
.Syncfusion-Grid-VS2010 .TopLeftCell,
.Syncfusion-Grid-VS2010 .CaptionRow,
.Syncfusion-Grid-VS2010 .HeaderCellHover {
  border-color: #525e75;
}
.Syncfusion-Grid-Core .sf-toolbar.VS2010-horizontal {
  border-color: #525e75;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.VS2010 .sf-sp-tr {
  border-color: #525e75;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-VS2010 .PagerCaptionRow {
  border-top-color: #8f9aaa;
}
.Syncfusion-Grid-VS2010 .PagerGroupDropArea {
  border-top-color: #8f9aaa;
  background-color: #c3cbde;
}
.Syncfusion-Grid-VS2010 .GroupCaption {
  background-color: #bcc7d8;
  border-color: #536788;
}
.Syncfusion-Grid-VS2010 .HeaderCellHover,
.Syncfusion-Grid-VS2010 .GroupHeaderCell:hover {
  color: black;
}
.Syncfusion-Grid-VS2010 .GroupHeaderCell,
.Syncfusion-Grid-VS2010 .GroupHeaderCell:hover,
.Syncfusion-Grid-VS2010 .GrpHdrUnboundColumn {
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .GroupHeaderCell {
  color: white;
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .SelectedHeaderCell {
  border-color: #4a5e80;
  color: black;
}
.Syncfusion-Grid-VS2010 .RowHeader {
  border-color: #4a5e80;
  background-color: #b6bdce;
}
.Syncfusion-Grid-VS2010 .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-VS2010 .UnboundCell {
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .SelectedRowHeaderCell,
Syncfusion-Grid-VS2010 .UnboundButton {
  border-color: #a1a5ad;
  background-color: #b6bdce;
}
.Syncfusion-Grid-VS2010 .RowCell,
.Syncfusion-Grid-VS2010 .EmptyCell,
.Syncfusion-Grid-VS2010 tr[class*=ChildRow] > .ChildGrid {
  border-color: #a1a5ad;
}
.Syncfusion-Grid-VS2010 .Alt_Row {
  background-color: #f7f6f6;
}
.Syncfusion-Grid-VS2010 .IndentCell {
  border-color: #536788;
  background-color: #bcc7d8;
}
.Syncfusion-Grid-VS2010 .Summary {
  color: black;
  background-color: #ffe8a6;
  border-color: #6b7e9b;
}
.Syncfusion-Grid-VS2010 .GridSummary {
  border: 1px none #6b7e9b;
}
.Syncfusion-Grid-VS2010 .RecordPlusCollapse,
.Syncfusion-Grid-VS2010 .RecordPlusExpand {
  background-color: #bcc7d8;
  border-color: #536788;
}
.Syncfusion-Grid-VS2010 .MasterCellCollapse,
.Syncfusion-Grid-VS2010 .MasterCellExpand {
  border-color: #536788;
}
.Syncfusion-Grid-VS2010 .RecordPlusExpand > div,
.Syncfusion-Grid-VS2010 .MasterCellExpand > div {
  background-color: #bcc7d8;
}
.Syncfusion-Grid-VS2010 .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-VS2010 .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-VS2010 .SelectedColumn {
  background-color: #93a2bf;
  color: #c5d0e0;
}
.Syncfusion-Grid-VS2010 .SelectionBackground {
  background-color: #3b4f70;
  color: white;
}
.Syncfusion-Grid-VS2010 .CurrentCell {
  background-color: #bcc7d8;
  color: #3b4f70;
}
.Syncfusion-Grid-VS2010 .GridPager {
  background-color: #b3bbcc;
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .GridPager,
.Syncfusion-Grid-VS2010 .GridPager .NumericItem,
.Syncfusion-Grid-VS2010 .Spacing,
.Syncfusion-Grid-VS2010 .CaptionRow,
.Syncfusion-Grid-VS2010 .GroupDropArea {
  color: black;
}
.Syncfusion-Grid-VS2010 .NumericItem-hover {
  background-color: #dce1e8;
  color: black;
}
ul.VS2010 ul li a span.arrows,
ul.VS2010-context span.arrows,
ul.VS2010-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-VS2010 .PrevPageDisabled,
.Syncfusion-Grid-VS2010 .PrevPage,
.Syncfusion-Grid-VS2010 .NextPage,
.Syncfusion-Grid-VS2010 .NextPageDisabled,
.Syncfusion-Grid-VS2010 .Descending,
.Syncfusion-Grid-VS2010 .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.VS2010_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-VS2010 .RecordPlusCollapse > div,
.Syncfusion-Grid-VS2010 .MasterCellCollapse > div,
.Syncfusion-Grid-VS2010 .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-VS2010 .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-VS2010 .HeaderCellHover,
.sf-grid-vs2010-menu .button-wrapper,
.sf-grid-vs2010-menu .button-wrapper:hover,
.Syncfusion-Grid-VS2010 .FilterCellHover,
.Syncfusion-Grid-VS2010 .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.hover-bg.png%>) repeat-x scroll center bottom #fffcf2;
}
.sf-grid-vs2010-menu .sf-choiceList,
.sf-grid-vs2010-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-VS2010 .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.hover-bg.png%>);
}
.Syncfusion-Grid-VS2010 .AddNewItem,
.Syncfusion-Grid-VS2010 .EditItem,
.Syncfusion-Grid-VS2010 .ExcelItem,
.Syncfusion-Grid-VS2010 .WordItem,
.Syncfusion-Grid-VS2010 .PdfItem,
.Syncfusion-Grid-VS2010 .DeleteItem,
.Syncfusion-Grid-VS2010 .SaveItem,
.Syncfusion-Grid-VS2010 .Cancel,
.Syncfusion-Grid-VS2010 .FirstPage,
.Syncfusion-Grid-VS2010 .LastPage,
.Syncfusion-Grid-VS2010 .FirstPageDisabled,
.Syncfusion-Grid-VS2010 .LastPageDisabled,
.Syncfusion-Grid-VS2010 .GridPager .RefreshPager,
.Syncfusion-Grid-VS2010 .Search,
.Syncfusion-Grid-VS2010 .FilterIcon,
.Syncfusion-Grid-VS2010 .FilterIconTick,
.sf-grid-vs2010-menu .ClearFilterSideImg,
.sf-grid-vs2010-menu .searchButton,
.sf-grid-vs2010-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.VS2010_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.VS2010_sprite.png%>);
}
.Syncfusion-Grid-VS2010 .sliderContainer .ui-slider,
.Syncfusion-Grid-VS2010 .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-VS2010 .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-VS2010 .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.VS2010_sprite.png%>) !important;
}
.Syncfusion-Grid-VS2010 .HeaderCell,
.Syncfusion-Grid-VS2010 .grid-icon,
.Syncfusion-Grid-VS2010 .GroupTopLeftCell,
.Syncfusion-Grid-VS2010 .TopRightCell,
.Syncfusion-Grid-VS2010 th.MasterHeaderLeftCell,
.Syncfusion-Grid-VS2010 .TopLeftCell,
.Syncfusion-Grid-VS2010.cloneProperties,
.Syncfusion-Grid-VS2010 .ExternalForm-Header,
.Syncfusion-Grid-VS2010 .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.header-bg.png%>) repeat-x scroll center bottom #20304d;
}
.Syncfusion-Grid-VS2010 .GridHeader {
  background-color: #20304d;
  color: white;
}
.Syncfusion-Grid-VS2010 .ef-headerText {
  color: white;
}
.Syncfusion-Grid-VS2010 .Hdr-widthSettings {
  border-color: #a1a5ad;
}
.Syncfusion-Grid-VS2010 .CurrentItem,
.Syncfusion-Grid-VS2010 .CurrentItem:hover {
  border-color: #4a5e80;
  background-color: #425575;
  color: white !important;
}
.Syncfusion-Grid-VS2010 .ToolbarItems {
  color: white;
}
.Syncfusion-Grid-VS2010 .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-VS2010 .StringFilter,
.Syncfusion-Grid-VS2010 .DateFilter,
.Syncfusion-Grid-VS2010 .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-VS2010 .EditForm {
  background-color: white;
}
.Syncfusion-Grid-VS2010 .RecordCaption {
  color: black;
}
.Syncfusion-Grid-VS2010 .EditForm legend {
  color: black;
}
.Syncfusion-Grid-VS2010 .EditCell .field-validation-error,
.Syncfusion-Grid-VS2010 .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-VS2010 .EditCell {
  border-color: #a1a5ad;
}
.Syncfusion-Grid-VS2010 .EditForm fieldset {
  border-color: white;
}
.Syncfusion-Grid-VS2010 .Gridtoolbar .customToolItem {
  color: white;
}
.reSizeColbg {
  background-color: #2b3b57;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #c3cbde;
  border-color: #232457 !important;
}
.Syncfusion-Grid-VS2010.DragElementtext {
  background-color: #bcc7d8;
  color: black;
  border-color: #232457 !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-VS2010 .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-vs2010-menu .sf-choiceList,
.sf-grid-vs2010-menu .Search-Choice-wrapper,
.sf-grid-vs2010-menu .button-wrapper,
.sf-grid-vs2010-menu .button-wrapper:hover {
  border-color: #2b3b57;
}
.Syncfusion-Grid-VS2010 .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-VS2010 .button {
  border-color: silver !important;
}
.Syncfusion-Grid-VS2010 .sfInputText {
  color: black;
}
.Syncfusion-Grid-VS2010 .Table td.FrozenX,
.Syncfusion-Grid-VS2010 .Table th.FrozenX {
  border-right-color: #142038;
}
.Syncfusion-Grid-VS2010 .Table td.FrozenY {
  border-top-color: #142038;
}
.Syncfusion-Grid-VS2010 .sfVS2010 .ui-state-default,
.Syncfusion-Grid-VS2010 .sfVS2010 .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-VS2010 .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-VS2010 .RecordPlusExpand > div,
.Syncfusion-Grid-VS2010 .MasterCellExpand > div,
.Syncfusion-Grid-VS2010-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>);
}
.Syncfusion-Grid-VS2010 .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.active-bg.png%>) repeat-x scroll center bottom #3b4f70;
}
.Syncfusion-Grid-VS2010-Tooltip .tooltipTopDiv {
  background-color: #6a8ca6;
  color: white;
}
.Syncfusion-Grid-VS2010 .NextPage:Hover,
.Syncfusion-Grid-VS2010 .LastPage:Hover,
.Syncfusion-Grid-VS2010 .FirstPage:Hover,
.Syncfusion-Grid-VS2010 .PrevPage:Hover,
.Syncfusion-Grid-VS2010 .GridPager .RefreshPager:Hover {
  background-color: #dce1e8;
}
.Syncfusion-Grid-VS2010 .FilterBarCell,
.Syncfusion-Grid-VS2010 .FilterBarCellDisabled {
  border-color: #4a5e80;
  background-color: #b6bdce;
  background-image: none;
}
.Syncfusion-Grid-VS2010 .FilterBarCell input {
  border-color: #4a5e80;
}
.Syncfusion-Grid-VS2010 .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-VS2010 .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #f7f6f6;
  border-color: #4a5e80;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: #3b4f70;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-VS2010 .EnableRowHover tbody > tr:hover {
  background-color: #b6bdce;
}
.Syncfusion-Grid-VS2010 .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #a1a5ad;
  background-color: #b6bdce;
}
.Syncfusion-Grid-VS2010 .ExternalEdit {
  background-color: #b6bdce;
  border-color: #2b3b57;
}
.Syncfusion-Grid-VS2010 .bg-clear,
.Syncfusion-Grid-VS2010 .Gridtoolbar .customToolItem,
.Syncfusion-Grid-VS2010 .MasterCellCollapse,
.Syncfusion-Grid-VS2010 .MasterCellExpand,
.Syncfusion-Grid-VS2010 td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #a1a5ad;
}
.Syncfusion-Grid-VS2010 .ef-wrapper {
  border-color: #bccd78;
  background-color: #c3cbde;
}
