.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.VS2010 .contextcontainer .applicationmenu {
  color: white;
}
.sf-ribboncontainer.VS2010 .menucontainer .menuimage {
  border-right: #2b3b57;
}
.sf-ribboncontainer.VS2010 .contextcontainer .active.wrappertab,
.sf-ribboncontainer.VS2010 .contextcontainer .active.wrappertab:hover {
  border: 1px solid #4a5e80;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: white;
}
.sf-ribboncontainer.VS2010 .contextcontainer .wrappertab:hover {
  border: 1px solid #4a5e80;
}
.sf-ribboncontainer.VS2010 .menucontainer {
  background: none repeat scroll 0 0 #284054;
  border: 1px solid #2b3b57;
}
.sf-ribboncontainer.VS2010 .menucontainer ul {
  background: none repeat scroll 0 0 #284054;
  border: 1px solid #2b3b57;
}
.sf-ribboncontainer.VS2010 .pagecontainer {
  background: none repeat scroll 0 0 #284054;
  border: 2px solid #2b3b57;
  border-top: 2px solid #2b3b57;
}
.sf-ribboncontainer.VS2010 .pagecontainer .menutext.active {
  background-color: #fffcf2;
  border-bottom: 1px solid #4a5380;
  border-top: 1px solid #4a5380;
}
.sf-ribboncontainer.VS2010 .pagecontainer .menutext:hover {
  border-bottom: 1px solid #99bee5;
  border-top: 1px solid #99bee5;
}
.sf-ribboncontainer.VS2010 .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.VS2010 .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.VS2010 .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.VS2010 .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.VS2010 .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.VS2010 .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.VS2010 .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.VS2010 .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.VS2010 .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.VS2010 .contextcontainer {
  background: #99afcb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #99afcb 0%, #7c8cac 33%, #5b6d8f 67%, #41597d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99afcb), color-stop(33%, #7c8cac), color-stop(67%, #5b6d8f), color-stop(100%, #41597d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #99afcb 0%, #7c8cac 33%, #5b6d8f 67%, #41597d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #99afcb 0%, #7c8cac 33%, #5b6d8f 67%, #41597d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #99afcb 0%, #7c8cac 33%, #5b6d8f 67%, #41597d 100%);
  /* IE10+ */
  background: linear-gradient(top, #99afcb 0%, #7c8cac 33%, #5b6d8f 67%, #41597d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99afcb', endColorstr='#41597d', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.VS2010 .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #818eab;
}
.sf-ribboncontainer.VS2010 .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #818eab;
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .contextcontainer .tabcontextbar {
  background: #fcfcfb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfb 31%, #fafafa 36%, #e9e9e8 44%, #e3e3e2 51%, #e0e0df 58%, #e0e0df 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #fcfcfb), color-stop(36%, #fafafa), color-stop(44%, #e9e9e8), color-stop(51%, #e3e3e2), color-stop(58%, #e0e0df), color-stop(100%, #e0e0df));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfb 31%, #fafafa 36%, #e9e9e8 44%, #e3e3e2 51%, #e0e0df 58%, #e0e0df 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfb 31%, #fafafa 36%, #e9e9e8 44%, #e3e3e2 51%, #e0e0df 58%, #e0e0df 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfb 31%, #fafafa 36%, #e9e9e8 44%, #e3e3e2 51%, #e0e0df 58%, #e0e0df 100%);
  /* IE10+ */
  background: linear-gradient(top, #fcfcfb 31%, #fafafa 36%, #e9e9e8 44%, #e3e3e2 51%, #e0e0df 58%, #e0e0df 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfb', endColorstr='#e0e0df', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #818eab;
  border-right: 1px solid #818eab;
  border-top: 2px solid #818eab;
  color: #aaaaaa;
}
.sf-ribboncontainer.VS2010 .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.VS2010 .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  background: #818eab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .groupcontainer {
  background: #818eab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818eab), color-stop(100%, #5a6d95));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #818eab 0%, #5a6d95 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818eab', endColorstr='#5a6d95', GradientType=0);
  /* IE6-9 */

  border: 1px solid #677899;
}
.sf-ribboncontainer.VS2010 .contentitems {
  background: #818eab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818eab), color-stop(100%, #5a6d95));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #818eab 0%, #5a6d95 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #818eab 0%, #5a6d95 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818eab', endColorstr='#5a6d95', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .contextcontainer .applicationmenu {
  background: #b5bdc8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8), color-stop(36%, #828c95), color-stop(100%, #28343b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .menucontainer .menuitem:hover {
  background: #586592;
  /* Old browsers */
  background: -moz-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #586592), color-stop(8%, #697394), color-stop(20%, #566183), color-stop(32%, #4e587b), color-stop(44%, #4c5679), color-stop(60%, #525c7c), color-stop(68%, #596385), color-stop(80%, #687292), color-stop(96%, #757f9c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* IE10+ */
  background: linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e587b', endColorstr='#757f9c', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #3b4461;
}
.sf-ribboncontainer.VS2010 .pagecontainer .leftcontainer {
  background: #94b3d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #94b3d3 0%, #96b4d3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #94b3d3), color-stop(100%, #96b4d3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #94b3d3 0%, #96b4d3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #94b3d3 0%, #96b4d3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #94b3d3 0%, #96b4d3 100%);
  /* IE10+ */
  background: linear-gradient(left, #94b3d3 0%, #96b4d3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94b3d3', endColorstr='#96b4d3', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.VS2010 .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.VS2010 .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.VS2010 .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fffcf2;
  color: black;
}
.sf-ribboncontainer.VS2010 .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fffcf2;
  color: black;
}
.sf-ribboncontainer.VS2010 .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.VS2010 .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.VS2010 {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.VS2010 .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.sfGalleryView.png%>);
}
.sf-galleryview.VS2010 .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.VS2010 .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.VS2010 .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.VS2010 .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.VS2010 .slideup,
.sf-galleryview.VS2010 .slidedown,
.sf-galleryview.VS2010 .popup {
  position: relative;
}
.sf-galleryview.VS2010 .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.VS2010 .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.VS2010 .extracontainer ul,
.sf-galleryview.VS2010 .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.VS2010 .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.VS2010 .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.VS2010 .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.VS2010 .galleryrow {
  position: relative;
}
.sf-galleryview.VS2010 .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.VS2010 .galleryitem:hover,
.sf-galleryview.VS2010 .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.VS2010 .extracontainer .menuimage {
  border-right: 1px solid #2b3b57;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.VS2010 .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.VS2010 .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.VS2010 .gallerycontainer {
  background: none repeat scroll 0 0 #284054;
  border: 1px solid #2b3b57;
}
.sf-galleryview.VS2010 .subcontainer {
  background: none repeat scroll 0 0 #284054;
  border: 1px solid #2b3b57;
}
.sf-galleryview.VS2010 .extracontainer {
  border-top: 1px solid #2b3b57;
  color: white;
}
.sf-galleryview.VS2010 .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.VS2010 .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.VS2010 .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.VS2010 .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.VS2010 .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.VS2010 .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.VS2010 .extraitems .image {
  border-right: 1px solid #2b3b57;
  width: 20px;
}
.sf-galleryview.VS2010 .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.VS2010 .galleryitem:hover {
  background: #586592;
  /* Old browsers */
  background: -moz-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #586592), color-stop(8%, #697394), color-stop(20%, #566183), color-stop(32%, #4e587b), color-stop(44%, #4c5679), color-stop(60%, #525c7c), color-stop(68%, #596385), color-stop(80%, #687292), color-stop(96%, #757f9c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* IE10+ */
  background: linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e587b', endColorstr='#757f9c', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #3b4461;
}
.sf-galleryview.VS2010 .extracontainer ul li:hover {
  background: #586592;
  /* Old browsers */
  background: -moz-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #586592), color-stop(8%, #697394), color-stop(20%, #566183), color-stop(32%, #4e587b), color-stop(44%, #4c5679), color-stop(60%, #525c7c), color-stop(68%, #596385), color-stop(80%, #687292), color-stop(96%, #757f9c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* IE10+ */
  background: linear-gradient(top, #586592 4%, #697394 8%, #566183 20%, #4e587b 32%, #4c5679 44%, #525c7c 60%, #596385 68%, #687292 80%, #757f9c 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e587b', endColorstr='#757f9c', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #3b4461;
}
