
@base-background-color: #e3efff;
@base-border: 1px solid #8daed9;
@base-Header: #d0deef;
@BusinessHr-color: White;
@Workcell-color: #e6edf7;
@Workcell-select: #294c7a;
@Workcell-Hover: #bdd0e9;
@Workcell-Header: #d0deef;
@WorkCellUp-Month: #C2DAFC;
@appointment-color:#ADD2FF;
@ViewStrip-color:#ADD2FF;
@highlighAppDate: #14428D;
@highlightSelectedDate: #AABBD2;
@color:#000000;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #F2B242 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.blue.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #4378a5;
@tooltip-font-color: #000000;
@Appointment-text-color:#000000;
@Dialog-bg-color: #e3efff;
@ViewStrip-text-color:#000000;
@Dialog-text-color:#000000;