
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #4D81B3;
@click-font-color:@font-color;
@hover-font-color: #4D81B3;
@active-font-color: #FAFAFA;
@seperator-color: #6191C1;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@content-a-font-color: #4d81b3;
@header-a-font-color: #4D81B3;
@highlight-font-color: #363636;
@error-font-color: #cd0a0a;
@upload-font-color: #4D82B4;

@border-size: 1px;
@border-type: solid;

@border-color: #899CC9;
@hover-border-color: #99BEE5;
@active-border-color: #96B8DD;
@content-border-color: #96B8DD;
@header-border-color: #96B8DD;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;


@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #afd1e7;
@hover-bg-color: #e2f2ff;
@active-bg-color: #c2e0f7;
@progress-bg-color: #3DB4CE;
@submenu-bg-color:#f6f6f6;
@header-bg-color: #99bee5;
@content-bg-color: #fafafa;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@popup-bg-color: #f3f7fb;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #ffffff;
@refresh-audio-button-border-color: #4d81b3;
@captcha-image-border-color: #4d81b3;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.active-bg-ver.png%>)";


@skin: ~"Monochrome";
@foldername: ~"Themes";

@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";
@pane-bg-color: #FAFAFA;

@content-bg: ~"none";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";

@scroll-bg-color:#f3f7fb;
@scroll-border:1px solid #96B8DD;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: rgb(246,249,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,249,249,1) 4%, rgba(232,241,240,1) 8%, rgba(232,241,240,1) 92%, rgba(246,249,249,1) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(246,249,249,1)), color-stop(8%,rgba(232,241,240,1)), color-stop(92%,rgba(232,241,240,1)), color-stop(96%,rgba(246,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* IE10+ */
	background: linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f1f0', endColorstr='#f6f9f9',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #B5D2CF;
}

.hover-gradient()
{
	background: rgb(246,249,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,249,249,1) 4%, rgba(232,241,240,1) 8%, rgba(232,241,240,1) 92%, rgba(246,249,249,1) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(246,249,249,1)), color-stop(8%,rgba(232,241,240,1)), color-stop(92%,rgba(232,241,240,1)), color-stop(96%,rgba(246,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* IE10+ */
	background: linear-gradient(top,  rgba(246,249,249,1) 4%,rgba(232,241,240,1) 8%,rgba(232,241,240,1) 92%,rgba(246,249,249,1) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f1f0', endColorstr='#f6f9f9',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #B5D2CF;
}

.container-gradient()
{
	background: #d3d9e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #d3d9e2 0%, #aac5df 72%, #a3c2df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d9e2), color-stop(72%,#aac5df), color-stop(100%,#a3c2df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d3d9e2 0%,#aac5df 72%,#a3c2df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d3d9e2 0%,#aac5df 72%,#a3c2df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d3d9e2 0%,#aac5df 72%,#a3c2df 100%); /* IE10+ */
	background: linear-gradient(top,  #d3d9e2 0%,#aac5df 72%,#a3c2df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d9e2', endColorstr='#a3c2df',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #ADC6DF;
}
.itemcontainer-gradient()
{
	background: #f4f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f8f8 0%, #edf4f3 15%, #ecf3f2 29%, #e5efee 45%, #e7f0ef 46%, #e4eeed 53%, #dfebea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f8f8), color-stop(15%,#edf4f3), color-stop(29%,#ecf3f2), color-stop(45%,#e5efee), color-stop(46%,#e7f0ef), color-stop(53%,#e4eeed), color-stop(100%,#dfebea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f8f8 0%,#edf4f3 15%,#ecf3f2 29%,#e5efee 45%,#e7f0ef 46%,#e4eeed 53%,#dfebea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f8f8 0%,#edf4f3 15%,#ecf3f2 29%,#e5efee 45%,#e7f0ef 46%,#e4eeed 53%,#dfebea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f8f8 0%,#edf4f3 15%,#ecf3f2 29%,#e5efee 45%,#e7f0ef 46%,#e4eeed 53%,#dfebea 100%); /* IE10+ */
    background: linear-gradient(top,  #f4f8f8 0%,#edf4f3 15%,#ecf3f2 29%,#e5efee 45%,#e7f0ef 46%,#e4eeed 53%,#dfebea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8f8', endColorstr='#dfebea',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
    background: #F3F8F8;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #D3D7DC;
	background: #e2edec; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2edec 0%, #deebea 5%, #e0eceb 18%, #ecf3f2 32%, #f3f7f7 50%, #f7fafa 55%, #f9fbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2edec), color-stop(5%,#deebea), color-stop(18%,#e0eceb), color-stop(32%,#ecf3f2), color-stop(50%,#f3f7f7), color-stop(55%,#f7fafa), color-stop(100%,#f9fbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2edec 0%,#deebea 5%,#e0eceb 18%,#ecf3f2 32%,#f3f7f7 50%,#f7fafa 55%,#f9fbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2edec 0%,#deebea 5%,#e0eceb 18%,#ecf3f2 32%,#f3f7f7 50%,#f7fafa 55%,#f9fbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2edec 0%,#deebea 5%,#e0eceb 18%,#ecf3f2 32%,#f3f7f7 50%,#f7fafa 55%,#f9fbfb 100%); /* IE10+ */
	background: linear-gradient(top,  #e2edec 0%,#deebea 5%,#e0eceb 18%,#ecf3f2 32%,#f3f7f7 50%,#f7fafa 55%,#f9fbfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2edec', endColorstr='#f9fbfb',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: #6aa59f; /* Old browsers */
	background: -moz-linear-gradient(top,  #6aa59f 0%, #6aa59f 4%, #71a9a4 6%, #72aaa5 19%, #77ada8 26%, #71a9a4 28%, #70a9a4 30%, #79aea9 32%, #7fb2ad 36%, #81b3ae 40%, #8ebbb7 47%, #b0cfcc 57%, #b8d4d1 66%, #bfd8d6 68%, #c2dad8 70%, #cbdfdd 72%, #ddeae9 79%, #e5efee 87%, #f3f7f7 96%, #f2f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6aa59f), color-stop(4%,#6aa59f), color-stop(6%,#71a9a4), color-stop(19%,#72aaa5), color-stop(26%,#77ada8), color-stop(28%,#71a9a4), color-stop(30%,#70a9a4), color-stop(32%,#79aea9), color-stop(36%,#7fb2ad), color-stop(40%,#81b3ae), color-stop(47%,#8ebbb7), color-stop(57%,#b0cfcc), color-stop(66%,#b8d4d1), color-stop(68%,#bfd8d6), color-stop(70%,#c2dad8), color-stop(72%,#cbdfdd), color-stop(79%,#ddeae9), color-stop(87%,#e5efee), color-stop(96%,#f3f7f7), color-stop(100%,#f2f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6aa59f 0%,#6aa59f 4%,#71a9a4 6%,#72aaa5 19%,#77ada8 26%,#71a9a4 28%,#70a9a4 30%,#79aea9 32%,#7fb2ad 36%,#81b3ae 40%,#8ebbb7 47%,#b0cfcc 57%,#b8d4d1 66%,#bfd8d6 68%,#c2dad8 70%,#cbdfdd 72%,#ddeae9 79%,#e5efee 87%,#f3f7f7 96%,#f2f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6aa59f 0%,#6aa59f 4%,#71a9a4 6%,#72aaa5 19%,#77ada8 26%,#71a9a4 28%,#70a9a4 30%,#79aea9 32%,#7fb2ad 36%,#81b3ae 40%,#8ebbb7 47%,#b0cfcc 57%,#b8d4d1 66%,#bfd8d6 68%,#c2dad8 70%,#cbdfdd 72%,#ddeae9 79%,#e5efee 87%,#f3f7f7 96%,#f2f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6aa59f 0%,#6aa59f 4%,#71a9a4 6%,#72aaa5 19%,#77ada8 26%,#71a9a4 28%,#70a9a4 30%,#79aea9 32%,#7fb2ad 36%,#81b3ae 40%,#8ebbb7 47%,#b0cfcc 57%,#b8d4d1 66%,#bfd8d6 68%,#c2dad8 70%,#cbdfdd 72%,#ddeae9 79%,#e5efee 87%,#f3f7f7 96%,#f2f7f7 100%); /* IE10+ */
	background: linear-gradient(top,  #6aa59f 0%,#6aa59f 4%,#71a9a4 6%,#72aaa5 19%,#77ada8 26%,#71a9a4 28%,#70a9a4 30%,#79aea9 32%,#7fb2ad 36%,#81b3ae 40%,#8ebbb7 47%,#b0cfcc 57%,#b8d4d1 66%,#bfd8d6 68%,#c2dad8 70%,#cbdfdd 72%,#ddeae9 79%,#e5efee 87%,#f3f7f7 96%,#f2f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aa59f', endColorstr='#f2f7f7',GradientType=0 ); /* IE6-9 */
	border-left: @border-size @border-type #6AA59F;
	border-right: @border-size @border-type #6AA59F;
	border-top: @border-size+1 @border-type #6AA59F;
	color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	background: #d8e7e6; /* Old browsers */
    background: -moz-linear-gradient(top,  #d8e7e6 0%, #d5e5e3 5%, #d8e7e6 10%, #dae8e7 24%, #ecf3f2 52%, #eff5f4 67%, #f7fafa 81%, #f9fbfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e7e6), color-stop(5%,#d5e5e3), color-stop(10%,#d8e7e6), color-stop(24%,#dae8e7), color-stop(52%,#ecf3f2), color-stop(67%,#eff5f4), color-stop(81%,#f7fafa), color-stop(100%,#f9fbfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8e7e6 0%,#d5e5e3 5%,#d8e7e6 10%,#dae8e7 24%,#ecf3f2 52%,#eff5f4 67%,#f7fafa 81%,#f9fbfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d8e7e6 0%,#d5e5e3 5%,#d8e7e6 10%,#dae8e7 24%,#ecf3f2 52%,#eff5f4 67%,#f7fafa 81%,#f9fbfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d8e7e6 0%,#d5e5e3 5%,#d8e7e6 10%,#dae8e7 24%,#ecf3f2 52%,#eff5f4 67%,#f7fafa 81%,#f9fbfb 100%); /* IE10+ */
    background: linear-gradient(top,  #d8e7e6 0%,#d5e5e3 5%,#d8e7e6 10%,#dae8e7 24%,#ecf3f2 52%,#eff5f4 67%,#f7fafa 81%,#f9fbfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e7e6', endColorstr='#f9fbfb',GradientType=0 ); /* IE6-9 */
}

.ribboncontainer-hover()
{
	background: #a9cbc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #a9cbc8 0%, #a2c7c4 5%, #bbd6d3 14%, #cfe2e0 27%, #d9e8e7 32%, #e4eeed 45%, #f1f6f6 73%, #f2f7f7 82%, #f7fafa 86%, #f8fafa 95%, #fbfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9cbc8), color-stop(5%,#a2c7c4), color-stop(14%,#bbd6d3), color-stop(27%,#cfe2e0), color-stop(32%,#d9e8e7), color-stop(45%,#e4eeed), color-stop(73%,#f1f6f6), color-stop(82%,#f2f7f7), color-stop(86%,#f7fafa), color-stop(95%,#f8fafa), color-stop(100%,#fbfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a9cbc8 0%,#a2c7c4 5%,#bbd6d3 14%,#cfe2e0 27%,#d9e8e7 32%,#e4eeed 45%,#f1f6f6 73%,#f2f7f7 82%,#f7fafa 86%,#f8fafa 95%,#fbfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a9cbc8 0%,#a2c7c4 5%,#bbd6d3 14%,#cfe2e0 27%,#d9e8e7 32%,#e4eeed 45%,#f1f6f6 73%,#f2f7f7 82%,#f7fafa 86%,#f8fafa 95%,#fbfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a9cbc8 0%,#a2c7c4 5%,#bbd6d3 14%,#cfe2e0 27%,#d9e8e7 32%,#e4eeed 45%,#f1f6f6 73%,#f2f7f7 82%,#f7fafa 86%,#f8fafa 95%,#fbfcfc 100%); /* IE10+ */
    background: linear-gradient(top,  #a9cbc8 0%,#a2c7c4 5%,#bbd6d3 14%,#cfe2e0 27%,#d9e8e7 32%,#e4eeed 45%,#f1f6f6 73%,#f2f7f7 82%,#f7fafa 86%,#f8fafa 95%,#fbfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cbc8', endColorstr='#fbfcfc',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: rgb(211,217,226); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(211,217,226,1) 0%, rgba(170,197,223,1) 72%, rgba(163,194,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(211,217,226,1)), color-stop(72%,rgba(170,197,223,1)), color-stop(100%,rgba(163,194,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(211,217,226,1) 0%,rgba(170,197,223,1) 72%,rgba(163,194,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(211,217,226,1) 0%,rgba(170,197,223,1) 72%,rgba(163,194,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(211,217,226,1) 0%,rgba(170,197,223,1) 72%,rgba(163,194,223,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(211,217,226,1) 0%,rgba(170,197,223,1) 72%,rgba(163,194,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d9e2', endColorstr='#a3c2df',GradientType=1 ); /* IE6-9 */
}

