.schedule_Office2007Silver.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  position: relative;
  border: 1px solid #6f7074;
  background-color: #eeeeee;
}
.schedule_Office2007Silver table,
.schedule_Office2007Silver th,
.schedule_Office2007Silver tr,
.schedule_Office2007Silver .GoToDateWindowInner table tr,
.schedule_Office2007Silver .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Office2007Silver td,
.schedule_Office2007Silver .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Office2007Silver .NavigationPaneTd {
  border-right: 1px solid #6f7074;
  font-size: 10px;
  padding: 2px;
}
.schedule_Office2007Silver .NavigationPane {
  font-size: 10px;
}
.schedule_Office2007Silver .ui-datepicker-group {
  width: 100%;
}
.schedule_Office2007Silver .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Office2007Silver .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #eeeeee;
}
.schedule_Office2007Silver .HeaderBar {
  background-color: #eeeeee;
  background-repeat: repeat-x;
  border-top: 1px solid #6f7074;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Office2007Silver .HeaderBar td {
  background-color: #eeeeee;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Office2007Silver .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Office2007Silver .WorkCellUp,
.schedule_Office2007Silver .AllDayCell,
.schedule_Office2007Silver .WorkCellDown {
  font-size: 10px;
  background-color: #e8eaec;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  overflow: hidden;
}
.schedule_Office2007Silver .WorkCatCellUp,
.schedule_Office2007Silver .WorkCatCellDown {
  font-size: 10px;
  background-color: #e8eaec;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  overflow: hidden;
}
.schedule_Office2007Silver .WorkCellDownMonth {
  font-size: 10px;
  background-color: White;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  overflow: hidden;
}
.schedule_Office2007Silver .WorkCellUpMonth {
  font-size: 10px;
  background-color: #dbdbdb;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  overflow: hidden;
}
.schedule_Office2007Silver .TimeHourCell,
.schedule_Office2007Silver .TimeHourCellHorizontal {
  background-color: #eeeeee;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #6f7074;
  text-align: center;
  overflow: hidden;
}
.schedule_Office2007Silver .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #6f7074;
  vertical-align: top;
}
.schedule_Office2007Silver .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Office2007Silver .TimeHourCellMonth {
  background-color: #eeeeee;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #6f7074;
  text-align: center;
  overflow: hidden;
}
.schedule_Office2007Silver .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Office2007Silver .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #6f7074;
  border-bottom: 1px solid #6f7074;
}
.schedule_Office2007Silver .ContentContainer {
  background-color: #eeeeee;
  position: relative;
  width: 100%;
  border: 1px solid #6f7074;
  text-align: left;
  vertical-align: middle;
}
.schedule_Office2007Silver .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Office2007Silver .TimeMinuteCell {
  font-size: 7pt;
  background-color: #eeeeee;
  border-bottom: 1px solid #6f7074;
  text-align: left;
}
.schedule_Office2007Silver .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #4c535c 0%, #d2d5da 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #4c535c 0%, #d2d5da 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #4c535c 0%, #d2d5da 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #4c535c), color-stop(2, #d2d5da));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #4c535c 0%, #d2d5da 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #4c535c 0%, #d2d5da 100%);
  background-color: #989898;
  box-shadow: 0 1px 4px #4c535c;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: Black;
}
.schedule_Office2007Silver .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Office2007Silver .ViewStripCont {
  background-color: #eeeeee;
  text-align: left;
  vertical-align: middle;
  color: Black;
}
.schedule_Office2007Silver .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_Office2007SilverTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: Black;
  padding: 3px;
  font-size: 8pt;
  background-color: #3c3c3c;
  color: white;
  border: 1px solid #6f7074;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Office2007Silver .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Office2007Silver .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Office2007Silver .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Office2007Silver .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Office2007Silver .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Office2007Silver .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Office2007Silver .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Office2007Silver 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #6f7074;
  background-color: #eeeeee;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Office2007Silver 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Office2007Silver 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #eeeeee;
}
.schedule_Office2007Silver .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Office2007Silver .AppointmentWindowInner {
  background-color: #eeeeee;
  border: 1px solid #6f7074;
  color: Black;
}
.schedule_Office2007Silver .AppointmentWindow td {
  padding: 3px;
}
.schedule_Office2007Silver .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: black;
}
.schedule_Office2007Silver .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Office2007Silver .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Office2007Silver .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Office2007Silver .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Office2007Silver .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Office2007Silver .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Office2007Silver .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Office2007Silver .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Office2007Silver .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Office2007Silver .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Office2007Silver .LowImportanceImage {
  *float: left;
}
.schedule_Office2007Silver .HighImportanceImage {
  *float: left;
}
.schedule_Office2007Silver .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Office2007Silver .SaveImageTd,
.schedule_Office2007Silver .DeleteImageTd,
.schedule_Office2007Silver .RecurrenceImageTd,
.schedule_Office2007Silver  .HighImportanceImageTd,
.schedule_Office2007Silver  .LowImportanceImageTd,
.schedule_Office2007Silver  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Office2007Silver .SaveImageTd:hover,
.schedule_Office2007Silver  .DeleteImageTd:hover,
.schedule_Office2007Silver  .RecurrenceImageTd:hover,
.schedule_Office2007Silver  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #6f7074;
  cursor: pointer;
}
.schedule_Office2007Silver  .SaveImageTd:active,
.schedule_Office2007Silver  .DeleteImageTd:active,
.schedule_Office2007Silver  .RecurrenceImageTd:active,
.schedule_Office2007Silver  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -362px;
  background-color: #f2b242;
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Office2007Silver 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Office2007Silver 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Office2007Silver 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Office2007Silver .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #4c535c;
  border: 1px solid #6f7074;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Office2007Silver .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #4c535c;
  border: 1px solid #6f7074;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Office2007Silver .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Office2007Silver .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Office2007Silver .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Office2007Silver .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Office2007Silver .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Office2007Silver .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Office2007Silver .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Office2007Silver .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Office2007Silver .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Office2007Silver .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Office2007Silver .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Office2007Silver .DayImage,
.schedule_Office2007Silver .WeekImage,
.schedule_Office2007Silver .WorkWeekImage,
.schedule_Office2007Silver .MonthImage,
.schedule_Office2007Silver .TodayView,
.schedule_Office2007Silver .ImportIcon,
.schedule_Office2007Silver .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #d3dff2;
  border-right: 1px solid #6f7074;
}
.schedule_Office2007Silver .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Office2007Silver .DayImage:active,
.schedule_Office2007Silver .WeekImage:active,
.schedule_Office2007Silver .WorkWeekImage:active,
.schedule_Office2007Silver .MonthImage:active,
.schedule_Office2007Silver .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #f2b242;
  border-right: 1px solid #6f7074;
  color: black;
}
.schedule_Office2007Silver .ImportIcon:hover,
.schedule_Office2007Silver .ExportIcon:hover,
.schedule_Office2007Silver .TodayView:hover,
.schedule_Office2007Silver .DayImage:hover,
.schedule_Office2007Silver .WeekImage:hover,
.schedule_Office2007Silver .WorkWeekImage:hover,
.schedule_Office2007Silver .MonthImage:hover,
.schedule_Office2007Silver .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #6f7074;
}
.schedule_Office2007Silver .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Office2007Silver .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Office2007Silver .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Office2007Silver .CrudButtons {
  height: 30px;
}
.schedule_Office2007Silver .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Office2007Silver .Recurrence_types {
  border-right: 1px solid #d3dff2;
}
.schedule_Office2007Silver .Recurrence_common {
  padding: 3px;
}
.schedule_Office2007Silver .Recurrence_common div {
  padding: 3px;
}
.schedule_Office2007Silver .Recurrence_input {
  vertical-align: top;
}
.schedule_Office2007Silver .Recurrence_label {
  display: inline-table;
}
.schedule_Office2007Silver .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Office2007Silver .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Office2007Silver .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Office2007Silver .HeaderDaysOuter {
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  border-top: 1px solid #6f7074;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Office2007Silver .HeaderDays {
  padding-top: 1px;
  background-color: #eeeeee;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Office2007Silver .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Office2007Silver .HeaderDays table {
  table-layout: fixed;
}
.schedule_Office2007Silver .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Office2007Silver .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #6f7074;
  border-bottom: 1px solid #6f7074;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Office2007Silver .HeaderResourceCell {
  background-color: #eeeeee;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Office2007Silver .HeaderResourceCellCategory {
  background-color: #eeeeee;
  border-bottom: 1px solid #6f7074;
  border-right: 1px solid #6f7074;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Office2007Silver .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Office2007Silver .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -124px;
  background-color: #f2b242;
  border-right: 1px solid #f2b242;
  border-left: 1px solid #f2b242;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Office2007Silver .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -124px;
  background-color: #f2b242;
  border-right: 1px solid #f2b242;
  border-left: 1px solid #f2b242;
  text-align: left;
  overflow: hidden;
}
.schedule_Office2007Silver .CellToday {
  border-right: 1px solid #f2b242;
  border-left: 1px solid #f2b242;
}
.schedule_Office2007Silver .CellTodayMonth {
  border: 1px solid #f2b242;
}
.schedule_Office2007Silver .CellTodayLeft {
  border-left: 1px solid #f2b242;
}
.schedule_Office2007Silver .CellTodayRight {
  border-right: 1px solid #f2b242;
}
.schedule_Office2007Silver .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Office2007Silver .BusinessHour {
  background-color: White;
}
.schedule_Office2007Silver .selectedCell {
  color: White;
  background-color: #4c535c;
}
.schedule_Office2007Silver .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #d2d5da;
  overflow: hidden;
}
.schedule_Office2007Silver .tablediv {
  display: table;
  width: 100%;
}
.schedule_Office2007Silver .celldiv {
  display: table-cell;
}
.schedule_Office2007Silver .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Office2007Silver .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -93px;
  background-color: #d3dff2;
  background-repeat: repeat-x;
  border: 1px solid #6f7074;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: Black;
}
.schedule_Office2007Silver div.scheduleButton:hover,
.schedule_Office2007Silver input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #6f7074;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Office2007Silver  .HighImportanceImageTd:hover,
.schedule_Office2007Silver  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -124px;
  border: 1px solid #6f7074;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Office2007Silver div.scheduleButton:active,
.schedule_Office2007Silver  .HighImportanceImageTd:active,
.schedule_Office2007Silver  .LowImportanceImageTd:active,
.schedule_Office2007Silver .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -158px;
  background-color: #f2b242;
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .RecurrenceWindow,
.schedule_Office2007Silver .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: #eeeeee;
  border: 1px solid #6f7074;
  padding: 1px 5px;
}
.schedule_Office2007Silver .RecurrenceWindow td {
  height: 24px;
}
.schedule_Office2007Silver .Recurrence_Duration,
.schedule_Office2007Silver .Recurrence_Pattern,
.schedule_Office2007Silver .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #6f7074;
  line-height: 20px;
  padding: 2px;
}
.schedule_Office2007Silver .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Office2007Silver .SelectedRecurrence,
.schedule_Office2007Silver .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -362px;
  background-color: #f2b242;
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Office2007Silver .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Office2007Silver .Reminder_Details {
  border: 1px solid #6f7074;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Office2007Silver .Reminder_Details td,
.schedule_Office2007Silver .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Office2007Silver .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .ReminderHeader th {
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .Reminder_Details thead {
  background-color: #eeeeee;
  border: 1px solid 1px solid #6f7074;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Office2007Silver .Reminder_Details tbody {
  border: 1px solid 1px solid #6f7074;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Office2007Silver .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Office2007Silver .selectedReminderCell {
  text-align: left;
  color: White;
  background-color: #4c535c;
}
.schedule_Office2007Silver .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Office2007Silver .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #6f7074;
}
.schedule_Office2007Silver .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Office2007Silver .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: white;
}
.schedule_Office2007Silver .PrintAppointment td {
  padding: 3px;
}
.schedule_Office2007Silver .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Office2007Silver .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Office2007Silver .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Office2007Silver .hasDatepicker {
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Office2007Silver .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #6f7074;
}
.schedule_Office2007Silver .InputBox {
  background-color: white !important;
  color: black !important;
  border: 1px solid #6f7074 !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: black !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Office2007Silver .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Office2007Silver .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Office2007Silver .AppointmentIndicatorPrev {
  border: 1px solid #6f7074;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #eeeeee;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Office2007Silver .AppointmentIndicatorNext {
  border: 1px solid #6f7074;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #eeeeee;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Office2007Silver .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Office2007Silver .ui-resizable {
  position: relative;
}
.schedule_Office2007Silver .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Office2007Silver .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Office2007Silver .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Office2007Silver .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Office2007Silver .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Office2007Silver .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Office2007Silver .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Office2007Silver .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Office2007Silver .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Office2007Silver .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Office2007Silver .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: Black;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Office2007Silver .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #6f7074;
}
/*----BlockCell------*/

.schedule_Office2007Silver .BlockTime {
  color: White;
  background-color: #4c535c;
  position: absolute;
  opacity: .4;
}
.schedule_Office2007Silver .highlightSelectedDate a {
  background: #c7c7c7 !important;
  border: 1px solid #4c535c !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Office2007Silver .highlighAppointmentDate {
  font-weight: bolder !important;
  color: #3c3c3c !important;
}
.schedule_Office2007Silver .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: black !important;
}
.schedule_Office2007Silver .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Office2007Silver .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Office2007Silver .DateSeparator {
  border-right-color: #4c535c;
}
.schedule_Office2007Silver .AppointmentSubject {
  display: inline-block;
}
.schedule_Office2007Silver .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Office2007Silver .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Office2007Silver .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Office2007Silver .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Office2007Silver .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: Black;
}
