<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Popup.master.cs" Inherits="ServerStuff" %>
<!DOCTYPE html>
<html>
<head>    
    <title>WebClient</title>
</head>
<body>
    <form id="Form1" runat="server">
        <div id="mainDiv" class="main">
            <asp:ContentPlaceHolder ID="body" runat="server">

            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>