@base-background-color: #C7D8EC;
@base-border: 1px solid #34609b;
@base-Header:  #34609b;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #dbe6f5;
@Workcell-select: #34609b;
@Workcell-Hover: #a5bfe1;
@Workcell-Header: #333333;
@WorkCellUp-Month: #B7CCE7;
@appointment-color: #568FE6;
@ViewStrip-color: #b7cce7;
@highlighAppDate: #5189B8;
@highlightSelectedDate: #A5BFE1;
@color:#000000;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #34609B ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.blueberry.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #90B3D2;
@tooltip-font-color: #FFFFFF;
@Appointment-text-color:#FFFFFF;
@Dialog-bg-color:#FAFAFA;
@ViewStrip-text-color:#000000;
@Dialog-text-color:#000000;