/*----- Editor--*/

.sf-editor.Blend .sfInputText,
.sf-editor.Blend .Syncfusion_Value_TextBox,
.sf-editor.Blend .maskeditInput {
  color: #f0f0f0;
  background-color: #444444;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Blend {
  border: 1px solid #808282;
  display: inline-block;
}
.sf-editor.Blend .sfInputText,
.sf-editor.Blend .Syncfusion_Value_TextBox,
.sf-editor.Blend .Syncfusion_Watermark_TextBox {
  border-right: 1px solid #808282;
  background-color: #444444;
}
.sf-editor.Blend .sf-splitup,
.sf-editor.Blend .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blend .sf-splitup:hover,
.sf-editor.Blend .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blend .sf-splitup:active,
.sf-editor.Blend .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blend .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.Blend .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.Blend .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.Blend .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.Blend .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.Blend .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.Blend .sf-splitup,
.sf-editor.Blend {
  background-color: #444444;
}
.sf-editor.Blend .sf-splitup:hover {
  background-color: #353634;
}
.sf-editor.Blend .sf-splitup:active {
  background-color: #010201;
}
.sf-editor.Blend .sf-splitdown {
  background-color: #444444;
}
.sf-editor.Blend .sf-splitdown:hover {
  background-color: #353634;
}
.sf-editor.Blend .sf-splitdown:active {
  background-color: #010201;
}
.sf-core.disablebuttons,
.sf-genericdropdown.Blend .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.Blend.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.Blend.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid #808282;
}
.sf-editor.Blend .Syncfusion_Validator,
.sf-editor.Blend .error,
.sf-editor.Blend .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.Blend .Syncfusion_Watermark_TextBox,
.sf-editor.Blend .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: #444444;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Blend .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.Blend.Autocomplete_Wrapper {
  color: #f0f0f0;
  border: 1px solid #808282;
  height: 20px;
}
.sf-autocomplete.Blend.Autocomplete_SuggestionList {
  border: 1px solid #808282;
  background-color: #3a3a3a;
  color: #f0f0f0;
  font-size: 11px;
}
.sf-autocomplete.Blend ul li.listHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #353634;
  color: white;
}
.sf-autocomplete.Blend .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.Blend ul li div.template {
  color: #f0f0f0;
}
.sf-autocomplete.Blend .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid #808282;
  background-color: #444444;
}
.sf-autocomplete.Blend .AutoCompleteDD_RTL {
  border-right: 1px solid #808282;
  border-left: none;
}
.sf-autocomplete.Blend .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #353634;
  color: white;
}
.sf-autocomplete.Blend .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #010201;
  color: #bcbcbc;
}
.sf-autocomplete.Blend.Autocomplete_Wrapper input,
.sf-autocomplete.Blend.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.Blend.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: #f0f0f0;
  background-color: #444444;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.Blend .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.Blend .HighlightQueryText {
  font-weight: bold;
  color: #363636;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.Blend .GenericDropDownButtonBase {
  color: #f0f0f0;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.Blend .GenericDropDownButtonBase,
.sf-genericdropdown.Blend .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid #808282;
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #444444;
}
.sf-multicolumn.sf-genericdropdown.Blend .GenericDropDownButtonBase:hover,
.sf-genericdropdown.Blend .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-color: #353634;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.Blend .GenericDropDownButtonBase:active,
.sf-genericdropdown.Blend .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-color: #010201;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.Blend .GenericDropDownContainer {
  border: 1px solid #808282;
}
.sf-genericdropdown.Blend .GenericDropDownTextBox {
  background-color: #444444;
  color: #f0f0f0;
}
.sf-genericdropdown.Blend .GenericDropDownTextBoxHover {
  background-color: #444444;
}
.sf-genericdropdown.Blend .GenericDropDownPopupPanel {
  background-color: #3a3a3a;
  color: #f0f0f0;
  border: 1px solid #808282;
  font-size: 11px;
}
.sf-genericdropdown.Blend .GenericDropDownPopupPanel .listHover {
  background: #353634 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>) bottom;
  background-repeat: repeat-x;
  color: white;
}
/*-----------Button-------------*/

.sf-button.Blend {
  color: #f0f0f0;
}
.sf-button.Blend.background {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #262726;
  color: white;
  border: 1px solid #808282;
}
.sf-button.Blend.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #353634;
  border: 1px solid #3a3a3a;
  color: white;
}
.sf-button.Blend.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #010201;
  border: 1px solid #4a4a4a;
  color: #bcbcbc;
}
.sf-button.Blend .spritesplitdropdownbutton,
.sf-button.Blend .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.Blend .dropdowndownarrow,
.sf-button.Blend .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blend .splitrightarrow:hover .dropdowndownarrow,
.sf-button.Blend .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blend .splitrightarrow:active .dropdowndownarrow,
.sf-button.Blend .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blend .splitbottomarrow {
  display: block;
  border-top: 1px solid #808282;
  text-align: center;
}
.sf-button.Blend .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.Blend .splitrightarrow {
  display: table-cell;
  border-left: 1px solid #808282;
  text-align: center;
  vertical-align: top;
}
.sf-button.Blend .borderleftmousehover {
  border-left: 1px solid #3a3a3a;
}
.sf-button.Blend .bordertopmousehover {
  border-top: 1px solid #3a3a3a;
}
.sf-ribboncontainer.Blend .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.Blend .ribbonbutton:hover {
  background-image: none;
  background-color: #353634;
  border: 1px solid #3a3a3a;
}
.sf-ribboncontainer.Blend .ribbonbutton:active {
  background-image: none;
  background-color: #010201;
  border: 1px solid #4a4a4a;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.Blend  .captcha-image-container {
  float: left;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}
.sf-captcha.Blend .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.Blend .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #ebebeb url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}
.sf-captcha.Blend .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #ebebeb url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.Blend.horizontal .stars,
.sf-rating.Blend.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.stars.png%>) no-repeat;
}
.sf-rating.Blend.horizontal .reset,
.sf-rating.Blend.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.Blend .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.Blend .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.Blend .stars.active {
  background-position: 0 -51px;
}
.sf-rating.Blend .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.Blend .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.Blend .sf-sp-Hhandle,
.Blend .sf-sp-Vhandle {
  background: #454545;
  border: 1px solid #333333;
}
.Blend .sf-sp-tb,
.Blend .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.Blend .sf-sp-bl,
.Blend .sf-sp-br {
  height: 12px;
  width: 7px;
}
.Blend .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.Blend .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.Blend .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.Blend .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.Blend {
  border-color: #808282;
}
.sf-splitter.Blend .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.Blend .pane {
  color: #bcbcbc;
  background-color: #595959;
}
.sf-splitter.Blend .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.Blend .splitbar {
  background-color: #262726;
  border-color: #808282;
}
.sf-splitter.Blend .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Blend .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: #353634;
}
.sf-splitter.Blend .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Blend .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: #353634;
}
/* Vertical view css classes */

.sf-splitter.Blend .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.Blend .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: #353634;
}
.sf-splitter.Blend .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.Blend .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: #353634;
}
/*----Tag-Cloud------*/

.sf-tagcloud.Blend {
  background-color: #333333;
}
.sf-tagcloud.Blend .tagcloud-header {
  background-color: #454545;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg.png%>);
  color: white;
}
.sf-tagcloud.Blend .tagcloud-items .textNode {
  color: #bcbcbc;
}
.sf-tagcloud.Blend .tagcloud-items .textNode.hover {
  color: #bcbcbc;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.Blend {
  border: 1px solid #808282;
}
.sf-timepicker.Blend li {
  background-color: #262726;
  color: white;
  border-color: #808282;
}
.sf-timepicker.Blend li:hover {
  background-color: #353634;
  color: white;
  border-color: #3a3a3a;
}
/*------ Toolbar--------*/

.sf-toolbar.Blend-horizontal {
  color: white;
  border: 1px solid #808282;
  background: #262726 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg.png%>) repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.Blend-vertical {
  color: white;
  border: 1px solid #808282;
  background: #262726 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg-ver.png%>) repeat-y left;
  display: inline-block;
}
.sf-toolbar.Blend-vertical,
.sf-toolbar.Blend-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.Blend-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.Blend-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.Blend-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.Blend-horizontal .Disable_ToolLi,
.sf-toolbar.Blend-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.Blend-horizontal .Tool_Hover,
.sf-toolbar.Blend-vertical .Tool_Hover {
  background: #353634 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>) repeat-x center bottom;
  border: 1px solid #3a3a3a;
  color: white;
}
.sf-toolbar.Blend-horizontal .Tool_Selected,
.sf-toolbar.Blend-vertical .Tool_Selected {
  border: 1px solid #4a4a4a;
  background: #010201 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg.png%>) repeat-x center bottom;
  color: #bcbcbc;
}
.sf-toolbar.Blend-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.Blend-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.Blend-horizontal .AlignMiddle,
.sf-toolbar.Blend-vertical .AlignMiddle,
.sf-toolbar.Blend-horizontal .Toolbar_Text,
.sf-toolbar.Blend-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.Blend .ImgCss {
  border: 1px solid #808282;
}
.sf-treeview.Blend .showline-NodeText,
.sf-treeview.Blend .noline-NodeText {
  color: #bcbcbc;
}
.sf-treeview.Blend .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.Blend.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.Blend .Input_Text {
  border: solid 2px #010201;
}
.sf-treeview.Blend span.noline-child,
.sf-treeview.Blend span.showline-child {
  white-space: nowrap;
}
.sf-treeview.Blend .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.Blend .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.Blend.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.Blend.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.Blend .pointer,
.sf-treeview.Blend.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.Blend .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.Blend .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.Blend .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.Blend.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.Blend.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.Blend.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.Blend .showline-selected,
.sf-treeview.Blend .noline-selected {
  background: #010201 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg.png%>) 0 0 repeat-x;
  color: #bcbcbc;
  border: 1px solid #4a4a4a;
}
.sf-treeview.Blend .showline-hover,
.sf-treeview.Blend .noline-hover {
  background: #353634 url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>) 0 0 repeat-x;
  color: white;
  border: 1px solid #3a3a3a;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid #808282;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.Blend .file-progress {
  border: 1px solid #808282;
  background-color: #262726;
}
.sf-uploadbox.Blend .file-action,
.sf-uploadbox.Blend .file-list .file-size {
  border-color: #808282;
  background-color: #262726;
}
.sf-uploadbox.Blend .file-progress-status {
  background-color: #7f7f7f;
}
.sf-uploadbox.Blend .inputbutton {
  background-color: #262726;
  color: white;
  border: 1px solid #808282;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.Blend .file-list {
  color: white;
}
