<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenEditor.Properties.Settings>
            <setting name="WPFDefaultXAML" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePseudoSilverlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Screen</value>
            </setting>
            <setting name="DefaultScreenName" serializeAs="String">
                <value>Screen</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.xaml</value>
            </setting>
      </ScreenEditor.Properties.Settings>
    </userSettings>
    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><applicationSettings>
        <ScreenManager.Properties.Settings>
            <setting name="TypeLabel" serializeAs="String">
                <value>Screen</value>
            </setting>
            <setting name="DefaultScreenName" serializeAs="String">
                <value>Screen</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.xaml</value>
            </setting>
            <setting name="Aliased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportFileFilter" serializeAs="String">
                <value>Xaml Files (*.xaml)|*.xaml|Assembly Files (*.dll)|*.dll</value>
            </setting>
            <setting name="ResourceDictionaryFileType" serializeAs="String">
                <value>"Xaml Files (*.xaml)|*.xaml"</value>
            </setting>
            <setting name="BingMapKey" serializeAs="String">
                <value>AlyRXdH0-7gITM8V4SpqrJg7QxwD9zzbzLIICmxrhn1LS8rtJn7bpcCym6NK0qGb</value>
            </setting>
            <setting name="CustomMapDataProviderUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOpenStreetMapProvider" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceLowPerformance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowPerformanceIndex" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="DisablePageTransitions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapLiveScreenHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableTagCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiMonitorMap" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableBusyWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnselectedTabstripFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SelectedTabstripFontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UnselectedTabstripOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RequiredAssemblies" serializeAs="String">
                <value>ScreenDependencies</value>
            </setting>
            <setting name="DefaultScreenWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="DefaultScreenHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="ZoomLevelList" serializeAs="String">
                <value>20|50|70|100|150|200|400</value>
            </setting>
            <setting name="NewScreenSettingsExtension" serializeAs="String">
                <value>newscreensettings</value>
            </setting>
            <setting name="MinZoomLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SVGStylePrefix" serializeAs="String">
                <value>css</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitToolbarButton" serializeAs="String">
                <value>SplitToolbarButton</value>
            </setting>
            <setting name="DefaultGeoPageMenuAndShortcutName" serializeAs="String">
                <value>GeoPage</value>
            </setting>
            <setting name="UseThemedWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultipleCharPlaceHolder" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="OneCharPlaceHolder" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="EnablePerformancesLog" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenManager.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
