/*----- Editor--*/

.sf-editor.None .sfInputText,
.sf-editor.None .Syncfusion_Value_TextBox,
.sf-editor.None .maskeditInput {
  color: black;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.None {
  border: 1px solid black;
  display: inline-block;
}
.sf-editor.None .sfInputText,
.sf-editor.None .Syncfusion_Value_TextBox,
.sf-editor.None .Syncfusion_Watermark_TextBox {
  border-right: 1px solid black;
  background-color: white;
}
.sf-editor.None .sf-splitup,
.sf-editor.None .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.None .sf-splitup:hover,
.sf-editor.None .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.None .sf-splitup:active,
.sf-editor.None .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.None .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.None .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.None .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.None .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.None .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.None .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.None .sf-splitup,
.sf-editor.None {
  background-color: white;
}
.sf-editor.None .sf-splitup:hover {
  background-color: white;
}
.sf-editor.None .sf-splitup:active {
  background-color: white;
}
.sf-editor.None .sf-splitdown {
  background-color: white;
}
.sf-editor.None .sf-splitdown:hover {
  background-color: white;
}
.sf-editor.None .sf-splitdown:active {
  background-color: white;
}
.sf-core.disablebuttons,
.sf-genericdropdown.None .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.None.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.None.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid black;
}
.sf-editor.None .Syncfusion_Validator,
.sf-editor.None .error,
.sf-editor.None .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.None .Syncfusion_Watermark_TextBox,
.sf-editor.None .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.None .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.None.Autocomplete_Wrapper {
  color: black;
  border: 1px solid black;
  height: 20px;
}
.sf-autocomplete.None.Autocomplete_SuggestionList {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 11px;
}
.sf-autocomplete.None ul li.listHover {
  background-image: "none";
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: white;
  color: black;
}
.sf-autocomplete.None .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.None ul li div.template {
  color: black;
}
.sf-autocomplete.None .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid black;
  background-color: white;
}
.sf-autocomplete.None .AutoCompleteDD_RTL {
  border-right: 1px solid black;
  border-left: none;
}
.sf-autocomplete.None .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
  color: black;
}
.sf-autocomplete.None .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
  color: black;
}
.sf-autocomplete.None.Autocomplete_Wrapper input,
.sf-autocomplete.None.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.None.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: black;
  background-color: white;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.None .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.None .HighlightQueryText {
  font-weight: bold;
  color: black;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.None .GenericDropDownButtonBase {
  color: black;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.None .GenericDropDownButtonBase,
.sf-genericdropdown.None .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid black;
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
}
.sf-multicolumn.sf-genericdropdown.None .GenericDropDownButtonBase:hover,
.sf-genericdropdown.None .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-color: white;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.None .GenericDropDownButtonBase:active,
.sf-genericdropdown.None .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-color: white;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.None .GenericDropDownContainer {
  border: 1px solid black;
}
.sf-genericdropdown.None .GenericDropDownTextBox {
  background-color: white;
  color: black;
}
.sf-genericdropdown.None .GenericDropDownTextBoxHover {
  background-color: white;
}
.sf-genericdropdown.None .GenericDropDownPopupPanel {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 11px;
}
.sf-genericdropdown.None .GenericDropDownPopupPanel .listHover {
  background: white "none" bottom;
  background-repeat: repeat-x;
  color: black;
}
/*-----------Button-------------*/

.sf-button.None {
  color: black;
}
.sf-button.None.background {
  background-image: "none";
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sf-button.None.backgroundhover {
  background-image: "none";
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.sf-button.None.backgroundselected {
  background-image: "none";
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.sf-button.None .spritesplitdropdownbutton,
.sf-button.None .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.None .dropdowndownarrow,
.sf-button.None .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.None .splitrightarrow:hover .dropdowndownarrow,
.sf-button.None .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.None .splitrightarrow:active .dropdowndownarrow,
.sf-button.None .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.None .splitbottomarrow {
  display: block;
  border-top: 1px solid black;
  text-align: center;
}
.sf-button.None .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.None .splitrightarrow {
  display: table-cell;
  border-left: 1px solid black;
  text-align: center;
  vertical-align: top;
}
.sf-button.None .borderleftmousehover {
  border-left: 1px solid black;
}
.sf-button.None .bordertopmousehover {
  border-top: 1px solid black;
}
.sf-ribboncontainer.None .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.None .ribbonbutton:hover {
  background-image: none;
  background-color: white;
  border: 1px solid black;
}
.sf-ribboncontainer.None .ribbonbutton:active {
  background-image: none;
  background-color: white;
  border: 1px solid black;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.None  .captcha-image-container {
  float: left;
  border: 1px solid #c8c9c9;
  border-radius: 3px;
}
.sf-captcha.None .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.None .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #f7f7f7 url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.sf-captcha.None .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #f7f7f7 url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.None.horizontal .stars,
.sf-rating.None.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.stars.png%>) no-repeat;
}
.sf-rating.None.horizontal .reset,
.sf-rating.None.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.None .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.None .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.None .stars.active {
  background-position: 0 -51px;
}
.sf-rating.None .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.None .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.None .sf-sp-Hhandle,
.None .sf-sp-Vhandle {
  background: #333333;
  border: 1px solid #222222;
}
.None .sf-sp-tb,
.None .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.None .sf-sp-bl,
.None .sf-sp-br {
  height: 12px;
  width: 7px;
}
.None .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.None .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.None .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.None .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.None {
  border-color: black;
}
.sf-splitter.None .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.None .pane {
  color: black;
  background-color: white;
}
.sf-splitter.None .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.None .splitbar {
  background-color: white;
  border-color: black;
}
.sf-splitter.None .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.None .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: white;
}
.sf-splitter.None .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.None .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: white;
}
/* Vertical view css classes */

.sf-splitter.None .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.None .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: white;
}
.sf-splitter.None .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.None .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: white;
}
/*----Tag-Cloud------*/

.sf-tagcloud.None {
  background-color: white;
}
.sf-tagcloud.None .tagcloud-header {
  background-color: white;
  background-image: "none";
  color: black;
}
.sf-tagcloud.None .tagcloud-items .textNode {
  color: black;
}
.sf-tagcloud.None .tagcloud-items .textNode.hover {
  color: black;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.None {
  border: 1px solid black;
}
.sf-timepicker.None li {
  background-color: white;
  color: black;
  border-color: black;
}
.sf-timepicker.None li:hover {
  background-color: white;
  color: black;
  border-color: black;
}
/*------ Toolbar--------*/

.sf-toolbar.None-horizontal {
  color: black;
  border: 1px solid black;
  background: white "none" repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.None-vertical {
  color: black;
  border: 1px solid black;
  background: white "none" repeat-y left;
  display: inline-block;
}
.sf-toolbar.None-vertical,
.sf-toolbar.None-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.None-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.None-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.None-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.None-horizontal .Disable_ToolLi,
.sf-toolbar.None-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.None-horizontal .Tool_Hover,
.sf-toolbar.None-vertical .Tool_Hover {
  background: white "none" repeat-x center bottom;
  border: 1px solid black;
  color: black;
}
.sf-toolbar.None-horizontal .Tool_Selected,
.sf-toolbar.None-vertical .Tool_Selected {
  border: 1px solid black;
  background: white "none" repeat-x center bottom;
  color: black;
}
.sf-toolbar.None-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.None-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.None-horizontal .AlignMiddle,
.sf-toolbar.None-vertical .AlignMiddle,
.sf-toolbar.None-horizontal .Toolbar_Text,
.sf-toolbar.None-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.None .ImgCss {
  border: 1px solid black;
}
.sf-treeview.None .showline-NodeText,
.sf-treeview.None .noline-NodeText {
  color: black;
}
.sf-treeview.None .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.None.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.None .Input_Text {
  border: solid 2px white;
}
.sf-treeview.None span.noline-child,
.sf-treeview.None span.showline-child {
  white-space: nowrap;
}
.sf-treeview.None .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.None .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.None.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.None.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.None .pointer,
.sf-treeview.None.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.None.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.None .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.None .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.None .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.None.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.None.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.None.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.None .showline-selected,
.sf-treeview.None .noline-selected {
  background: white "none" 0 0 repeat-x;
  color: black;
  border: 1px solid black;
}
.sf-treeview.None .showline-hover,
.sf-treeview.None .noline-hover {
  background: white "none" 0 0 repeat-x;
  color: black;
  border: 1px solid black;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid black;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.None .file-progress {
  border: 1px solid black;
  background-color: white;
}
.sf-uploadbox.None .file-action,
.sf-uploadbox.None .file-list .file-size {
  border-color: black;
  background-color: white;
}
.sf-uploadbox.None .file-progress-status {
  background-color: black;
}
.sf-uploadbox.None .inputbutton {
  background-color: white;
  color: #636464;
  border: 1px solid black;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.None .file-list {
  color: #636464;
}
