@import "Definition/ChartDefinition.less";

.ChartModel img
{
	border:@img-border;	
}
.ChartModel > .TableScroll .ResetImg
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.CSB_Reset.gif%>);
    background-color: @scroll-bg-color;
    background-position: @scroll-position;
    background-repeat: @scroll-bg-repeat;
    vertical-align:@scroll-vertical-align;
    height: @table-height;
    width: @table-width;
    padding: @table-padding;
    font-size: @table-font-size;
}
.ChartModel > .TableScroll .DownImg
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.CSB_Down.gif%>);
     background-color: @scroll-bg-color;
    background-position: @scroll-position;
    background-repeat: @scroll-bg-repeat;
    vertical-align:@scroll-vertical-align;
    height: @table-height;
    width: @table-width;
    padding: @table-padding;
    font-size: @table-font-size;
}
.ChartModel > .TableScroll .UpImg
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.CSB_Up.gif%>);
     background-color: @scroll-bg-color;
    background-position: @scroll-position;
    background-repeat: @scroll-bg-repeat;
    vertical-align:@scroll-vertical-align;
    height: @table-height;
    width: @table-width;
    padding: @table-padding;
    font-size: @table-font-size;
}
.ChartModel > .TableScroll .LeftImg
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.CSB_Left.gif%>);
    background-color: @scroll-bg-color;
    background-position: @scroll-position;
    background-repeat: @scroll-bg-repeat;
    vertical-align:@scroll-vertical-align;
    height: @table-height;
    width: @table-width;
    padding: @table-padding;
    font-size: @table-font-size;
}
.ChartModel > .TableScroll .RightImg
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.CSB_Right.gif%>);
     background-color: @scroll-bg-color;
    background-position: @scroll-position;
    background-repeat: @scroll-bg-repeat;
    vertical-align:@scroll-vertical-align;
    height: @table-height;
    width: @table-width;
    padding: @table-padding;
    font-size: @table-font-size;
}
.ChartModel > .ChartRegionZoomBar
{
    position: @model-position;
    visibility: visible;
    background: #00000D;
    line-height: 0px;
    font-size: @table-font-size;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.ChartModel .XZoomPanel > .ZoomBar, .ChartModel .YZoomPanel > .ZoomBar
{    
	
    font-size: @table-font-size;
    background-color: @scroll-bg-color;
}
.ChartModel .XZoomPanel > .ZoomBar
{
	padding-bottom:@table-padding;
	padding-top:@table-padding;
	padding-left:@table-zoom-padding;
	padding-right:@table-zoom-padding;
}
.ChartModel .YZoomPanel > .ZoomBar
{
	padding-left:@table-padding;
	padding-right:@table-padding;
	padding-bottom:@table-zoom-padding;
	padding-top:@table-zoom-padding;
}
.ChartModel > .TableScroll .XZoomPanel
{
    background-color: @scroll-bg-color;
    font-size: @table-font-size;
    padding: @table-zoom-padding;
}
.ChartModel > .TableScroll .YZoomPanel
{
    vertical-align: top;
    background-color: @scroll-bg-color;
    font-size: @table-font-size;
    padding:  @table-zoom-padding;
}
.ChartModel .Rendering
{
    background-color: @scroll-bg-color;
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.Rendering.gif%>);
    background-repeat: @scroll-bg-repeat;
    width: @table-width;
    height: @table-height;
}
.ChartModel > .Restriction
{
    position: @model-position;
    font-size: 15px;
    font-family: Arial;
    color: Black;
    display: block;
    font-weight: bold;
}
.ChartModel > .DivAreaAxis
{
    position: @model-position;
    overflow: hidden;
}
.ChartModel > .PaddingBottom
{
    padding-bottom:@model-padding;
}
.ChartModel > .PaddingRight
{
    padding-right:@model-padding;
}
.ChartModel > .PaddingTop
{
    padding-top:@model-padding;
}
.ChartModel > .PaddingLeft
{
    padding-left:@model-padding;
}
.ChartModel .TableAreaAxis
{
    position: relative;
    font-size: @table-font-size;
    padding:@table-zoom-padding;
    border: @img-border;
    table-layout: fixed;
    width: @table-width;
    height: @table-height;
}
.ChartModel .TableAreaAxis td,.ChartModel > .TableScroll td
{
    font-size: @table-font-size;
    padding: @table-zoom-padding;
    margin:0px;
    line-height:0px;
}
.ChartModel .TableAreaAxis td
{
    vertical-align: top;
    padding:@table-zoom-padding;
    border: @img-border;
}
.ChartModel > .TableScroll
{
    position: @model-position;
    table-layout: fixed;
    font-size: @table-font-size;
    padding: @table-zoom-padding;
}
.ChartModel > #Legend.ChartLegend
{
    position: absolute;
    display: block;
    z-index: 300;
    cursor: default;
}
.ChartModel > .WaitingPopup
{
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: @model-position;
    visibility: visible;
    background-color: gray;
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.waitingpopup.gif%>);
    background-position: center;
    background-repeat: @scroll-bg-repeat;
    line-height: 0px;
    font-size: @table-font-size;
}
.ChartModel > .VirtualClass
{
    position: @model-position;
    overflow: hidden;
}
.ChartModel > .PrintButtonSpan .PrintButton
{
    background-image: url(<%Syncfusion.Theme.Base.Chart.Images.printButton.png%>);
    background-position: center;
    background-repeat: @scroll-bg-repeat;
    width: @table-width;
    height:@table-height;
}
.ChartModel > .PrintButtonSpan
{
    position:  @model-position;
}
.ChartModel .VCursor
{
	position: @model-position;
	cursor:e-resize;
	width:0px;
}
.ChartModel .HCursor
{
	position: @model-position;
	cursor:n-resize;
	height:0px;
}
.ChartModel
{
    position: relative;
}
.ChartModel .PanningOpen
{
    cursor: url(<%Syncfusion.Theme.Base.Chart.Images.HandOpen.cur%>),move;
}
.PanningClose
{
    cursor: url(<%Syncfusion.Theme.Base.Chart.Images.HandClose.cur%>),move;
}
.NormalChartModel
{
    cursor:default;
}
.CrossHairChartModel
{
    cursor:crosshair;
}
.HorizontalResize
{
	cursor:n-resize;
	
}
.VerticalResize
{
	cursor:e-resize;
}
.ToolTipTemplate
{
    background-image:@tooltip-img;
    background-color:#FFFFFF;
    background-position:center;
    background-repeat:@scroll-bg-repeat;
    width:@table-width;
    height:@table-height;
}
.ToolTipImage
{
    background: @tooltip-img;

}
.ToolTipImage.ToolTipLeftTopBorder
{
    background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageTopLeft.png%>);
     width: @tooltip-Xsize; height: @tooltip-Xsize;
    background-repeat:@scroll-bg-repeat;
}
.ToolTipImage.ToolTipLeftMiddleBorder
{
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageMiddleLeft.png%>);
width: @tooltip-Xsize; height: @tooltip-Ysize;
background-repeat:repeat-y;
}
.ToolTipImage.ToolTipLeftBottomBorder
{
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageBottomLeft.png%>);
 width: @tooltip-Xsize; height: @tooltip-Xsize;
    background-repeat:@scroll-bg-repeat;
}
.ToolTipImage.ToolTipCenterTopContent
{
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageTopCenter.png%>);
width: @tooltip-Ysize; height: @tooltip-Xsize;
background-repeat:repeat-x;
}
.ToolTipImage.ToolTipCenterBottomBorder
{
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageBottomCenter.png%>);
width: @tooltip-Ysize; height: @tooltip-Xsize;
background-repeat:repeat-x;
}
.ToolTipImage.ToolTipRightTopBorder
{
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageTopRight.png%>);
 width: @tooltip-Xsize; height: @tooltip-Xsize;
background-repeat:@scroll-bg-repeat;
}
.ToolTipImage.ToolTipRightMiddleBorder
{  
background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageMiddleRight.png%>);
width: @tooltip-Xsize; height: @tooltip-Ysize;
background-repeat:repeat-y;
}
.ToolTipImage.ToolTipRightBottomBorder
{
  background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageBottomRight.png%>);
  width: @tooltip-Xsize; height: @tooltip-Xsize;
  background-repeat:@scroll-bg-repeat;
}

.ToolTipImage.ToolTipCenterMiddleContent
{
    background: url(<%Syncfusion.Theme.Base.Chart.Images.TooltipImageMiddleCenter.png%>);
	background-repeat:repeat;
}
.ToolbarImages
{
	background-image: url(<%Syncfusion.Theme.Base.Chart.Images.Toolbar_Images.png%>);
}

.ToolbarImages.Gripper
{
	height: @toolbar-size;
	width: 7px;
	background-position: -70px -1098px; width: 8px; height: @toolbar-size;
}
.ToolbarImages.Save
{
	height:@toolbar-size;
	width: @toolbar-size;
	background-position: -70px -802px; width: @toolbar-size; height: @toolbar-size;
}
.ToolbarImages.Panning
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -654px; width: @toolbar-size; height: @toolbar-size;
}

.ToolbarImages.Print
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -728px; width: @toolbar-size; height: @toolbar-size;
}

.ToolbarImages.Copy
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -508px; width: 21px; height: 22px;
}

.ToolbarImages.ChartSeriesSkins
{
	background-position: -70px -580px; 
	width: @toolbar-size;
	height: @toolbar-size;
}

.ToolbarImages.Enable3D
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -434px; width: @toolbar-size; height: @toolbar-size;
}

.ToolbarImages.ZoomIn
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -950px; width: @toolbar-size; height: @toolbar-size;
}

.ToolbarImages.ZoomOut
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -1024px; width: @toolbar-size; height: @toolbar-size;
}

.ToolbarImages.ChangeChartSeries
{
	height: @toolbar-size;
	width: @toolbar-size;
	background-position: -70px -876px; width: @toolbar-size; height: @toolbar-size;
}
.ToolbarImages.ChangePalette
{
	height: @toolbar-size;
	width: @toolbar-size;
}
.ToolbarImages.Line
{
	height: @tooltip-Xsize;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
	background-position: 0 -1042px; width: @toolbaritem-width; height: @tooltip-Xsize;
}
.ToolbarImages.Spline
{
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
	background-position: 0 -1661px; width: @toolbaritem-width; height: @toolbaritem-height;
}
.ToolbarImages.RotatedSpline
{
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
	background-position: 0 -1537px; width: @toolbaritem-width; height: @toolbaritem-height;
}
.ToolbarImages.Scatter
{
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
	background-position: 0 -1599px; width: @toolbaritem-width; height: @toolbaritem-height;
}
.ToolbarImages.Column
{
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
	background-position: 0 -422px; width: @toolbaritem-width; height: @toolbaritem-height;
}
.ToolbarImages.Bar
{
	background-position: 0 -174px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Gantt
{
	background-position: 0 -670px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.StackingBar
{
	background-position: 0 -1909px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Area
{
	background-position: 0 -112px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.RangeArea
{
	background-position: 0 -1413px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.StackingArea
{
	background-position: 0 -1785px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.SplineArea
{
	background-position: 0 -1723px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.StackingColumn
{
	background-position: -70px -62px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.StackingColumn100
{
	background-position: -70px -124px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.StackingBar100
{
	background-position: -70px 0; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.StackingArea100
{
	background-position: 0 -1847px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Pie
{
	background-position: 0 -1103px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Funnel
{
	background-position: 0 -608px; width:@toolbaritem-width; height:  @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Pyramid
{
	background-position: 0 -1289px; width: @toolbaritem-width; height: @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}

.ToolbarImages.HiLo
{
	background-position: 0 -794px; width: @toolbaritem-width; height: @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.HiLoOpenClose
{
	background-position: 0 -856px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height: @toolbaritem-height;
	width:@toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Candle
{
	background-position: 0 -360px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Bubble
{
	background-position: 0 -298px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width:@toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.StepLine
{
	background-position: -70px -248px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.StepArea
{
	background-position: -70px -186px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}

.ToolbarImages.Radar
{
	background-position: 0 -1351px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width:@toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Kagi
{
	background-position: 0 -980px; width: @toolbaritem-width; height:  @toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Renko
{
	background-position: 0 -1475px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Polar
{
	background-position: 0 -1227px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.ColumnRange
{
	background-position: 0 -484px; width: @toolbaritem-width; height:@toolbaritem-height;
	height:  @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.ThreeLineBreak
{
	background-position: -70px -310px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.PointAndFigure
{
	background-position: 0 -1165px; width:@toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.BoxAndWhisker
{
	background-position: 0 -236px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.Tornado
{
	background-position: -70px -372px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top:@toolbar-top;
}

.ToolbarImages.Histogram
{
	background-position: 0 -918px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top:@toolbar-top;
}
.ToolbarImages.HeatMap
{
	background-position: 0 -732px; width:@toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position: @toolbar-position;
	top: @toolbar-top;
}
.ToolbarImages.Custom
{
	background-position: 0 -546px; width: @toolbaritem-width; height: @toolbaritem-height;
	height: @toolbaritem-height;
	width: @toolbaritem-width;
	position:@toolbar-position;
	top: @toolbar-top;
}
div[id*="ToolTip"] > table,table td
{
  padding:0px;
  border: none;
}
.ToolbarImages.Down
{
background-position: -70px -580px; width: @toolbar-size; height: @toolbar-size;
	position: @toolbar-position;
	top: @toolbar-top;
	float:right;
}

span.ChartLegend >img {
    border: @img-border;
}




