<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFUAHistorianModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFUAHistorianModel.Properties.Settings>
            <setting name="MSSQLFullBackupExistsQuery" serializeAs="String">
                <value>SELECT COUNT(database_name) FROM msdb.dbo.backupmediafamily
INNER JOIN msdb.dbo.backupset ON msdb.dbo.backupmediafamily.media_set_id = msdb.dbo.backupset.media_set_id
WHERE msdb.dbo.backupset.database_name = '{0}' AND type = 'D' AND recovery_model = 'FULL'</value>
            </setting>
            <setting name="MSSQLBackupDirectoryQuery" serializeAs="String">
                <value>EXECUTE xp_instance_regread N'HKEY_LOCAL_MACHINE', N'SOFTWARE\Microsoft\MSSQLServer\MSSQLServer', N'BackupDirectory'</value>
            </setting>
            <setting name="TimeoutUpdateSchema" serializeAs="String">
                <value>15000</value>
            </setting>
        </UFUAHistorianModel.Properties.Settings>
    </applicationSettings>
</configuration>