<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFUAServerInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <UFUAServerInfo.Properties.Settings>
            <setting name="DefaultServerExe" serializeAs="String">
                <value>PlatformNextIOServer.exe</value>
            </setting>
            <setting name="DefaultServerConfig" serializeAs="String">
                <value>UFUAServer.UAServer.Config.xml</value>
            </setting>
            <setting name="XpoDefaultConnectionString" serializeAs="String">
                <value>XpoProvider=MSSqlServer;data source=(local);integrated security=SSPI;initial catalog=ApplicationName</value>
            </setting>
            <setting name="TagsRootName" serializeAs="String">
                <value>Tags</value>
            </setting>
            <setting name="DynSettingsSeparator" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="AlarmsRootName" serializeAs="String">
                <value>Alarms</value>
            </setting>
            <setting name="DriversRootName" serializeAs="String">
                <value>Drivers</value>
            </setting>
            <setting name="DefaultAliasRootName" serializeAs="String">
                <value>DA</value>
            </setting>
            <setting name="AuditSuffix" serializeAs="String">
                <value>Audit</value>
            </setting>
            <setting name="CFR21UserName" serializeAs="String">
                <value>NExT_IO_Server</value>
            </setting>
            <setting name="SysTrayApp" serializeAs="String">
                <value>PlatformNextSysTray.exe</value>
            </setting>
            <setting name="HistorianFlushFolderName" serializeAs="String">
                <value>Historian</value>
            </setting>
            <setting name="EventFlushFolderName" serializeAs="String">
                <value>EventLog</value>
            </setting>
            <setting name="DataLoggerFlushFolderName" serializeAs="String">
                <value>DataLogger</value>
            </setting>
            <setting name="DefaultFileExtAlr" serializeAs="String">
                <value>.alrRTSettings</value>
            </setting>
            <setting name="RuntimeAlrFileName" serializeAs="String">
                <value>RuntimeAlarm</value>
            </setting>
            <setting name="SQLDatabaseConfigurationTool" serializeAs="String">
                <value>SQLDatabaseConfiguration.exe</value>
            </setting>
            <setting name="SQLDatabaseConfigurationArgs" serializeAs="String">
                <value>"/O{0}" "/P{1}" ""/D"{2}" "/T{3}" "/U{4}" "/L{5}" "/C{6}" "/H{7}"</value>
            </setting>
            <setting name="CoreExt" serializeAs="String">
                <value>.core</value>
            </setting>
        </UFUAServerInfo.Properties.Settings>
    </applicationSettings>
</configuration>
