<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="UFProjectManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><applicationSettings>
        <UFProjectManager.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFProject</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>UFProject</value>
            </setting>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>Project</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="DocumentFolder" serializeAs="String">
                <value>Documents</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>Log\ClientLog.xml</value>
            </setting>
            <setting name="RuntimeDataFolder" serializeAs="String">
                <value>RuntimeData</value>
            </setting>
            <setting name="NetCoreLogPath" serializeAs="String">
                <value>Log\ClientLog.log</value>
            </setting>
            <setting name="ConnectItemsAtStartupPacketSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ConnectItemsAtStartupSleepTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutoLoadEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="StoppingRuntimeTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LayoutFileExtension" serializeAs="String">
                <value>layout</value>
            </setting>
            <setting name="DeployProfilesFileName" serializeAs="String">
                <value>DeployProfiles.xml</value>
            </setting>
            <setting name="ServerWebHMIRootFolder" serializeAs="String">
                <value>WebHMIServer</value>
            </setting>
            <setting name="ClientWebHMIRootFolder" serializeAs="String">
                <value>WebHMIServer</value>
            </setting>
            <setting name="ServerIODataServerRootFolder" serializeAs="String">
                <value>IODataServer</value>
            </setting>
            <setting name="ClientIODataServerRootFolder" serializeAs="String">
                <value>IODataServer</value>
            </setting>
            <setting name="ServerProjectsRootFolder" serializeAs="String">
                <value>Projects</value>
            </setting>
            <setting name="CheckedAssemblyName_WebHMI" serializeAs="String">
                <value>WebNExTHMI.dll</value>
            </setting>
            <setting name="CheckedAssemblyName_IODataServer" serializeAs="String">
                <value>PlatformNextIOServer.Core.dll</value>
            </setting>
            <setting name="WebHMIMaxUploadChunkSize" serializeAs="String">
                <value>1024000</value>
            </setting>
            <setting name="IODataServerProcessName" serializeAs="String">
                <value>PlatformNextIOServer.exe</value>
            </setting>
            <setting name="XpoMemoryProvider" serializeAs="String">
                <value>InMemoryDataStore</value>
            </setting>
            <setting name="UFUAServerFilePath" serializeAs="String">
                <value>UFUAServer/Server.UFUAServer</value>
            </setting>
            <setting name="StringServerFilePath" serializeAs="String">
                <value>Strings/Strings.Strings</value>
            </setting>
            <setting name="UsersServerFilePath" serializeAs="String">
                <value>UFUser/User.UFUser</value>
            </setting>
            <setting name="WebBrowserProcessName" serializeAs="String">
                <value>WebBrowser</value>
            </setting>
            <setting name="LinuxWebHMIBrowserCommand" serializeAs="String">
                <value>sensible-browser</value>
            </setting>
            <setting name="WebHMIServerUrls" serializeAs="String">
                <value>http://localhost:5000;https://localhost:5001</value>
            </setting>
            <setting name="ServiceManagerExecutable" serializeAs="String">
                <value>InstallServerService.exe</value>
            </setting>
            <setting name="ServerServiceNamePrefix" serializeAs="String">
                <value>PlatformNextIOServer</value>
            </setting>
            <setting name="ClientWebHMIwwwFolder" serializeAs="String">
                <value>wwwroot</value>
            </setting>
            <setting name="CheckedAssemblyName_LogicsServer" serializeAs="String">
                <value>LogicService.Core.dll</value>
            </setting>
            <setting name="LogicsServiceNamePrefix" serializeAs="String">
                <value>LogicService</value>
            </setting>
            <setting name="CheckedAssemblyName_RecipesServer" serializeAs="String">
                <value>RecipeUAServer.Core.dll</value>
            </setting>
            <setting name="RecipesServiceNamePrefix" serializeAs="String">
                <value>RecipeUAServer</value>
            </setting>
            <setting name="CheckedAssemblyName_SchedulerServer" serializeAs="String">
                <value>SchedulerServer.Core.dll</value>
            </setting>
            <setting name="SchedulerServiceNamePrefix" serializeAs="String">
                <value>SchedulerServer</value>
            </setting>
            <setting name="MSServerFilePath" serializeAs="String">
                <value>SchedulerServer/SchedulerServer.MSServer</value>
            </setting>
            <setting name="ConNextSubKey" serializeAs="String">
                <value>Software\Progea</value>
            </setting>
            <setting name="ConNextKeyName" serializeAs="String">
                <value>ConNext</value>
            </setting>
            <setting name="RemoteLicenseFileName" serializeAs="String">
                <value>msz_controls.xaml</value>
            </setting>
            <setting name="ServerWebHMIImagesFolder" serializeAs="String">
                <value>wwwroot\images</value>
            </setting>
            <setting name="MovNextKeyName" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
            <setting name="MovNextSubKey" serializeAs="String">
                <value>Software\Progea</value>
            </setting>
            <setting name="VersionKeyName" serializeAs="String">
                <value>Version</value>
            </setting>
            <setting name="WinExecutableName_WebHMI" serializeAs="String">
                <value>WebNExTHMI.exe</value>
            </setting>
            <setting name="WebClientServiceCertificateFriendlyName" serializeAs="String">
                <value>UFWebClientService_LocalCertificate</value>
            </setting>
            <setting name="RuntimeProcessName" serializeAs="String">
                <value>MoviconNextRT.exe</value>
            </setting>
            <setting name="TileDetailsFilename" serializeAs="String">
                <value>Tile.details</value>
            </setting>
            <setting name="IsErrorLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWarningLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInformationLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxEventLogErrorRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxPendingMessagesCount" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="EventLogErrorRetryIntervall" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WebHMIWwwrootDocumentsExtensionsPattern" serializeAs="String">
                <value>\.pdf</value>
            </setting>
            <setting name="ServerWebHMIDocumentsFolder" serializeAs="String">
                <value>wwwroot\documents</value>
            </setting>
            <setting name="ProjectUpdaterExe" serializeAs="String">
                <value>ProjectUpdater.exe</value>
            </setting>
            <setting name="ProjectUpdaterArg" serializeAs="String">
                <value>/P"{0}"</value>
            </setting>
            <setting name="UpdateProjectFromMajorVersion" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UpdateProjectFromMinorVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultDeployClientConnectToPort" serializeAs="String">
                <value>5002</value>
            </setting>
            <setting name="DownloadPathFileName" serializeAs="String">
                <value>DeployClientDownloadPath</value>
            </setting>
            <setting name="WebHMIMaxDownloadChunkSize" serializeAs="String">
                <value>1024000</value>
            </setting>
            <setting name="ConnectItemsAtStartupTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ADServiceNamePrefix" serializeAs="String">
                <value>ADispatcherServer</value>
            </setting>
            <setting name="CheckedAssemblyName_ADServer" serializeAs="String">
                <value>ADispatcherServer.Core.dll</value>
            </setting>
            <setting name="ADServerFilePath" serializeAs="String">
                <value>AlarmDispatcher/AlarmDispatcher.ADServer</value>
            </setting>
        </UFProjectManager.Properties.Settings>
    </applicationSettings>
<appSettings>
    <add key="PubnubMessaging.LogLevel" value="0" />
    <add key="PubnubMessaging.PubnubErrorFilterLevel" value="3" />
    <add key="PubnubMessaging.LogMessageLengthLimit" value="0" />
  </appSettings><system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics><system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net>
</configuration>
