<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PropertyControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PropertyControl.Properties.Settings>
            <setting name="ToolBoxFolder" serializeAs="String">
                <value>Toolbox</value>
            </setting>
            <setting name="ShowPropertyGroupsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFolderCultureName" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="CategoryConfigFileName" serializeAs="String">
                <value>PropertyControlUI.CategoryOrder.xml</value>
            </setting>
            <setting name="MaxFilterListCount" serializeAs="String">
                <value>20</value>
            </setting>
        </PropertyControl.Properties.Settings>
    </applicationSettings>
</configuration>