<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFRecipeSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFRecipeSettings.Properties.Settings>
            <setting name="DefaultRecipeName" serializeAs="String">
                <value>Recipe</value>
            </setting>
            <setting name="DefaultGroupName" serializeAs="String">
                <value>Group</value>
            </setting>
            <setting name="DefaultDataValueName" serializeAs="String">
                <value>DataValue</value>
            </setting>
            <setting name="UseUniqueRecipeNameVersion" serializeAs="String">
                <value>4.1</value>
            </setting>
            <setting name="MaxUndoRedoActions" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AppNameSuffix" serializeAs="String">
                <value>RecipeService</value>
            </setting>
            <setting name="DefaultUAFileName" serializeAs="String">
                <value>RecipeSettings</value>
            </setting>
            <setting name="DefaultUAFileExt" serializeAs="String">
                <value>.UAServer</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Recipe</value>
            </setting>
            <setting name="CertificateCheckerArgs" serializeAs="String">
                <value>"/SPlatform.NExT RecipeUAServer" "/E{0}" /I "/A{1}" "/Y{2}"</value>
            </setting>
            <setting name="CertificateChecker" serializeAs="String">
                <value>CertificateChecker.exe</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFRecipe</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
        </UFRecipeSettings.Properties.Settings>
    </applicationSettings>
</configuration>