@border-color: #AFB750;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #E5E8AD;
@row-cell-border-color : #EDEFD9;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #54573c;
@group-droparea-bg-color: #e8e8c2;
@group-droparea-border-color: #DEE0BD;
@clone-bg-color: #e8e8c2;
@clone-border-color: #EDEFD9;
@top-right-border-color: #EDEFD9;
@caption-row-border-color: #d4d9a7;
@caption-row-bg-color: #f1f1e1;
@group-caption-drop-row-font-color:#54573c;
@pager-caption-row-border-color: #d4d9a7;
@pager-groupdrop-border-color: #d4d9a7;
@pager-groupdrop-bg-color: #f1f1e1;
@group-indent-expand-collapse-bg-color: #d4d9a7;
@group-indent-expand-collapse-border-color: #EDEFD9;
@hover-header-border-color: #E2E7B8;
@hover-group-header-border-color: #DEE0BD;
@selected-header-border-color: #EDEFD9;
@selected-header-bg-color: #CBD08E;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #F8FBF2;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #EDEFD9;
@selected-row-header-bg-color: #F8FBF2;
@alt-row-bg-color: #F8FBF2;
@summary-font-color: #000000;
@summary-bg-color: #DFE59E;
@summary-border-color: #EDEFD9;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #BDC284;
@selection-bg-color: #CBD08E;
@currentcell-bg-color: #83875c;
@currentcell-font-color: #ffffff;
@gridpager-bg-color: #e6e6cb;
@gridpager-border-color: #AFB750;
@numericitem-font-color: #54573c;
@numeric-hover-bg-color: #D2D8A6;
@spacing-color: #54573c;
@currentitem-border-color: #EDEFD9;
@currentitem-bg-color: #9D9F71;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #CBD18F;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #AFB750;
@custom-font-color: #54573C;
@resizecol-bg-color: #AFB750;
@helper-bg-color: #F1F1E1;
@helper-border-color: #83875C;
@dragelement-bg-color: #83875C;
@dragelement-font-color: #ffffff;
@dragelement-border-color: #83875C;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #AFB750;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #AFB750;
@tooltip-bg-color: #9D9F71;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #D2D8A6;
@filter-cell-bg-color: #F8FBF2;
@filter-input-border-color: #D4D9A7; 
@filter-status-bg-color: #F8FBF2;
@filter-status-border-color: #AFB750; 
@msg-font-color: #929667;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #D4D9A7;
@tr-hover: #DFE4BC;
@skin: ~"Olive";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-olive-menu";