<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrendRealTimeSlim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TrendRealTimeSlim.Properties.Settings>
            <setting name="DesignSettingName" serializeAs="String">
                <value>Design settings</value>
            </setting>
            <setting name="DesignSettingBaseName" serializeAs="String">
                <value>Memory</value>
            </setting>
            <setting name="UtcTimeColumnName" serializeAs="String">
                <value>UtcTimeCol</value>
            </setting>
            <setting name="DeadBandDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="WebLegendHeightFactor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebLegendMinHeight" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="DemoMaxValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DemoMaxDays" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SecondaryYAxis" serializeAs="String">
                <value>_SecondaryYAxis</value>
            </setting>
            <setting name="KeyboardAutoScrollTimeFraction" serializeAs="String">
                <value>20</value>
            </setting>
        </TrendRealTimeSlim.Properties.Settings>
    </applicationSettings>
</configuration>