<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Databoom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DataboomMessaging.LogLevel" value="0" />
    <add key="DataboomMessaging.DataboomErrorFilterLevel" value="3" />
    <add key="DataboomMessaging.LogMessageLengthLimit" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="databoomListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="databoom-messaging.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Databoom.Properties.Settings>
      <setting name="CompanyName" serializeAs="String">
        <value>Progea</value>
      </setting>
      <setting name="CommonApplicationFolder" serializeAs="String">
        <value>Movicon.NExT.Runtime</value>
      </setting>
      <setting name="QueueWriteValuesMaxSize" serializeAs="String">
        <value>86400</value>
      </setting>
      <setting name="TimeoutMinValue" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="UnWrittenValuesRestoredAtTimeMaxSize" serializeAs="String">
        <value>50</value>
      </setting>
    </Databoom.Properties.Settings>
  </userSettings>
</configuration>