/*----------------------------General------------------------------------*/
@skin: ~"Metro";
@sf-menu: ~"sf-grid-metro-menu";
@border-color: #b3b3b3;
@font-color: #2e2e2e;

/*----------------------------GroupDropArea------------------------------------*/
@group-droparea-bg-color: #EBEBEB;
@group-droparea-border-color: #C5C5C5;

/*----------------------------Caption------------------------------------*/
@caption-row-border-color: #C5C5C5;
@caption-row-bg-color: #F4F4F4;
@group-caption-drop-row-font-color:#27769E;
@pager-caption-row-border-color: #C5C5C5;
@group-caption-pager-color: #8A8A8A;

/*----------------------------Headers------------------------------------*/
@grid-header-color: #FFFFFF;
@selected-header-color: #2e2e2e;
@selected-column-color: #2E2E2E;
@grid-header-hover-color: #FFFFFF;

@hover-header-border-color: #b3b3b3;
@hover-group-header-border-color: #159ccb;
@selected-header-border-color: #C5C5C5;

@row-header-bg-color: #D8D8D9;
@header-bg-color: #159ed9;
@selected-header-bg-color: #E6E6E6;
@selected-column-bg-color: #c2e3ed;
@selection-bg-color: #c2e3ed;

/*----------------------------Content------------------------------------*/
@gridcontent-bg-color: #FFFFFF;
@alt-row-bg-color: #F4F4F4;
@row-cell-border-color : #FEFEFE;

@selected-row-color: #2E2E2E;
@selected-row-header-border-color: #C5C5C5;
@selected-row-header-bg-color: #D8D8D9;
@selected-row-highlight-bg-color: #F68B3C;
@tr-hover: #FBE292;
@top-right-border-color: #C5C5C5;

/*----------------------------Pager------------------------------------*/
@gridpager-bg-color: #EBEBEB;
@gridpager-border-color: #C5C5C5;

@numeric-hover-color: #FFFFFF;
@numericitem-font-color: #8A8A8A;
@numeric-hover-bg-color: #2ABFF1;

@pager-groupdrop-border-color: #C5C5C5;
@pager-groupdrop-bg-color: #BFDBFF;

@spacing-color: #27769E;
@currentitem-border-color: #C5C5C5;
@currentitem-bg-color: #2AABCF;
@currentitem-font-color: #FFFFFF;
@next-last-hover-bg-color: #2ABFF1;

/*----------------------------Others------------------------------------*/
@image-bg-color: transparent;
@custom-font-color: #8A8A8A;

/*----------------------------Grouping & Drag and Drop------------------------------------*/
@clone-bg-color: #454545;
@clone-border-color: #C5C5C5;
@group-indent-expand-collapse-bg-color: #E5E5E5;
@group-indent-expand-collapse-border-color: #C5C5C5;
@plusminus-selection-bg-color: #FCC467;

@dragelement-bg-color: #F89643;
@dragelement-font-color: #8A8A8A;
@dragelement-border-color: #C5C5C5;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@dragtable-editors-input-font-color: #8A8A8A;

/*----------------------------Editing------------------------------------*/
@edit-form-bg-color: #F4F4F4;
@record-caption-font-color: #555555;
@legend-font-color: #555555;
@error: red;
@fieldset-border-color: #C5C5C5;
@edit-caption-font-color: #555555;
@grid-externalform-header-font-color: #555555;
@grid-editors-button-border-color: #C5C5C5;

@currentcell-bg-color: #2AABCF;
@currentcell-font-color: #FFFFFF;
@template-unboundcell-color: #81C909;

/*----------------------------Filtering------------------------------------*/
@filter-cell-bg-color: #DEECFF;
@filter-input-border-color: #C5C5C5; 
@filter-status-bg-color: #F9F9F9;
@filter-status-border-color: #C5C5C5; 
@msg-font-color: #8A8A8A;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #ADD1FF;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #C5C5C5;
@choice-wrapper-border-color: #C5C5C5;

/*----------------------------Summary------------------------------------*/
@summary-font-color: #8A8A8A;
@summary-bg-color: #D0D0D0;
@summary-border-color: #DDDDDD;

/*----------------------------Resizing------------------------------------*/
@sync-resizecol-bg-color: #688CAF;
@frozenxy-border-color: #989898;
@tooltip-bg-color: #BBAFAD;
@tooltip-font-color: #ffffff;
@resizecol-bg-color: #6593CF;
@helper-bg-color: #F0F3F8;
@helper-border-color: #C5C5C5;



































