/*============== Metro ===================*/

@bg-table: White;
@bdrcolor-table: #C4C4C4;
@bg-summarycell: #CCEDFF;
@bg-headercell: #FFFFFF;
@fg-tooltip: #575757;
@fnt-style: ~"12px/19px Segoe UI";
@white-spaces: nowrap;
@margin-tooltip: 5px;
@img-drill-repeat: no-repeat;
@img-expand-position: 5px 0px;
@img-collapse-position: 5px -25px;
@dsp-style: inline-block;
@txt-align: left;
@img-cursor-style: pointer;
@position-tooltip: absolute;
@expand-hover-position: 5px -50px;
@collapse-hover-position: 5px -75px;
@th-td-padding: 4px 3px 4px 4px;
@row-header-padding: 4px 3px;
.ogrid-header-color() 
{	
	color: #565656;
	font:bold 12px/19px Segoe UI;
}
.ogrid-header-hover-color()
{
color:#FFFFFF;
background-color:#5EABDE;
}
@expander-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton_Metro.png%>)";
.ogrid-expand-hover()
{
background-position:@expand-hover-position;
}
.ogrid-collapse-hover()
{
background-position:@collapse-hover-position;
}
@skin: ~"Metro";
