<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UFEventEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <applicationSettings>
        <UFEventEditor.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFEvent</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Events</value>
            </setting>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>Events</value>
            </setting>
            <setting name="DefaultFolderName" serializeAs="String">
                <value>Folder</value>
            </setting>
            <setting name="DefaultEventName" serializeAs="String">
                <value>NewEvent</value>
            </setting>
            <setting name="AppNameSuffix" serializeAs="String">
                <value>Event</value>
            </setting>
            <setting name="MaxItemsInTree" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="MaxUndoRedoActions" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScheduleTimeEvents" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderAlwaysExpandible" serializeAs="String">
                <value>False</value>
            </setting>
        </UFEventEditor.Properties.Settings>
    </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
