<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScriptEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScriptEditor.Properties.Settings>
            <setting name="ScriptDefaultText" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.Script</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Script</value>
            </setting>
            <setting name="DefaultScriptName" serializeAs="String">
                <value>Script</value>
            </setting>
        </ScriptEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <ScriptManager.Properties.Settings>
            <setting name="ScriptDefaultText" serializeAs="String">
                <value>'#Language "WWB.NET"'newline'Sub Main Handles .Main'newline'End Sub</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.Script</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Script</value>
            </setting>
            <setting name="DefaultScriptName" serializeAs="String">
                <value>Script</value>
            </setting>
            <setting name="EntryPointSub" serializeAs="String">
                <value>Sub Main</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>{a67e0d79-2f96-7bb4-240c-9b9b05072dd2}</value>
            </setting>
            <setting name="TypeTitle" serializeAs="String">
                <value>Script Manager</value>
            </setting>
            <setting name="MaxVariableIntellisense" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StatusVarIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
        </ScriptManager.Properties.Settings>
    </applicationSettings>
</configuration>
