<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFProcessServiceCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFProcessServiceCMS.Properties.Settings>
            <setting name="ServiceManagerProcessArgs" serializeAs="String">
                <value>"/K" "/N{0}" "/Y{1}" "/F{2}" "/D{3}"</value>
            </setting>
            <setting name="ServiceInstallProcessParams" serializeAs="String">
                <value> "/P{0}-{1}"</value>
            </setting>
            <setting name="ServiceInstallProcess" serializeAs="String">
                <value>InstallServerService.exe</value>
            </setting>
            <setting name="ServiceStartProcessArgs" serializeAs="String">
                <value>"/S" "/N{0}" "/Y{1}" "/F{2}"</value>
            </setting>
            <setting name="ServiceStopProcessArgs" serializeAs="String">
                <value>"/T" "/N{0}" "/Y{1}" "/F{2}"</value>
            </setting>
            <setting name="ServerOption" serializeAs="String">
                <value>-noservice</value>
            </setting>
            <setting name="SuspendedOption" serializeAs="String">
                <value>-suspend</value>
            </setting>
            <setting name="CallingProcessOption" serializeAs="String">
                <value>"-processId={0}"</value>
            </setting>
            <setting name="DefaultOperationTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </UFProcessServiceCMS.Properties.Settings>
    </applicationSettings>
</configuration>