<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartupWelcome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StartupWelcome.Properties.Settings>
            <setting name="SupportAccount" serializeAs="String">
                <value>support.movicon@emerson.com</value>
            </setting>
            <setting name="HelpScope" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="CommonExampleFolder" serializeAs="String">
                <value>ExampleProjects</value>
            </setting>
            <setting name="ServiceInstallProcess" serializeAs="String">
                <value>InstallDongleService.exe</value>
            </setting>
            <setting name="DongleNetServiceName" serializeAs="String">
                <value>NetLicenseService</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
            <setting name="LayoutApplicationFolder" serializeAs="String">
                <value>Movicon.NExT.Layouts</value>
            </setting>
            <setting name="PluginsExtension" serializeAs="String">
                <value>.dll</value>
            </setting>
            <setting name="PluginsFolder" serializeAs="String">
                <value>WizardPlugins</value>
            </setting>
            <setting name="ProLeanAssembly" serializeAs="String">
                <value>ProLeanWizardPlugin</value>
            </setting>
            <setting name="ProEnergyAssembly" serializeAs="String">
                <value>ProEnergyWizardPlugin</value>
            </setting>
            <setting name="ExampleFolder" serializeAs="String">
                <value>ExampleProjects</value>
            </setting>
            <setting name="MaxRecentFileNumber" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DesignPlugins" serializeAs="String">
                <value>DesignPlugins</value>
            </setting>
            <setting name="MaxRecentFilePathLenght" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxRecentFilePrefixLenght" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowSupportButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommunityButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExampleButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWebinarButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKnowledgebaseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTutorialButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceInstallDeployServerProcess" serializeAs="String">
                <value>InstallDeployServerService.exe</value>
            </setting>
            <setting name="DeployServerServiceName" serializeAs="String">
                <value>DeployServer.exe</value>
            </setting>
            <setting name="DeployServerServiceFolder" serializeAs="String">
                <value>DeployServer</value>
            </setting>
        </StartupWelcome.Properties.Settings>
    </applicationSettings>
</configuration>