<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OPCUAViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><applicationSettings>
        <OPCUAViewModel.Properties.Settings>
            <setting name="MaxPendingWrites" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EndpointDisplaytitle" serializeAs="String">
                <value>{0}, {1} (Level {2})</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>OPCUAViewModel</value>
            </setting>
            <setting name="DiscoveryURL1" serializeAs="String">
                <value>opc.tcp://{0}:4840/UADiscovery</value>
            </setting>
            <setting name="DiscoveryURL2" serializeAs="String">
                <value>http://{0}:52601/UADiscovery</value>
            </setting>
            <setting name="DiscoveryURL3" serializeAs="String">
                <value>http://{0}/UADiscovery</value>
            </setting>
            <setting name="localhost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="localhostip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PublishLateCountBeforeReconnecting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseIndexRangeForBitsOnWriting" serializeAs="String">
                <value>True</value>
            </setting>
        </OPCUAViewModel.Properties.Settings>
    </applicationSettings>
</configuration>
