<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="OPCUAClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="ApplicationSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MSZService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MSZService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MSZWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<File value="${ALLUSERSPROFILE}\Progea\Movicon.NExT.Log\SysLog.xml" />
      <encoding value="unicode" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<param name="LockingModel" type="ConcurrentLog4Net.ConcurrentMinimalLock,ConcurrentLog4Net" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.XmlLayout">
				<locationInfo value="true" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                 switchValue="Information, ActivityTracing"
                 propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\temp\MSZWebService.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
  <appSettings>
    <add key="log4net.Internal.Emit" value="false"/>
  </appSettings>
  <OPCUAClient>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>OPCUAClient.Config.xml</FilePath>
		</ConfigurationLocation>
	</OPCUAClient>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<ApplicationSettings>
		<MSZService.Properties.Settings>
			<setting name="ServerPort" serializeAs="String">
				<value>62873</value>
			</setting>
		</MSZService.Properties.Settings>
	</ApplicationSettings>
 <applicationSettings>
  <MSZWebService.Properties.Settings>
   <setting name="MaxClientPerSerialAlarm" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="ToMail" serializeAs="String">
    <value>giulia.fabbri@emerson.com</value>
   </setting>
   <setting name="RestoreRemovedCodesTimeout" serializeAs="String">
    <value>1200000</value>
   </setting>
   <setting name="ClientPingTimeout" serializeAs="String">
    <value>00:05:00</value>
   </setting>
   <setting name="MaxClientPerSerialWarning" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="SmptServer" serializeAs="String">
    <value>smtp.progea.com</value>
   </setting>
   <setting name="SmptServerPort" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="SendUsing" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="SmtpAuthenticate" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SendUsername" serializeAs="String">
    <value>webmaster@progea.com</value>
   </setting>
   <setting name="SendPassword" serializeAs="String">
    <value>LA4OwOFk</value>
   </setting>
   <setting name="OpenServiceHostsMaxRetries" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="MaxClientPerSerial" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="FreezeEmailAtLeastFor" serializeAs="String">
    <value>01:00:00</value>
   </setting>
   <setting name="HardwareSiteCode" serializeAs="String">
    <value>HW</value>
   </setting>
   <setting name="DefaultDataProvider" serializeAs="String">
    <value>System.Data.SqlClient</value>
   </setting>
   <setting name="DefaultConnectionString" serializeAs="String">
    <value>data source=SERVERDB;user id=WebLicUser;password=;initial catalog=ProgeaDB;Persist Security Info=true;</value>
   </setting>
   <setting name="ConnectionStringPassword" serializeAs="String">
    <value>Cz+PYeIrMQ5IMCLnyQYPCw==</value>
   </setting>
   <setting name="ValidSerialNumbersMaxTime" serializeAs="String">
    <value>30000</value>
   </setting>
   <setting name="EnableVerboseLog" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FromMail" serializeAs="String">
    <value>info.movicon@emerson.com</value>
   </setting>
  </MSZWebService.Properties.Settings>
 </applicationSettings>
</configuration>
