@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;

@font-color: #393A1A;
@click-font-color: @font-color;
@hover-font-color: #212121;
@active-font-color: #5B5D28;
@success-font-color: #008000;
@watermark-font-color: #666666;
@watermark-font-style: italic;
@highlight-font-weight: bold;
@error-font-color: #cd0a0a;
@highlight-font-color: #363636;
@disable-font-color: #A5A5A5;
@content-a-font-color: #919567;
@header-a-font-color: #919567;
@upload-font-color: #919567;

@border-size: 1px;
@border-type: solid;
@bg-repeat: no-repeat;
@border-color: #AFB750;
@hover-border-color: #AFB850;
@active-border-color: #919567;
@content-border-color: #edefd9;
@header-border-color: #afb850;
@highlight-border-color: #fcefa1;

@bg-sizeX: 0;
@bg-sizeY: 50%;

@bg-color: #e3e3ac;
@error-border-color: #cd0a0a;
@error-bg-color: #fef1ec;
@header-bg-color: #fafafa;
@hightlight-bg-color: #fbf9ee;
@content-bg-color: #fafafa;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@hover-bg-color: #f0f1d0;
@active-bg-color: #f8f7e2;
@progress-bg-color: #828434;
@submenu-bg-color:#f0fff4;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@popup-bg-color: #f8f5e6;
@pane-bg-color: #f8f5e6;
@editbutton-bg-color:#ffffff;
@refresh-audio-button-bg-color: #ffffff;
@refresh-audio-button-border-color: #007236;
@captcha-image-border-color: #007236;

@seperator-color: #50733F;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.active-bg-ver.png%>)";

@skin: ~"Olive";
@foldername: ~"Themes";
@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons.png%>)";
@content-bg: ~"none";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";


@scroll-bg-color:#f8f5e6;
@scroll-border:1px solid #CBD08E;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: rgb(240,243,210); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(240,243,210,1) 4%, rgba(228,234,173,1) 40%, rgba(222,230,155,1) 64%, rgba(221,229,152,1) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(240,243,210,1)), color-stop(40%,rgba(228,234,173,1)), color-stop(64%,rgba(222,230,155,1)), color-stop(96%,rgba(221,229,152,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* IE10+ */
	background: linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3d2', endColorstr='#dde598',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFB750;
}

.hover-gradient()
{
	background: rgb(240,243,210); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(240,243,210,1) 4%, rgba(228,234,173,1) 40%, rgba(222,230,155,1) 64%, rgba(221,229,152,1) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(240,243,210,1)), color-stop(40%,rgba(228,234,173,1)), color-stop(64%,rgba(222,230,155,1)), color-stop(96%,rgba(221,229,152,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* IE10+ */
	background: linear-gradient(top,  rgba(240,243,210,1) 4%,rgba(228,234,173,1) 40%,rgba(222,230,155,1) 64%,rgba(221,229,152,1) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3d2', endColorstr='#dde598',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFB750;
}

.container-gradient()
{
	background: #e0e0bc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e0bc 0%, #d7d8ab 13%, #d5d6a2 21%, #c5c984 46%, #b5bb5c 85%, #afb750 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0bc), color-stop(13%,#d7d8ab), color-stop(21%,#d5d6a2), color-stop(46%,#c5c984), color-stop(85%,#b5bb5c), color-stop(100%,#afb750)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e0bc 0%,#d7d8ab 13%,#d5d6a2 21%,#c5c984 46%,#b5bb5c 85%,#afb750 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e0bc 0%,#d7d8ab 13%,#d5d6a2 21%,#c5c984 46%,#b5bb5c 85%,#afb750 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e0bc 0%,#d7d8ab 13%,#d5d6a2 21%,#c5c984 46%,#b5bb5c 85%,#afb750 100%); /* IE10+ */
    background: linear-gradient(top,  #e0e0bc 0%,#d7d8ab 13%,#d5d6a2 21%,#c5c984 46%,#b5bb5c 85%,#afb750 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0bc', endColorstr='#afb750',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #C1C67B;
}
.itemcontainer-gradient()
{
	background: #f2f4d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f4d6 0%, #e8eebc 43%, #e0e7a0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f4d6), color-stop(43%,#e8eebc), color-stop(100%,#e0e7a0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f4d6 0%,#e8eebc 43%,#e0e7a0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f4d6 0%,#e8eebc 43%,#e0e7a0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f4d6 0%,#e8eebc 43%,#e0e7a0 100%); /* IE10+ */
    background: linear-gradient(top,  #f2f4d6 0%,#e8eebc 43%,#e0e7a0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4d6', endColorstr='#e0e7a0',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
	background: #F2F4D6;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #EDF1CA;
    background: #f6f8e4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f8e4 0%, #f6f8e4 5%, #f2f4d8 24%, #e3eaa9 76%, #dee69b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8e4), color-stop(5%,#f6f8e4), color-stop(24%,#f2f4d8), color-stop(76%,#e3eaa9), color-stop(100%,#dee69b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* IE10+ */
    background: linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8e4', endColorstr='#dee69b',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#f7f7f7), color-stop(45%,#e9e9e8), color-stop(51%,#e3e3e2), color-stop(57%,#e0e0df), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    border-left: @border-size @border-type #AFB750;
    border-right: @border-size @border-type #AFB750;
    border-top: @border-size+2 @border-type #AFB750;
    color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
    background: #f3f6db; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3f6db 0%, #e2e8a7 81%, #dfe79e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f6db), color-stop(81%,#e2e8a7), color-stop(100%,#dfe79e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3f6db 0%,#e2e8a7 81%,#dfe79e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3f6db 0%,#e2e8a7 81%,#dfe79e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3f6db 0%,#e2e8a7 81%,#dfe79e 100%); /* IE10+ */
    background: linear-gradient(top,  #f3f6db 0%,#e2e8a7 81%,#dfe79e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f6db', endColorstr='#dfe79e',GradientType=0 ); /* IE6-9 */
}

.ribboncontainer-hover()
{
    background: #f6f8e4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f8e4 0%, #f6f8e4 5%, #f2f4d8 24%, #e3eaa9 76%, #dee69b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8e4), color-stop(5%,#f6f8e4), color-stop(24%,#f2f4d8), color-stop(76%,#e3eaa9), color-stop(100%,#dee69b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* IE10+ */
    background: linear-gradient(top,  #f6f8e4 0%,#f6f8e4 5%,#f2f4d8 24%,#e3eaa9 76%,#dee69b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8e4', endColorstr='#dee69b',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #e4efc0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4efc0 0%,#abbd73 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: rgb(224,224,188); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(224,224,188,1) 0%, rgba(224,224,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,224,188,1)), color-stop(100%,rgba(224,224,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(224,224,188,1) 0%,rgba(224,224,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(224,224,188,1) 0%,rgba(224,224,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(224,224,188,1) 0%,rgba(224,224,188,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(224,224,188,1) 0%,rgba(224,224,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0bc', endColorstr='#e0e0bc',GradientType=1 ); /* IE6-9 */
}

