
@base-background-color: #e0e3bb;
@base-border: 1px solid #54573c;
@base-Header: #E0E3BB;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #E1E8CE;
@Workcell-select: #cbd18f;
@Workcell-Hover: #e0e3bb;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #D4DDBC;
@appointment-color:#B7BC81;
@ViewStrip-color:#F3F3F3;
@highlighAppDate: #919567;
@highlightSelectedDate: #CBD18F;
@color:Black;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #CBD18F ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Olive.Images.olive.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #9D9F71;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #e0e3bb;
@ViewStrip-text-color:Black;
@Dialog-text-color:#000000;