<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlarmWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AlarmWindow.Properties.Settings>
            <setting name="TagRefreshBackground" serializeAs="String">
                <value>RefreshBackground</value>
            </setting>
            <setting name="TagSpinBackground" serializeAs="String">
                <value>SpinBackground</value>
            </setting>
            <setting name="TagRefreshForeground" serializeAs="String">
                <value>RefreshForeground</value>
            </setting>
            <setting name="TagSpinForeground" serializeAs="String">
                <value>SpinForeground</value>
            </setting>
            <setting name="FontSizeHeightFactor" serializeAs="String">
                <value>1.5</value>
            </setting>
        </AlarmWindow.Properties.Settings>
    </applicationSettings>
</configuration>