<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SNMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SNMP.Properties.Settings>
            <setting name="TRAP_PORT" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="TRAP_LOG_ERRORS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TRAP_LOG_MESSAGES" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SNMP_PACKET_MAX_SIZE" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="SNMP_PACKET_MAX_PERC_AGGREATION_LIMIT" serializeAs="String">
                <value>75</value>
            </setting>
        </SNMP.Properties.Settings>
    </userSettings>
</configuration>