<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UFUACertificateChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="CommonPlugins" />
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <UFUACertificateChecker.Properties.Settings>
      <setting name="TrustListPath" serializeAs="String">
        <value>C:\ProgramData\OPC Foundation\UA\pki\trusted</value>
      </setting>
    </UFUACertificateChecker.Properties.Settings>
  </applicationSettings>
</configuration>
