<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AnimationManager.Properties.Settings>
            <setting name="BackgroundTag" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="AnimationOrderFileName" serializeAs="String">
                <value>AnimationsOrder.xml</value>
            </setting>
        </AnimationManager.Properties.Settings>
    </applicationSettings>
</configuration>