<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CustomWizardPlugin.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomWizardPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomWizardPlugin.Properties.Settings1>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>Project</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFProject</value>
            </setting>
        </CustomWizardPlugin.Properties.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Drawing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CustomWizardPlugin.Properties.Settings>
      <setting name="DriverSection" serializeAs="String">
        <value>Driver Section</value>
      </setting>
      <setting name="AlarmSection" serializeAs="String">
        <value>Alarm Section</value>
      </setting>
      <setting name="ScreenSection" serializeAs="String">
        <value>Screen Section</value>
      </setting>
      <setting name="ScreenNumber" serializeAs="String">
        <value>Screen Number</value>
      </setting>
      <setting name="DefaultServerName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="XpoDefaultConnectionServer" serializeAs="String">
        <value>(local)</value>
      </setting>
      <setting name="AppNameSuffix" serializeAs="String">
        <value>IOServer</value>
      </setting>
      <setting name="NavBarFolder" serializeAs="String">
        <value>NavBar</value>
      </setting>
      <setting name="TopBottomBarHeight" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="LeftRightBarWidth" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="NavBarButtonWidth" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="NavBarButtonHeight" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="NavBarButtonMargin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StandardNavBarButton" serializeAs="String">
        <value>Rectangular CommandButton  G</value>
      </setting>
      <setting name="EmbeddedNavBarScreenName" serializeAs="String">
        <value>NavBar</value>
      </setting>
      <setting name="NavBarControlName" serializeAs="String">
        <value>_NavBar</value>
      </setting>
      <setting name="NavBarButtonName" serializeAs="String">
        <value>_NavButton</value>
      </setting>
      <setting name="ScreenTitleControlName" serializeAs="String">
        <value>_ScreenTitle</value>
      </setting>
      <setting name="EmbeddedControl" serializeAs="String">
        <value>EmbeddedTabScreen</value>
      </setting>
    </CustomWizardPlugin.Properties.Settings>
  </applicationSettings>
</configuration>
