@import "Definition/Definition.less";

.sfribbon
{
	background: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sfRibbon.png%>)";
}

(~".sf-ribboncontainer.@{skin} .contextcontainer .applicationmenu")
{
    color: @header-a-font-color;
}

(~".sf-ribboncontainer.@{skin} .menucontainer .menuimage")
{
    border-right: @border-color;
}

(~".sf-ribboncontainer.@{skin} .contextcontainer .active.wrappertab") , (~".sf-ribboncontainer.@{skin} .contextcontainer .active.wrappertab:hover")
{
    border : @border-size @border-type @header-border-color;
    border-bottom:none;
}

.sf-ribboncontainer .groupcontainer .grouptitle, .sf-ribboncontainer .contextcontainer .wrappertab .ribbontab, .sf-ribboncontainer .menucontainer .menutext
{
	color: @header-a-font-color;
}

(~".sf-ribboncontainer.@{skin} .contextcontainer .wrappertab:hover")
{
    border:@border-size @border-type @header-border-color;
}
(~".sf-ribboncontainer.@{skin} .menucontainer")
{
    background: none repeat scroll 0 0 @bg-color;
    border: @border-size @border-type @border-color;
}
(~".sf-ribboncontainer.@{skin} .menucontainer ul")
{
    background: none repeat scroll 0 0 @bg-color;
    border: @border-size @border-type @border-color;
}
(~".sf-ribboncontainer.@{skin} .pagecontainer")
{
    background: none repeat scroll 0 0 @bg-color;
    border:@border-size + 1px @border-type @border-color;
    border-top: @border-size + 1px @border-type @border-color;
}
(~".sf-ribboncontainer.@{skin} .pagecontainer .menutext.active")
{
    background-color: @active-bg-color;
    border-bottom: @border-size @border-type @active-border-color;
    border-top: @border-size @border-type @active-border-color;
}
(~".sf-ribboncontainer.@{skin} .pagecontainer .menutext:hover")
{
    border-bottom: @border-size @border-type @hover-border-color;
    border-top: @border-size @border-type @hover-border-color;
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .helpcontainer")
{
    background-position: 0 -146px;  
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .helpcontainer:hover")
{
    background-position: 0 -53px;  
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .toggleup")
{
    background-position: 0 -168px;
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .toggleup:hover")
{
	background-position: 0 -116px;
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .toggledown")
{
    background-position: 0 -187px;
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .toggledown:hover")
{
    background-position: 0 -84px;
}
(~".sf-ribboncontainer.@{skin} .groupcontainer .divider")
{
    background-position :-361px 0px;
    background-repeat : repeat-y;
}
 
(~".sf-ribboncontainer.@{skin} .groupcontainer .expander")
{
	background-position:100% -4px;
    background-repeat:@bg-repeat;
}
(~".sf-ribboncontainer.@{skin} .groupcontainer .expander:hover")
{
    background-position: 100% -26px;
    background-repeat:@bg-repeat;
}
(~".sf-ribboncontainer.@{skin} .contextcontainer")
{
    .container-gradient();
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .active.wrappertab .ribbontab") , (~".sf-ribboncontainer.@{skin} .contextcontainer .active.wrappertab .ribbontab:hover")
{
    .active-hover-gradient();
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .wrappertab .ribbontab:hover")
{
    .wrapper-ribbon-hover-gradient();
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .tabcontextbar")
{
    .tabcontextbar-gradient();
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .tabcontextbar .wrappertab.active .ribbontab") ,  (~".sf-ribboncontainer.@{skin} .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover")
{
   .ribboncontainer-active-hover-gradient();  
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover")
{
    .ribboncontainer-hover();
}
(~".sf-ribboncontainer.@{skin} .groupcontainer")
{
    .groupcontainer-gradient();
}
(~".sf-ribboncontainer.@{skin} .contentitems")
{
    .itemcontainer-gradient();
}
(~".sf-ribboncontainer.@{skin} .contextcontainer .applicationmenu")
{
    .contextcontainer-applicationmenu();
}
(~".sf-ribboncontainer.@{skin} .menucontainer .menuitem:hover")
{
    .hover-li-gradient();
}
(~".sf-ribboncontainer.@{skin} .pagecontainer .leftcontainer")
{
    .pagecontainer-leftcontainer();
}

(~".sf-ribboncontainer.@{skin} .groupcontainer .splitrightarrow")
{
     border-left: 1px solid transparent;
}
(~".sf-ribboncontainer.@{skin} .groupcontainer .splitbottomarrow")
{
     border-top: 1px solid transparent;
}

(~".sf-ribboncontainer.@{skin} .groupcontainer .groupbutton.backgroundhover")
{
  background-image: @hover-img;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: @hover-bg-color;
  color: @hover-font-color;
}
(~".sf-ribboncontainer.@{skin} .groupcontainer .groupbutton.backgroundselected")
{
  background-image: @active-img;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: @active-bg-color;
  color: @active-font-color;
}

(~".sf-ribboncontainer.@{skin} .groupcontainer .groupbuttonarrow")
{
	background-image: @ui-icon;
	background-repeat: @bg-repeat;
	background-position: -171px -18px;
}

(~".sf-ribboncontainer.@{skin} .rrbResizeHandle")
{
    
    background-image: @ui-icon;
    background-repeat: @bg-repeat;
    background-position: -80px -224px;  
}

(~".sf-galleryview.@{skin}")
{
    text-align:center;
    display:inline-block;
}
(~".sf-galleryview.@{skin} .galleryimage")
{
     background-image: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sfGalleryView.png%>)";
}
(~".sf-galleryview.@{skin} .gallerycontainer")
{
    float: left;
    position: relative;
    overflow:hidden;
    z-index: 999;
}
(~".sf-galleryview.@{skin} .galleryitem")
{
    cursor: pointer;
    float: left;
    margin: 0 0 2px 2px;
    overflow: hidden;
    padding: 4px 6px;
    position:relative; 
}
 
(~".sf-galleryview.@{skin} .galleryitem:hover")
{
    padding: 3px 5px;   
}

(~".sf-galleryview.@{skin} .disabled ")
{
     opacity: 0.3;
     filter:gray(enabled=true) alpha(opacity=30);
}
(~".sf-galleryview.@{skin} .slideup"),(~".sf-galleryview.@{skin} .slidedown"),(~".sf-galleryview.@{skin} .popup")
{
    position: relative;
}
(~".sf-galleryview.@{skin} .dropdown")
{
	float : left;
	font-family: @font-family;
    font-size: @font-size;
}
(~".sf-galleryview.@{skin} .extracontainer")
{
    float: left;
    margin-top: 1px;
    padding-bottom: 2px;
    padding-top: 2px; 
    display:none;
    cursor:pointer;
}
(~".sf-galleryview.@{skin} .extracontainer ul"),(~".sf-galleryview.@{skin} .extracontainer li")
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
(~".sf-galleryview.@{skin} .extracontainer li")
{
	margin-left:2px;
	margin-right:2px;   
	text-align: left;
}
(~".sf-galleryview.@{skin} .galleryextraitemshover")
{ 
    padding-left:5px; 
    text-align:left;
}
(~".sf-galleryview.@{skin} .galleryextraitems")
{
	text-align : left;  
	padding-left:5px;   
}
 (~".sf-galleryview.@{skin} .galleryrow")
 {
     position:relative;
 }
 
(~".sf-galleryview.@{skin} .rowitems")
{
	position:relative;
	float:left;
}
(~".sf-galleryview.@{skin} .galleryitem:hover"),(~".sf-galleryview.@{skin} .extracontainer ul li:hover")
{
	-moz-border-radius: 4px;
	border-radius : 4px;
	-webkit-border-radius: 4px;
}
(~".sf-galleryview.@{skin} .extracontainer .menuimage")
{
    border-right: @border-size @border-type @border-color;
    clear: both;
    float: left;
    height: 24px;
    padding-right: 5px;
    width: 16px;
}
(~".sf-galleryview.@{skin} .extracontainer .menutext")
{
    padding-left : 5px;
    vertical-align:middle;
}
 (~".sf-galleryview.@{skin} .extracontainer .menuitem")
{
    height: 22px;
    cursor:pointer;
    border: @border-size @border-type transparent;
    vertical-align:middle;
}

/************************************/

(~".sf-galleryview.@{skin} .gallerycontainer")
{
    background: none repeat scroll 0 0 @bg-color;
    border: @border-size @border-type @border-color;
}
 
(~".sf-galleryview.@{skin} .subcontainer")
{
    background: none repeat scroll 0 0 @bg-color;
    border: @border-size @border-type @border-color;
}

(~".sf-galleryview.@{skin} .extracontainer")
{
     border-top: @border-size @border-type @border-color;
     color:@header-a-font-color;
}
 
(~".sf-galleryview.@{skin} .slideup")
 {
	background-position:0 -730px;
	height: 25px;
	width: 19px;
}

(~".sf-galleryview.@{skin} .slidedown")
{
	background-position: 0 -760px;
	height: 25px;
	width: 19px;
}
(~".sf-galleryview.@{skin} .popup")
{
	background-position:0 -645px;
	height: 25px;
	width: 19px;
}
(~".sf-galleryview.@{skin} .slideup:hover")
{
     background-position: 0 -615px;
}
(~".sf-galleryview.@{skin} .slidedown:hover")
{
	background-position: 0 -700px;
}
 
(~".sf-galleryview.@{skin} .popup:hover")
{
	background-position: 0 -675px;
}
 
(~".sf-galleryview.@{skin} .extraitems .image")
{
    border-right:@border-size @border-type @border-color;
    width : 20px;   
}
(~".sf-galleryview.@{skin} .extraitemshover .image")
{
	border-right:@border-size @border-type transparent;
	width : 20px;
}

(~".sf-galleryview.@{skin} .galleryitem:hover")
{
	.hover-gradient();
}
(~".sf-galleryview.@{skin} .extracontainer ul li:hover")
{
	.hover-li-gradient();
}