<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriverCodeBase.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DriverCodeBase.UI.Properties.Settings>
            <setting name="CommPorts" serializeAs="String">
                <value>Com1;Com2;Com3;Com4;Com5;Com6;Com7;Com8;Com9;Com10;</value>
            </setting>
            <setting name="CommPortsLinux" serializeAs="String">
                <value>/dev/ttyS0;/dev/ttyS1;/dev/ttyS2;/dev/ttyS3;/dev/ttyUSB0;/dev/ttyAMA0</value>
            </setting>
        </DriverCodeBase.UI.Properties.Settings>
    </userSettings>
</configuration>