@border-color: #808282;
@font-color: #FFFFFF;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #FFFFFF;
@group-caption-pager-color: #FFFFFF;
@numeric-hover-color: #FFFFFF;
@selected-row-color: #FFFFFF;
@header-bg-color: #1E1F20;
@row-cell-border-color : #383838;
@gridcontent-bg-color: #2E2E2E;
@grid-externalform-header-font-color: #FFFFFF;
@group-droparea-bg-color: #302F2F;
@group-droparea-border-color: #383838;
@clone-bg-color: #1C1B1B;
@clone-border-color: #383838;
@top-right-border-color: #383838;
@caption-row-border-color: #2E2E2E;
@caption-row-bg-color: #383838;
@group-caption-drop-row-font-color:#FFFFFF;
@pager-caption-row-border-color: #383838;
@pager-groupdrop-border-color: #383838;
@pager-groupdrop-bg-color: #2D2D2B;
@group-indent-expand-collapse-bg-color: #2D2D2B;
@group-indent-expand-collapse-border-color: #383838;
@hover-header-border-color: #383838;
@hover-group-header-border-color: #383838;
@selected-header-border-color: #383838;
@selected-header-bg-color: #0A0A0A;
@selected-header-color: #FFFFFF;
@selected-column-color:#FFFFFF;
@row-header-bg-color: #2E2E2E;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #383838;
@selected-row-header-bg-color: #2E2E2E;
@alt-row-bg-color: #262626;
@summary-font-color: #FFFFFF;
@summary-bg-color: #191919;
@summary-border-color: #383838;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #1A1A1A;
@selection-bg-color: #000000;
@currentcell-bg-color: #a09c9c;
@currentcell-font-color: #000000;
@gridpager-bg-color: #494949;
@gridpager-border-color: #383838;
@numericitem-font-color: #FFFFFF;
@numeric-hover-bg-color: #232323;
@spacing-color: #FFFFFF;
@currentitem-border-color: #FFFFFF;
@currentitem-bg-color: #FFFFFF;
@currentitem-font-color: #000000;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #262424;
@record-caption-font-color: #e0dada;
@legend-font-color: #e0dada;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #FFFFFF;
@resizecol-bg-color: #2D2C2C;
@helper-bg-color: #FFFFFF;
@helper-border-color: #000000;
@dragelement-bg-color: #A09C9C;
@dragelement-font-color: #000000;
@dragelement-border-color: #989898;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #9D9EA0;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #6D6D6D;
@tooltip-bg-color: #ffffff;
@tooltip-font-color: #000000;
@next-last-hover-bg-color: #232323;
@filter-cell-bg-color: #2E2E2E;
@filter-input-border-color: #383838; 
@filter-status-bg-color: #2E2E2E;
@filter-status-border-color: Gray; 
@msg-font-color: #FFFFFF;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #393B3D;
@skin: ~"Midnight";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-midnight-menu";