
@base-background-color: #333333;
@base-border: 1px solid #444444;
@base-Header: #7e7e7e;
@BusinessHr-color: #BDBDBD;
@Workcell-color: #E8EAEC;
@Workcell-select: #4C535C;
@Workcell-Hover: #4a4a4a;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #707070;
@appointment-color:#4C535C;
@ViewStrip-color:#444444;
@highlighAppDate: #FCFCFC;
@highlightSelectedDate: #7D7D7D;
@color:#BCBCBC;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #BDBDBD ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #ffffff;
@tooltip-font-color: #000000;
@Appointment-text-color:#BCBCBC;
@Dialog-bg-color:#333333;
@ViewStrip-text-color:#BCBCBC;
@Dialog-text-color:#BCBCBC;