/*----- Editor--*/

.sf-editor.Blueberry .sfInputText,
.sf-editor.Blueberry .Syncfusion_Value_TextBox,
.sf-editor.Blueberry .maskeditInput {
  color: #5189b8;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Blueberry {
  border: 1px solid #528ab9;
  display: inline-block;
}
.sf-editor.Blueberry .sfInputText,
.sf-editor.Blueberry .Syncfusion_Value_TextBox,
.sf-editor.Blueberry .Syncfusion_Watermark_TextBox {
  border-right: 1px solid #528ab9;
  background-color: white;
}
.sf-editor.Blueberry .sf-splitup,
.sf-editor.Blueberry .sf-splitdown {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blueberry .sf-splitup:hover,
.sf-editor.Blueberry .sf-splitdown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blueberry .sf-splitup:active,
.sf-editor.Blueberry .sf-splitdown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 50% repeat-x;
}
.sf-editor.Blueberry .sf-splitup {
  background-position: -204px -20px;
}
.sf-editor.Blueberry .sf-splitup:hover {
  background-position: -204px -20px;
}
.sf-editor.Blueberry .sf-splitup:active {
  background-position: -204px -20px;
}
.sf-editor.Blueberry .sf-splitdown {
  background-position: -172px -21px;
}
.sf-editor.Blueberry .sf-splitdown:hover {
  background-position: -172px -21px;
}
.sf-editor.Blueberry .sf-splitdown:active {
  background-position: -172px -21px;
}
.sf-editor.Blueberry .sf-splitup,
.sf-editor.Blueberry {
  background-color: white;
}
.sf-editor.Blueberry .sf-splitup:hover {
  background-color: #c0d9e7;
}
.sf-editor.Blueberry .sf-splitup:active {
  background-color: #add3e5;
}
.sf-editor.Blueberry .sf-splitdown {
  background-color: white;
}
.sf-editor.Blueberry .sf-splitdown:hover {
  background-color: #c0d9e7;
}
.sf-editor.Blueberry .sf-splitdown:active {
  background-color: #add3e5;
}
.sf-core.disablebuttons,
.sf-genericdropdown.Blueberry .disablebuttons {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.sf-editor.sf-rtl .sfInputText,
.sf-editor.Blueberry.sf-rtl .Syncfusion_Value_TextBox,
.sf-editor.Blueberry.sf-rtl  .Syncfusion_Watermark_TextBox {
  border-right: none;
  border-left: 1px solid #528ab9;
}
.sf-editor.Blueberry .Syncfusion_Validator,
.sf-editor.Blueberry .error,
.sf-editor.Blueberry .ShowInvalidateText {
  color: #cd0a0a;
}
.sf-editor.Blueberry .Syncfusion_Watermark_TextBox,
.sf-editor.Blueberry .MaskWaterMark {
  color: #666666;
  font-style: italic;
  background-color: white;
  Height: 100%;
  Width: 100%;
}
.sf-editor.Blueberry .error {
  background-color: #fef1ec;
}
/*---------------- Autocomplete ----------------*/

.sf-autocomplete.Blueberry.Autocomplete_Wrapper {
  color: #5189b8;
  border: 1px solid #528ab9;
  height: 20px;
}
.sf-autocomplete.Blueberry.Autocomplete_SuggestionList {
  border: 1px solid #528ab9;
  background-color: #eaf1f4;
  color: #5189b8;
  font-size: 11px;
}
.sf-autocomplete.Blueberry ul li.listHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #c0d9e7;
  color: #5189b8;
}
.sf-autocomplete.Blueberry .onLoading {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
.sf-autocomplete.Blueberry ul li div.template {
  color: #5189b8;
}
.sf-autocomplete.Blueberry .dropdownbuttonbase {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  border-left: 1px solid #528ab9;
  background-color: white;
}
.sf-autocomplete.Blueberry .AutoCompleteDD_RTL {
  border-right: 1px solid #528ab9;
  border-left: none;
}
.sf-autocomplete.Blueberry .dropdownbuttonbase.autocompleteDropDown:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #c0d9e7;
  color: #5189b8;
}
.sf-autocomplete.Blueberry .dropdownbuttonbase.autocompleteDropDown:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: #add3e5;
  color: white;
}
.sf-autocomplete.Blueberry.Autocomplete_Wrapper input,
.sf-autocomplete.Blueberry.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox,
.sf-autocomplete.Blueberry.Autocomplete_Wrapper .Syncfusion_Value_TextBox {
  color: #5189b8;
  background-color: white;
  width: 100%;
  padding: 0;
  border: none;
}
.sf-autocomplete.Blueberry .watermark {
  color: #666666;
  font-style: italic;
}
.sf-autocomplete.Blueberry .HighlightQueryText {
  font-weight: bold;
  color: #363636;
}
/*------------Generic dropdown -----------*/

.sf-genericdropdown.Blueberry .GenericDropDownButtonBase {
  color: #5189b8;
  vertical-align: middle;
}
.sf-multicolumn.sf-genericdropdown.Blueberry .GenericDropDownButtonBase,
.sf-genericdropdown.Blueberry .GenericDropDownButtonBase.GenericDropDownButton {
  border: 1px solid #528ab9;
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -172px -16px;
  background-color: white;
}
.sf-multicolumn.sf-genericdropdown.Blueberry .GenericDropDownButtonBase:hover,
.sf-genericdropdown.Blueberry .GenericDropDownButtonBase.GenericDropDownButton:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-color: #c0d9e7;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-multicolumn.sf-genericdropdown.Blueberry .GenericDropDownButtonBase:active,
.sf-genericdropdown.Blueberry .GenericDropDownButtonBase.GenericDropDownButton:active {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-color: #add3e5;
  background-repeat: no-repeat;
  background-position: -172px -16px;
}
.sf-genericdropdown.Blueberry .GenericDropDownContainer {
  border: 1px solid #528ab9;
}
.sf-genericdropdown.Blueberry .GenericDropDownTextBox {
  background-color: white;
  color: #5189b8;
}
.sf-genericdropdown.Blueberry .GenericDropDownTextBoxHover {
  background-color: white;
}
.sf-genericdropdown.Blueberry .GenericDropDownPopupPanel {
  background-color: #eaf1f4;
  color: #5189b8;
  border: 1px solid #528ab9;
  font-size: 11px;
}
.sf-genericdropdown.Blueberry .GenericDropDownPopupPanel .listHover {
  background: #c0d9e7 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>) bottom;
  background-repeat: repeat-x;
  color: #5189b8;
}
/*-----------Button-------------*/

.sf-button.Blueberry {
  color: #5189b8;
}
.sf-button.Blueberry.background {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.header-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #a2bdcf;
  color: #5189b8;
  border: 1px solid #528ab9;
}
.sf-button.Blueberry.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #c0d9e7;
  border: 1px solid #bbd1e2;
  color: #5189b8;
}
.sf-button.Blueberry.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #add3e5;
  border: 1px solid #bbe3e2;
  color: white;
}
.sf-button.Blueberry .spritesplitdropdownbutton,
.sf-button.Blueberry .spritesplitnormalbutton {
  border: 0 none;
}
.sf-button.Blueberry .dropdowndownarrow,
.sf-button.Blueberry .splitdownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blueberry .splitrightarrow:hover .dropdowndownarrow,
.sf-button.Blueberry .splitdownarrow:hover .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blueberry .splitrightarrow:active .dropdowndownarrow,
.sf-button.Blueberry .splitdownarrow:active .dropdowndownarrow {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat -175px -24px;
}
.sf-button.Blueberry .splitbottomarrow {
  display: block;
  border-top: 1px solid #528ab9;
  text-align: center;
}
.sf-button.Blueberry .splitbottomarrow .buttonmaindiv {
  height: 8px;
}
.sf-button.Blueberry .splitrightarrow {
  display: table-cell;
  border-left: 1px solid #528ab9;
  text-align: center;
  vertical-align: top;
}
.sf-button.Blueberry .borderleftmousehover {
  border-left: 1px solid #bbd1e2;
}
.sf-button.Blueberry .bordertopmousehover {
  border-top: 1px solid #bbd1e2;
}
.sf-ribboncontainer.Blueberry .ribbonbutton {
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.sf-ribboncontainer.Blueberry .ribbonbutton:hover {
  background-image: none;
  background-color: #c0d9e7;
  border: 1px solid #bbd1e2;
}
.sf-ribboncontainer.Blueberry .ribbonbutton:active {
  background-image: none;
  background-color: #add3e5;
  border: 1px solid #bbe3e2;
}
/******************************************************/

.sfrotator_container {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover {
  cursor: pointer;
}
.sfrotator_container .buttonImgOff,
.buttonImgOn {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  display: inline-block;
  height: 15px;
  width: 19px;
}
.sfrotator_container .buttonImgOff {
  background-position: -115px -224px;
}
.sfrotator_container .buttonImgOn {
  background-position: -97px -224px;
}
/******************************************************/

/*---------captcha----------*/

.sf-captcha .validationFailed {
  color: #cd0a0a;
}
.sf-captcha .validationSuccess {
  color: green;
}
.sf-captcha.Blueberry  .captcha-image-container {
  float: left;
  border: 1px solid #97c7e6;
  border-radius: 3px;
}
.sf-captcha.Blueberry .captcha-button-container {
  width: 50px;
  float: left;
}
.sf-captcha.Blueberry .captcha-button-container .refresh-button {
  width: 29px;
  height: 29px;
  margin-left: 6px;
  margin-top: 5px;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat 4px -246px;
  border: 1px solid #97c7e6;
  border-radius: 3px;
}
.sf-captcha.Blueberry .captcha-button-container .play-button {
  width: 29px;
  height: 29px;
  background: #f3f5f7 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat -26px -246px;
  border: 1px solid #97c7e6;
  cursor: pointer;
  display: block;
  margin-left: 6px;
  margin-top: 7px;
  border-radius: 3px;
}
/*------Rating-------*/

.sf-rating.Blueberry.horizontal .stars,
.sf-rating.Blueberry.vertical .stars {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.stars.png%>) no-repeat;
}
.sf-rating.Blueberry.horizontal .reset,
.sf-rating.Blueberry.vertical .reset {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.stars.png%>) no-repeat;
  background-position: 0 0;
}
.sf-rating.Blueberry .reset:hover {
  background-position: 0 -17px;
}
.sf-rating.Blueberry .stars.inactive {
  background-position: 0 -34px;
}
.sf-rating.Blueberry .stars.active {
  background-position: 0 -51px;
}
.sf-rating.Blueberry .stars.selected {
  background-position: 0 -68px;
}
.sf-rating.Blueberry .stars.precision {
  background-position: 0 -51px;
}
/*----Scroll panel -------*/

.Blueberry .sf-sp-Hhandle,
.Blueberry .sf-sp-Vhandle {
  background: #e0eaf2;
  border: 1px solid #5189b8;
}
.Blueberry .sf-sp-tb,
.Blueberry .sf-sp-tr {
  height: 11px;
  width: 12px;
}
.Blueberry .sf-sp-bl,
.Blueberry .sf-sp-br {
  height: 12px;
  width: 7px;
}
.Blueberry .sf-sp-tr {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -169px;
  background-repeat: no-repeat;
}
.Blueberry .sf-sp-tb {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: center -112px;
  background-repeat: no-repeat;
}
.Blueberry .sf-sp-bl {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
.Blueberry .sf-sp-br {
  background-image: url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>);
  background-position: 3px -56px;
  background-repeat: no-repeat;
}
/*------splitter --------*/

.sf-splitter.Blueberry {
  border-color: #528ab9;
}
.sf-splitter.Blueberry .shadowbar {
  background-color: #aaaaaa;
}
.sf-splitter.Blueberry .pane {
  color: #5189b8;
  background-color: white;
}
.sf-splitter.Blueberry .shadowbar.endrangeindicator {
  background-color: #cd0a0a;
}
.sf-splitter.Blueberry .splitbar {
  background-color: #a2bdcf;
  border-color: #528ab9;
}
.sf-splitter.Blueberry .h-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Blueberry .h-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -161px -16px;
  background-repeat: no-repeat;
  background-color: #c0d9e7;
}
.sf-splitter.Blueberry .h-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
}
.sf-splitter.Blueberry .h-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -194px -16px;
  background-repeat: no-repeat;
  background-color: #c0d9e7;
}
/* Vertical view css classes */

.sf-splitter.Blueberry .v-forwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
}
.sf-splitter.Blueberry .v-forwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -171px -23px;
  background-repeat: no-repeat;
  background-color: #c0d9e7;
}
.sf-splitter.Blueberry .v-backwardarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
}
.sf-splitter.Blueberry .v-backwardarrow:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-position: -204px -24px;
  background-repeat: no-repeat;
  background-color: #c0d9e7;
}
/*----Tag-Cloud------*/

.sf-tagcloud.Blueberry {
  background-color: white;
}
.sf-tagcloud.Blueberry .tagcloud-header {
  background-color: #e0eaf2;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.header-bg.png%>);
  color: #5189b8;
}
.sf-tagcloud.Blueberry .tagcloud-items .textNode {
  color: #5189b8;
}
.sf-tagcloud.Blueberry .tagcloud-items .textNode.hover {
  color: white;
}
/*----TimePicker-----*/

.sf-timepicker.timespan-widget.Blueberry {
  border: 1px solid #528ab9;
}
.sf-timepicker.Blueberry li {
  background-color: #a2bdcf;
  color: #5189b8;
  border-color: #528ab9;
}
.sf-timepicker.Blueberry li:hover {
  background-color: #c0d9e7;
  color: #5189b8;
  border-color: #bbd1e2;
}
/*------ Toolbar--------*/

.sf-toolbar.Blueberry-horizontal {
  color: #5189b8;
  border: 1px solid #528ab9;
  background: #a2bdcf url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.header-bg.png%>) repeat-x center bottom;
  display: inline-block;
  width: 100%;
}
.sf-toolbar.Blueberry-vertical {
  color: #5189b8;
  border: 1px solid #528ab9;
  background: #a2bdcf url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.header-bg-ver.png%>) repeat-y left;
  display: inline-block;
}
.sf-toolbar.Blueberry-vertical,
.sf-toolbar.Blueberry-vertical div:first-child {
  *display: inline;
  overflow: hidden;
}
.sf-toolbar.Blueberry-horizontal li {
  display: inline;
  float: left;
}
.sf-toolbar.Blueberry-horizontal ul {
  vertical-align: middle;
  float: left;
}
.sf-toolbar.Blueberry-horizontal .AlignInline {
  display: inline;
}
.sf-toolbar.Blueberry-horizontal .Disable_ToolLi,
.sf-toolbar.Blueberry-vertical .Disable_ToolLi {
  color: #a5a5a5;
}
.sf-toolbar.Blueberry-horizontal .Tool_Hover,
.sf-toolbar.Blueberry-vertical .Tool_Hover {
  background: #c0d9e7 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>) repeat-x center bottom;
  border: 1px solid #bbd1e2;
  color: #5189b8;
}
.sf-toolbar.Blueberry-horizontal .Tool_Selected,
.sf-toolbar.Blueberry-vertical .Tool_Selected {
  border: 1px solid #bbe3e2;
  background: #add3e5 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.active-bg.png%>) repeat-x center bottom;
  color: white;
}
.sf-toolbar.Blueberry-horizontal .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.sep.png%>);
  width: 2px;
  height: 15px;
  display: inline;
  float: left;
}
.sf-toolbar.Blueberry-vertical .Toolbar_Separator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.versep.png%>);
  width: 15px;
  height: 2px;
}
.sf-toolbar.Blueberry-horizontal .AlignMiddle,
.sf-toolbar.Blueberry-vertical .AlignMiddle,
.sf-toolbar.Blueberry-horizontal .Toolbar_Text,
.sf-toolbar.Blueberry-vertical .Toolbar_Text {
  vertical-align: middle;
  margin: 0 2px;
}
/*------ Treeview-----*/

.sf-treeview.Blueberry .ImgCss {
  border: 1px solid #528ab9;
}
.sf-treeview.Blueberry .showline-NodeText,
.sf-treeview.Blueberry .noline-NodeText {
  color: #5189b8;
}
.sf-treeview.Blueberry .showline {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.Treeview_line.png%>);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.sf-treeview.Blueberry.RTL .showline {
  padding: 0px 16px 5px 16px;
  background-position: right -38px;
}
.sf-treeview.Blueberry .Input_Text {
  border: solid 2px #add3e5;
}
.sf-treeview.Blueberry span.noline-child,
.sf-treeview.Blueberry span.showline-child {
  white-space: nowrap;
}
.sf-treeview.Blueberry .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -159px -20px;
}
.sf-treeview.Blueberry .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -223px -23px;
}
.sf-treeview.Blueberry.RTL .plus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -194px -21px;
}
.sf-treeview.Blueberry.RTL .minus {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) 0 0 no-repeat;
  background-position: -85px -21px;
}
.sf-treeview.Blueberry .pointer,
.sf-treeview.Blueberry.RTL .pointer {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.TreeviewCommon.png%>);
  background-repeat: no-repeat;
}
.sf-treeview.Blueberry .pointer.child {
  background-position: 1px -322px;
  cursor: default;
}
.sf-treeview.Blueberry .pointer.plus {
  background-position: 1px -208px;
}
.sf-treeview.Blueberry .pointer.minus {
  background-position: 0 -153px;
}
.sf-treeview.Blueberry.RTL .pointer.child {
  background-position: 2px -322px;
}
.sf-treeview.Blueberry.RTL .pointer.plus {
  background-position: 2px -560px;
}
.sf-treeview.Blueberry.RTL .pointer.minus {
  background-position: 0px -505px;
}
.sf-treeview.Blueberry .showline-selected,
.sf-treeview.Blueberry .noline-selected {
  background: #add3e5 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.active-bg.png%>) 0 0 repeat-x;
  color: white;
  border: 1px solid #bbe3e2;
}
.sf-treeview.Blueberry .showline-hover,
.sf-treeview.Blueberry .noline-hover {
  background: #c0d9e7 url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>) 0 0 repeat-x;
  color: #5189b8;
  border: 1px solid #bbd1e2;
}
/*---Upload-----*/

.sf-uploadbox .upload-progress-status {
  background-color: #cd0a0a;
}
.sf-uploadbox .upload-progress {
  border: 1px solid #528ab9;
}
.sf-uploadbox .file-list .file-status-failed {
  color: #cd0a0a;
}
.sf-uploadbox .file-list .file-status-success {
  color: green;
}
.sf-uploadbox.Blueberry .file-progress {
  border: 1px solid #528ab9;
  background-color: #a2bdcf;
}
.sf-uploadbox.Blueberry .file-action,
.sf-uploadbox.Blueberry .file-list .file-size {
  border-color: #528ab9;
  background-color: #a2bdcf;
}
.sf-uploadbox.Blueberry .file-progress-status {
  background-color: #4c9bd5;
}
.sf-uploadbox.Blueberry .inputbutton {
  background-color: #a2bdcf;
  color: #518ab9;
  border: 1px solid #528ab9;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-size: 11px;
  border-radius: 5px;
}
.sf-uploadbox.Blueberry .file-list {
  color: #518ab9;
}
