<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSZui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSZui.Properties.Settings>
            <setting name="TagBOption1" serializeAs="String">
                <value>WDEP</value>
            </setting>
            <setting name="TagBOption10" serializeAs="String">
                <value>GEO</value>
            </setting>
            <setting name="TagBOption11" serializeAs="String">
                <value>G3D</value>
            </setting>
            <setting name="TagBOption12" serializeAs="String">
                <value>REP</value>
            </setting>
            <setting name="TagBOption13" serializeAs="String">
                <value>DIS</value>
            </setting>
            <setting name="TagBOption14" serializeAs="String">
                <value>STA</value>
            </setting>
            <setting name="TagBOption15" serializeAs="String">
                <value>OUAS</value>
            </setting>
            <setting name="TagBOption16" serializeAs="String">
                <value>RED</value>
            </setting>
            <setting name="TagBOption2" serializeAs="String">
                <value>DEV</value>
            </setting>
            <setting name="TagBOption3" serializeAs="String">
                <value>SVR</value>
            </setting>
            <setting name="TagBOption4" serializeAs="String">
                <value>CMD</value>
            </setting>
            <setting name="TagBOption5" serializeAs="String">
                <value>DLR</value>
            </setting>
            <setting name="TagBOption6" serializeAs="String">
                <value>RCP</value>
            </setting>
            <setting name="TagBOption7" serializeAs="String">
                <value>VB</value>
            </setting>
            <setting name="TagBOption8" serializeAs="String">
                <value>SCD</value>
            </setting>
            <setting name="TagBOption9" serializeAs="String">
                <value>NTW</value>
            </setting>
            <setting name="TagIOption1" serializeAs="String">
                <value>STG</value>
            </setting>
            <setting name="TagIOption2" serializeAs="String">
                <value>CTG</value>
            </setting>
            <setting name="TagIOption3" serializeAs="String">
                <value>DRV</value>
            </setting>
            <setting name="TagIOption4" serializeAs="String">
                <value>CHLD</value>
            </setting>
            <setting name="TagIOption5" serializeAs="String">
                <value>SCR</value>
            </setting>
            <setting name="TagIOption6" serializeAs="String">
                <value>ALR</value>
            </setting>
            <setting name="TagIOption7" serializeAs="String">
                <value>WCL5</value>
            </setting>
            <setting name="TagIOption8" serializeAs="String">
                <value>NET</value>
            </setting>
            <setting name="TagIOption9" serializeAs="String">
                <value>PEN</value>
            </setting>
            <setting name="TagIOption10" serializeAs="String">
                <value>PLN</value>
            </setting>
            <setting name="TagBOption17" serializeAs="String">
                <value>MDB</value>
            </setting>
            <setting name="TagBOption18" serializeAs="String">
                <value>AUT</value>
            </setting>
            <setting name="TagBOption19" serializeAs="String">
                <value>TLM</value>
            </setting>
            <setting name="TagBOption20" serializeAs="String">
                <value>FCS</value>
            </setting>
            <setting name="TagBOption21" serializeAs="String">
                <value>IOT</value>
            </setting>
            <setting name="EnTagBOption1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption17" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption18" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption19" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption20" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagBOption21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagIOption3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagIOption6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagIOption8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnTagIOption9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagIOption10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagIOption11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagIOption11" serializeAs="String">
                <value>SIN</value>
            </setting>
            <setting name="TagBOption22" serializeAs="String">
                <value>ART</value>
            </setting>
            <setting name="TagBOption23" serializeAs="String">
                <value>LNX</value>
            </setting>
            <setting name="EnTagBOption22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnTagBOption23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagBOption24" serializeAs="String">
                <value>AR1</value>
            </setting>
            <setting name="EnTagBOption24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlimitedTagsNumber" serializeAs="String">
                <value>999999999</value>
            </setting>
        </MSZui.Properties.Settings>
    </userSettings>
</configuration>