<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFUAHistorian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFUAHistorian.Properties.Settings>
            <setting name="HistorianFlushFileExt" serializeAs="String">
                <value>.SafeDataHisLog</value>
            </setting>
            <setting name="EventFlushFileExt" serializeAs="String">
                <value>.SafeDataEventLog</value>
            </setting>
            <setting name="EventFlushBaseName" serializeAs="String">
                <value>EventLogger</value>
            </setting>
            <setting name="DeleteHistoryDataToolName" serializeAs="String">
                <value>DeleteHistoryData.exe</value>
            </setting>
            <setting name="FlushDataSleepTime" serializeAs="String">
                <value>10</value>
            </setting>
        </UFUAHistorian.Properties.Settings>
    </applicationSettings>
</configuration>