<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAnalisysRTControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataAnalisysRTControl.Properties.Settings>
            <setting name="SecondaryYAxis" serializeAs="String">
                <value>_SecondaryYAxis</value>
            </setting>
            <setting name="DataAnalysisControl" serializeAs="String">
                <value>DataAnalysisControl</value>
            </setting>
            <setting name="CompareID" serializeAs="String">
                <value>Compare</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="DesignSettingName" serializeAs="String">
                <value>Design settings</value>
            </setting>
            <setting name="MinID" serializeAs="String">
                <value>Min</value>
            </setting>
            <setting name="MaxID" serializeAs="String">
                <value>Max</value>
            </setting>
            <setting name="AvgID" serializeAs="String">
                <value>Avg</value>
            </setting>
            <setting name="MinuteTableDateDiff" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HourTableDateDiff" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MinTablePostFix" serializeAs="String">
                <value>_MI</value>
            </setting>
            <setting name="HourTablePostFix" serializeAs="String">
                <value>_HH</value>
            </setting>
            <setting name="DayTablePostFix" serializeAs="String">
                <value>_DD</value>
            </setting>
            <setting name="DayTableDateDiff" serializeAs="String">
                <value>14400</value>
            </setting>
            <setting name="MinPenPostFix" serializeAs="String">
                <value>_MIN</value>
            </setting>
            <setting name="MaxPenPostFix" serializeAs="String">
                <value>_MAX</value>
            </setting>
            <setting name="AvgPenPostFix" serializeAs="String">
                <value>_AVG</value>
            </setting>
            <setting name="DemoMaxValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DemoMaxDays" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="KeyboardAutoScrollTimeFraction" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WebLegendHeightFactor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebLegendMinHeight" serializeAs="String">
                <value>130</value>
            </setting>
        </DataAnalisysRTControl.Properties.Settings>
    </applicationSettings>
</configuration>