<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fatek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fatek.Properties.Settings>
            <setting name="CloseSocketAfterErrorTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaXMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaXMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaYMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaYMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaMMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaMMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaSMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaSMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaTMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaTMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaCMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaCMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaTMRMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaTMRMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaCTRMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaCTRMaxRange" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AreaHRMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaHRMaxRange" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="AreaDRMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaDRMaxRange" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="AreaFRMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaFRMaxRange" serializeAs="String">
                <value>65535</value>
            </setting>
        </Fatek.Properties.Settings>
    </applicationSettings>
</configuration>