/*============== Office2010Black ===================*/

@bg-table: #DEDEDE;
@bdrcolor-table: #4E4E4E;
@bg-summarycell: #A3A3A3;
@bg-headercell: #808080;
@fg-tooltip: #575757;
@fnt-style: ~"11px/19px Verdana";
@white-spaces: nowrap;
@margin-tooltip: 5px;
@img-drill-repeat: no-repeat;
@img-expand-position: 5px 0px;
@img-collapse-position: 5px -25px;
@dsp-style: inline-block;
@txt-align: left;
@img-cursor-style: pointer;
@position-tooltip: absolute;
@expand-hover-position: 5px -50px;
@collapse-hover-position: 5px -75px;
@th-td-padding: 0 2px 0 3px;
@row-header-padding: 0px 3px;
.ogrid-header-color() 
{
}
.ogrid-header-hover-color()
{
}
@expander-img: ~"url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton.png%>)";
.ogrid-expand-hover()
{
background-position:@expand-hover-position;
}
.ogrid-collapse-hover()
{
background-position:@collapse-hover-position;
}
@skin: ~"Office2010Black";
