<div id="loginPage" class="loginPage">
    <style type="text/css">
        @import url("loginpagecss/main.css");
        @import url("loginpagecss/util.css");
    </style>


    <img src="images/User-Login.png" id="loadingImage" class="loginPageImage" onload="onLoginLoaded(this)" width="56" height="56" alt="" />

    <table style="width:100%; margin-bottom: 10px;">
        <tr>
            <td>
                <div class="inputfield wrap-input100 validate-input vMargin10" data-validate="Username is required">
                    <input class="input100 h35" type="text" name="username" data-i18n="[placeholder]phUserName; [title]titleUserName" style="display:none;"
                           required data-ng-model="username">
                    <span class="focus-input100"></span>
                </div>
            </td>
            <td>
                <div id="userpadbtn_container" style="margin-left:10px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="inputfield wrap-input100 validate-input vMargin10" data-validate="Password is required">
                    <input class="input100 h35" type="password" name="pass" data-i18n="[placeholder]phPassword; [title]titlePassword" style="display:none;"
                           required data-ng-model="password">
                    <span class="focus-input100"></span>
                </div>
            </td>
            <td>
                <div id="passwordpadbtn_container" style="margin-left:10px;" />
            </td>
        </tr>
    </table>

    <script>
        function onLoginLoaded(obj) {

            var thisPage = $(obj).parent();

            thisPage.localize();
            var scope = thisPage.scope();
            if (!scope || scope.$parent == null)
                return;

            var themeColors = getThemeColors(scope);
            thisPage.find("input").css({
                "background": themeColors.background,
                "color": themeColors.foreground
            }).show();

            var popupparameter = thisPage.data(popupparameters);

            if (popupparameter) {
                scope.$broadcast(onPopupSizeRequest + popupparameter, { w: thisPage.attr("width"), h: thisPage.attr("height") });
            }

            var userbtn = $("<div id='userpadbtn'>").dxButton({
                type: "normal",
                icon: "edit",
                onClick: async function (e) {
                    var value = await scope.showAlphanumericPad(scope, false);
                    if (value !== null) {
                        scope.username = value;
                        scope.$apply();
                    }
                }
            });
            userbtn.appendTo(thisPage.find("#userpadbtn_container"));

            var pwdbtn = $("<div id='passwordpadbtn'>").dxButton({
                type: "normal",
                icon: "edit",
                onClick: async function (e) {
                    var value = await scope.showAlphanumericPad(scope, true);
                    if (value !== null) {
                        scope.password = value;
                        scope.$apply();
                    }
                }
            });
            pwdbtn.appendTo(thisPage.find("#passwordpadbtn_container"));

            scope.busyVisible = false;
            scope.$apply();
        }
    </script>
</div>
