.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Office2007Black .contextcontainer .applicationmenu {
  color: #3c3c3c;
}
.sf-ribboncontainer.Office2007Black .menucontainer .menuimage {
  border-right: #6f7074;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Office2007Black .contextcontainer .active.wrappertab:hover {
  border: 1px solid #9d9ea0;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: #3c3c3c;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .wrappertab:hover {
  border: 1px solid #9d9ea0;
}
.sf-ribboncontainer.Office2007Black .menucontainer {
  background: none repeat scroll 0 0 #66676e;
  border: 1px solid #6f7074;
}
.sf-ribboncontainer.Office2007Black .menucontainer ul {
  background: none repeat scroll 0 0 #66676e;
  border: 1px solid #6f7074;
}
.sf-ribboncontainer.Office2007Black .pagecontainer {
  background: none repeat scroll 0 0 #66676e;
  border: 2px solid #6f7074;
  border-top: 2px solid #6f7074;
}
.sf-ribboncontainer.Office2007Black .pagecontainer .menutext.active {
  background-color: #ffd870;
  border-bottom: 1px solid #feb449;
  border-top: 1px solid #feb449;
}
.sf-ribboncontainer.Office2007Black .pagecontainer .menutext:hover {
  border-bottom: 1px solid #ffbd69;
  border-top: 1px solid #ffbd69;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Office2007Black .contextcontainer {
  background: #c7c7c6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c7c6), color-stop(10%, #c7c7c6), color-stop(13%, #c5c5c4), color-stop(26%, #b7b6b6), color-stop(33%, #ababab), color-stop(51%, #969594), color-stop(67%, #858585), color-stop(74%, #818080), color-stop(100%, #818080));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* IE10+ */
  background: linear-gradient(top, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c6', endColorstr='#818080', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Office2007Black .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #d4d4d4;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #858585;
  background: #9b93a3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9b93a3 0%, #888193 5%, #686170 24%, #5a575f 52%, #535154 86%, #525154 90%, #595959 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b93a3), color-stop(5%, #888193), color-stop(24%, #686170), color-stop(52%, #5a575f), color-stop(86%, #535154), color-stop(90%, #525154), color-stop(100%, #595959));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9b93a3 0%, #888193 5%, #686170 24%, #5a575f 52%, #535154 86%, #525154 90%, #595959 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9b93a3 0%, #888193 5%, #686170 24%, #5a575f 52%, #535154 86%, #525154 90%, #595959 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9b93a3 0%, #888193 5%, #686170 24%, #5a575f 52%, #535154 86%, #525154 90%, #595959 100%);
  /* IE10+ */
  background: linear-gradient(top, #9b93a3 0%, #888193 5%, #686170 24%, #5a575f 52%, #535154 86%, #525154 90%, #595959 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b93a3', endColorstr='#595959', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .contextcontainer .tabcontextbar {
  background: #bdad5a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bdad5a 6%, #c0b05f 23%, #c1b166 30%, #bfb063 32%, #b9aa66 43%, #ae9f74 51%, #a1957a 57%, #998e6e 64%, #91876c 68%, #80776b 72%, #696163 79%, #5f595e 81%, #4e4a53 87%, #464448 96%, #474549 98%, #504f51 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #bdad5a), color-stop(23%, #c0b05f), color-stop(30%, #c1b166), color-stop(32%, #bfb063), color-stop(43%, #b9aa66), color-stop(51%, #ae9f74), color-stop(57%, #a1957a), color-stop(64%, #998e6e), color-stop(68%, #91876c), color-stop(72%, #80776b), color-stop(79%, #696163), color-stop(81%, #5f595e), color-stop(87%, #4e4a53), color-stop(96%, #464448), color-stop(98%, #474549), color-stop(100%, #504f51));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bdad5a 6%, #c0b05f 23%, #c1b166 30%, #bfb063 32%, #b9aa66 43%, #ae9f74 51%, #a1957a 57%, #998e6e 64%, #91876c 68%, #80776b 72%, #696163 79%, #5f595e 81%, #4e4a53 87%, #464448 96%, #474549 98%, #504f51 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bdad5a 6%, #c0b05f 23%, #c1b166 30%, #bfb063 32%, #b9aa66 43%, #ae9f74 51%, #a1957a 57%, #998e6e 64%, #91876c 68%, #80776b 72%, #696163 79%, #5f595e 81%, #4e4a53 87%, #464448 96%, #474549 98%, #504f51 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bdad5a 6%, #c0b05f 23%, #c1b166 30%, #bfb063 32%, #b9aa66 43%, #ae9f74 51%, #a1957a 57%, #998e6e 64%, #91876c 68%, #80776b 72%, #696163 79%, #5f595e 81%, #4e4a53 87%, #464448 96%, #474549 98%, #504f51 100%);
  /* IE10+ */
  background: linear-gradient(top, #bdad5a 6%, #c0b05f 23%, #c1b166 30%, #bfb063 32%, #b9aa66 43%, #ae9f74 51%, #a1957a 57%, #998e6e 64%, #91876c 68%, #80776b 72%, #696163 79%, #5f595e 81%, #4e4a53 87%, #464448 96%, #474549 98%, #504f51 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdad5a', endColorstr='#504f51', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #fce914;
  border-right: 1px solid #fce914;
  border-top: 2px solid #fce914;
  color: #aaaaaa;
}
.sf-ribboncontainer.Office2007Black .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Office2007Black .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #c8c7c8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c8c7c8 0%, #a9a597 5%, #a9a598 9%, #b6b4b3 45%, #c8c7c8 82%, #c8c7c8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c7c8), color-stop(5%, #a9a597), color-stop(9%, #a9a598), color-stop(45%, #b6b4b3), color-stop(82%, #c8c7c8), color-stop(100%, #c8c7c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c8c7c8 0%, #a9a597 5%, #a9a598 9%, #b6b4b3 45%, #c8c7c8 82%, #c8c7c8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c8c7c8 0%, #a9a597 5%, #a9a598 9%, #b6b4b3 45%, #c8c7c8 82%, #c8c7c8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c8c7c8 0%, #a9a597 5%, #a9a598 9%, #b6b4b3 45%, #c8c7c8 82%, #c8c7c8 100%);
  /* IE10+ */
  background: linear-gradient(top, #c8c7c8 0%, #a9a597 5%, #a9a598 9%, #b6b4b3 45%, #c8c7c8 82%, #c8c7c8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a597', endColorstr='#c8c7c8', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  background: #faf17a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf17a), color-stop(5%, #ebe27d), color-stop(9%, #eade92), color-stop(14%, #eadfa7), color-stop(27%, #e5decb), color-stop(32%, #e9e3d7), color-stop(55%, #eee9ef), color-stop(73%, #f3f1f6), color-stop(82%, #f4f2f7), color-stop(86%, #f8f6fb), color-stop(100%, #fbf9fe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%);
  /* IE10+ */
  background: linear-gradient(top, #faf17a 0%, #ebe27d 5%, #eade92 9%, #eadfa7 14%, #e5decb 27%, #e9e3d7 32%, #eee9ef 55%, #f3f1f6 73%, #f4f2f7 82%, #f8f6fb 86%, #fbf9fe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf17a', endColorstr='#fbf9fe', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .groupcontainer {
  background: #d4d4d4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(3%, #d5d5d5), color-stop(27%, #cdcdcd), color-stop(60%, #c8c8c8), color-stop(61%, #c6c6c6), color-stop(63%, #c7c7c7), color-stop(74%, #c3c3c3), color-stop(81%, #bebebe), color-stop(89%, #bcbcbc), color-stop(93%, #b9b9b9), color-stop(95%, #bababa), color-stop(100%, #b6b6b6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* IE10+ */
  background: linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#b6b6b6', GradientType=0);
  /* IE6-9 */

  border: 1px solid #858585;
}
.sf-ribboncontainer.Office2007Black .contentitems {
  background: #d4d4d4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(3%, #d5d5d5), color-stop(27%, #cdcdcd), color-stop(60%, #c8c8c8), color-stop(61%, #c6c6c6), color-stop(63%, #c7c7c7), color-stop(74%, #c3c3c3), color-stop(81%, #bebebe), color-stop(89%, #bcbcbc), color-stop(93%, #b9b9b9), color-stop(95%, #bababa), color-stop(100%, #b6b6b6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* IE10+ */
  background: linear-gradient(top, #d4d4d4 0%, #d5d5d5 3%, #cdcdcd 27%, #c8c8c8 60%, #c6c6c6 61%, #c7c7c7 63%, #c3c3c3 74%, #bebebe 81%, #bcbcbc 89%, #b9b9b9 93%, #bababa 95%, #b6b6b6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#b6b6b6', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .contextcontainer .applicationmenu {
  background: #f6e6b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6e6b4), color-stop(100%, #ed9017));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6e6b4 0%, #ed9017 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6e6b4', endColorstr='#ed9017', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .menucontainer .menuitem:hover {
  background: #fbe9a2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbe9a2), color-stop(3%, #fae595), color-stop(7%, #fae189), color-stop(18%, #fae189), color-stop(20%, #f8df87), color-stop(24%, #fae289), color-stop(49%, #f9e188), color-stop(83%, #faf2c5), color-stop(91%, #fdfdeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* IE10+ */
  background: linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe9a2', endColorstr='#fdfdeb', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #f1c43f;
}
.sf-ribboncontainer.Office2007Black .pagecontainer .leftcontainer {
  background: #c7c7c6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7c7c6), color-stop(10%, #c7c7c6), color-stop(13%, #c5c5c4), color-stop(26%, #b7b6b6), color-stop(33%, #ababab), color-stop(51%, #969594), color-stop(67%, #858585), color-stop(74%, #818080), color-stop(100%, #818080));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* IE10+ */
  background: linear-gradient(left, #c7c7c6 0%, #c7c7c6 10%, #c5c5c4 13%, #b7b6b6 26%, #ababab 33%, #969594 51%, #858585 67%, #818080 74%, #818080 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c6', endColorstr='#818080', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.Office2007Black .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #ffecac;
  color: black;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #ffd870;
  color: black;
}
.sf-ribboncontainer.Office2007Black .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Office2007Black .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Office2007Black {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Office2007Black .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Black.Images.sfGalleryView.png%>);
}
.sf-galleryview.Office2007Black .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Office2007Black .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Office2007Black .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Office2007Black .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Office2007Black .slideup,
.sf-galleryview.Office2007Black .slidedown,
.sf-galleryview.Office2007Black .popup {
  position: relative;
}
.sf-galleryview.Office2007Black .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Office2007Black .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Office2007Black .extracontainer ul,
.sf-galleryview.Office2007Black .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Office2007Black .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Office2007Black .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Office2007Black .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Office2007Black .galleryrow {
  position: relative;
}
.sf-galleryview.Office2007Black .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Office2007Black .galleryitem:hover,
.sf-galleryview.Office2007Black .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Office2007Black .extracontainer .menuimage {
  border-right: 1px solid #6f7074;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Office2007Black .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Office2007Black .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Office2007Black .gallerycontainer {
  background: none repeat scroll 0 0 #66676e;
  border: 1px solid #6f7074;
}
.sf-galleryview.Office2007Black .subcontainer {
  background: none repeat scroll 0 0 #66676e;
  border: 1px solid #6f7074;
}
.sf-galleryview.Office2007Black .extracontainer {
  border-top: 1px solid #6f7074;
  color: #3c3c3c;
}
.sf-galleryview.Office2007Black .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Office2007Black .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Office2007Black .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Office2007Black .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Office2007Black .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Office2007Black .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Office2007Black .extraitems .image {
  border-right: 1px solid #6f7074;
  width: 20px;
}
.sf-galleryview.Office2007Black .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Office2007Black .galleryitem:hover {
  background: #fbe9a2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbe9a2), color-stop(3%, #fae595), color-stop(7%, #fae189), color-stop(18%, #fae189), color-stop(20%, #f8df87), color-stop(24%, #fae289), color-stop(49%, #f9e188), color-stop(83%, #faf2c5), color-stop(91%, #fdfdeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* IE10+ */
  background: linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe9a2', endColorstr='#fdfdeb', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #f1c43f;
}
.sf-galleryview.Office2007Black .extracontainer ul li:hover {
  background: #fbe9a2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbe9a2), color-stop(3%, #fae595), color-stop(7%, #fae189), color-stop(18%, #fae189), color-stop(20%, #f8df87), color-stop(24%, #fae289), color-stop(49%, #f9e188), color-stop(83%, #faf2c5), color-stop(91%, #fdfdeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* IE10+ */
  background: linear-gradient(top, #fbe9a2 0%, #fae595 3%, #fae189 7%, #fae189 18%, #f8df87 20%, #fae289 24%, #f9e188 49%, #faf2c5 83%, #fdfdeb 91%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe9a2', endColorstr='#fdfdeb', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #f1c43f;
}
