<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScreenSettings.Properties.Settings>
            <setting name="EnablePseudoSilverlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>{a67e0d79-2f96-7bb4-240c-9b9b05072dd2}</value>
            </setting>
            <setting name="WPFDefaultXAML" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundTag" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="TitleTag" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="AlarmBindTag" serializeAs="String">
                <value>AlarmDataSource</value>
            </setting>
            <setting name="DataBindTag" serializeAs="String">
                <value>DataDataSource</value>
            </setting>
            <setting name="ConnectionStringBindTag" serializeAs="String">
                <value>ConnectionStringBind</value>
            </setting>
            <setting name="EventConnectionStringBindTag" serializeAs="String">
                <value>EventConnectionStringBind</value>
            </setting>
            <setting name="SchedulerBindTag" serializeAs="String">
                <value>SchedulerDataSource</value>
            </setting>
            <setting name="SettingsExt" serializeAs="String">
                <value>Settings</value>
            </setting>
            <setting name="LayoutExt" serializeAs="String">
                <value>Layout</value>
            </setting>
            <setting name="StyleExt" serializeAs="String">
                <value>Style</value>
            </setting>
            <setting name="WebExportExtensions" serializeAs="String">
                <value>svg|references|commands|controls|animations|entities|styles|ios</value>
            </setting>
            <setting name="SvgBackgroundTag" serializeAs="String">
                <value>BG</value>
            </setting>
            <setting name="ProblematicXamlWriterTag" serializeAs="String">
                <value>ProblematicXamlWriter</value>
            </setting>
            <setting name="SvgFrameworkProperties" serializeAs="String">
                <value>FontSize|FontWeight|FontFamily|FontStyle|Content|Background|Foreground|ToolTip|VerticalContentAlignment|HorizontalContentAlignment|BorderThickness|BorderBrush</value>
            </setting>
            <setting name="SymbolCommonFolder" serializeAs="String">
                <value>Symbols</value>
            </setting>
            <setting name="SVGSymbolCommonFolder" serializeAs="String">
                <value>SVGSymbols</value>
            </setting>
            <setting name="SVGControlStylesCommonFolder" serializeAs="String">
                <value>SVGControlStyles</value>
            </setting>
            <setting name="ScreenMaxWidth" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="ScreenMaxHeight" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="DataSourceStringBindTag" serializeAs="String">
                <value>SchedulerDataSource</value>
            </setting>
            <setting name="DefaultParametersFolder" serializeAs="String">
                <value>ScreenParameter</value>
            </setting>
            <setting name="DefaultParametersExtension" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="BamlExt" serializeAs="String">
                <value>baml</value>
            </setting>
            <setting name="CompiledExt" serializeAs="String">
                <value>compiled</value>
            </setting>
            <setting name="RecipeBindTag" serializeAs="String">
                <value>RecipeDataSource</value>
            </setting>
        </ScreenSettings.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
