<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="UFUAWebEditor.SiteMaster" %>

<%@ Register assembly="DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    UF UA Server Configuration Editor
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class ="Theme">
                <dx:ASPxComboBox AutoPostBack="True" 
                    DataSourceID="xdsThemes" Width="150px" ID="cbSkins" 
                    runat="server" EnableViewState="False" 
                    ClientInstanceName="cbSkins" 
                    OnDataBound="cbSkins_DataBound">
                        <ClientSideEvents SelectedIndexChanged="
                        function(s, e) {
                            DXSaveCurrentThemeToCookies(s.GetSelectedItem().value);
                        }" />
                </dx:ASPxComboBox>
                <asp:XmlDataSource DataFile="~/App_Data/Themes.xml" XPath="//Theme" ID="xdsThemes" runat="server" />
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home"/>
                        <asp:MenuItem NavigateUrl="~/GCEditor.aspx" Text="General Configuration Editor"/>
                        <asp:MenuItem NavigateUrl="~/ASEditor.aspx" Text="Address Space Editor"/>
                        <asp:MenuItem NavigateUrl="~/HSEditor.aspx" Text="Historical Settings Editor"/>
                        <asp:MenuItem NavigateUrl="~/LTEditor.aspx" Text="Localized Text Editor"/>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="About"/>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
