.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Sandune .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Sandune .ef-toggle:hover {
  background-color: #f2e6d5;
  border-color: #e6d9be;
}
.Syncfusion-Grid-Sandune .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Sandune .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #d7bf92;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Sandune-horizontal {
  width: 100%;
  height: 32px;
}
ul.Sandune-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #f2e6d5;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-sandune-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-sandune-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-sandune-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Sandune .sf-sp-tr {
  background-position: 2px -169px;
}
.Sandune .sf-sp-vwrapper,
.Sandune .sf-sp-hwrapper {
  background-color: #f3eddd;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Sandune {
  border-color: #bb964c;
  color: black;
}
.Syncfusion-Grid-Sandune .GridContent .Table {
  border-top-color: #ece4d1;
  border-bottom-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .GridContent {
  background-color: white;
}
.Syncfusion-Grid-Sandune .Gridtoolbar {
  border-top-color: #ece4d1 !important;
}
.Syncfusion-Grid-Sandune .GroupDropArea {
  background-color: #ebe0d2;
  border-color: #e6d9be;
}
.Syncfusion-Grid-Sandune.cloneProperties {
  color: black;
  background-color: #383838;
  border-color: #e6d9be;
}
.Syncfusion-Grid-Sandune th.MasterHeaderLeftCell {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .CaptionRow {
  background-color: #f0e9de;
}
.Syncfusion-Grid-Sandune .HeaderCell,
.Syncfusion-Grid-Sandune .GroupTopLeftCell,
.Syncfusion-Grid-Sandune .TopLeftCell,
.Syncfusion-Grid-Sandune .CaptionRow,
.Syncfusion-Grid-Sandune .HeaderCellHover {
  border-color: #e7cfa9;
}
.Syncfusion-Grid-Core .sf-toolbar.Sandune-horizontal {
  border-color: #e7cfa9;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Sandune .sf-sp-tr {
  border-color: #e7cfa9;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Sandune .PagerCaptionRow {
  border-top-color: #e6d9be;
}
.Syncfusion-Grid-Sandune .PagerGroupDropArea {
  border-top-color: #e6d9be;
  background-color: #f0e9de;
}
.Syncfusion-Grid-Sandune .GroupCaption {
  background-color: #e8dbc9;
  border-color: #d5c8b1;
}
.Syncfusion-Grid-Sandune .HeaderCellHover,
.Syncfusion-Grid-Sandune .GroupHeaderCell:hover {
  color: black;
}
.Syncfusion-Grid-Sandune .GroupHeaderCell,
.Syncfusion-Grid-Sandune .GroupHeaderCell:hover,
.Syncfusion-Grid-Sandune .GrpHdrUnboundColumn {
  border-color: #e6d9be;
}
.Syncfusion-Grid-Sandune .GroupHeaderCell {
  color: black;
  border-color: #bb964c;
}
.Syncfusion-Grid-Sandune .SelectedHeaderCell {
  border-color: #ece4d1;
  color: black;
}
.Syncfusion-Grid-Sandune .RowHeader {
  border-color: #ece4d1;
  background-color: #f3eddd;
}
.Syncfusion-Grid-Sandune .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Sandune .UnboundCell {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .SelectedRowHeaderCell,
Syncfusion-Grid-Sandune .UnboundButton {
  border-color: #ece4d1;
  background-color: #f3eddd;
}
.Syncfusion-Grid-Sandune .RowCell,
.Syncfusion-Grid-Sandune .EmptyCell,
.Syncfusion-Grid-Sandune tr[class*=ChildRow] > .ChildGrid {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .Alt_Row {
  background-color: #f3eddd;
}
.Syncfusion-Grid-Sandune .IndentCell {
  border-color: #d5c8b1;
  background-color: #e8dbc9;
}
.Syncfusion-Grid-Sandune .Summary {
  color: #464749;
  background-color: #d7bf92;
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .GridSummary {
  border: 1px none #ece4d1;
}
.Syncfusion-Grid-Sandune .RecordPlusCollapse,
.Syncfusion-Grid-Sandune .RecordPlusExpand {
  background-color: #e8dbc9;
  border-color: #d5c8b1;
}
.Syncfusion-Grid-Sandune .MasterCellCollapse,
.Syncfusion-Grid-Sandune .MasterCellExpand {
  border-color: #d5c8b1;
}
.Syncfusion-Grid-Sandune .RecordPlusExpand > div,
.Syncfusion-Grid-Sandune .MasterCellExpand > div {
  background-color: #e8dbc9;
}
.Syncfusion-Grid-Sandune .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Sandune .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-Sandune .SelectedColumn {
  background-color: #c9b99d;
  color: black;
}
.Syncfusion-Grid-Sandune .SelectionBackground {
  background-color: #d7bf92;
  color: black;
}
.Syncfusion-Grid-Sandune .CurrentCell {
  background-color: #b59863;
  color: white;
}
.Syncfusion-Grid-Sandune .GridPager {
  background-color: #e1d0ba;
  border-color: #bb964c;
}
.Syncfusion-Grid-Sandune .GridPager,
.Syncfusion-Grid-Sandune .GridPager .NumericItem,
.Syncfusion-Grid-Sandune .Spacing,
.Syncfusion-Grid-Sandune .CaptionRow,
.Syncfusion-Grid-Sandune .GroupDropArea {
  color: black;
}
.Syncfusion-Grid-Sandune .NumericItem-hover {
  background-color: #f2e6d5;
  color: black;
}
ul.Sandune ul li a span.arrows,
ul.Sandune-context span.arrows,
ul.Sandune-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Sandune .PrevPageDisabled,
.Syncfusion-Grid-Sandune .PrevPage,
.Syncfusion-Grid-Sandune .NextPage,
.Syncfusion-Grid-Sandune .NextPageDisabled,
.Syncfusion-Grid-Sandune .Descending,
.Syncfusion-Grid-Sandune .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.Sandune_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Sandune .RecordPlusCollapse > div,
.Syncfusion-Grid-Sandune .MasterCellCollapse > div,
.Syncfusion-Grid-Sandune .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Sandune .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Sandune .HeaderCellHover,
.sf-grid-sandune-menu .button-wrapper,
.sf-grid-sandune-menu .button-wrapper:hover,
.Syncfusion-Grid-Sandune .FilterCellHover,
.Syncfusion-Grid-Sandune .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>) repeat-x scroll center bottom #f2debb;
}
.sf-grid-sandune-menu .sf-choiceList,
.sf-grid-sandune-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-Sandune .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Sandune .AddNewItem,
.Syncfusion-Grid-Sandune .EditItem,
.Syncfusion-Grid-Sandune .ExcelItem,
.Syncfusion-Grid-Sandune .WordItem,
.Syncfusion-Grid-Sandune .PdfItem,
.Syncfusion-Grid-Sandune .DeleteItem,
.Syncfusion-Grid-Sandune .SaveItem,
.Syncfusion-Grid-Sandune .Cancel,
.Syncfusion-Grid-Sandune .FirstPage,
.Syncfusion-Grid-Sandune .LastPage,
.Syncfusion-Grid-Sandune .FirstPageDisabled,
.Syncfusion-Grid-Sandune .LastPageDisabled,
.Syncfusion-Grid-Sandune .GridPager .RefreshPager,
.Syncfusion-Grid-Sandune .Search,
.Syncfusion-Grid-Sandune .FilterIcon,
.Syncfusion-Grid-Sandune .FilterIconTick,
.sf-grid-sandune-menu .ClearFilterSideImg,
.sf-grid-sandune-menu .searchButton,
.sf-grid-sandune-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.Sandune_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.Sandune_sprite.png%>);
}
.Syncfusion-Grid-Sandune .sliderContainer .ui-slider,
.Syncfusion-Grid-Sandune .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Sandune .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Sandune .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.Sandune_sprite.png%>) !important;
}
.Syncfusion-Grid-Sandune .HeaderCell,
.Syncfusion-Grid-Sandune .grid-icon,
.Syncfusion-Grid-Sandune .GroupTopLeftCell,
.Syncfusion-Grid-Sandune .TopRightCell,
.Syncfusion-Grid-Sandune th.MasterHeaderLeftCell,
.Syncfusion-Grid-Sandune .TopLeftCell,
.Syncfusion-Grid-Sandune.cloneProperties,
.Syncfusion-Grid-Sandune .ExternalForm-Header,
.Syncfusion-Grid-Sandune .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.header-bg.png%>) repeat-x scroll center bottom #f0deba;
}
.Syncfusion-Grid-Sandune .GridHeader {
  background-color: #f0deba;
  color: black;
}
.Syncfusion-Grid-Sandune .ef-headerText {
  color: black;
}
.Syncfusion-Grid-Sandune .Hdr-widthSettings {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .CurrentItem,
.Syncfusion-Grid-Sandune .CurrentItem:hover {
  border-color: #ece4d1;
  background-color: #9c8a69;
  color: white !important;
}
.Syncfusion-Grid-Sandune .ToolbarItems {
  color: black;
}
.Syncfusion-Grid-Sandune .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Sandune .StringFilter,
.Syncfusion-Grid-Sandune .DateFilter,
.Syncfusion-Grid-Sandune .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Sandune .EditForm {
  background-color: #d7bf92;
}
.Syncfusion-Grid-Sandune .RecordCaption {
  color: black;
}
.Syncfusion-Grid-Sandune .EditForm legend {
  color: black;
}
.Syncfusion-Grid-Sandune .EditCell .field-validation-error,
.Syncfusion-Grid-Sandune .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Sandune .EditCell {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .EditForm fieldset {
  border-color: #989898;
}
.Syncfusion-Grid-Sandune .Gridtoolbar .customToolItem {
  color: #ba964c;
}
.reSizeColbg {
  background-color: #bb964c;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #f0e9de;
  border-color: #bb964c !important;
}
.Syncfusion-Grid-Sandune.DragElementtext {
  background-color: #b59863;
  color: white;
  border-color: #bb964c !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Sandune .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-sandune-menu .sf-choiceList,
.sf-grid-sandune-menu .Search-Choice-wrapper,
.sf-grid-sandune-menu .button-wrapper,
.sf-grid-sandune-menu .button-wrapper:hover {
  border-color: #bb964c;
}
.Syncfusion-Grid-Sandune .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Sandune .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Sandune .sfInputText {
  color: black;
}
.Syncfusion-Grid-Sandune .Table td.FrozenX,
.Syncfusion-Grid-Sandune .Table th.FrozenX {
  border-right-color: #bb964c;
}
.Syncfusion-Grid-Sandune .Table td.FrozenY {
  border-top-color: #bb964c;
}
.Syncfusion-Grid-Sandune .sfSandune .ui-state-default,
.Syncfusion-Grid-Sandune .sfSandune .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Sandune .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Sandune .RecordPlusExpand > div,
.Syncfusion-Grid-Sandune .MasterCellExpand > div,
.Syncfusion-Grid-Sandune-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Sandune .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.active-bg.png%>) repeat-x scroll center bottom #e9ce9a;
}
.Syncfusion-Grid-Sandune-Tooltip .tooltipTopDiv {
  background-color: #a3846d;
  color: white;
}
.Syncfusion-Grid-Sandune .NextPage:Hover,
.Syncfusion-Grid-Sandune .LastPage:Hover,
.Syncfusion-Grid-Sandune .FirstPage:Hover,
.Syncfusion-Grid-Sandune .PrevPage:Hover,
.Syncfusion-Grid-Sandune .GridPager .RefreshPager:Hover {
  background-color: #e6d9be;
}
.Syncfusion-Grid-Sandune .FilterBarCell,
.Syncfusion-Grid-Sandune .FilterBarCellDisabled {
  border-color: #ece4d1;
  background-color: #f3eddd;
  background-image: none;
}
.Syncfusion-Grid-Sandune .FilterBarCell input {
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Sandune .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #f3eddd;
  border-color: #d5c8b1;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: #a3884f;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Sandune.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Sandune .EnableRowHover tbody > tr:hover {
  background-color: #c9bba3;
}
.Syncfusion-Grid-Sandune .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #ece4d1;
  background-color: #f3eddd;
}
.Syncfusion-Grid-Sandune .ExternalEdit {
  background-color: #f3eddd;
  border-color: #bb964c;
}
.Syncfusion-Grid-Sandune .bg-clear,
.Syncfusion-Grid-Sandune .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Sandune .MasterCellCollapse,
.Syncfusion-Grid-Sandune .MasterCellExpand,
.Syncfusion-Grid-Sandune td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #ece4d1;
}
.Syncfusion-Grid-Sandune .ef-wrapper {
  border-color: #e5d9be;
  background-color: #f0e9de;
}
