.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Almond .contextcontainer .applicationmenu {
  color: #b85251;
}
.sf-ribboncontainer.Almond .menucontainer .menuimage {
  border-right: #e29c9c;
}
.sf-ribboncontainer.Almond .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Almond .contextcontainer .active.wrappertab:hover {
  border: 1px solid #e2baba;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: #b85251;
}
.sf-ribboncontainer.Almond .contextcontainer .wrappertab:hover {
  border: 1px solid #e2baba;
}
.sf-ribboncontainer.Almond .menucontainer {
  background: none repeat scroll 0 0 #dd7b80;
  border: 1px solid #e29c9c;
}
.sf-ribboncontainer.Almond .menucontainer ul {
  background: none repeat scroll 0 0 #dd7b80;
  border: 1px solid #e29c9c;
}
.sf-ribboncontainer.Almond .pagecontainer {
  background: none repeat scroll 0 0 #dd7b80;
  border: 2px solid #e29c9c;
  border-top: 2px solid #e29c9c;
}
.sf-ribboncontainer.Almond .pagecontainer .menutext.active {
  background-color: #dc9498;
  border-bottom: 1px solid #e29c9c;
  border-top: 1px solid #e29c9c;
}
.sf-ribboncontainer.Almond .pagecontainer .menutext:hover {
  border-bottom: 1px solid #e29c9c;
  border-top: 1px solid #e29c9c;
}
.sf-ribboncontainer.Almond .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Almond .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Almond .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Almond .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Almond .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Almond .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Almond .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Almond .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Almond .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Almond .contextcontainer {
  background: #c87976;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c87976), color-stop(31%, #c46a67), color-stop(69%, #bb5253), color-stop(100%, #b74148));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* IE10+ */
  background: linear-gradient(top, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c87976', endColorstr='#b74148', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Almond .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #fcf6f6;
}
.sf-ribboncontainer.Almond .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #eecccc;
  background: #e8b7b7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8b7b7), color-stop(5%, #e5afaf), color-stop(14%, #ecc5c5), color-stop(18%, #eecccc), color-stop(32%, #f4dede), color-stop(45%, #f8e9e9), color-stop(68%, #faefef), color-stop(73%, #fbf3f3), color-stop(82%, #fbf3f3), color-stop(86%, #fdf8f8), color-stop(100%, #fefbfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%);
  /* IE10+ */
  background: linear-gradient(top, #e8b7b7 0%, #e5afaf 5%, #ecc5c5 14%, #eecccc 18%, #f4dede 32%, #f8e9e9 45%, #faefef 68%, #fbf3f3 73%, #fbf3f3 82%, #fdf8f8 86%, #fefbfb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8b7b7', endColorstr='#fefbfb', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .contextcontainer .tabcontextbar {
  background: #d68181;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d68181), color-stop(4%, #d68181), color-stop(6%, #d88787), color-stop(11%, #d78585), color-stop(21%, #d98a8a), color-stop(23%, #d88888), color-stop(26%, #d98b8b), color-stop(30%, #d78585), color-stop(32%, #da8d8d), color-stop(36%, #dc9393), color-stop(40%, #dc9494), color-stop(47%, #e09f9f), color-stop(51%, #e4acac), color-stop(53%, #e5afaf), color-stop(57%, #e9bbbb), color-stop(66%, #ebc3c3), color-stop(70%, #eecccc), color-stop(72%, #f1d4d4), color-stop(77%, #f4dede), color-stop(87%, #f8e9e9), color-stop(96%, #fcf5f5), color-stop(98%, #fcf6f6), color-stop(100%, #fbf3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%);
  /* IE10+ */
  background: linear-gradient(top, #d68181 0%, #d68181 4%, #d88787 6%, #d78585 11%, #d98a8a 21%, #d88888 23%, #d98b8b 26%, #d78585 30%, #da8d8d 32%, #dc9393 36%, #dc9494 40%, #e09f9f 47%, #e4acac 51%, #e5afaf 53%, #e9bbbb 57%, #ebc3c3 66%, #eecccc 70%, #f1d4d4 72%, #f4dede 77%, #f8e9e9 87%, #fcf5f5 96%, #fcf6f6 98%, #fbf3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d68181', endColorstr='#fbf3f3', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #d88686;
  border-right: 1px solid #d88686;
  border-top: 2px solid #d88686;
  color: #aaaaaa;
}
.sf-ribboncontainer.Almond .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Almond .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  border: 1px solid #eecccc;
  background: #f9eded;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9eded), color-stop(5%, #f4dddd), color-stop(9%, #f4dddd), color-stop(27%, #f9eded), color-stop(45%, #fbf2f2), color-stop(68%, #fcf5f5), color-stop(100%, #fcf5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%);
  /* IE10+ */
  background: linear-gradient(top, #f9eded 0%, #f4dddd 5%, #f4dddd 9%, #f9eded 27%, #fbf2f2 45%, #fcf5f5 68%, #fcf5f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9eded', endColorstr='#fcf5f5', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  border: 1px solid #eecccc;
  border-bottom: 0px;
  background: #fdf8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdf8f8), color-stop(100%, #fdf8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%);
  /* IE10+ */
  background: linear-gradient(top, #fdf8f8 0%, #fdf8f8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf8f8', endColorstr='#fdf8f8', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .groupcontainer {
  background: #fcf6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf6f6), color-stop(4%, #fbf3f3), color-stop(13%, #fbf2f2), color-stop(15%, #faefef), color-stop(29%, #faefef), color-stop(45%, #f8e9e9), color-stop(57%, #f8e9e9), color-stop(58%, #f7e7e7), color-stop(62%, #f8e9e9), color-stop(63%, #f7e7e7), color-stop(80%, #f7e6e6), color-stop(81%, #f6e4e4), color-stop(100%, #f6e4e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* IE10+ */
  background: linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf6f6', endColorstr='#f6e4e4', GradientType=0);
  /* IE6-9 */

  border: 1px solid #eecccc;
}
.sf-ribboncontainer.Almond .contentitems {
  background: #fcf6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf6f6), color-stop(4%, #fbf3f3), color-stop(13%, #fbf2f2), color-stop(15%, #faefef), color-stop(29%, #faefef), color-stop(45%, #f8e9e9), color-stop(57%, #f8e9e9), color-stop(58%, #f7e7e7), color-stop(62%, #f8e9e9), color-stop(63%, #f7e7e7), color-stop(80%, #f7e6e6), color-stop(81%, #f6e4e4), color-stop(100%, #f6e4e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* IE10+ */
  background: linear-gradient(top, #fcf6f6 0%, #fbf3f3 4%, #fbf2f2 13%, #faefef 15%, #faefef 29%, #f8e9e9 45%, #f8e9e9 57%, #f7e7e7 58%, #f8e9e9 62%, #f7e7e7 63%, #f7e6e6 80%, #f6e4e4 81%, #f6e4e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf6f6', endColorstr='#f6e4e4', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .contextcontainer .applicationmenu {
  background: #eecccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eecccc), color-stop(31%, #e29c9c), color-stop(62%, #e5b5b5), color-stop(100%, #fef6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eecccc 0%, #e29c9c 31%, #e5b5b5 62%, #fef6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eecccc', endColorstr='#fef6f6', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .menucontainer .menuitem:hover {
  background: #df9d9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df9d9d), color-stop(4%, #fbf2f2), color-stop(8%, #f1d4d4), color-stop(12%, #efcece), color-stop(32%, #eabebe), color-stop(56%, #eabdbd), color-stop(64%, #ebc3c3), color-stop(72%, #f0d2d2), color-stop(96%, #fbf3f3), color-stop(100%, #de9999));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* IE10+ */
  background: linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1d4d4', endColorstr='#fbf3f3', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #df9d9d;
}
.sf-ribboncontainer.Almond .pagecontainer .leftcontainer {
  background: #c87976;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c87976), color-stop(31%, #c46a67), color-stop(69%, #bb5253), color-stop(100%, #b74148));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* IE10+ */
  background: linear-gradient(left, #c87976 0%, #c46a67 31%, #bb5253 69%, #b74148 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c87976', endColorstr='#b74148', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.Almond .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Almond .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Almond .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #e1898e;
  color: #c75e5d;
}
.sf-ribboncontainer.Almond .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #dc9498;
  color: #912121;
}
.sf-ribboncontainer.Almond .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Almond .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Almond {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Almond .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.sfGalleryView.png%>);
}
.sf-galleryview.Almond .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Almond .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Almond .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Almond .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Almond .slideup,
.sf-galleryview.Almond .slidedown,
.sf-galleryview.Almond .popup {
  position: relative;
}
.sf-galleryview.Almond .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Almond .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Almond .extracontainer ul,
.sf-galleryview.Almond .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Almond .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Almond .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Almond .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Almond .galleryrow {
  position: relative;
}
.sf-galleryview.Almond .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Almond .galleryitem:hover,
.sf-galleryview.Almond .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Almond .extracontainer .menuimage {
  border-right: 1px solid #e29c9c;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Almond .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Almond .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Almond .gallerycontainer {
  background: none repeat scroll 0 0 #dd7b80;
  border: 1px solid #e29c9c;
}
.sf-galleryview.Almond .subcontainer {
  background: none repeat scroll 0 0 #dd7b80;
  border: 1px solid #e29c9c;
}
.sf-galleryview.Almond .extracontainer {
  border-top: 1px solid #e29c9c;
  color: #b85251;
}
.sf-galleryview.Almond .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Almond .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Almond .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Almond .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Almond .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Almond .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Almond .extraitems .image {
  border-right: 1px solid #e29c9c;
  width: 20px;
}
.sf-galleryview.Almond .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Almond .galleryitem:hover {
  background: #f1d5d5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #f1d5d5), color-stop(4%, #efcfcf), color-stop(10%, #eabebe), color-stop(25%, #e9bbbb), color-stop(26%, #eabdbd), color-stop(38%, #eabdbd), color-stop(94%, #f4dede), color-stop(99%, #fbf3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%);
  /* IE10+ */
  background: linear-gradient(top, #f1d5d5 2%, #efcfcf 4%, #eabebe 10%, #e9bbbb 25%, #eabdbd 26%, #eabdbd 38%, #f4dede 94%, #fbf3f3 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1d5d5', endColorstr='#fbf3f3', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #df9d9d;
}
.sf-galleryview.Almond .extracontainer ul li:hover {
  background: #df9d9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df9d9d), color-stop(4%, #fbf2f2), color-stop(8%, #f1d4d4), color-stop(12%, #efcece), color-stop(32%, #eabebe), color-stop(56%, #eabdbd), color-stop(64%, #ebc3c3), color-stop(72%, #f0d2d2), color-stop(96%, #fbf3f3), color-stop(100%, #de9999));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* IE10+ */
  background: linear-gradient(top, #df9d9d 0%, #fbf2f2 4%, #f1d4d4 8%, #efcece 12%, #eabebe 32%, #eabdbd 56%, #ebc3c3 64%, #f0d2d2 72%, #fbf3f3 96%, #de9999 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1d4d4', endColorstr='#fbf3f3', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #df9d9d;
}
