<div id="passwordExpiredPage" class="passwordExpiredPage">
    <style type="text/css">
        @import url("loginpagecss/main.css");
        @import url("loginpagecss/util.css");
    </style>


    <img src="images/User-Login.png" id="loadingImage" class="loginPageImage" onload="onPasswordExpiredLoaded(this)" width="56" height="56" alt="" />

    <table style="width:100%; margin-bottom: 10px;">
        <tr>
            <td>
                <div class="inputfield wrap-input100 validate-input vMargin10" data-validate="Old Password is required">
                    <input class="input100 h35" type="password" name="oldpassword" data-i18n="[placeholder]phOldPassword; [title]titleOldPassword" style="display:none;"
                           required data-ng-model="oldPassword">
                    <span class="focus-input100"></span>
                </div>
            </td>
            <td>
                <div id="oldpwdpadbtn_container" style="margin-left:10px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="inputfield wrap-input100 validate-input vMargin10" data-validate="New Password is required">
                    <input class="input100 h35" type="password" name="newpass" data-i18n="[placeholder]phNewPassword; [title]titleNewPassword" style="display:none;"
                           required data-ng-model="newPassword">
                    <span class="focus-input100"></span>
                </div>
            </td>
            <td>
                <div id="newpwdpadbtn_container" style="margin-left:10px;" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="inputfield wrap-input100 validate-input vMargin10" data-validate="Verify Password is required">
                    <input class="input100 h35" type="password" name="verifypass" data-i18n="[placeholder]phVerifyPassword; [title]titleVerifyPassword" style="display:none;"
                           required data-ng-model="verifyPassword">
                    <span class="focus-input100"></span>
                </div>
            </td>
            <td>
                <div id="verifypwdpadbtn_container" style="margin-left:10px;" />
            </td>
        </tr>
    </table>

    <script>

        function onPasswordExpiredLoaded(obj) {

            var thisPage = $(obj).parent();
            thisPage.localize();
            var scope = thisPage.scope();
            if (!scope || scope.$parent == null)
                return;

            var themeColors = getThemeColors(scope);
            thisPage.find("input").css({
                "background": themeColors.background,
                "color": themeColors.foreground
            }).show();

            var oldpwdbtn = $("<div id='oldpwdpadbtn'>").dxButton({
                type: "normal",
                icon: "edit",
                onClick: async function (e) {
                    var value = await scope.showAlphanumericPad(scope, true);
                    if (value !== null) {
                        scope.oldPassword = value;
                        scope.$apply();
                    }
                }
            });
            oldpwdbtn.appendTo(thisPage.find("#oldpwdpadbtn_container"));

            var newpwdbtn = $("<div id='newpwdpadbtn'>").dxButton({
                type: "normal",
                icon: "edit",
                onClick: async function (e) {
                    var value = await scope.showAlphanumericPad(scope, true);
                    if (value !== null) {
                        scope.newPassword = value;
                        scope.$apply();
                    }
                }
            });
            newpwdbtn.appendTo(thisPage.find("#newpwdpadbtn_container"));

            var verifypwdbtn = $("<div id='verifypwdpadbtn'>").dxButton({
                type: "normal",
                icon: "edit",
                onClick: async function (e) {
                    var value = await scope.showAlphanumericPad(scope, true);
                    if (value !== null) {
                        scope.verifyPassword = value;
                        scope.$apply();
                    }
                }
            });
            verifypwdbtn.appendTo(thisPage.find("#verifypwdpadbtn_container"));

            scope.busyVisible = false;
            scope.$apply();
        }

    </script>
</div>
