<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFShortcutSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="UFRecipeSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFShortcutSettings.Properties.Settings>
            <setting name="DefaultShortcutName" serializeAs="String">
                <value>Shortcut</value>
            </setting>
            <setting name="DefaultGroupName" serializeAs="String">
                <value>Group</value>
            </setting>
            <setting name="DefaultKeyCommandName" serializeAs="String">
                <value>KeyCommand</value>
            </setting>
        </UFShortcutSettings.Properties.Settings>
        <UFRecipeSettings.Properties.Settings>
            <setting name="DefaultRecipeName" serializeAs="String">
                <value>Recipe</value>
            </setting>
            <setting name="DefaultGroupName" serializeAs="String">
                <value>Group</value>
            </setting>
            <setting name="DefaultDataValueName" serializeAs="String">
                <value>DataValue</value>
            </setting>
        </UFRecipeSettings.Properties.Settings>
    </applicationSettings>
</configuration>