/*----------other---------------*/
.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Office2007Blue .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Office2007Blue .ef-toggle:hover {
  background-color: #ffe59b;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Office2007Blue .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #deecff;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Office2007Blue-horizontal {
  width: 100%;
  height: 32px;
}
ul.Office2007Blue-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #ffe59b;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-office2007blue-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-office2007blue-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-office2007blue-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Office2007Blue .sf-sp-tr {
  background-position: 2px -169px;
}
.Office2007Blue .sf-sp-vwrapper,
.Office2007Blue .sf-sp-hwrapper {
  background-color: #deecff;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Office2007Blue {
  border-color: #6593cf;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .GridContent .Table {
  border-top-color: #add1ff;
  border-bottom-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .GridContent {
  background-color: white;
}
.Syncfusion-Grid-Office2007Blue .Gridtoolbar {
  border-top-color: #add1ff !important;
}
.Syncfusion-Grid-Office2007Blue .GroupDropArea {
  background-color: #bfdbff;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue.cloneProperties {
  color: black;
  background-color: #454545;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue th.MasterHeaderLeftCell {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .CaptionRow {
  background-color: #deecff;
}
.Syncfusion-Grid-Office2007Blue .HeaderCell,
.Syncfusion-Grid-Office2007Blue .GroupTopLeftCell,
.Syncfusion-Grid-Office2007Blue .TopLeftCell,
.Syncfusion-Grid-Office2007Blue .CaptionRow,
.Syncfusion-Grid-Office2007Blue .HeaderCellHover {
  border-color: #add1ff;
}
.Syncfusion-Grid-Core .sf-toolbar.Office2007Blue-horizontal {
  border-color: #add1ff;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Office2007Blue .sf-sp-tr {
  border-color: #add1ff;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Office2007Blue .PagerCaptionRow {
  border-top-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .PagerGroupDropArea {
  border-top-color: #add1ff;
  background-color: #bfdbff;
}
.Syncfusion-Grid-Office2007Blue .GroupCaption {
  background-color: #e3efff;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .HeaderCellHover,
.Syncfusion-Grid-Office2007Blue .GroupHeaderCell:hover {
  color: black;
}
.Syncfusion-Grid-Office2007Blue .GroupHeaderCell,
.Syncfusion-Grid-Office2007Blue .GroupHeaderCell:hover,
.Syncfusion-Grid-Office2007Blue .GrpHdrUnboundColumn {
  border-color: #a4d0ff;
}
.Syncfusion-Grid-Office2007Blue .GroupHeaderCell {
  color: black;
  border-color: #688caf;
}
.Syncfusion-Grid-Office2007Blue .SelectedHeaderCell {
  border-color: #add1ff;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .RowHeader {
  border-color: #add1ff;
  background-color: #deecff;
}
.Syncfusion-Grid-Office2007Blue .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Office2007Blue .UnboundCell {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .SelectedRowHeaderCell,
Syncfusion-Grid-Office2007Blue .UnboundButton {
  border-color: #add1ff;
  background-color: #deecff;
}
.Syncfusion-Grid-Office2007Blue .RowCell,
.Syncfusion-Grid-Office2007Blue .EmptyCell,
.Syncfusion-Grid-Office2007Blue tr[class*=ChildRow] > .ChildGrid {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .Alt_Row {
  background-color: #f9f9f9;
}
.Syncfusion-Grid-Office2007Blue .IndentCell {
  border-color: #add1ff;
  background-color: #e3efff;
}
.Syncfusion-Grid-Office2007Blue .Summary {
  color: #464749;
  background-color: #fff5bf;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .GridSummary {
  border: 1px none #add1ff;
}
.Syncfusion-Grid-Office2007Blue .RecordPlusCollapse,
.Syncfusion-Grid-Office2007Blue .RecordPlusExpand {
  background-color: #e3efff;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .MasterCellCollapse,
.Syncfusion-Grid-Office2007Blue .MasterCellExpand {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .RecordPlusExpand > div,
.Syncfusion-Grid-Office2007Blue .MasterCellExpand > div {
  background-color: #e3efff;
}
.Syncfusion-Grid-Office2007Blue .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Office2007Blue .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-Office2007Blue .SelectedColumn {
  background-color: #ffecb6;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .SelectionBackground {
  background-color: #ffbd69;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .CurrentCell {
  background-color: #f68b3c;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .GridPager {
  background-color: #bfdbff;
  border-color: #688caf;
}
.Syncfusion-Grid-Office2007Blue .GridPager,
.Syncfusion-Grid-Office2007Blue .GridPager .NumericItem,
.Syncfusion-Grid-Office2007Blue .Spacing,
.Syncfusion-Grid-Office2007Blue .CaptionRow,
.Syncfusion-Grid-Office2007Blue .GroupDropArea {
  color: black;
}
.Syncfusion-Grid-Office2007Blue .NumericItem-hover {
  background-color: #ffe59b;
  color: black;
}
ul.Office2007Blue ul li a span.arrows,
ul.Office2007Blue-context span.arrows,
ul.Office2007Blue-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Office2007Blue .PrevPageDisabled,
.Syncfusion-Grid-Office2007Blue .PrevPage,
.Syncfusion-Grid-Office2007Blue .NextPage,
.Syncfusion-Grid-Office2007Blue .NextPageDisabled,
.Syncfusion-Grid-Office2007Blue .Descending,
.Syncfusion-Grid-Office2007Blue .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.Office2007Blue_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Office2007Blue .RecordPlusCollapse > div,
.Syncfusion-Grid-Office2007Blue .MasterCellCollapse > div,
.Syncfusion-Grid-Office2007Blue .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Office2007Blue .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Office2007Blue .HeaderCellHover,
.sf-grid-office2007blue-menu .button-wrapper,
.sf-grid-office2007blue-menu .button-wrapper:hover,
.Syncfusion-Grid-Office2007Blue .FilterCellHover,
.Syncfusion-Grid-Office2007Blue .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.hover-bg.png%>) repeat-x scroll center bottom #ffecac;
}
.sf-grid-office2007blue-menu .sf-choiceList,
.sf-grid-office2007blue-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-Office2007Blue .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Office2007Blue .AddNewItem,
.Syncfusion-Grid-Office2007Blue .EditItem,
.Syncfusion-Grid-Office2007Blue .ExcelItem,
.Syncfusion-Grid-Office2007Blue .WordItem,
.Syncfusion-Grid-Office2007Blue .PdfItem,
.Syncfusion-Grid-Office2007Blue .DeleteItem,
.Syncfusion-Grid-Office2007Blue .SaveItem,
.Syncfusion-Grid-Office2007Blue .Cancel,
.Syncfusion-Grid-Office2007Blue .FirstPage,
.Syncfusion-Grid-Office2007Blue .LastPage,
.Syncfusion-Grid-Office2007Blue .FirstPageDisabled,
.Syncfusion-Grid-Office2007Blue .LastPageDisabled,
.Syncfusion-Grid-Office2007Blue .GridPager .RefreshPager,
.Syncfusion-Grid-Office2007Blue .Search,
.Syncfusion-Grid-Office2007Blue .FilterIcon,
.Syncfusion-Grid-Office2007Blue .FilterIconTick,
.sf-grid-office2007blue-menu .ClearFilterSideImg,
.sf-grid-office2007blue-menu .searchButton,
.sf-grid-office2007blue-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.Office2007Blue_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.Office2007Blue_sprite.png%>);
}
.Syncfusion-Grid-Office2007Blue .sliderContainer .ui-slider,
.Syncfusion-Grid-Office2007Blue .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Office2007Blue .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Office2007Blue .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.Office2007Blue_sprite.png%>) !important;
}
.Syncfusion-Grid-Office2007Blue .HeaderCell,
.Syncfusion-Grid-Office2007Blue .grid-icon,
.Syncfusion-Grid-Office2007Blue .GroupTopLeftCell,
.Syncfusion-Grid-Office2007Blue .TopRightCell,
.Syncfusion-Grid-Office2007Blue th.MasterHeaderLeftCell,
.Syncfusion-Grid-Office2007Blue .TopLeftCell,
.Syncfusion-Grid-Office2007Blue.cloneProperties,
.Syncfusion-Grid-Office2007Blue .ExternalForm-Header,
.Syncfusion-Grid-Office2007Blue .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.header-bg.png%>) repeat-x scroll center bottom #daeaff;
}
.Syncfusion-Grid-Office2007Blue .GridHeader {
  background-color: #daeaff;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .ef-headerText {
  color: black;
}
.Syncfusion-Grid-Office2007Blue .Hdr-widthSettings {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .CurrentItem,
.Syncfusion-Grid-Office2007Blue .CurrentItem:hover {
  border-color: 4 A 5 E 80;
  background-color: orange;
  color: black !important;
}
.Syncfusion-Grid-Office2007Blue .ToolbarItems {
  color: black;
}
.Syncfusion-Grid-Office2007Blue .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Office2007Blue .StringFilter,
.Syncfusion-Grid-Office2007Blue .DateFilter,
.Syncfusion-Grid-Office2007Blue .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Office2007Blue .EditForm {
  background-color: #deecff;
}
.Syncfusion-Grid-Office2007Blue .RecordCaption {
  color: #4378a5;
}
.Syncfusion-Grid-Office2007Blue .EditForm legend {
  color: #4378a5;
}
.Syncfusion-Grid-Office2007Blue .EditCell .field-validation-error,
.Syncfusion-Grid-Office2007Blue .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Office2007Blue .EditCell {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .EditForm fieldset {
  border-color: #6593cf;
}
.Syncfusion-Grid-Office2007Blue .Gridtoolbar .customToolItem {
  color: black;
}
.reSizeColbg {
  background-color: #6593cf;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #f0f3f8;
  border-color: #c7cbd1 !important;
}
.Syncfusion-Grid-Office2007Blue.DragElementtext {
  background-color: #f89643;
  color: black;
  border-color: #c7cbd1 !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Office2007Blue .SelectionBackground.SelectedRowHighlight {
  background-color: #f68b3c;
}
.sf-grid-office2007blue-menu .sf-choiceList,
.sf-grid-office2007blue-menu .Search-Choice-wrapper,
.sf-grid-office2007blue-menu .button-wrapper,
.sf-grid-office2007blue-menu .button-wrapper:hover {
  border-color: #8bb1e5;
}
.Syncfusion-Grid-Office2007Blue .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Office2007Blue .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Office2007Blue .sfInputText {
  color: black;
}
.Syncfusion-Grid-Office2007Blue .Table td.FrozenX,
.Syncfusion-Grid-Office2007Blue .Table th.FrozenX {
  border-right-color: #6593cf;
}
.Syncfusion-Grid-Office2007Blue .Table td.FrozenY {
  border-top-color: #6593cf;
}
.Syncfusion-Grid-Office2007Blue .sfOffice2007Blue .ui-state-default,
.Syncfusion-Grid-Office2007Blue .sfOffice2007Blue .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Office2007Blue .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Office2007Blue .RecordPlusExpand > div,
.Syncfusion-Grid-Office2007Blue .MasterCellExpand > div,
.Syncfusion-Grid-Office2007Blue-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Office2007Blue .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.active-bg.png%>) repeat-x scroll center bottom #fbd475;
}
.Syncfusion-Grid-Office2007Blue-Tooltip .tooltipTopDiv {
  background-color: #4378a5;
  color: black;
}
.Syncfusion-Grid-Office2007Blue .NextPage:Hover,
.Syncfusion-Grid-Office2007Blue .LastPage:Hover,
.Syncfusion-Grid-Office2007Blue .FirstPage:Hover,
.Syncfusion-Grid-Office2007Blue .PrevPage:Hover,
.Syncfusion-Grid-Office2007Blue .GridPager .RefreshPager:Hover {
  background-color: #ffe59b;
}
.Syncfusion-Grid-Office2007Blue .FilterBarCell,
.Syncfusion-Grid-Office2007Blue .FilterBarCellDisabled {
  border-color: #add1ff;
  background-color: #deecff;
  background-image: none;
}
.Syncfusion-Grid-Office2007Blue .FilterBarCell input {
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Office2007Blue .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #f9f9f9;
  border-color: #add1ff;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: black;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Office2007Blue.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Office2007Blue .EnableRowHover tbody > tr:hover {
  background-color: #fbe292;
}
.Syncfusion-Grid-Office2007Blue .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #add1ff;
  background-color: #deecff;
}
.Syncfusion-Grid-Office2007Blue .ExternalEdit {
  background-color: #deecff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Office2007Blue .bg-clear,
.Syncfusion-Grid-Office2007Blue .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Office2007Blue .MasterCellCollapse,
.Syncfusion-Grid-Office2007Blue .MasterCellExpand,
.Syncfusion-Grid-Office2007Blue td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #add1ff;
}
.Syncfusion-Grid-Office2007Blue .ef-wrapper {
  border-color: #4a5e80;
  background-color: #deecff;
}
