@import "Definition/Definition.less";
@import "Definition/GridDefinition.less";

.Syncfusion-Grid-Core .GridHeader, .Syncfusion-Grid-Core .ExternalForm-Header
{
	overflow-x: hidden;
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:0 0;
	position: relative;
}
.Syncfusion-Grid-Core.cloneProperties
{
	vertical-align:middle;
	text-align:left;
	border-style: solid;
	 padding:5px;
	-moz-border-radius: 4px 4px 4px 4px;
	background-repeat:repeat-x;
    background-attachment:scroll;
    background-position:0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell
{   
	background-position:0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div, .Syncfusion-Grid-Core .MasterCellExpand > div
{
    height: 19px;
    vertical-align: middle;
    width: 23px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: -207px -210px;
    padding:0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div, .Syncfusion-Grid-Core .MasterCellCollapse > div
{
	height: 19px;
    vertical-align: middle;
    width: 23px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: -191px -207px;
    padding:0px;
}
.Syncfusion-Grid-Core .Ascending
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 -778px;
}
.Syncfusion-Grid-Core .Descending
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 -802px;
}
.Syncfusion-Grid-Core .FirstPage, .Syncfusion-Grid-Core .FirstPageDisabled
{ 
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:-2px -681px;
}
.Syncfusion-Grid-Core .PrevPage, .Syncfusion-Grid-Core .PrevPageDisabled
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 -728px;
}
.Syncfusion-Grid-Core .NextPage, .Syncfusion-Grid-Core .NextPageDisabled
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 -754px;
}
.Syncfusion-Grid-Core .LastPage, .Syncfusion-Grid-Core .LastPageDisabled
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:-1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem
{
    display: inline-block;
}
 .ColumnDropIndicator
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: -5px -609px;
    width: 13px;
	height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:-3px -192px;
	display: inline-block;
    float: right;
    height: 10px;
	margin: -14px -4px -3px 3px;
	padding: 3px 2px;
	width:10px;
	position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon
{
margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:-2px -324px;
	margin: -14px -4px -3px 3px;
	padding: 3px 2px;
	float: right;
	width: 10px;
	height: 10px;
	position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 -244px;
	padding: 7px 7px 0 0;
	float: right;
	width: 10px;
	height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default, .Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default
{
    border:0;
    background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover
{
    background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle
{
    top:-0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range
{
    -moz-border-radius:4px;
    background-position: 0 -512px;
    background-repeat:repeat-x;
	border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content
{
    background-position: 0px -412px;
    background-repeat: repeat-x !important;
    display: inline-block;
    height: 8px;
	border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] 
{
    position:absolute;
    top:-20px;
    min-width:13px;
    border:none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv
{
    border:none;
    font-size:10px;
    text-align:center;
    padding:0px 1px 0px 1px;
    min-width:13px;
    -moz-border-radius:2px;
    display: block;
    background-repeat:repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv
{
     height:6px;
     display: block;
     background-position:-174px -24px;
     background-repeat:no-repeat;
     position:absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager
{
    vertical-align:middle;
    width:18px;
    height:18px;
    margin-left:10px;
    margin-right:10px;
    margin-top:-2px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
    background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell
{
    background-position: -7px -832px;
    background-repeat:no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div, .Syncfusion-Grid-Core .HeaderIcon
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 0px -160px;
	width: 20px;
}
/*------------------------ToggleStart--------------------*/
(~".Syncfusion-Grid-@{skin} .ef-toggle")
{
	height: 18px;
	width: 18px;
	float:right;
	border:1px solid #F0F0F0;
	margin-right:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-image: @ui-icon;
}
(~".Syncfusion-Grid-@{skin} .ef-toggle:hover")
{
	background-color: @numeric-hover-bg-color;
	border-color: @group-droparea-border-color;
}
(~".Syncfusion-Grid-@{skin} .ef-toggle.topright")
{
	background-position: -128px -143px;
}
(~".Syncfusion-Grid-@{skin} .ef-toggle.bottomleft")
{
	background-position: -128px -143px;
	-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
   -ms-transform:rotate(90deg);
   -o-transform:rotate(90deg);
   transform:rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style
{
   background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
   
}
.Syncfusion-Grid-Core .ExternalForm 
{
    padding: 0.5em 1em;
    background-color: @edit-form-bg-color;
}
.Syncfusion-Grid-Core .ImageOnly
{
     background-position:center center;
     background-repeat:no-repeat;
     min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText
{
    background-position:left center;
    background-repeat:no-repeat;
    text-indent:10px;
}
(~".Syncfusion-Grid-Core .sf-toolbar.@{skin}-horizontal")
{
	width: 100%;
	height:32px;
}
(~"ul.@{skin}-context")
{
	z-index: 1000;
}
.Syncfusion-Grid-Core .Search
{
	background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 4px -349px;
    background-color: transparent; 
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover
{   
	background-image: none;
	border: 1px solid transparent;
	background-color:Transparent;
}
.sf-sp-Hhandle:hover, .sf-sp-Vhandle:hover
{
	background-color: @numeric-hover-bg-color;
}

ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg  
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:-2px -292px;
	width:1.5em;
	float:left;
	margin:2px;
	height:17px;
	position:absolute;
}
.reSizeColbg
{
 width: 1px;
 z-index:2;
}

.ui-selectable-helper
{
	opacity:0.4;
	filter:alpha(opacity=40);
	border-width:1px !important;
	border-style:solid !important;
}
.ui-selectable-helper
{
	opacity:0.4;
	filter:alpha(opacity=40);
	position: absolute;
    z-index: 100;
}
.DragTable
{
	border-style:groove;
	border-width:1px;
}
.DropAllowCursor
{
	cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>),move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch 
{
	margin-left: 2px;
}
(~".@{sf-menu} .sf-choiceList .sf-sp-vback")
{
	width: 11px;
}
(~".@{sf-menu} .sf-choiceList .DropDownFilters")
{
	height: auto;
}

ul[class*=sf-grid-][class*=-menu]  .Search-Choice-wrapper
{
	display:block;
	float:left;
	margin-bottom:5px;
	width:186px;
	border-width:1px;
	border-style:solid;
}

ul[class*=sf-grid-][class*=-menu] .button-wrapper, ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover
{
   background-repeat:repeat-x;
   background-attachment:scroll;
   background-position:0 0;
   float:right;
   height:20px;
   width:11%;
   display:block;
   border-width:0 0 0 1px;
   border-style:solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover
{
    background-repeat:repeat-x;
    background-attachment:scroll;
    background-position:0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 1px -352px;
  
}
ul[class*=sf-grid-][class*=-menu] .closeButton
{
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper, ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover
{
    background-image:none;
    border-left-width:0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input
{
	float: left;
	height: 20px; 
	width: 88%; 
	border: 1px none;
	padding: 0;
	text-indent: 2px;
}


ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl, ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover
{
	margin-top:6px;
}

ul[class*=sf-grid-][class*=-menu] .FilterDiv
{
	padding: 0 5px 0 0;
	float:right;
}

ul[class*=sf-grid-][class*=-menu] .FilterDiv button
{
    margin:15px 5px 0 10px;
    -moz-border-radius:5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
(~".@{sf-menu} .sf-warningmsg")
{
    display: block;
    float: left;   
}
ul[class*=sf-grid-][class*=-menu] a
{
    font-family:segoe UI;
}
.sfmatch-options input[type='checkbox']
{
    margin-left: 10px;
}
ul[name=syncfusion-grid] li>div.sortbyasc
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li>div.sortbyasc,ul[name=syncfusion-grid][class*=midnight] li>div.sortbyasc
{    
    background-position: 0 -36px;
}
ul[name=syncfusion-grid]>li>div.sortbydesc
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li>div.sortbydesc,ul[name=syncfusion-grid][class*=midnight] li>div.sortbydesc
{    
    background-position: 0 -275px;
}
ul[name=syncfusion-grid]>li>div.groupby
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -419px;
}
ul[name=syncfusion-grid]>li>div.deleterecord
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -311px;
}
ul[name=syncfusion-grid]>li>div.clearsorting
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li>div.clearsorting,ul[name=syncfusion-grid][class*=midnight] li>div.clearsorting
{    
    background-position: 0 -143px;
}
ul[name=syncfusion-grid]>li>div.cleargrouping
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -211px;
}
ul[name=syncfusion-grid]>li>div.clearfilter
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -179px;
}
ul[name=syncfusion-grid]>li>div.addrecord
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 0;
}
ul[name=syncfusion-grid]>li>div.editrecord
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -347px;
}
ul[name=syncfusion-grid]>li>div.visiblecolumns
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -665px;
}
ul[name=syncfusion-grid]>li>div.save
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -629px;
}
ul[name=syncfusion-grid]>li>div.cancel
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -107px;
}
ul[name=syncfusion-grid]>li>div.hidecolumn
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -449px;
}
ul[name=syncfusion-grid]>li>div.nextpage
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -521px;
}
ul[name=syncfusion-grid]>li>div.previouspage
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -557px;
}
ul[name=syncfusion-grid]>li>div.firstpage
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -383px;
}
ul[name=syncfusion-grid]>li>div.lastpage
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -485px;
}
ul[name=syncfusion-grid]>li>div.refreshpager
{
    background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
    background-position: 0 -593px;
}
ul[name=syncfusion-grid]>li>div
{    
    width:16px;
    height:16px;
    margin-left: 7px;
    margin-top:2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns
{
    background-image:none !important;
}
ul[name=syncfusion-grid] li>div>input
{
    margin:0;
    padding:0;
}
ul[name=syncfusion-grid] li
{
    height:21px;
}
ul[name=syncfusion-grid] li>a
{
    font-family:Verdana;
    font-weight: lighter;    
    padding: 0 0 0 3.5em !important;
}




/*---------------- sfScroller css ------------------------------*/
(~".@{skin} .sf-sp-tr")
{
	background-position: 2px -169px;
}
(~".@{skin} .sf-sp-vwrapper"), (~".@{skin} .sf-sp-hwrapper")
{
	background-color: @row-header-bg-color;
}

/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

(~".Syncfusion-Grid-@{skin}")
{
    border-color: @border-color;
	color: @font-color;
}
(~".Syncfusion-Grid-@{skin} .GridContent .Table")
{
    border-top-color: @row-cell-border-color;
    border-bottom-color: @row-cell-border-color;
}
(~".Syncfusion-Grid-@{skin} .GridContent")
{
	background-color: @gridcontent-bg-color;
}
(~".Syncfusion-Grid-@{skin} .Gridtoolbar")
{
    border-top-color: @row-cell-border-color !important;
}

(~".Syncfusion-Grid-@{skin} .GroupDropArea")
{
	background-color:@group-droparea-bg-color;
	border-color: @group-droparea-border-color;
}
(~".Syncfusion-Grid-@{skin}.cloneProperties")
{
    color: @grid-header-color;
	background-color: @clone-bg-color;
	border-color: @clone-border-color;
}
(~".Syncfusion-Grid-@{skin} th.MasterHeaderLeftCell")
{   
    border-color: @top-right-border-color;
}
(~".Syncfusion-Grid-@{skin} .CaptionRow")
{
    background-color: @caption-row-bg-color;
}
(~".Syncfusion-Grid-@{skin} .HeaderCell"),(~".Syncfusion-Grid-@{skin} .GroupTopLeftCell"),(~".Syncfusion-Grid-@{skin} .TopLeftCell"),(~".Syncfusion-Grid-@{skin} .CaptionRow"), (~".Syncfusion-Grid-@{skin} .HeaderCellHover")
{
    border-color: @hover-header-border-color;
}
(~".Syncfusion-Grid-Core .sf-toolbar.@{skin}-horizontal")
{
     border-color: @hover-header-border-color;
     border-style: @border-type;
     border-width: 0 0 @border-size 0;
}
(~".@{skin} .sf-sp-tr")
{
    border-color: @hover-header-border-color;
	border-top-width: @border-size;
	border-top-style: @border-type;
}
/*Added for pager*/

(~".Syncfusion-Grid-@{skin} .PagerCaptionRow")
{
    border-top-color: @pager-caption-row-border-color;
}

(~".Syncfusion-Grid-@{skin} .PagerGroupDropArea")
{
    border-top-color: @pager-groupdrop-border-color;
	background-color: @pager-groupdrop-bg-color;
}
(~".Syncfusion-Grid-@{skin} .GroupCaption")
{
    background-color: @group-indent-expand-collapse-bg-color;
	border-color: @group-indent-expand-collapse-border-color;
}

(~".Syncfusion-Grid-@{skin} .HeaderCellHover"), (~".Syncfusion-Grid-@{skin} .GroupHeaderCell:hover")
{
	color: @grid-header-hover-color;
}
(~".Syncfusion-Grid-@{skin} .GroupHeaderCell"), (~".Syncfusion-Grid-@{skin} .GroupHeaderCell:hover"), (~".Syncfusion-Grid-@{skin} .GrpHdrUnboundColumn")
{
    border-color: @hover-group-header-border-color;
}
(~".Syncfusion-Grid-@{skin} .GroupHeaderCell")
{
	color: @grid-header-color;
	border-color: @gridpager-border-color;
}
(~".Syncfusion-Grid-@{skin} .SelectedHeaderCell")
{
    border-color: @selected-header-border-color;
	color:@selected-header-color;
}
(~".Syncfusion-Grid-@{skin} .RowHeader")
{
	border-color: @selected-header-border-color;
	background-color: @row-header-bg-color;
}
(~".Syncfusion-Grid-@{skin} .TemplateCell")
{
	color: @template-unboundcell-color;
}
(~".Syncfusion-Grid-@{skin} .UnboundCell")
{
	border-color: @row-cell-border-color;
}
(~".Syncfusion-Grid-@{skin} .SelectedRowHeaderCell"),(~"Syncfusion-Grid-@{skin} .UnboundButton")
{
	border-color: @selected-row-header-border-color;
	background-color: @selected-row-header-bg-color;
}
(~".Syncfusion-Grid-@{skin} .RowCell"), (~".Syncfusion-Grid-@{skin} .EmptyCell"), (~".Syncfusion-Grid-@{skin} tr[class*=ChildRow] > .ChildGrid")
{
	border-color: @selected-row-header-border-color;
}
(~".Syncfusion-Grid-@{skin} .Alt_Row")
{
	background-color: @alt-row-bg-color;
}
(~".Syncfusion-Grid-@{skin} .IndentCell")
{
	border-color: @group-indent-expand-collapse-border-color;
    background-color: @group-indent-expand-collapse-bg-color;
}
(~".Syncfusion-Grid-@{skin} .Summary")
{
    color: @summary-font-color;
	background-color: @summary-bg-color;
    border-color: @summary-border-color;
}
(~".Syncfusion-Grid-@{skin} .GridSummary")
{
    border: 1px none @summary-border-color;
}
(~".Syncfusion-Grid-@{skin} .RecordPlusCollapse"),(~".Syncfusion-Grid-@{skin} .RecordPlusExpand")
{
	background-color: @group-indent-expand-collapse-bg-color;
	border-color: @group-indent-expand-collapse-border-color;
}
(~".Syncfusion-Grid-@{skin} .MasterCellCollapse"), (~".Syncfusion-Grid-@{skin} .MasterCellExpand")
{
	border-color: @group-indent-expand-collapse-border-color;
} 
(~".Syncfusion-Grid-@{skin} .RecordPlusExpand > div"), (~".Syncfusion-Grid-@{skin} .MasterCellExpand > div")
{
    background-color: @group-indent-expand-collapse-bg-color;
}
(~".Syncfusion-Grid-@{skin} .PlusMinusSelection")
{
	background-color: @plusminus-selection-bg-color;
}
(~".Syncfusion-Grid-@{skin} .reSizeColbg")
{
    background-color: @sync-resizecol-bg-color;
}
(~".Syncfusion-Grid-@{skin} .SelectedColumn")
{
	background-color: @selected-column-bg-color;
	color: @selected-column-color;
}
(~".Syncfusion-Grid-@{skin} .SelectionBackground")
{
	background-color: @selection-bg-color;
	color: @selected-row-color;
}
(~".Syncfusion-Grid-@{skin} .CurrentCell")
{
     background-color: @currentcell-bg-color;
    color: @currentcell-font-color;
}
(~".Syncfusion-Grid-@{skin} .GridPager")
{
	background-color: @gridpager-bg-color;
	border-color: @gridpager-border-color;
}
(~".Syncfusion-Grid-@{skin} .GridPager"), (~".Syncfusion-Grid-@{skin} .GridPager .NumericItem"),(~".Syncfusion-Grid-@{skin} .Spacing"),(~".Syncfusion-Grid-@{skin} .CaptionRow"),(~".Syncfusion-Grid-@{skin} .GroupDropArea")
{
	color: @group-caption-pager-color;
}
(~".Syncfusion-Grid-@{skin} .NumericItem-hover")
{
	background-color: @numeric-hover-bg-color;
	color: @numeric-hover-color;
}
(~"ul.@{skin} ul li a span.arrows") , (~"ul.@{skin}-context span.arrows") , (~"ul.@{skin}-vertical span.arrows")
{
    background: @ui-icon no-repeat -100px -208px !important;    
}
(~".Syncfusion-Grid-@{skin} .PrevPageDisabled"), (~".Syncfusion-Grid-@{skin} .PrevPage"), (~".Syncfusion-Grid-@{skin} .NextPage"),(~".Syncfusion-Grid-@{skin} .NextPageDisabled"),(~".Syncfusion-Grid-@{skin} .Descending"),
(~".Syncfusion-Grid-@{skin} .Ascending")
{
    background-image: (~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.@{skin}_sprite.png%>)");
    background-color: @image-bg-color;
}
(~".Syncfusion-Grid-@{skin} .RecordPlusCollapse > div"), (~".Syncfusion-Grid-@{skin} .MasterCellCollapse > div"), (~".Syncfusion-Grid-@{skin} .EnableRowHover tbody > tr:hover > .RowHeader div"), (~".Syncfusion-Grid-@{skin} .HeaderIcon")
{
    background-image: @ui-icon;
    background-color: @image-bg-color;
}
(~".Syncfusion-Grid-@{skin} .HeaderCellHover"),(~".@{sf-menu} .button-wrapper"), (~".@{sf-menu} .button-wrapper:hover"),(~".Syncfusion-Grid-@{skin} .FilterCellHover"),(~".Syncfusion-Grid-@{skin} .GroupHeaderCell:hover")
{
	background: @hover-img repeat-x scroll center bottom @hover-bg-color;
}
(~".@{sf-menu} .sf-choiceList"), (~".@{sf-menu} .Disable_MenuItem a:hover") 
{
	color: @font-color !important;
}
(~".Syncfusion-Grid-@{skin} .UnboundButton:hover")
{
   background-image: @hover-img;
}
(~".Syncfusion-Grid-@{skin} .AddNewItem"),(~".Syncfusion-Grid-@{skin} .EditItem"),(~".Syncfusion-Grid-@{skin} .ExcelItem"),(~".Syncfusion-Grid-@{skin} .WordItem"),(~".Syncfusion-Grid-@{skin} .PdfItem"), (~".Syncfusion-Grid-@{skin} .DeleteItem"),(~".Syncfusion-Grid-@{skin} .SaveItem"),
(~".Syncfusion-Grid-@{skin} .Cancel"),(~".Syncfusion-Grid-@{skin} .FirstPage"),(~".Syncfusion-Grid-@{skin} .LastPage"), (~".Syncfusion-Grid-@{skin} .FirstPageDisabled"),(~".Syncfusion-Grid-@{skin} .LastPageDisabled"),(~".Syncfusion-Grid-@{skin} .GridPager .RefreshPager"), 
(~".Syncfusion-Grid-@{skin} .Search"),(~".Syncfusion-Grid-@{skin} .FilterIcon"),(~".Syncfusion-Grid-@{skin} .FilterIconTick"),(~".@{sf-menu} .ClearFilterSideImg"),(~".@{sf-menu} .searchButton"),(~".@{sf-menu} .closeButton"), .ColumnDropIndicator
{
    background-image: (~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.@{skin}_sprite.png%>)");
    background-color: @image-bg-color;
}
.Syncfusion-Grid-Core .RowCell.updatedCell
{
 background-image: (~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.@{skin}_sprite.png%>)");
}
(~".Syncfusion-Grid-@{skin} .sliderContainer .ui-slider"),(~".Syncfusion-Grid-@{skin} .sliderContainer .ui-slider .ui-slider-range"),(~".Syncfusion-Grid-@{skin} .sliderContainer .ui-slider-horizontal .ui-slider-handle"), (~".Syncfusion-Grid-@{skin} .ui-slider .ui-state-hover")
{
	background-color: transparent !important;
    background-image: (~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.@{skin}_sprite.png%>)") !important;
}
(~".Syncfusion-Grid-@{skin} .HeaderCell"), (~".Syncfusion-Grid-@{skin} .grid-icon"), (~".Syncfusion-Grid-@{skin} .GroupTopLeftCell"), (~".Syncfusion-Grid-@{skin} .TopRightCell"), (~".Syncfusion-Grid-@{skin} th.MasterHeaderLeftCell"), (~".Syncfusion-Grid-@{skin} .TopLeftCell"),(~".Syncfusion-Grid-@{skin}.cloneProperties"),
(~".Syncfusion-Grid-@{skin} .ExternalForm-Header"), (~".Syncfusion-Grid-@{skin} .ToggleContainer")
{
    background: @header-img repeat-x scroll center bottom @header-bg-color;
}
(~".Syncfusion-Grid-@{skin} .GridHeader")
{
	background-color: @header-bg-color;
	color: @grid-header-color;
}
(~".Syncfusion-Grid-@{skin} .ef-headerText")
{
	color: @grid-header-color;	
}
(~".Syncfusion-Grid-@{skin} .Hdr-widthSettings") 
{
	border-color: @selected-row-header-border-color;
}
(~".Syncfusion-Grid-@{skin} .CurrentItem"),(~".Syncfusion-Grid-@{skin} .CurrentItem:hover")
{
	border-color: @currentitem-border-color;
	background-color: @currentitem-bg-color;
    color: @currentitem-font-color !important;
}
(~".Syncfusion-Grid-@{skin} .ToolbarItems")
{
    color: @grid-header-color;
}
(~".Syncfusion-Grid-@{skin} .EditFormCaptionCell")
{
	color: @edit-caption-font-color;
}
(~".Syncfusion-Grid-@{skin} .StringFilter"), (~".Syncfusion-Grid-@{skin} .DateFilter"), (~".Syncfusion-Grid-@{skin} .NumericFilter")
{
	background-color: @filter-type-bg-color;
    border-color: @filter-type-border-color;
}
(~".Syncfusion-Grid-@{skin} .EditForm")
{
	background-color: @edit-form-bg-color;
}
(~".Syncfusion-Grid-@{skin} .RecordCaption")
{
	color: @record-caption-font-color;
}
(~".Syncfusion-Grid-@{skin} .EditForm legend")
{
	color: @legend-font-color;
}
(~".Syncfusion-Grid-@{skin} .EditCell .field-validation-error"), (~".Syncfusion-Grid-@{skin} .EditForm .field-validation-error")
{
    color: @error;
}
(~".Syncfusion-Grid-@{skin} .EditCell")
{
	border-color: @selected-row-header-border-color;
}
(~".Syncfusion-Grid-@{skin} .EditForm fieldset")
{
    border-color: @fieldset-border-color;
}
(~".Syncfusion-Grid-@{skin} .Gridtoolbar .customToolItem")
{
    color: @custom-font-color;
}
.reSizeColbg
{
    background-color: @resizecol-bg-color;
}
.sf-menu a
{
	white-space : nowrap;
}
.ui-selectable-helper
{
    background-color: @helper-bg-color;
    border-color: @helper-border-color !important;
}
(~".Syncfusion-Grid-@{skin}.DragElementtext")
{
	background-color: @dragelement-bg-color;
	color: @dragelement-font-color;
    border-color: @dragelement-border-color !important;
}
.DragTable
{
    border-color: @dragtable-border-color;
    background-color: @dragtable-bg-color;
}
(~".Syncfusion-Grid-@{skin} .SelectionBackground.SelectedRowHighlight")
{
	background-color: @selected-row-highlight-bg-color;
}
(~".@{sf-menu} .sf-choiceList"),(~".@{sf-menu} .Search-Choice-wrapper"),(~".@{sf-menu} .button-wrapper"), (~".@{sf-menu} .button-wrapper:hover")
{
    border-color: @choice-wrapper-border-color;
}
(~".Syncfusion-Grid-@{skin} .GridEditors")
{
    border-color: @grid-editors-button-border-color !important;
    color: @dragtable-editors-input-font-color !important;
}
(~".Syncfusion-Grid-@{skin} .button")
{
    border-color: @grid-editors-button-border-color !important;
}
(~".Syncfusion-Grid-@{skin} .sfInputText")
{
    color: @dragtable-editors-input-font-color;
}
(~".Syncfusion-Grid-@{skin} .Table td.FrozenX"), (~".Syncfusion-Grid-@{skin} .Table th.FrozenX")
{
    border-right-color: @frozenxy-border-color;
}
(~".Syncfusion-Grid-@{skin} .Table td.FrozenY")
{
    border-top-color: @frozenxy-border-color;
}
(~".Syncfusion-Grid-@{skin} .sf@{skin} .ui-state-default"), (~".Syncfusion-Grid-@{skin} .sf@{skin} .ui-widget-content .ui-state-default")
{
    background-color: @image-bg-color !important;
}
(~".Syncfusion-Grid-@{skin} .ToggleTR"),(~".Syncfusion-Grid-Core  .ToggleBL"),(~".Syncfusion-Grid-@{skin} .RecordPlusExpand > div"), (~".Syncfusion-Grid-@{skin} .MasterCellExpand > div"),
(~".Syncfusion-Grid-@{skin}-Tooltip .tooltipBottomDiv")
{
    background-image: @ui-icon;
}
(~".Syncfusion-Grid-@{skin} .SelectedHeaderCell")
{
	background: @active-img repeat-x scroll center bottom @selected-header-bg-color;
}
(~".Syncfusion-Grid-@{skin}-Tooltip .tooltipTopDiv")
{
    background-color: @tooltip-bg-color;
    color: @tooltip-font-color;
}
(~".Syncfusion-Grid-@{skin} .NextPage:Hover"), (~".Syncfusion-Grid-@{skin} .LastPage:Hover"), (~".Syncfusion-Grid-@{skin} .FirstPage:Hover"), (~".Syncfusion-Grid-@{skin} .PrevPage:Hover"), (~".Syncfusion-Grid-@{skin} .GridPager .RefreshPager:Hover")
{
    background-color: @next-last-hover-bg-color;
}
(~".Syncfusion-Grid-@{skin} .FilterBarCell"), (~".Syncfusion-Grid-@{skin} .FilterBarCellDisabled")
{
    border-color: @filter-input-border-color;
    background-color: @filter-cell-bg-color;
	 background-image: @filter-disabled-bg-image;
}
(~".Syncfusion-Grid-@{skin} .FilterBarCell input")
{
    border-color: @filter-input-border-color;
}
(~".Syncfusion-Grid-@{skin} .Syncfusion-Grid-FilterStatusBar"), (~".Syncfusion-Grid-@{skin} .Syncfusion-Grid-FilterStatusBarBottom")
{
    background-color: @filter-status-bg-color;
	border-color: @filter-status-border-color;
}
(~".Syncfusion-Grid-FilterStatusBar .MsgDiv"), (~".Syncfusion-Grid-FilterStatusBarBottom .MsgDiv")
{
   color: @msg-font-color;
}
ul[name=syncfusion-grid]
{
    background-image:(~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg1.png%>)") !important;
}
(~".Syncfusion-Grid-@{skin} .EnableRowHover tbody > tr:hover")
{
    background-color: @tr-hover;
}
(~".Syncfusion-Grid-@{skin} .EnableRowHover tbody > tr:hover > .RowHeader")
{
    border-color: @selected-row-header-border-color;
	background-color: @selected-row-header-bg-color;
}
(~".Syncfusion-Grid-@{skin} .ExternalEdit")
{
    background-color: @selected-row-header-bg-color;
    border-color: @border-color;
}
(~".Syncfusion-Grid-@{skin} .bg-clear"),(~".Syncfusion-Grid-@{skin} .Gridtoolbar .customToolItem"),(~".Syncfusion-Grid-@{skin} .MasterCellCollapse"),(~".Syncfusion-Grid-@{skin} .MasterCellExpand"), (~".Syncfusion-Grid-@{skin} td[class*=MasterCell] > div")
{
    background-color:@image-bg-color;
	border-color: @selected-row-header-border-color;
}
(~".Syncfusion-Grid-@{skin} .ef-wrapper")
{
    border-color: @caption-row-border-color;
    background-color: @caption-row-bg-color;
}