@import "Definition/OlapGridDefinition.less";

(~".SF_@{skin}")
{
    overflow:auto;
    display:@dsp-style;
}
(~".SF_@{skin} table")
{
	font: @fnt-style;
	border-collapse:collapse;
	background-color:@bg-table;
	cursor:default;
}
(~".SF_@{skin} th"), (~".SF_@{skin} td")
{
    padding: @th-td-padding;
    border:solid 1px;
	border-color: @bdrcolor-table;
    white-space :@white-spaces;
}
(~".SF_@{skin} .Value")
{
	background-color:White;
	text-align :right !important;
}
(~".SF_@{skin} .Summary")
{
    .ogrid-header-color();
	background-color: @bg-summarycell;
	white-space :@white-spaces;
	text-align:@txt-align;
}
(~".SF_@{skin} .ColHeader"), (~".SF_@{skin} .RowHeader")
{
	background-color: @bg-headercell;
	background-repeat: repeat;
	padding: @row-header-padding;
	text-align:@txt-align;
}
(~".SF_@{skin} .ColHeader:hover"), (~".SF_@{skin} .RowHeader:hover")
{
	.ogrid-header-hover-color();
}
(~".SF_@{skin} .RowHeader")
{
    vertical-align:top;
}
(~".SF_@{skin} .Expand")
{
    background-image: @expander-img;
    background-repeat: @img-drill-repeat;
    background-position: @img-expand-position;
	width:19px;
	display:@dsp-style;
	cursor:@img-cursor-style;
}
(~".SF_@{skin} .Expand:hover")
{
	.ogrid-expand-hover();
}

(~".SF_@{skin} .Collapse")
{
	background-image: @expander-img;
    background-repeat: @img-drill-repeat;
    background-position: @img-collapse-position;
	width:19px;
	display:@dsp-style;
	cursor:@img-cursor-style;
}
(~".SF_@{skin} .Collapse:hover")
{
	.ogrid-collapse-hover();
}

(~".SF_@{skin} .ExpandableTextElement")
{
	text-align: @txt-align;
	white-space: @white-spaces;	
}

(~".SF_@{skin} .ToolTip")
{
	position: @position-tooltip;
    padding: 10px;
    border:0px;
    margin:@margin-tooltip;
    -moz-border-radius-topleft: @margin-tooltip;
	-moz-border-radius-topright: @margin-tooltip;
}
(~".SF_@{skin} .ValueCellToolTip")
{
    background-color: #FCFDFE;
    background: -moz-linear-gradient(top, #FCFDFE 0%, #E5E6F1 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFDFE), color-stop(100%,#E5E6F1)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FCFDFE',endColorStr='#E5E6F1',GradientType=0) !important; /* ie */
    border: solid 1px #767676;
    display: none;
	white-space: @white-spaces;
	padding: 2px 5px;
	position: @position-tooltip;
	font: @fnt-style;
	color:@fg-tooltip;
}

(~".SF_@{skin} .ValueCellToolTip .ValueCellTipCaption")
{
	font-weight: bold;
}

(~".SF_@{skin} .KpiIconValue")
{
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

(~".SF_@{skin} .KpiUpArrow")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.UpArrow.png%>);
}

(~".SF_@{skin} .KpiRightArrow")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.RightArrow.png%>);
}

(~".SF_@{skin} .KpiDownArrow")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.DownArrow.png%>);
}

(~".SF_@{skin} .KpiDiamond")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Diamond.png%>);
}

(~".SF_@{skin} .KpiTriangle")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Triangle.png%>);
}

(~".SF_@{skin} .KpiCircle")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Circle.png%>);
}

(~".SF_@{skin} .KpiRedRoad")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Red.png%>);
}

(~".SF_@{skin} .KpiGreenRoad")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Green.png%>);
}

(~".SF_@{skin} .KpiAllColor")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Yellow.png%>);
}
