@import "Definition/Definition.less";
@import "Definition/ScheduleDefinition.less";


.workCell(@colors){
	font-size: 10px;
	background-color:@colors;
	border-bottom:@base-border;
    border-right:@base-border;
    overflow:hidden;
}
.font(@size){
	font-family: segoe UI;
	font-size: @size;
	color:@color;
}
.table-Style-mixin(){
    margin: 0px;
    padding: 0px;
    border-spacing:0px;
    border-collapse: collapse;
}

(~".schedule_@{skin}.ScheduleRoot")
{
	.font(11px);
    position:relative;
	border:@base-border;
	background-color: @base-background-color;	
}

(~".schedule_@{skin} table"), (~".schedule_@{skin} th"), (~".schedule_@{skin} tr"), (~".schedule_@{skin} .GoToDateWindowInner table tr"), (~".schedule_@{skin} .GoToDateWindowInner table th")
{
	.table-Style-mixin();
}

(~".schedule_@{skin} td"), (~".schedule_@{skin} .GoToDateWindowInner table td")
{
	.table-Style-mixin();
    vertical-align:top;
}

.page
{
    page-break-after:always;
    font-size:11px;
    text-align:left;
}

(~".schedule_@{skin} .NavigationPaneTd")
{
    border-right:@base-border;
    font-size:10px;
    padding:2px;
}

(~".schedule_@{skin} .NavigationPane")
{
    font-size:10px;
}

(~".schedule_@{skin} .ui-datepicker-group")
{
    width:100%;
}

(~".schedule_@{skin} .TopLeftIndentCellTd")
{
    vertical-align:bottom;
}

(~".schedule_@{skin} .TopLeftIndentCell")
{
	font-size:11pt;
	text-align:center;
	vertical-align:top;
	background-color: @base-background-color;
}

(~".schedule_@{skin} .HeaderBar")
{
	background-color: @base-background-color;
	background-repeat: repeat-x;
	border-top:@base-border;
	font-size:10pt;
	text-align:center;
	vertical-align:middle;
}

(~".schedule_@{skin} .HeaderBar td")
{
	background-color: @base-background-color;
	background-repeat: repeat-x;
	vertical-align:middle;
}

(~".schedule_@{skin} .HeaderDateCell")
{
	background-repeat: repeat-x;
	font-size:15px;
	padding:0px 10px;
	height:20px;
	text-align:left;
	vertical-align:middle;
	height:44px;
	overflow:hidden;
}

(~".schedule_@{skin} .WorkCellUp"), (~".schedule_@{skin} .AllDayCell"), (~".schedule_@{skin} .WorkCellDown")
{
	.workCell(@Workcell-color);
}

(~".schedule_@{skin} .WorkCatCellUp"), (~".schedule_@{skin} .WorkCatCellDown")
{
	.workCell(@Workcell-color);
}

(~".schedule_@{skin} .WorkCellDownMonth")
{
	.workCell(@BusinessHr-color);
}

(~".schedule_@{skin} .WorkCellUpMonth")
{
	.workCell(@WorkCellUp-Month);
}

(~".schedule_@{skin} .TimeHourCell"),(~".schedule_@{skin} .TimeHourCellHorizontal")
{
	background-color: @base-background-color;    
	vertical-align:top;
	font-size:10pt;
	border-bottom:@base-border;
	text-align: center;
	overflow:hidden;
}

(~".schedule_@{skin} .TimeHourCellHorizontal")
{

}

(~".schedule_@{skin} .TimeMinuteNextCellHorizontal")
{
    border-right:@base-border;
	vertical-align: top;
}
(~".schedule_@{skin} .TimeMinuteCellHorizontal")
{
    float: right;
	font-size: 9px;
	vertical-align: top;
}

(~".schedule_@{skin} .TimeHourCellMonth")
{
	background-color: @base-background-color;    
	vertical-align:middle;
	font-size:7pt;
	border-bottom:@base-border;
	text-align: center;
	overflow:hidden;
}

(~".schedule_@{skin} .TimeHeaderBar")
{
	overflow:hidden;
	position:relative;
	table-layout:fixed;
}
(~".schedule_@{skin} .TimeHeaderBarOuter")
{
	overflow:hidden;
	position:relative;
	table-layout:fixed;
    border-top:@base-border;		
    border-bottom:@base-border;		
}

(~".schedule_@{skin} .ContentContainer")
{
	background-color: @Workcell-Header;
	position:relative;
	width:100%;	
    border:@base-border;
    text-align:left;
    vertical-align:middle;        	
}

(~".schedule_@{skin} .ContentContainer Table")
{
    table-layout:fixed;
}

(~".schedule_@{skin} .TimeMinuteCell")
{
	font-size:7pt;
	background-color: @base-background-color;
	border-bottom:@base-border;
	text-align: left;
}

(~".schedule_@{skin} .AppointmentContentCell")
{
    /* IE10 */ 
background-image: -ms-linear-gradient(bottom center, @Workcell-select 0%, @Workcell-Hover 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, @Workcell-select 0%, @Workcell-Hover 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, @Workcell-select 0%, @Workcell-Hover 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, @Workcell-select), color-stop(2, @Workcell-Hover));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, @Workcell-select 0%, @Workcell-Hover 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, @Workcell-select 0%, @Workcell-Hover 100%);

background-color:@appointment-color;
    box-shadow: 0 1px 4px @Workcell-select;
    background-repeat:repeat-x; 
	vertical-align: top;
	text-align: center;
    background-position:center bottom;
	color:@Appointment-text-color;		
}

(~".schedule_@{skin} .CategoryContentCell")
{
	background-color:#63c7dd;
	opacity:.95;
	color:Black;
}

(~".schedule_@{skin} .ViewStripCont")
{	
	background-color: @ViewStrip-color;
    text-align:left;
    vertical-align:middle;
	color:@ViewStrip-text-color;    	
}

(~".schedule_@{skin} .toolbarRootTable td")
{
    width:75px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

(~".schedule_@{skin}TemplatedToolTip")
{
    .font(8pt);   
	padding: 3px;
	font-size:8pt;
	background-color:@tooltip-bg-color;
	color:@tooltip-font-color;
	border:@base-border;
	border-radius: 3px 3px 3px 3px;
	vertical-align:middle;
	text-align:left;
}

(~".schedule_@{skin} .AppointmentText")
{
	font-size:8pt;
	vertical-align: top;
	text-align: left;
	padding: 1px 2px 1px 4px;
	overflow: hidden;
}

(~".schedule_@{skin} .AppointmentInnerText")
{
    overflow:hidden;
}

(~".schedule_@{skin} .RemindImage")
{
    background-image:@bg-img;	    
    background-position:-5px -611px;
	background-color:Transparent;
    background-repeat:no-repeat;
    float:right;
    height:15px;
    width:15px;
}

(~".schedule_@{skin} .CalendarImage")
{
    background-image:@bg-img;	    
	background-position:2px -675px;
    float:left;
    height:17px;
    width:20px;
}

(~".schedule_@{skin} .Recurrence")
{
    background-image:@bg-img;	    
    background-position:-33px -611px;
	background-color:Transparent;    
    display:table-cell;
    cursor:pointer;   
    text-align:left;
    vertical-align:bottom;  
    height:20px;
    width:16px;
    float:right;    
}

(~".schedule_@{skin} .LowImportance")
{
    background-image:@bg-img;	                            
    background-position:-4px -641px;
	background-color:Transparent;
    background-repeat:no-repeat;
    height:20px;
    width:16px;
    text-align:right;
    float:right;
}

(~".schedule_@{skin} .HighImportance")
{
    background-image:@bg-img;	                            
    background-position:-33px -641px;
	background-color:Transparent;
    background-repeat:no-repeat;
    height:20px;
    width:16px;
    text-align:right;
    float:right;
} 

(~".schedule_@{skin} 	.AppointmentWindowHeader")
{
    background-image:@bg-img;	    
    background-position:0px -192px; 
    border-bottom: @base-border;
    background-color:@base-background-color;
    height:70px;
    padding-left:3px;
    padding-top:3px;
}

(~".schedule_@{skin} 	.AppointmentWindowHeader table")
{
    border-collapse:separate;
    table-layout:fixed;
}

(~".schedule_@{skin} 	.AppointmentWindowContent")
{
    padding:5px;
    background-color: @base-background-color;
}

(~".schedule_@{skin} .AppointmentWindowContent table")
{
   table-layout:fixed;
   width:100%;
}

(~".schedule_@{skin} .AppointmentWindowInner")
{
    background-color:@base-background-color;
    border:@base-border;
	color:@color;
}

(~".schedule_@{skin} .AppointmentWindow td")
{
    padding:3px;
}

(~".schedule_@{skin} .SaveImageLabel")
{
    vertical-align:middle;
    text-align:center;
	color:@Dialog-text-color;
}

(~".schedule_@{skin} .HighLowImportanceLabel")
{
    display:table-cell;
    vertical-align:middle;
}

(~".schedule_@{skin} .SaveImage")
{
    background-image:@bg-img;	            
    background-position:0px -746px;
    display:table-cell;
    cursor:pointer;   
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:bottom;
	text-decoration:none;
	float:left;
	margin-left:7px;
} 

(~".schedule_@{skin} .DeleteImage")
{
    background-image:@bg-img;	                
    background-position:-18px -670px;
    display:table-cell;
    cursor:pointer;   
    width:35px;
    height:32px;
    text-align:center;
    vertical-align:bottom; 
    float:left;
    margin-left:6px; 
    margin-top:3px;        
}

(~".schedule_@{skin} .RecurrenceImage")
{
    background-image:@bg-img;	                    
    background-position:-16px -705px;
    background-repeat:no-repeat;
    display:table-cell;
    cursor:pointer;   
    width:38px;
    height:32px;
    text-align:center;
    vertical-align:bottom; 
    float:left;
    margin-left:6px;
    margin-top:3px;      
}

(~".schedule_@{skin} .ReminderImage")
{
    background-image:@bg-img;	                        
    background-position:0px -712px;
    display:table-cell;
    cursor:pointer;   
    width:20px;
    height:18px;
    text-align:right;
    vertical-align:middle; 
}
(~".schedule_@{skin} .ReminderComboTd")
{
    padding-left:5px;
    vertical-align:middle;
}
(~".schedule_@{skin} .LowImportanceImage")
{
    background-image:@bg-img;	                            
    background-position:-1px -635px;
    height:25px;
    width:17px;
    cursor:pointer;     
    text-align:right;
    vertical-align:middle;
    display:table-cell;
    padding-right:2px;
}

(~".schedule_@{skin} .HighImportanceImage")
{
    background-image:@bg-img;	                            
    background-position:-30px -635px;
    height:25px;
    width:17px;
    cursor:pointer;     
    text-align:right;
    vertical-align:middle;
    display:table-cell;
}

(~".schedule_@{skin} .TimeZoneImage")
{
    background-image:@common-img;		                    
    background-position:8px -452px;
    background-repeat:no-repeat;
    display:table-cell;
    cursor:pointer;   
    width:38px;
    height:32px;
    text-align:center;
    vertical-align:bottom; 
    float:left;
    margin-left:6px;
    margin-top:3px;      
}

(~".schedule_@{skin} .HighLowImportanceLabel")
{
    *line-height:24px;
}

(~".schedule_@{skin} .LowImportanceImage")
{
    *float:left;
}

(~".schedule_@{skin} .HighImportanceImage")
{
    *float:left;
}

(~".schedule_@{skin} .HighLowImportanceLabel")
{
    display:table-cell;
    vertical-align:middle;
}

(~".schedule_@{skin} .SaveImageTd"),
(~".schedule_@{skin} .DeleteImageTd"),
(~".schedule_@{skin} .RecurrenceImageTd"),
(~".schedule_@{skin}  .HighImportanceImageTd"),
(~".schedule_@{skin}  .LowImportanceImageTd"),
(~".schedule_@{skin}  .TimeZoneImageTd")
{
    border:1px solid Transparent;
}

(~".schedule_@{skin} .SaveImageTd:hover"),
(~".schedule_@{skin}  .DeleteImageTd:hover"),
(~".schedule_@{skin}  .RecurrenceImageTd:hover"),
(~".schedule_@{skin}  .TimeZoneImageTd:hover")
{
    background-image:@bg-img;	            
    background-position:0px -277px;
    background-color:@hover;
    border:@base-border;
    cursor:pointer;       
}

(~".schedule_@{skin}  .SaveImageTd:active"),
(~".schedule_@{skin}  .DeleteImageTd:active"),
(~".schedule_@{skin}  .RecurrenceImageTd:active"),
(~".schedule_@{skin}  .TimeZoneImageTd:active")
{
    background-image:@bg-img;	            
    background-position:0px -362px;    
    background-color:@active;
    border:@base-border;
}

(~".schedule_@{skin} 	.AppointmentWindowToolbar td")
{
    vertical-align:middle;
}

(~".schedule_@{skin} 	.Reminder_Details_StartTime")
{
    margin-left:30px;
}

(~".schedule_@{skin} 	.scheduleDropdown")
{
	float: left;
    margin-left:5px;
}

(~".schedule_@{skin} 	.AppointmentCell "){
	position: absolute;
	opacity:0.98 !important;
}

(~".schedule_@{skin} .AppContainer ")
{     
   border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px @Workcell-select;
	border: @base-border;
	overflow:hidden;	
	/*padding:1px; */
}

(~".schedule_@{skin} .CategoryCell")
{
	position: absolute;
	opacity:0.98 !important;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 4px @Workcell-select;
	border:@base-border;
	overflow:hidden;
	/*padding:1px;*/
}

(~".schedule_@{skin} .selectedAppointmentCell")
{
    border:2px solid #000000;
}
    
(~".schedule_@{skin} .AppContainer Table")
{
    text-align:left;
    vertical-align:top;
    margin: 0px;
    padding: 0px;
    border-spacing: 10px;
    border-collapse: collapse;
    width:100%;
    height:100%;
}

(~".schedule_@{skin} .PrevDayButton")
{
    background-image:@bg-img;	            
    background-position: 1px 0px;
    cursor: pointer;
    float: left;
    height: 23px;
    width: 22px; 
    padding-right: 5px;     
}

(~".schedule_@{skin} .PrevDayButton:hover")
{
    background-position:0px -28px;
}

(~".schedule_@{skin} .PrevDayButton:active")
{
    background-position:0px -60px;
}

(~".schedule_@{skin} .NextDayButton")
{
    background-image:@bg-img;	            
    background-position: 22px 0;
    cursor: pointer;
    float: left;
    height: 23px;
    width: 22px;  
}

(~".schedule_@{skin} .category-icon")
{
	background-image:@bg-img;	            
    cursor: pointer;
    float: right;
	padding-right: 10px;
    height: 23px;
    width: 22px;
}

(~".schedule_@{skin} .CollapseButton")
{         
    background-position: 55px 28px;
}

(~".schedule_@{skin} .ExpandButton")
{
    background-position: 32px 29px;
}
(~".schedule_@{skin} .NextDayButton:hover")
{
    background-position:21px -28px;
}

(~".schedule_@{skin} .NextDayButton:active")
{
    background-position:21px -60px;
}

(~".schedule_@{skin} .DayImage"),
(~".schedule_@{skin} .WeekImage"),
(~".schedule_@{skin} .WorkWeekImage"),
(~".schedule_@{skin} .MonthImage"),
(~".schedule_@{skin} .TodayView"),
(~".schedule_@{skin} .ImportIcon"),
(~".schedule_@{skin} .ExportIcon")
{
    background-image:@bg-img;	            
    background-position:0px -487px;
    background-repeat:repeat-x;
    line-height :15px; 
    background-color:@base-Header;
    border-right: @base-border;
}

(~".schedule_@{skin} .PrintIcon")
{
    background-image:@common-img;		            
    background-position: 10px -365px; 
    width: 16px; 
    background-repeat:no-repeat;        
    line-height :15px;   
    text-decoration:none;
}

(~".schedule_@{skin} .DayImage:active"),
(~".schedule_@{skin} .WeekImage:active"), 
(~".schedule_@{skin} .WorkWeekImage:active"),
(~".schedule_@{skin} .MonthImage:active"),
(~".schedule_@{skin} .toolbarImageActive")
{
    background-image:@bg-img;	            
    background-position:0px -567px;
    background-repeat:repeat-x;        
    line-height :15px;     
	background-color:@active;
	border-right: @base-border;
	color:@Dialog-text-color;
}

(~".schedule_@{skin} .ImportIcon:hover"),
(~".schedule_@{skin} .ExportIcon:hover"),
(~".schedule_@{skin} .TodayView:hover"),
(~".schedule_@{skin} .DayImage:hover"),
(~".schedule_@{skin} .WeekImage:hover"), 
(~".schedule_@{skin} .WorkWeekImage:hover"),
(~".schedule_@{skin} .MonthImage:hover"),
(~".schedule_@{skin} .toolbarImageHover")
{
    background-image:@bg-img;	            
    background-position:0px -527px;
    background-repeat:repeat-x;        
    line-height :15px;         
	background-color:@hover;
	border-right: @base-border;
}

(~".schedule_@{skin} .NewAppLabel")
{
    padding:5px 0 3px 0px;
    vertical-align:middle;
}

(~".schedule_@{skin} .NewAppText")
{
	padding:5px 0 3px 0px;
}

(~".schedule_@{skin} .NewAppDesc") {
    overflow:auto;
	padding:5px 0 3px 0px;
}

(~".schedule_@{skin} .CrudButtons") 
{
	height:30px;
}

(~".schedule_@{skin} .Recurrence_div")
{
	padding:5px 0 3px 10px;
}
(~".schedule_@{skin} .Recurrence_types ")
{
    border-right:1px solid @base-Header;
}
(~".schedule_@{skin} .Recurrence_common ")
{
    padding:3px;
}
(~".schedule_@{skin} .Recurrence_common div")
{
    padding:3px;
}

(~".schedule_@{skin} .Recurrence_input ")
{
    vertical-align:top;
}
(~".schedule_@{skin} .Recurrence_label ")
{
	display:inline-table;
}
(~".schedule_@{skin} .Recurrence_start ")
{
	display:inline-table;
	margin-left:10px;
}
(~".schedule_@{skin} .Recurrence_valignbottom ")
{
	 vertical-align:text-bottom;
}

(~".schedule_@{skin} .Mandatory")
{
	color:Red;
	font-size:14px;
	
	vertical-align:middle;
	text-align:center;
}

(~".schedule_@{skin} .HeaderDaysOuter")
{
	background-color:@Workcell-Header;  
	overflow:hidden;
	position:relative;
    border-left:@base-border;
    border-right:@base-border;
    border-top:@base-border;
    text-align:left;
    left:0px;
	top:0px;  
}

(~".schedule_@{skin} .HeaderDays")
{
    padding-top:1px;
	background-color: @base-background-color;    
	position:relative;
	left:0px;
	top:0px;  
}

(~".schedule_@{skin} .DraggableAreaDiv")
{       
	position:relative;
	left:0px;
	top:0px;
}

(~".schedule_@{skin} .HeaderDays table")
{
    table-layout:fixed;
}

(~".schedule_@{skin} .DraggableAreaDiv table")
{
    table-layout:fixed;
}

(~".schedule_@{skin} .HeaderDaysCell")
{
    background-image:@bg-img;	            
    background-position:0px -784px;
    background-repeat:repeat-x;
    border-right:@base-border;
	border-bottom:@base-border;
	font-size: 8pt;
	text-align: center;
	vertical-align:middle;
    overflow:hidden;
    table-layout:fixed;
}

(~".schedule_@{skin} .HeaderResourceCell")
{
    background-color:@base-background-color;
    border-bottom:@base-border;    
    border-right:@base-border;
	font-size: 8.5pt;
	text-align: center;
	vertical-align:middle;
    overflow:hidden;
}

(~".schedule_@{skin} .HeaderResourceCellCategory")
{
    background-color:@base-background-color;
    border-bottom:@base-border;    
    border-right:@base-border;
	font-size: 8.5pt;
	text-align: left;
	padding-left: 15px;
	vertical-align:middle;
    overflow:hidden;
}

(~".schedule_@{skin} .HeaderResourceCellCategory:hover")
{
	cursor: pointer;
}

(~".schedule_@{skin} .HeaderToday")
{
    background-image:@bg-img;	            
    background-position:0px -124px;
	background-color:@active;
	border-right:1px solid @active;
	border-left:1px solid @active;	
	font-size: 8pt;
	text-align: center;
	vertical-align:middle;
    overflow:hidden;		
}

(~".schedule_@{skin} .HeaderTodayMonth")
{
    background-image:@bg-img;	            
    background-position:0px -124px;
	background-color:@active;
	border-right:1px solid @active;
	border-left:1px solid @active;	
	text-align: left;
    overflow:hidden;		
}

(~".schedule_@{skin} .CellToday")
{
	border-right:1px solid @active;
	border-left:1px solid @active;
}

(~".schedule_@{skin} .CellTodayMonth")
{
	border:1px solid @active;
}

(~".schedule_@{skin} .CellTodayLeft")
{
	border-left:1px solid @active;
}

(~".schedule_@{skin} .CellTodayRight")
{
	border-right:1px solid @active;
}

(~".schedule_@{skin} .divDisable")
{
    background-color:Transparent;
    opacity: .35;
    filter: Alpha(Opacity=35);
    font-weight: normal;    
    cursor:default !important;
}

(~".schedule_@{skin} .BusinessHour")
{
	background-color:@BusinessHr-color;
}

(~".schedule_@{skin} .selectedCell")
{
    color:@BusinessHr-color;
	background-color:@Workcell-select;
}

(~".schedule_@{skin} .cellHover")
{
    font-size:9px;
    text-align:center;
    vertical-align:middle;
	background-color:@Workcell-Hover;
	overflow:hidden;
}

(~".schedule_@{skin} .tablediv")
{
    display: table;    
    width: 100%;
}

(~".schedule_@{skin} .celldiv")
{
    display: table-cell;
}

(~".schedule_@{skin} .rowdiv")
{
    display: table-row;
    width: auto;
}

(~".schedule_@{skin} .scheduleButton")
{
    background-image:@bg-img;	            
    background-position:0px -93px;
    background-color:@base-Header;
    background-repeat:repeat-x;
    border:@base-border;
    cursor:pointer;
    border-radius: 3px 3px 3px 3px;
    text-align:center;
    vertical-align:middle;
	display:table-cell;
	color:@ViewStrip-text-color;
}

(~".schedule_@{skin} div.scheduleButton:hover"),
(~".schedule_@{skin} input.scheduleButton:hover")
{
    background-image:@bg-img;	            
    background-position:0px -124px;
	background-color:@hover;
    border:1px solid @base-border;
    background-repeat:repeat-x;
	border-radius: 3px 3px 3px 3px;
}

(~".schedule_@{skin}  .HighImportanceImageTd:hover"),
(~".schedule_@{skin}  .LowImportanceImageTd:hover")
{
    background-image:@bg-img;	            
    background-position:0px -124px;
    border:@base-border;
    background-repeat:repeat-x;
    cursor:pointer;
	background-color:@hover;
}

(~".schedule_@{skin} div.scheduleButton:active"),
(~".schedule_@{skin}  .HighImportanceImageTd:active"),
(~".schedule_@{skin}  .LowImportanceImageTd:active"),
(~".schedule_@{skin} .PressButton")
{
    background-image:@bg-img;	            
    background-position:0px -158px;
	background-color:@active;
    border:@base-border;
}

(~".schedule_@{skin} .RecurrenceWindow"), (~".schedule_@{skin} .ReminderWindow")
{
    .font(11px);
    background-color: @Dialog-bg-color;  
    border:@base-border;
    padding:1px 5px;
}

(~".schedule_@{skin} .RecurrenceWindow td")
{
    height:24px;
}

(~".schedule_@{skin} .Recurrence_Duration"), (~".schedule_@{skin} .Recurrence_Pattern"), (~".schedule_@{skin} .Recurrence_Range")
{
    background-color:Transparent;
    border:@base-border;
    line-height:20px;
    padding:2px;		        		    
}

(~".schedule_@{skin} .Recurrence_Pattern td")
{
	vertical-align:middle;
}

(~".schedule_@{skin} .SelectedRecurrence"),(~".schedule_@{skin} .SelectedTimeZone")
{
    background-image:@bg-img;	            
    background-position:0px -362px;          
	background-color:@active;
    border:@base-border;	
}

(~".schedule_@{skin} .WarningImage")
{
    background-image:@common-img;
	background-position: 0 -84px; 	    
    height:40px;
    width:40px;
}

(~".schedule_@{skin} .EditRecurrence")
{
    background-image:@bg-img;		    
	background-color:Transparent; 
	 background-position:13px -751px;   
    display:table-cell;  
    text-align:left;
    vertical-align:bottom;  
    height:20px;
    width:16px;
    float:right; 
}

(~".schedule_@{skin} .Reminder_Details")
{
    border:@base-border;
    line-height:20px;
    height:150px;
    overflow:auto;
    
    font-size:11px;    		        		    
}

(~".schedule_@{skin} .Reminder_Details td"), (~".schedule_@{skin} .Reminder_Details th")
{
    padding-left:3px;  		        		    
}

(~".schedule_@{skin} .ReminderHeader")
{
    background-image:@bg-img;	            
    background-position:0px -784px;
    background-color:Transparent;
    border:@base-border;
}

(~".schedule_@{skin} .ReminderHeader th")
{
    border:@base-border;
}

(~".schedule_@{skin} .Reminder_Details thead")
{
    background-color:@base-background-color;
    border:1px solid @base-border;
    line-height:20px;
    padding:3px;
    text-align:left;		        		    
}

(~".schedule_@{skin} .Reminder_Details tbody")
{
    border:1px solid @base-border;
    line-height:20px;
    padding:3px;
    text-align:left;		        		    
}

(~".schedule_@{skin} .ReminderCell")
{
    line-height:18px;
    text-align:left;		        		    
}

(~".schedule_@{skin} .selectedReminderCell")
{
    text-align:left;
    color:@BusinessHr-color;
	background-color:@Workcell-select;
}

(~".schedule_@{skin} .Reminder_Details_Subject")
{
    padding-top:2px;    
    font-weight:bold;
    text-align:left;
}

(~".schedule_@{skin} .PrintIconContext")
{
    background-image:@common-img;		            
    background-position: 0 -370px; 
	width: 16px; 
	height: 16px;
    background-repeat:no-repeat;        
    line-height :15px;   
    text-decoration:none;
    width:30px;
    display:table-cell;
    border-right:@base-border;
}

(~".schedule_@{skin} .PrintText")
{
	padding-left: 10px;
	font-size:8pt;
	vertical-align: middle;
	text-align: left;
	display:table-cell;
}

(~".schedule_@{skin} .PrintAppointment")
{
    .font(11px);
	background-color:white;	
}

(~".schedule_@{skin} .PrintAppointment td")
{
    padding:3px;
}

(~".schedule_@{skin} .PrintAppointmentTitle")
{
    font-style:normal;
    font-weight:bold;
    font-size:10pt;
}

(~".schedule_@{skin} .PrintAppointmentLabel")
{
    font-style:normal;
    font-weight:bold;
    font-size:9pt;
    text-align:left;
    width:40%;
}

(~".schedule_@{skin} .PrintAppointmentText")
{
    font-style:normal;
    font-weight:normal;
    font-size:9pt;    
}

#ui-datepicker-div 
{
 z-index:9999;   
}

(~".schedule_@{skin} .hasDatepicker")
{
 border:@base-border;
}

(~".schedule_@{skin} .ContextNewAppointment")
{
    background-image:@common-img;		            
    background-position: 0 -264px; 
	width: 16px; 
	height: 15px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}

(~".schedule_@{skin} .ContextNewRecurringAppointment")
{
    background-image:@common-img;		            
    background-position: 0 -326px; 
	width: 16px; 
	height: 15px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}

(~".schedule_@{skin} .ContextToday")
{
    background-image:@common-img;		            
    background-position: 0 -347px; 
	width: 16px; 
	height: 16px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}

(~".schedule_@{skin} .ContextQuickPrint")
{
    background-image:@common-img;		            
    background-position: 0 -306px; 
	width: 16px; 
	height: 16px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}

(~".schedule_@{skin} .ContextOpenAppointment")
{
    background-image:@common-img;		            
    background-position: 0 -285px; 
	width: 16px; 
	height: 16px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}

(~".schedule_@{skin} .ContextDeleteAppointment")
{
    background-image:@common-img;		            
    background-position: 0 -244px; 
	width: 16px; 
	height: 16px;
    background-repeat:no-repeat;
    display:table-cell;
    height:20px;
    line-height:15px;
    text-decoration:none;
    width:20px;
}
(~".schedule_@{skin} .GoToDate")
{
    padding:5px;
    margin:5px;
    height:70px;
    border-radius: 3px;
    border:@base-border;
}
(~".schedule_@{skin} .InputBox")
{
	background-color:@input-bg-color !important;
	color:@Dialog-text-color !important;
	border:@base-border !important;
}

/*-------Numeric textbox --------*/
.sfInputText
{
	color:@Dialog-text-color !important;
}


/* ------ AppointmentIndicator ------- */
(~".schedule_@{skin} .AppointmentIndicatorTop")
{
	background-image:@common-img;
	background-position: 0 -391px; 
    background-repeat:no-repeat;
    width: 24px;
    height: 24px;
    position:absolute;
    display:none;
}
(~".schedule_@{skin} .AppointmentIndicatorBottom")
{
	background-image:@common-img;
    background-position: 0 -425px; 
    width: 24px; 
    height: 24px;
    position:absolute; 
    display:none;   
}

(~".schedule_@{skin} .AppointmentIndicatorPrev")
{
	border:@base-border;
    border-radius:  0 0 10px 10px;
    width:150px;
    height: 30px;
	left: -16px;
    position:absolute; 
    text-align:center;
    background-color: @ViewStrip-color;
    display:none;
    cursor: pointer;
    rotation: 270deg !important;
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

(~".schedule_@{skin} .AppointmentIndicatorNext")
{
	border:@base-border;
    border-radius: 10px 10px 0 0 ;
    width:150px;
    height: 30px;
	left: 800px;
    position:absolute; 
    display:none;
    cursor: pointer;
    text-align:center;
    background-color: @ViewStrip-color;
    rotation: 270deg !important;
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

(~".schedule_@{skin} .AppointmentIndicatorDisable")
{
    opacity: 0.5;
    cursor: default;
}

/* Resizable
----------------------------------*/
(~".schedule_@{skin} .ui-resizable "){ position: relative;}
(~".schedule_@{skin} .ui-resizable-handle "){ position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
(~".schedule_@{skin} .ui-resizable-disabled .ui-resizable-handle"), .ui-resizable-autohide .ui-resizable-handle { display: none; }
(~".schedule_@{skin} .ui-resizable-n "){ cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
(~".schedule_@{skin} .ui-resizable-s "){ cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
(~".schedule_@{skin} .ui-resizable-e "){ cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
(~".schedule_@{skin} .ui-resizable-w "){ cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
(~".schedule_@{skin} .ui-resizable-se "){ cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
(~".schedule_@{skin} .ui-resizable-sw "){ cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
(~".schedule_@{skin} .ui-resizable-nw "){ cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
(~".schedule_@{skin} .ui-resizable-ne "){ cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/*----Inline------*/
(~".schedule_@{skin} .AppointmentText .AppointmentInnerText .AppointmentTextBox")
{
    .font(11px);
    background-color:transparent;
    border:0px;
    width:100%;
    margin:0px 5px;
}

(~".schedule_@{skin} .subjectTextCss")
{
    width:97%;
    border: 1px solid @base-border;
}

/*----BlockCell------*/
(~".schedule_@{skin} .BlockTime")
{    
    color:@BusinessHr-color;
	background-color:@Workcell-select;
    position:absolute;
    opacity: .4;
}

(~".schedule_@{skin} .highlightSelectedDate a")
{
    background:@highlightSelectedDate !important;
    border: 1px solid @Workcell-select !important;
    font-weight: normal;
    outline: medium none !important;
}

(~".schedule_@{skin} .highlighAppointmentDate")
{
    font-weight:bolder !important;
    color: @highlighAppDate !important;
}

(~".schedule_@{skin} .categorizeBackground ")
{
    background:none repeat scroll 0 0 transparent;
    border: 0 none !important;
    cursor: pointer;
    color:@Dialog-text-color !important;
}

(~".schedule_@{skin} .categorizeBackground:hover")
{
	background-image:@bg-img !important;	            
    background-position:0px -277px !important;
    background-color:@hover !important;
    cursor:pointer !important;  
}

(~".schedule_@{skin} .AppsOverflow")
{
    background-image:@common-img;		            
    background-position: 0 -153px; 
    background-repeat:no-repeat;
    height:17px;
    width:17px;
    position:absolute;
}

(~".schedule_@{skin} .DateSeparator")
{
    border-right-color:@Workcell-select;
}

(~".schedule_@{skin} .AppointmentSubject")
{
    display:inline-block;
}

(~".schedule_@{skin} .NavigatorBar")
{
    display: inline-block;
    vertical-align: middle;
}

(~".schedule_@{skin} .HeaderRowDate")
{
    float: left;
    font-weight: bold;
    padding: 0 3px;
}

(~".schedule_@{skin} .TimeScaleContextSelected")
{
	background-image:@commonIcon-img;
    background-position: -260px 2px;
    background-repeat: no-repeat;
    display: table-cell; 
    width: 24px; 
    height: 24px;
    position:absolute; 
}

 /* -------- Appointment Categorieze --------------- */ 
 

 (~".schedule_@{skin} .CategorizeIcon")
 {
  border: 1px solid transparent;
 }
 
.GreenCategorize
{
    /* IE10 */ 
background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76D466 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76D466 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76D466 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76D466));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76D466 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, #7bce6d 0%, #76D466 100%);

background-color:#7bce6d;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.RedCategorize
{
    /* IE10 */ 
background-image: -ms-linear-gradient(bottom center, #D98889 0%, #F1B0B1 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #D98889 0%, #F1B0B1 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #D98889 0%, #F1B0B1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #D98889), color-stop(1, #F1B0B1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #D98889 0%, #F1B0B1 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, #D98889 0%, #F1B0B1 100%);
background-color:#D98889;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.BlueCategorize
{
     /* IE10 6CA7FF  */ 
background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
background-color:#A3C2FF;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.YellowCategorize
{
    /* IE10 FFEC3D */ 
background-image: -ms-linear-gradient(bottom center, #F8F265 0%, #FEFEAA 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #F8F265 0%, #FEFEAA 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #F8F265 0%, #FEFEAA 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #F8F265), color-stop(1, #FEFEAA));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #F8F265 0%, #FEFEAA 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, #F8F265 0%, #FEFEAA 100%);
background-color: #FFF48B;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.PurpleCategorize
{
    /* IE10 */ 
background-image: -ms-linear-gradient(bottom center, #CD8EAA 0%, #E2C2D1 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #CD8EAA 0%, #E2C2D1 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #CD8EAA 0%, #E2C2D1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #CD8EAA), color-stop(1, #E2C2D1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #CD8EAA 0%, #E2C2D1 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(top left, #CD8EAA 0%, #E2C2D1 100%);

background-color:#CD8EAA;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.OrangeCategorize
{
   /* IE10 */ 
background-image: -ms-linear-gradient(bottom center, #F19D5B 0%, #FECAA4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom center, #F19D5B 0%, #FECAA4 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom center, #F19D5B 0%, #FECAA4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #F19D5B), color-stop(1, #FECAA4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom center, #F19D5B 0%, #FECAA4 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(bottom center, #F19D5B 0%, #FECAA4 100%);
background-color:#F19D5B;
    color:Black;
    vertical-align: middle;
	text-align: center;
    box-shadow: 0 1px 4px #FFFFFF;
}

.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox
{
    color:Black !important;
}

.RedCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 -197px; 
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
.GreenCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 -59px; 
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
.BlueCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 1px;
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
.OrangeCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 -128px;
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
.PurpleCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 -173px;
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
.YellowCategorizeIcon
{
	background-image:@common-img;		            
    background-position: 0 -221px;
	width: 19px; 
	height: 19px;
    background-repeat:no-repeat;
    display:table-cell;
    line-height:19px;
    text-decoration:none;
}
(~".schedule_@{skin} .categorizeBackground .buttonimage")
{
	background-color:transparent;
	background-image:@common-img;
	background-position: 12px -24px;
	width: 40px; 
	height: 27px;
	background-repeat:no-repeat;
    border: 1px solid transparent !important;
    cursor: pointer;
    color:@color;
}
