@import "Definition/Definition.less";
/*----- Editor--*/
(~".sf-editor.@{skin} .sfInputText") , (~".sf-editor.@{skin} .Syncfusion_Value_TextBox") , (~".sf-editor.@{skin} .maskeditInput")
{
   color: @font-color;
   background-color: @input-bg-color;
   Height:100%;
   Width:100%;
}

(~".sf-editor.@{skin}")
{
    border: @border-size @border-type @border-color;    
    display: inline-block;	
}


(~".sf-editor.@{skin} .sfInputText"), (~".sf-editor.@{skin} .Syncfusion_Value_TextBox"), (~".sf-editor.@{skin} .Syncfusion_Watermark_TextBox")
{
    border-right: @border-size @border-type @border-color;
	background-color:@editbutton-bg-color;
}
(~".sf-editor.@{skin} .sf-splitup") , 
(~".sf-editor.@{skin} .sf-splitdown")
{
    background: @ui-state-default @bg-sizeX @bg-sizeY repeat-x;
   
}

(~".sf-editor.@{skin} .sf-splitup:hover") , (~".sf-editor.@{skin} .sf-splitdown:hover") 
{
    background: @ui-state-focus @bg-sizeX @bg-sizeY repeat-x;
   }    

(~".sf-editor.@{skin} .sf-splitup:active") , (~".sf-editor.@{skin} .sf-splitdown:active")
{
    background: @ui-state-active @bg-sizeX @bg-sizeY repeat-x;   
}
(~".sf-editor.@{skin} .sf-splitup")
{
    background-position: -204px -20px;
}
(~".sf-editor.@{skin} .sf-splitup:hover")
{
	background-position: -204px -20px;	
}
(~".sf-editor.@{skin} .sf-splitup:active")
{
	background-position: -204px -20px;	
}

(~".sf-editor.@{skin} .sf-splitdown")
{
	background-position: -172px -21px;
}
(~".sf-editor.@{skin} .sf-splitdown:hover")
{
	background-position: -172px -21px;	
}

(~".sf-editor.@{skin} .sf-splitdown:active")
{
	background-position: -172px -21px;	
}
(~".sf-editor.@{skin} .sf-splitup"), (~".sf-editor.@{skin}")
{
    background-color:@editbutton-bg-color;
}
(~".sf-editor.@{skin} .sf-splitup:hover")
{
	background-color: @hover-bg-color;
}
(~".sf-editor.@{skin} .sf-splitup:active")
{
	background-color: @active-bg-color;
}
(~".sf-editor.@{skin} .sf-splitdown")
{
    background-color:@editbutton-bg-color;
}

(~".sf-editor.@{skin} .sf-splitdown:hover")
{
	background-color: @hover-bg-color;
}
(~".sf-editor.@{skin} .sf-splitdown:active")
{
	background-color:  @active-bg-color;
}
(~".sf-core.disablebuttons"),(~".sf-genericdropdown.@{skin} .disablebuttons")
{
    filter: alpha(opacity=30);
    opacity: 0.3;
}

(~".sf-editor.sf-rtl .sfInputText"), (~".sf-editor.@{skin}.sf-rtl .Syncfusion_Value_TextBox"), (~".sf-editor.@{skin}.sf-rtl  .Syncfusion_Watermark_TextBox")
{
	border-right:none;
    border-left: @border-size @border-type @border-color;	
}

(~".sf-editor.@{skin} .Syncfusion_Validator") , (~".sf-editor.@{skin} .error") , (~".sf-editor.@{skin} .ShowInvalidateText")
{
    color: @error-font-color;
}

(~".sf-editor.@{skin} .Syncfusion_Watermark_TextBox") , (~".sf-editor.@{skin} .MaskWaterMark")
{
   color: @watermark-font-color;
   font-style:@watermark-font-style;
   background-color: @input-bg-color;
   Height:100%;
   Width:100%;  
}
(~".sf-editor.@{skin} .error")
{
    background-color: @error-bg-color;
}

/*---------------- Autocomplete ----------------*/

(~".sf-autocomplete.@{skin}.Autocomplete_Wrapper")
{
	color: @font-color;
    border: @border-size @border-type @border-color;
    height:20px;
}

 (~".sf-autocomplete.@{skin}.Autocomplete_SuggestionList")
{
    border: @border-size @border-type @border-color;
    background-color:@popup-bg-color;
    color: @font-color;
    font-size: @font-size;
}
(~".sf-autocomplete.@{skin} ul li.listHover")
{
    background-image: @hover-img;
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: @hover-bg-color;
    color: @hover-font-color;
}
(~".sf-autocomplete.@{skin} .onLoading")
{
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ajax-loader-black.gif%>);
}
(~".sf-autocomplete.@{skin} ul li div.template")
{
    color: @font-color;
}
(~".sf-autocomplete.@{skin} .dropdownbuttonbase")
{
    background: @ui-state-default;
	background-repeat:@bg-repeat;
	background-position: -172px -16px;
    border-left: @border-size @border-type @border-color;
    background-color:@editbutton-bg-color;
}
(~".sf-autocomplete.@{skin} .AutoCompleteDD_RTL")
{
	border-right: @border-size @border-type @border-color;
	border-left: none;
}

(~".sf-autocomplete.@{skin} .dropdownbuttonbase.autocompleteDropDown:hover")
{
    background: @ui-state-focus;
    background-repeat:@bg-repeat;
	background-position: -172px -16px;
    background-color:@hover-bg-color;
    color: @hover-font-color;
}
(~".sf-autocomplete.@{skin} .dropdownbuttonbase.autocompleteDropDown:active")
{
    background: @ui-state-active;
    background-repeat:@bg-repeat;
	background-position: -172px -16px;
    background-color:@active-bg-color;
    color: @active-font-color;
}

(~".sf-autocomplete.@{skin}.Autocomplete_Wrapper input"),
(~".sf-autocomplete.@{skin}.Autocomplete_Wrapper .Syncfusion_Watermark_TextBox"),
(~".sf-autocomplete.@{skin}.Autocomplete_Wrapper .Syncfusion_Value_TextBox")
{
   color: @font-color;
   background-color: @input-bg-color;
   width:100%;   
   padding:0;
   border:none;
}

(~".sf-autocomplete.@{skin} .watermark")
{
    color: @watermark-font-color;
    font-style: @watermark-font-style;
}

(~".sf-autocomplete.@{skin} .HighlightQueryText")
{
    font-weight: @highlight-font-weight;
    color: @highlight-font-color;
}

/*------------Generic dropdown -----------*/

(~".sf-genericdropdown.@{skin} .GenericDropDownButtonBase")
{   
	color: @font-color;
	vertical-align:middle;	
}

(~".sf-multicolumn.sf-genericdropdown.@{skin} .GenericDropDownButtonBase "),(~".sf-genericdropdown.@{skin} .GenericDropDownButtonBase.GenericDropDownButton")
{   
	border: @border-size @border-type @border-color;
	background: @ui-state-default;
	background-repeat:@bg-repeat;
	background-position: -172px -16px;
	background-color:@editbutton-bg-color;
}

(~".sf-multicolumn.sf-genericdropdown.@{skin} .GenericDropDownButtonBase:hover "),(~".sf-genericdropdown.@{skin} .GenericDropDownButtonBase.GenericDropDownButton:hover")
{
    background: @ui-state-focus;
	background-color:@hover-bg-color;
	background-repeat:@bg-repeat;	
	background-position: -172px -16px;
}

(~".sf-multicolumn.sf-genericdropdown.@{skin} .GenericDropDownButtonBase:active "),(~".sf-genericdropdown.@{skin} .GenericDropDownButtonBase.GenericDropDownButton:active")
{
    background: @ui-state-active; 
	background-color:@active-bg-color;
	background-repeat:@bg-repeat;
	background-position: -172px -16px;
}

(~".sf-genericdropdown.@{skin} .GenericDropDownContainer")
{
	border:@border-size @border-type @border-color;
}

(~".sf-genericdropdown.@{skin} .GenericDropDownTextBox")
{
	background-color:@input-bg-color;
	color:@font-color;
}

(~".sf-genericdropdown.@{skin} .GenericDropDownTextBoxHover")
{
	background-color:@input-hover-color;
}

(~".sf-genericdropdown.@{skin} .GenericDropDownPopupPanel")
{
	background-color:@popup-bg-color;
	color:@font-color;
	border:@border-size @border-type @border-color;
    font-size: @font-size;	
}
(~".sf-genericdropdown.@{skin} .GenericDropDownPopupPanel .listHover")
{
    background: @hover-bg-color @hover-img bottom;
    background-repeat: repeat-x;
    color: @hover-font-color;    
}
/*-----------Button-------------*/

(~".sf-button.@{skin}")
{
    color: @font-color;
}

(~".sf-button.@{skin}.background")
{
	background-image: @header-img;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: @bg-color;
    color: @header-a-font-color;
    border: @border-size @border-type @border-color;
}
(~".sf-button.@{skin}.backgroundhover")
{
    background-image: @hover-img;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: @hover-bg-color;
    border: @border-size @border-type @hover-border-color;
	color: @hover-font-color;
}

(~".sf-button.@{skin}.backgroundselected")
{
    background-image: @active-img;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: @active-bg-color;
    border: @border-size @border-type @active-border-color;
	color: @active-font-color;
}
(~".sf-button.@{skin} .spritesplitdropdownbutton") , (~".sf-button.@{skin} .spritesplitnormalbutton")
{
    border: 0 none;
}

(~".sf-button.@{skin} .dropdowndownarrow") , (~".sf-button.@{skin} .splitdownarrow")
{
    background: @ui-state-default  @bg-repeat -175px -24px;    
}

(~".sf-button.@{skin} .splitrightarrow:hover .dropdowndownarrow") , (~".sf-button.@{skin} .splitdownarrow:hover .dropdowndownarrow")
{
    background: @ui-state-focus  @bg-repeat -175px -24px;
}
(~".sf-button.@{skin} .splitrightarrow:active .dropdowndownarrow") , (~".sf-button.@{skin} .splitdownarrow:active .dropdowndownarrow")
{
    background: @ui-state-active  @bg-repeat -175px -24px;
}

(~".sf-button.@{skin} .splitbottomarrow")
{
    display: block;
    border-top: @border-size @border-type @border-color;
    text-align: center;
}
(~".sf-button.@{skin} .splitbottomarrow .buttonmaindiv"){height:8px;}
(~".sf-button.@{skin} .splitrightarrow")
{
    display: table-cell;
    border-left: @border-size @border-type @border-color;
    text-align: center;
    vertical-align: top;
}
(~".sf-button.@{skin} .borderleftmousehover")
{
    border-left: @border-size @border-type @hover-border-color;
}
(~".sf-button.@{skin} .bordertopmousehover")
{
    border-top: @border-size @border-type @hover-border-color;
}

(~".sf-ribboncontainer.@{skin} .ribbonbutton")
{
	background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
}
(~".sf-ribboncontainer.@{skin} .ribbonbutton:hover")
{
	background-image: none;
    background-color: @hover-bg-color;
    border: 1px solid @hover-border-color;
}
(~".sf-ribboncontainer.@{skin} .ribbonbutton:active")
{
	background-image: none;
    background-color: @active-bg-color;
    border: 1px solid @active-border-color;
}
/******************************************************/
.sfrotator_container
{
	-moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.sfrotator_container .banner:Hover
    {
        cursor: pointer;
    }

 .sfrotator_container .buttonImgOff , .buttonImgOn
    {
    background: @ui-state-default;
    display: inline-block;
        height: 15px;
        width: 19px;
    }
 .sfrotator_container .buttonImgOff
    {
        background-position: -115px -224px;
    }

 .sfrotator_container .buttonImgOn 
    {
    background-position: -97px  -224px;
    }

/******************************************************/
/*---------captcha----------*/

.sf-captcha .validationFailed
{
    color: @error-font-color;
}
.sf-captcha .validationSuccess
{
	color: @success-font-color;
}

(~".sf-captcha.@{skin}")
{  
}

(~".sf-captcha.@{skin}  .captcha-image-container") {
    float:left;
	border:1px solid @captcha-image-border-color;
	border-radius :3px;
}

(~".sf-captcha.@{skin} .captcha-button-container") {
    width:50px;
    float:left;
	.refresh-button {
		width:29px;
		height:29px;
		margin-left:6px;
		margin-top:5px;
		background: @refresh-audio-button-bg-color @ui-state-default @bg-repeat 4px -246px; 
		border:1px solid @refresh-audio-button-border-color;
		border-radius :3px;
	}
	.play-button {
		width:29px;
		height:29px;
		background: @refresh-audio-button-bg-color @ui-state-default @bg-repeat -26px -246px; 
		border:1px solid @refresh-audio-button-border-color;
		cursor:pointer;
		display:block;
		margin-left:6px;
		margin-top:7px;
		border-radius :3px;
	}
}

/*------Rating-------*/

(~".sf-rating.@{skin}.horizontal .stars") , (~".sf-rating.@{skin}.vertical .stars")
{
    background: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.stars.png%>)" @bg-repeat;    
}

(~".sf-rating.@{skin}.horizontal .reset") , (~".sf-rating.@{skin}.vertical .reset")
{
    background: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.stars.png%>)" @bg-repeat;
    background-position: 0 0;
}

(~".sf-rating.@{skin} .reset:hover")
{
    background-position: 0 -17px;
}
(~".sf-rating.@{skin} .stars.inactive")
{
    background-position: 0 -34px;
}
(~".sf-rating.@{skin} .stars.active")
{
    background-position: 0 -51px;
}
(~".sf-rating.@{skin} .stars.selected")
{
    background-position: 0 -68px;
}
(~".sf-rating.@{skin} .stars.precision")
{
    background-position: 0 -51px;    
}


/*----Scroll panel -------*/
(~".@{skin} .sf-sp-Hhandle"),(~".@{skin} .sf-sp-Vhandle")
 {
        background: @scroll-bg-color;
        border: @scroll-border;
 }
  (~".@{skin} .sf-sp-tb"),(~".@{skin} .sf-sp-tr")
     {
      height:11px;
      width:12px;   
     }
    (~".@{skin} .sf-sp-bl"),(~".@{skin} .sf-sp-br")
     {   
      height: 12px;
      width:7px;
     }
   (~".@{skin} .sf-sp-tr")
    {
       background-image:@scroll-img;
		background-position: center -169px;
        background-repeat:no-repeat;
    }
   (~".@{skin} .sf-sp-tb")
    {
        background-image:@scroll-img;
		background-position: center -112px;
        background-repeat:no-repeat;
    }
   (~".@{skin} .sf-sp-bl")
    {
         background-image:@scroll-img;
		 background-position: 1px 2px;
         background-repeat:no-repeat;
             
    }
   (~".@{skin} .sf-sp-br")
    {
        background-image:@scroll-img;
		 background-position: 3px -56px;
         background-repeat:no-repeat;
    }

/*------splitter --------*/

(~".sf-splitter.@{skin}")
{
    border-color: @border-color;
}

(~".sf-splitter.@{skin} .shadowbar")
{
    background-color: @shadow-bg-color;    
}

(~".sf-splitter.@{skin} .pane")
{
    color: @content-a-font-color;
    background-color: @pane-bg-color;
}

(~".sf-splitter.@{skin} .shadowbar.endrangeindicator")
{
    background-color: @error-font-color;
}

(~".sf-splitter.@{skin} .splitbar")
{
    background-color: @bg-color;
    border-color: @border-color;
}

(~".sf-splitter.@{skin} .h-forwardarrow")
{
    background-image: @ui-state-default;
    background-position: -161px -16px;
    background-repeat: @bg-repeat;
}

(~".sf-splitter.@{skin} .h-forwardarrow:hover")
{
   background-image: @ui-state-focus;
   background-position: -161px -16px;
   background-repeat: @bg-repeat;
   background-color: @hover-bg-color;
}

(~".sf-splitter.@{skin} .h-backwardarrow")
{
    background-image: @ui-state-default;    
    background-position: -194px -16px;
    background-repeat: @bg-repeat;
}

(~".sf-splitter.@{skin} .h-backwardarrow:hover")
{
   background-image: @ui-state-focus;   
   background-position: -194px -16px;
   background-repeat: @bg-repeat;
   background-color: @hover-bg-color;
}

/* Vertical view css classes */

(~".sf-splitter.@{skin} .v-forwardarrow")
{
    background-image: @ui-state-default;
    background-position: -171px -23px;
    background-repeat: @bg-repeat;
}

(~".sf-splitter.@{skin} .v-forwardarrow:hover")
{
    background-image: @ui-state-default;
    background-position: -171px -23px;
    background-repeat: @bg-repeat;
    background-color: @hover-bg-color;
}

(~".sf-splitter.@{skin} .v-backwardarrow")
{
    background-image: @ui-state-focus;
    background-position: -204px -24px;
    background-repeat: @bg-repeat;    
}

(~".sf-splitter.@{skin} .v-backwardarrow:hover")
{
    background-image: @ui-state-focus;
    background-position: -204px -24px;
    background-repeat: @bg-repeat;
    background-color: @hover-bg-color;
}

/*----Tag-Cloud------*/
(~".sf-tagcloud.@{skin}")
{
 background-color: @content-bg-color;
}
(~".sf-tagcloud.@{skin} .tagcloud-header")
{
    background-color: @header-bg-color;
	background-image:@header-img;
    color: @header-a-font-color; 
}
(~".sf-tagcloud.@{skin} .tagcloud-items .textNode")
{
    color: @content-a-font-color;
}
(~".sf-tagcloud.@{skin} .tagcloud-items .textNode.hover")
{
    color: @active-font-color;    
}

/*----TimePicker-----*/

(~".sf-timepicker.timespan-widget.@{skin}")
{
border: @border-size @border-type @border-color;
}
(~".sf-timepicker.@{skin} li")
{
    background-color: @bg-color;
    color: @header-a-font-color;
    border-color: @border-color;
}
(~".sf-timepicker.@{skin} li:hover")
{
    background-color: @hover-bg-color;
    color: @hover-font-color;
    border-color: @hover-border-color;
}

/*------ Toolbar--------*/

(~".sf-toolbar.@{skin}-horizontal")
{
    color: @header-a-font-color;
    border: @border-size @border-type @border-color;
    background: @bg-color @header-img repeat-x center bottom;
    display:inline-block;
    width: 100%;    
}

(~".sf-toolbar.@{skin}-vertical")
{
    color: @header-a-font-color;
    border: @border-size @border-type @border-color;
    background: @bg-color @header-img-ver repeat-y left;
    display:inline-block;
}
(~".sf-toolbar.@{skin}-vertical") , (~".sf-toolbar.@{skin}-vertical div:first-child")
{
    *display:inline;
    overflow:hidden;
}

(~".sf-toolbar.@{skin}-horizontal li")
{
    display: inline;
    float: left;
}

(~".sf-toolbar.@{skin}-horizontal ul")
{
    vertical-align:middle;
    float:left;
}

(~".sf-toolbar.@{skin}-horizontal .AlignInline")
{
    display:inline;
}

(~".sf-toolbar.@{skin}-horizontal .Disable_ToolLi"), (~".sf-toolbar.@{skin}-vertical .Disable_ToolLi")
{
    color: @disable-font-color;
}

(~".sf-toolbar.@{skin}-horizontal .Tool_Hover"), (~".sf-toolbar.@{skin}-vertical .Tool_Hover")
{
    background: @hover-bg-color @hover-img repeat-x center bottom;
    border: @border-size @border-type @hover-border-color;
    color:@hover-font-color;
}

(~".sf-toolbar.@{skin}-horizontal .Tool_Selected"), (~".sf-toolbar.@{skin}-vertical .Tool_Selected")
{
    border: @border-size @border-type @active-border-color;
    background: @active-bg-color @active-img repeat-x center bottom;
    color:@active-font-color;
}

(~".sf-toolbar.@{skin}-horizontal .Toolbar_Separator")
{
    background-image: @seperator-img;
    width:2px;
    height: 15px;
    display: inline;
    float: left;
}

(~".sf-toolbar.@{skin}-vertical .Toolbar_Separator")
{
    background-image: @seperator-img-ver;
    width: 15px;
    height:2px;
}

(~".sf-toolbar.@{skin}-horizontal .AlignMiddle"), (~".sf-toolbar.@{skin}-vertical .AlignMiddle") , (~".sf-toolbar.@{skin}-horizontal .Toolbar_Text"), (~".sf-toolbar.@{skin}-vertical .Toolbar_Text")
{
    vertical-align:middle;
    margin:0 2px;
}

/*------ Treeview-----*/

(~".sf-treeview.@{skin} .ImgCss")
{
    border: @border-size @border-type @border-color;
}

(~".sf-treeview.@{skin} .showline-NodeText"), (~".sf-treeview.@{skin} .noline-NodeText")
{   
    color:@content-a-font-color; 
}
(~".sf-treeview.@{skin} .showline")
{
    background: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.Treeview_line.png%>)";
    background-repeat: repeat-y;
    background-position: 0 0;
}

(~".sf-treeview.@{skin}.RTL .showline")
{
    padding: 0px 16px 5px 16px;
    background-position: right -38px;
}
(~".sf-treeview.@{skin} .Input_Text")
{
    border: @border-type @border-size+1px @active-bg-color;
}

(~".sf-treeview.@{skin} span.noline-child"), (~".sf-treeview.@{skin} span.showline-child")
{
    white-space: nowrap;
}

(~".sf-treeview.@{skin} .plus")
{
	background: @ui-icon 0 0 @bg-repeat;
	background-position: -159px -20px;
}

(~".sf-treeview.@{skin} .minus")
{
	background: @ui-icon 0 0 @bg-repeat;
	background-position: -223px -23px; 
}

(~".sf-treeview.@{skin}.RTL .plus")
{  
    background: @ui-icon 0 0 @bg-repeat;
    background-position: -194px -21px;
}

(~".sf-treeview.@{skin}.RTL .minus")
{   
    background: @ui-icon 0 0 @bg-repeat;
    background-position: -85px -21px;
}

(~".sf-treeview.@{skin} .pointer") , (~".sf-treeview.@{skin}.RTL .pointer")
{
    background: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.TreeviewCommon.png%>)"; 
    background-repeat:  @bg-repeat;  
}

(~".sf-treeview.@{skin} .pointer.child")
{
 	background-position: 1px -322px;	
	cursor:default;	 
}

(~".sf-treeview.@{skin} .pointer.plus")
{	
	background-position: 1px -208px;
}

(~".sf-treeview.@{skin} .pointer.minus")
{
	background-position: 0 -153px;	
}

(~".sf-treeview.@{skin}.RTL .pointer.child")
{
     background-position: 2px -322px;
}
(~".sf-treeview.@{skin}.RTL .pointer.plus")
{
     background-position: 2px -560px;
}
(~".sf-treeview.@{skin}.RTL .pointer.minus")
{
     background-position: 0px -505px;
}
(~".sf-treeview.@{skin} .showline-selected"), (~".sf-treeview.@{skin} .noline-selected")
{
    background: @active-bg-color @active-img 0 0 repeat-x;
    color: @active-font-color;
    border:@border-size @border-type @active-border-color;
}

(~".sf-treeview.@{skin} .showline-hover"), (~".sf-treeview.@{skin} .noline-hover")
{
    background: @hover-bg-color @hover-img 0 0 repeat-x;
    color: @hover-font-color;
    border:@border-size @border-type @hover-border-color;    
}

/*---Upload-----*/

.sf-uploadbox .upload-progress-status
{
    background-color: @error-font-color;
}

.sf-uploadbox .upload-progress
{
    border: @border-size @border-type @border-color;
}

.sf-uploadbox .file-list .file-status-failed
{
    color: @error-font-color;
}
.sf-uploadbox .file-list .file-status-success
{
    color: @success-font-color;
}

(~".sf-uploadbox.@{skin} .file-progress")
{
    border: @border-size @border-type @border-color;    
	background-color: @bg-color;  
}
(~".sf-uploadbox.@{skin} .file-action"), (~".sf-uploadbox.@{skin} .file-list .file-size")
{
    border-color: @border-color;
	background-color: @bg-color;
}
(~".sf-uploadbox.@{skin} .file-progress-status")
{
    background-color: @progress-bg-color;
}
(~".sf-uploadbox.@{skin} .inputbutton")
{
    background-color: @bg-color;
    color: @upload-font-color;
    border: @border-size @border-type @border-color;
    padding: 5px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    font-size: @font-size;
    border-radius:5px;
}

(~".sf-uploadbox.@{skin} .file-list")
{
	color: @upload-font-color;
}

