<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UFUAInstallDeployServerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="UFUAInstallServerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UFUAInstallServerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <UFUAInstallDeployServerService.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
            <setting name="CommonApplicationFolder" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>appsettings.json</value>
            </setting>
            <setting name="UserJSonKey" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="PasswordJSonKey" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="PathJSonKey" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="LoginJSonKey" serializeAs="String">
                <value>Login</value>
            </setting>
            <setting name="DeployServerSettingsJSonKey" serializeAs="String">
                <value>DeployServerSettings</value>
            </setting>
            <setting name="PasswordRequiredDigit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordRequiredLenght" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PasswordRequiredUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordRequiredLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordRequiredNonLetterOrDigit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordRequiredUniqueChars" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordComplexityRulesJsonKey" serializeAs="String">
                <value>PasswordComplexityRules</value>
            </setting>
        </UFUAInstallDeployServerService.Properties.Settings>
        <UFUAInstallServerService.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
            <setting name="CommonApplicationFolder" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
        </UFUAInstallServerService.Properties.Settings>
    </applicationSettings>
</configuration>
