<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BACnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BACnet.Properties.Settings>
            <setting name="WaitWhoIs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WhoIsRepeatDelay" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="WaitWhoIsQuick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WhoIsRepeatDelaySlow" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ExtentionOfTheFileCov" serializeAs="String">
                <value>.saveCOV</value>
            </setting>
        </BACnet.Properties.Settings>
    </applicationSettings>
</configuration>