@border-color: #528AB9;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #FFFFFF;
@header-bg-color: #D7E0E7;
@row-cell-border-color : #BCD1E3;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #2B739A;
@group-droparea-bg-color: #DAE4EF;
@group-droparea-border-color: #CEDEEA;
@clone-bg-color: #DAE4EF;
@clone-border-color: #edf2f5;
@top-right-border-color: #bcd1e3;
@caption-row-border-color: #CEDEEA;
@caption-row-bg-color: #E4EBF2;
@group-caption-drop-row-font-color:#2B739A;
@pager-caption-row-border-color: #CEDEEA;
@pager-groupdrop-border-color: #CEDEEA;
@pager-groupdrop-bg-color: #E4EBF2;
@group-indent-expand-collapse-bg-color: #CDDCF1;
@group-indent-expand-collapse-border-color: #BCD1E3;
@hover-header-border-color: #BCD1E3;
@hover-group-header-border-color: #BCD1E3;
@selected-header-border-color: #BCD1E3;
@selected-header-bg-color: #9BC2DE;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #F3F8FB;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #BCD1E3;
@selected-row-header-bg-color: #F3F8FB;
@alt-row-bg-color: #F2F7F9;
@summary-font-color: #464749;
@summary-bg-color: #B8C8DB;
@summary-border-color: #8899AD;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #528AB9;
@selected-column-bg-color: #A2C4DD;
@selection-bg-color: #4475A1;
@currentcell-bg-color: #637c91;
@currentcell-font-color: #ffffff;
@gridpager-bg-color: #cfdfea;
@gridpager-border-color: #528AB9;
@numericitem-font-color: #2B739A;
@numeric-hover-bg-color: #B1C9DD;
@spacing-color: #2B739A;
@currentitem-border-color: #EDF2F5;
@currentitem-bg-color: #90B3D2;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #90B3D2;
@record-caption-font-color: #FFFFFF;
@legend-font-color: #FFFFFF;
@error: red;
@fieldset-border-color: #EBD7D6;
@custom-font-color: #BE5A5C;
@resizecol-bg-color: #528AB9;
@helper-bg-color: #DAE4FF;
@helper-border-color: #528AB9;
@dragelement-bg-color: #637C91;
@dragelement-font-color: #FFFFFF;
@dragelement-border-color: #528AB9;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #528AB9;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #528AB9;
@tooltip-bg-color: #90B3D2;
@tooltip-font-color: #FFFFFF;
@next-last-hover-bg-color: #BCD1E3;
@filter-cell-bg-color: #F3F8FB;
@filter-input-border-color: #BCD1E3; 
@filter-status-bg-color: #F2F7F9;
@filter-status-border-color: #BCD1E3; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #BCD1E3;
@skin: ~"Blueberry";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-blueberry-menu";
