<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gauges.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gauges.Properties.Settings>
            <setting name="TagBackground" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="MinControlSize" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="MinControlSizePrecVisibilityA" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="MinControlSizePrecVisibilityB" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="MinControlSizePrecVisibilityC" serializeAs="String">
                <value>0.63</value>
            </setting>
            <setting name="MinControlSizePrecVisibilityD" serializeAs="String">
                <value>0.58</value>
            </setting>
            <setting name="MinControlSizePrecVisibilityE" serializeAs="String">
                <value>0.45</value>
            </setting>
            <setting name="MinControlVisibility" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SpindleFactor" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TagFill" serializeAs="String">
                <value>Fill</value>
            </setting>
        </Gauges.Properties.Settings>
    </applicationSettings>
</configuration>