<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UFUAServerBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFUAServerBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UFUAServerBase.Properties.Settings>
            <setting name="SecretKey" serializeAs="String">
                <value>{a67e0d79-2f96-7bb4-240c-9b9b05072dd2}</value>
            </setting>
            <setting name="CommonApplicationFolder" serializeAs="String">
                <value>Movicon.NExT</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Progea</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>Log\SysLog.xml</value>
            </setting>
            <setting name="AuditExpiringTime" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="AuditMaxTokenNum" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DelayUpdateSystemTags" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="NetCoreLogPath" serializeAs="String">
                <value>Log\SysLog.log</value>
            </setting>
            <setting name="OpenServiceHostsMaxRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlwaysInUseAllVariables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddOptionalProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowCredentialsProviderMapping" serializeAs="String">
                <value>True</value>
            </setting>
        </UFUAServerBase.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="UFUAServerBase.DataStoreServices.ServerDataStoreService">
                <endpoint address="" binding="basicHttpBinding" contract="UFUAServerBase.DataStoreServices.IServerDataStoreService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/UFUAServerBase.DataStoreServices/ServerDataStoreService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <UFUAServerBase.Properties.Settings>
            <setting name="CustomStringsExt" serializeAs="String">
                <value>*.custstrings</value>
            </setting>
        </UFUAServerBase.Properties.Settings>
    </applicationSettings>
</configuration>
