
@base-background-color: #F3F3F3;
@base-border: 1px solid #D0D0D0;
@base-Header: #D3DFF2;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #E8EAEC;
@Workcell-select: #4C535C;
@Workcell-Hover: #E0E1E0;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #d6d6d6;
@appointment-color:#7C7C7E;
@ViewStrip-color:#F3F3F3;
@highlighAppDate: gray;
@highlightSelectedDate: #DDDDDD;
@color:#000000;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #D3DFF2 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Marble.Images.marble.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #BBAFAD;
@tooltip-font-color: #ffffff;
@Appointment-text-color:#000000;
@Dialog-bg-color:#F3F3F3;
@ViewStrip-text-color:#000000;
@Dialog-text-color:#000000;