<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FanucCNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FanucCNC.Properties.Settings>
            <setting name="Pmc_G_Signal_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_G_Signal_MaxAddress" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Pmc_F_Signal_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_F_Signal_MaxAddress" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Pmc_Y_Signal_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_Y_Signal_MaxAddress" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Pmc_X_Signal_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_X_Signal_MaxAddress" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Pmc_A_MessageDemand_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_A_MessageDemand_MaxAddress" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Pmc_T_ChangeableTimer_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_T_ChangeableTimer_MaxAddress" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Pmc_K_KeepRelay_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_K_KeepRelay_MaxAddress" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Pmc_C_Counter_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_C_Counter_MaxAddress" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="Pmc_D_DataTable_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_D_DataTable_MaxAddress" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="Pmc_R_InternalRelay_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_R_InternalRelay_MaxAddress" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="Pmc_E_ExtendedRelay_MinAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pmc_E_ExtendedRelay_MaxAddress" serializeAs="String">
                <value>8000</value>
            </setting>
        </FanucCNC.Properties.Settings>
    </applicationSettings>
</configuration>