<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UFUAServer.UAServer" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Emit" value="false"/>
  </appSettings>
  <UFUAServer.UAServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>UFUAServer.UAServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </UFUAServer.UAServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Drivers" />
    </assemblyBinding>
  </runtime>
</configuration>