.schedule_Almond.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: black;
  position: relative;
  border: 1px solid #85495e;
  background-color: #e6c8d2;
}
.schedule_Almond table,
.schedule_Almond th,
.schedule_Almond tr,
.schedule_Almond .GoToDateWindowInner table tr,
.schedule_Almond .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Almond td,
.schedule_Almond .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Almond .NavigationPaneTd {
  border-right: 1px solid #85495e;
  font-size: 10px;
  padding: 2px;
}
.schedule_Almond .NavigationPane {
  font-size: 10px;
}
.schedule_Almond .ui-datepicker-group {
  width: 100%;
}
.schedule_Almond .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Almond .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #e6c8d2;
}
.schedule_Almond .HeaderBar {
  background-color: #e6c8d2;
  background-repeat: repeat-x;
  border-top: 1px solid #85495e;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Almond .HeaderBar td {
  background-color: #e6c8d2;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Almond .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Almond .WorkCellUp,
.schedule_Almond .AllDayCell,
.schedule_Almond .WorkCellDown {
  font-size: 10px;
  background-color: #f5e8ec;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  overflow: hidden;
}
.schedule_Almond .WorkCatCellUp,
.schedule_Almond .WorkCatCellDown {
  font-size: 10px;
  background-color: #f5e8ec;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  overflow: hidden;
}
.schedule_Almond .WorkCellDownMonth {
  font-size: 10px;
  background-color: white;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  overflow: hidden;
}
.schedule_Almond .WorkCellUpMonth {
  font-size: 10px;
  background-color: #f5e8ec;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  overflow: hidden;
}
.schedule_Almond .TimeHourCell,
.schedule_Almond .TimeHourCellHorizontal {
  background-color: #e6c8d2;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #85495e;
  text-align: center;
  overflow: hidden;
}
.schedule_Almond .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #85495e;
  vertical-align: top;
}
.schedule_Almond .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Almond .TimeHourCellMonth {
  background-color: #e6c8d2;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #85495e;
  text-align: center;
  overflow: hidden;
}
.schedule_Almond .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Almond .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #85495e;
  border-bottom: 1px solid #85495e;
}
.schedule_Almond .ContentContainer {
  background-color: #e6c8d2;
  position: relative;
  width: 100%;
  border: 1px solid #85495e;
  text-align: left;
  vertical-align: middle;
}
.schedule_Almond .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Almond .TimeMinuteCell {
  font-size: 7pt;
  background-color: #e6c8d2;
  border-bottom: 1px solid #85495e;
  text-align: left;
}
.schedule_Almond .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d195aa 0%, #e6c8d2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d195aa 0%, #e6c8d2 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d195aa 0%, #e6c8d2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d195aa), color-stop(2, #e6c8d2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d195aa 0%, #e6c8d2 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d195aa 0%, #e6c8d2 100%);
  background-color: #d195aa;
  box-shadow: 0 1px 4px #d195aa;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: black;
}
.schedule_Almond .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Almond .ViewStripCont {
  background-color: #e2bfcb;
  text-align: left;
  vertical-align: middle;
  color: black;
}
.schedule_Almond .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_AlmondTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: black;
  padding: 3px;
  font-size: 8pt;
  background-color: #d18f8f;
  color: white;
  border: 1px solid #85495e;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Almond .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Almond .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Almond .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Almond .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Almond .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Almond .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Almond .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Almond 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #85495e;
  background-color: #e6c8d2;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Almond 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Almond 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #e6c8d2;
}
.schedule_Almond .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Almond .AppointmentWindowInner {
  background-color: #e6c8d2;
  border: 1px solid #85495e;
  color: black;
}
.schedule_Almond .AppointmentWindow td {
  padding: 3px;
}
.schedule_Almond .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: black;
}
.schedule_Almond .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Almond .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Almond .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Almond .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Almond .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Almond .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Almond .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Almond .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Almond .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Almond .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Almond .LowImportanceImage {
  *float: left;
}
.schedule_Almond .HighImportanceImage {
  *float: left;
}
.schedule_Almond .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Almond .SaveImageTd,
.schedule_Almond .DeleteImageTd,
.schedule_Almond .RecurrenceImageTd,
.schedule_Almond  .HighImportanceImageTd,
.schedule_Almond  .LowImportanceImageTd,
.schedule_Almond  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Almond .SaveImageTd:hover,
.schedule_Almond  .DeleteImageTd:hover,
.schedule_Almond  .RecurrenceImageTd:hover,
.schedule_Almond  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #85495e;
  cursor: pointer;
}
.schedule_Almond  .SaveImageTd:active,
.schedule_Almond  .DeleteImageTd:active,
.schedule_Almond  .RecurrenceImageTd:active,
.schedule_Almond  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -362px;
  background-color: #85495e;
  border: 1px solid #85495e;
}
.schedule_Almond 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Almond 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Almond 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Almond 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Almond .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #d195aa;
  border: 1px solid #85495e;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Almond .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #d195aa;
  border: 1px solid #85495e;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Almond .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Almond .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Almond .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Almond .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Almond .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Almond .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Almond .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Almond .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Almond .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Almond .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Almond .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Almond .DayImage,
.schedule_Almond .WeekImage,
.schedule_Almond .WorkWeekImage,
.schedule_Almond .MonthImage,
.schedule_Almond .TodayView,
.schedule_Almond .ImportIcon,
.schedule_Almond .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #85495e;
  border-right: 1px solid #85495e;
}
.schedule_Almond .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Almond .DayImage:active,
.schedule_Almond .WeekImage:active,
.schedule_Almond .WorkWeekImage:active,
.schedule_Almond .MonthImage:active,
.schedule_Almond .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #85495e;
  border-right: 1px solid #85495e;
  color: black;
}
.schedule_Almond .ImportIcon:hover,
.schedule_Almond .ExportIcon:hover,
.schedule_Almond .TodayView:hover,
.schedule_Almond .DayImage:hover,
.schedule_Almond .WeekImage:hover,
.schedule_Almond .WorkWeekImage:hover,
.schedule_Almond .MonthImage:hover,
.schedule_Almond .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #85495e;
}
.schedule_Almond .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Almond .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Almond .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Almond .CrudButtons {
  height: 30px;
}
.schedule_Almond .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Almond .Recurrence_types {
  border-right: 1px solid #85495e;
}
.schedule_Almond .Recurrence_common {
  padding: 3px;
}
.schedule_Almond .Recurrence_common div {
  padding: 3px;
}
.schedule_Almond .Recurrence_input {
  vertical-align: top;
}
.schedule_Almond .Recurrence_label {
  display: inline-table;
}
.schedule_Almond .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Almond .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Almond .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Almond .HeaderDaysOuter {
  background-color: #e6c8d2;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #85495e;
  border-right: 1px solid #85495e;
  border-top: 1px solid #85495e;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Almond .HeaderDays {
  padding-top: 1px;
  background-color: #e6c8d2;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Almond .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Almond .HeaderDays table {
  table-layout: fixed;
}
.schedule_Almond .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Almond .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #85495e;
  border-bottom: 1px solid #85495e;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Almond .HeaderResourceCell {
  background-color: #e6c8d2;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Almond .HeaderResourceCellCategory {
  background-color: #e6c8d2;
  border-bottom: 1px solid #85495e;
  border-right: 1px solid #85495e;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Almond .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Almond .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -124px;
  background-color: #85495e;
  border-right: 1px solid #85495e;
  border-left: 1px solid #85495e;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Almond .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -124px;
  background-color: #85495e;
  border-right: 1px solid #85495e;
  border-left: 1px solid #85495e;
  text-align: left;
  overflow: hidden;
}
.schedule_Almond .CellToday {
  border-right: 1px solid #85495e;
  border-left: 1px solid #85495e;
}
.schedule_Almond .CellTodayMonth {
  border: 1px solid #85495e;
}
.schedule_Almond .CellTodayLeft {
  border-left: 1px solid #85495e;
}
.schedule_Almond .CellTodayRight {
  border-right: 1px solid #85495e;
}
.schedule_Almond .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Almond .BusinessHour {
  background-color: white;
}
.schedule_Almond .selectedCell {
  color: white;
  background-color: #d195aa;
}
.schedule_Almond .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #e6c8d2;
  overflow: hidden;
}
.schedule_Almond .tablediv {
  display: table;
  width: 100%;
}
.schedule_Almond .celldiv {
  display: table-cell;
}
.schedule_Almond .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Almond .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -93px;
  background-color: #85495e;
  background-repeat: repeat-x;
  border: 1px solid #85495e;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: black;
}
.schedule_Almond div.scheduleButton:hover,
.schedule_Almond input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #85495e;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Almond  .HighImportanceImageTd:hover,
.schedule_Almond  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -124px;
  border: 1px solid #85495e;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Almond div.scheduleButton:active,
.schedule_Almond  .HighImportanceImageTd:active,
.schedule_Almond  .LowImportanceImageTd:active,
.schedule_Almond .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -158px;
  background-color: #85495e;
  border: 1px solid #85495e;
}
.schedule_Almond .RecurrenceWindow,
.schedule_Almond .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: black;
  background-color: #fafafa;
  border: 1px solid #85495e;
  padding: 1px 5px;
}
.schedule_Almond .RecurrenceWindow td {
  height: 24px;
}
.schedule_Almond .Recurrence_Duration,
.schedule_Almond .Recurrence_Pattern,
.schedule_Almond .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #85495e;
  line-height: 20px;
  padding: 2px;
}
.schedule_Almond .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Almond .SelectedRecurrence,
.schedule_Almond .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -362px;
  background-color: #85495e;
  border: 1px solid #85495e;
}
.schedule_Almond .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Almond .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Almond .Reminder_Details {
  border: 1px solid #85495e;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Almond .Reminder_Details td,
.schedule_Almond .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Almond .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #85495e;
}
.schedule_Almond .ReminderHeader th {
  border: 1px solid #85495e;
}
.schedule_Almond .Reminder_Details thead {
  background-color: #e6c8d2;
  border: 1px solid 1px solid #85495e;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Almond .Reminder_Details tbody {
  border: 1px solid 1px solid #85495e;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Almond .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Almond .selectedReminderCell {
  text-align: left;
  color: white;
  background-color: #d195aa;
}
.schedule_Almond .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Almond .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #85495e;
}
.schedule_Almond .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Almond .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: black;
  background-color: white;
}
.schedule_Almond .PrintAppointment td {
  padding: 3px;
}
.schedule_Almond .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Almond .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Almond .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Almond .hasDatepicker {
  border: 1px solid #85495e;
}
.schedule_Almond .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Almond .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #85495e;
}
.schedule_Almond .InputBox {
  background-color: white !important;
  color: black !important;
  border: 1px solid #85495e !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: black !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Almond .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Almond .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Almond .AppointmentIndicatorPrev {
  border: 1px solid #85495e;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #e2bfcb;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Almond .AppointmentIndicatorNext {
  border: 1px solid #85495e;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #e2bfcb;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Almond .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Almond .ui-resizable {
  position: relative;
}
.schedule_Almond .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Almond .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Almond .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Almond .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Almond .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Almond .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Almond .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Almond .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Almond .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Almond .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Almond .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: black;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Almond .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #85495e;
}
/*----BlockCell------*/

.schedule_Almond .BlockTime {
  color: white;
  background-color: #d195aa;
  position: absolute;
  opacity: .4;
}
.schedule_Almond .highlightSelectedDate a {
  background: #f7edf0 !important;
  border: 1px solid #d195aa !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Almond .highlighAppointmentDate {
  font-weight: bolder !important;
  color: #9f0060 !important;
}
.schedule_Almond .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: black !important;
}
.schedule_Almond .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Almond.Images.almond.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Almond .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Almond .DateSeparator {
  border-right-color: #d195aa;
}
.schedule_Almond .AppointmentSubject {
  display: inline-block;
}
.schedule_Almond .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Almond .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Almond .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Almond .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Almond .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: black;
}
