.schedule_Midnight.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: #bcbcbc;
  position: relative;
  border: 1px solid #444444;
  background-color: #333333;
}
.schedule_Midnight table,
.schedule_Midnight th,
.schedule_Midnight tr,
.schedule_Midnight .GoToDateWindowInner table tr,
.schedule_Midnight .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Midnight td,
.schedule_Midnight .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Midnight .NavigationPaneTd {
  border-right: 1px solid #444444;
  font-size: 10px;
  padding: 2px;
}
.schedule_Midnight .NavigationPane {
  font-size: 10px;
}
.schedule_Midnight .ui-datepicker-group {
  width: 100%;
}
.schedule_Midnight .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Midnight .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #333333;
}
.schedule_Midnight .HeaderBar {
  background-color: #333333;
  background-repeat: repeat-x;
  border-top: 1px solid #444444;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Midnight .HeaderBar td {
  background-color: #333333;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Midnight .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Midnight .WorkCellUp,
.schedule_Midnight .AllDayCell,
.schedule_Midnight .WorkCellDown {
  font-size: 10px;
  background-color: #e8eaec;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  overflow: hidden;
}
.schedule_Midnight .WorkCatCellUp,
.schedule_Midnight .WorkCatCellDown {
  font-size: 10px;
  background-color: #e8eaec;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  overflow: hidden;
}
.schedule_Midnight .WorkCellDownMonth {
  font-size: 10px;
  background-color: #bdbdbd;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  overflow: hidden;
}
.schedule_Midnight .WorkCellUpMonth {
  font-size: 10px;
  background-color: #707070;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  overflow: hidden;
}
.schedule_Midnight .TimeHourCell,
.schedule_Midnight .TimeHourCellHorizontal {
  background-color: #333333;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #444444;
  text-align: center;
  overflow: hidden;
}
.schedule_Midnight .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #444444;
  vertical-align: top;
}
.schedule_Midnight .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Midnight .TimeHourCellMonth {
  background-color: #333333;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #444444;
  text-align: center;
  overflow: hidden;
}
.schedule_Midnight .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Midnight .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
.schedule_Midnight .ContentContainer {
  background-color: #eeeeee;
  position: relative;
  width: 100%;
  border: 1px solid #444444;
  text-align: left;
  vertical-align: middle;
}
.schedule_Midnight .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Midnight .TimeMinuteCell {
  font-size: 7pt;
  background-color: #333333;
  border-bottom: 1px solid #444444;
  text-align: left;
}
.schedule_Midnight .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #4c535c 0%, #4a4a4a 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #4c535c 0%, #4a4a4a 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #4c535c 0%, #4a4a4a 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #4c535c), color-stop(2, #4a4a4a));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #4c535c 0%, #4a4a4a 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #4c535c 0%, #4a4a4a 100%);
  background-color: #4c535c;
  box-shadow: 0 1px 4px #4c535c;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: #bcbcbc;
}
.schedule_Midnight .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Midnight .ViewStripCont {
  background-color: #444444;
  text-align: left;
  vertical-align: middle;
  color: #bcbcbc;
}
.schedule_Midnight .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_MidnightTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: #bcbcbc;
  padding: 3px;
  font-size: 8pt;
  background-color: white;
  color: black;
  border: 1px solid #444444;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Midnight .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Midnight .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Midnight .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Midnight .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Midnight .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Midnight .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Midnight .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Midnight 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #444444;
  background-color: #333333;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Midnight 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Midnight 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #333333;
}
.schedule_Midnight .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Midnight .AppointmentWindowInner {
  background-color: #333333;
  border: 1px solid #444444;
  color: #bcbcbc;
}
.schedule_Midnight .AppointmentWindow td {
  padding: 3px;
}
.schedule_Midnight .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: #bcbcbc;
}
.schedule_Midnight .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Midnight .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Midnight .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Midnight .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Midnight .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Midnight .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Midnight .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Midnight .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Midnight .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Midnight .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Midnight .LowImportanceImage {
  *float: left;
}
.schedule_Midnight .HighImportanceImage {
  *float: left;
}
.schedule_Midnight .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Midnight .SaveImageTd,
.schedule_Midnight .DeleteImageTd,
.schedule_Midnight .RecurrenceImageTd,
.schedule_Midnight  .HighImportanceImageTd,
.schedule_Midnight  .LowImportanceImageTd,
.schedule_Midnight  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Midnight .SaveImageTd:hover,
.schedule_Midnight  .DeleteImageTd:hover,
.schedule_Midnight  .RecurrenceImageTd:hover,
.schedule_Midnight  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #444444;
  cursor: pointer;
}
.schedule_Midnight  .SaveImageTd:active,
.schedule_Midnight  .DeleteImageTd:active,
.schedule_Midnight  .RecurrenceImageTd:active,
.schedule_Midnight  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -362px;
  background-color: #bdbdbd;
  border: 1px solid #444444;
}
.schedule_Midnight 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Midnight 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Midnight 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Midnight 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Midnight .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #4c535c;
  border: 1px solid #444444;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Midnight .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #4c535c;
  border: 1px solid #444444;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Midnight .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Midnight .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Midnight .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Midnight .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Midnight .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Midnight .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Midnight .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Midnight .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Midnight .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Midnight .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Midnight .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Midnight .DayImage,
.schedule_Midnight .WeekImage,
.schedule_Midnight .WorkWeekImage,
.schedule_Midnight .MonthImage,
.schedule_Midnight .TodayView,
.schedule_Midnight .ImportIcon,
.schedule_Midnight .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #7e7e7e;
  border-right: 1px solid #444444;
}
.schedule_Midnight .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Midnight .DayImage:active,
.schedule_Midnight .WeekImage:active,
.schedule_Midnight .WorkWeekImage:active,
.schedule_Midnight .MonthImage:active,
.schedule_Midnight .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #bdbdbd;
  border-right: 1px solid #444444;
  color: #bcbcbc;
}
.schedule_Midnight .ImportIcon:hover,
.schedule_Midnight .ExportIcon:hover,
.schedule_Midnight .TodayView:hover,
.schedule_Midnight .DayImage:hover,
.schedule_Midnight .WeekImage:hover,
.schedule_Midnight .WorkWeekImage:hover,
.schedule_Midnight .MonthImage:hover,
.schedule_Midnight .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #444444;
}
.schedule_Midnight .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Midnight .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Midnight .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Midnight .CrudButtons {
  height: 30px;
}
.schedule_Midnight .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Midnight .Recurrence_types {
  border-right: 1px solid #7e7e7e;
}
.schedule_Midnight .Recurrence_common {
  padding: 3px;
}
.schedule_Midnight .Recurrence_common div {
  padding: 3px;
}
.schedule_Midnight .Recurrence_input {
  vertical-align: top;
}
.schedule_Midnight .Recurrence_label {
  display: inline-table;
}
.schedule_Midnight .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Midnight .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Midnight .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Midnight .HeaderDaysOuter {
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-top: 1px solid #444444;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Midnight .HeaderDays {
  padding-top: 1px;
  background-color: #333333;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Midnight .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Midnight .HeaderDays table {
  table-layout: fixed;
}
.schedule_Midnight .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Midnight .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Midnight .HeaderResourceCell {
  background-color: #333333;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Midnight .HeaderResourceCellCategory {
  background-color: #333333;
  border-bottom: 1px solid #444444;
  border-right: 1px solid #444444;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Midnight .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Midnight .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -124px;
  background-color: #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Midnight .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -124px;
  background-color: #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  text-align: left;
  overflow: hidden;
}
.schedule_Midnight .CellToday {
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
}
.schedule_Midnight .CellTodayMonth {
  border: 1px solid #bdbdbd;
}
.schedule_Midnight .CellTodayLeft {
  border-left: 1px solid #bdbdbd;
}
.schedule_Midnight .CellTodayRight {
  border-right: 1px solid #bdbdbd;
}
.schedule_Midnight .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Midnight .BusinessHour {
  background-color: #bdbdbd;
}
.schedule_Midnight .selectedCell {
  color: #bdbdbd;
  background-color: #4c535c;
}
.schedule_Midnight .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #4a4a4a;
  overflow: hidden;
}
.schedule_Midnight .tablediv {
  display: table;
  width: 100%;
}
.schedule_Midnight .celldiv {
  display: table-cell;
}
.schedule_Midnight .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Midnight .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -93px;
  background-color: #7e7e7e;
  background-repeat: repeat-x;
  border: 1px solid #444444;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #bcbcbc;
}
.schedule_Midnight div.scheduleButton:hover,
.schedule_Midnight input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #444444;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Midnight  .HighImportanceImageTd:hover,
.schedule_Midnight  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -124px;
  border: 1px solid #444444;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Midnight div.scheduleButton:active,
.schedule_Midnight  .HighImportanceImageTd:active,
.schedule_Midnight  .LowImportanceImageTd:active,
.schedule_Midnight .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -158px;
  background-color: #bdbdbd;
  border: 1px solid #444444;
}
.schedule_Midnight .RecurrenceWindow,
.schedule_Midnight .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: #bcbcbc;
  background-color: #333333;
  border: 1px solid #444444;
  padding: 1px 5px;
}
.schedule_Midnight .RecurrenceWindow td {
  height: 24px;
}
.schedule_Midnight .Recurrence_Duration,
.schedule_Midnight .Recurrence_Pattern,
.schedule_Midnight .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #444444;
  line-height: 20px;
  padding: 2px;
}
.schedule_Midnight .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Midnight .SelectedRecurrence,
.schedule_Midnight .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -362px;
  background-color: #bdbdbd;
  border: 1px solid #444444;
}
.schedule_Midnight .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Midnight .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Midnight .Reminder_Details {
  border: 1px solid #444444;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Midnight .Reminder_Details td,
.schedule_Midnight .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Midnight .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #444444;
}
.schedule_Midnight .ReminderHeader th {
  border: 1px solid #444444;
}
.schedule_Midnight .Reminder_Details thead {
  background-color: #333333;
  border: 1px solid 1px solid #444444;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Midnight .Reminder_Details tbody {
  border: 1px solid 1px solid #444444;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Midnight .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Midnight .selectedReminderCell {
  text-align: left;
  color: #bdbdbd;
  background-color: #4c535c;
}
.schedule_Midnight .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Midnight .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #444444;
}
.schedule_Midnight .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Midnight .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: #bcbcbc;
  background-color: white;
}
.schedule_Midnight .PrintAppointment td {
  padding: 3px;
}
.schedule_Midnight .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Midnight .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Midnight .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Midnight .hasDatepicker {
  border: 1px solid #444444;
}
.schedule_Midnight .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Midnight .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #444444;
}
.schedule_Midnight .InputBox {
  background-color: #333536 !important;
  color: #bcbcbc !important;
  border: 1px solid #444444 !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: #bcbcbc !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Midnight .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Midnight .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Midnight .AppointmentIndicatorPrev {
  border: 1px solid #444444;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #444444;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Midnight .AppointmentIndicatorNext {
  border: 1px solid #444444;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #444444;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Midnight .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Midnight .ui-resizable {
  position: relative;
}
.schedule_Midnight .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Midnight .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Midnight .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Midnight .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Midnight .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Midnight .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Midnight .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Midnight .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Midnight .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Midnight .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Midnight .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: #bcbcbc;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Midnight .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #444444;
}
/*----BlockCell------*/

.schedule_Midnight .BlockTime {
  color: #bdbdbd;
  background-color: #4c535c;
  position: absolute;
  opacity: .4;
}
.schedule_Midnight .highlightSelectedDate a {
  background: #7d7d7d !important;
  border: 1px solid #4c535c !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Midnight .highlighAppointmentDate {
  font-weight: bolder !important;
  color: #fcfcfc !important;
}
.schedule_Midnight .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: #bcbcbc !important;
}
.schedule_Midnight .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.midnight.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Midnight .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Midnight .DateSeparator {
  border-right-color: #4c535c;
}
.schedule_Midnight .AppointmentSubject {
  display: inline-block;
}
.schedule_Midnight .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Midnight .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Midnight .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Midnight .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Midnight .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: #bcbcbc;
}
