.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Blueberry .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Blueberry .ef-toggle:hover {
  background-color: #b1c9dd;
  border-color: #cedeea;
}
.Syncfusion-Grid-Blueberry .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Blueberry .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #90b3d2;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Blueberry-horizontal {
  width: 100%;
  height: 32px;
}
ul.Blueberry-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #b1c9dd;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-blueberry-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-blueberry-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-blueberry-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Blueberry .sf-sp-tr {
  background-position: 2px -169px;
}
.Blueberry .sf-sp-vwrapper,
.Blueberry .sf-sp-hwrapper {
  background-color: #f3f8fb;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Blueberry {
  border-color: #528ab9;
  color: black;
}
.Syncfusion-Grid-Blueberry .GridContent .Table {
  border-top-color: #bcd1e3;
  border-bottom-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .GridContent {
  background-color: white;
}
.Syncfusion-Grid-Blueberry .Gridtoolbar {
  border-top-color: #bcd1e3 !important;
}
.Syncfusion-Grid-Blueberry .GroupDropArea {
  background-color: #dae4ef;
  border-color: #cedeea;
}
.Syncfusion-Grid-Blueberry.cloneProperties {
  color: black;
  background-color: #dae4ef;
  border-color: #edf2f5;
}
.Syncfusion-Grid-Blueberry th.MasterHeaderLeftCell {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .CaptionRow {
  background-color: #e4ebf2;
}
.Syncfusion-Grid-Blueberry .HeaderCell,
.Syncfusion-Grid-Blueberry .GroupTopLeftCell,
.Syncfusion-Grid-Blueberry .TopLeftCell,
.Syncfusion-Grid-Blueberry .CaptionRow,
.Syncfusion-Grid-Blueberry .HeaderCellHover {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Core .sf-toolbar.Blueberry-horizontal {
  border-color: #bcd1e3;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Blueberry .sf-sp-tr {
  border-color: #bcd1e3;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Blueberry .PagerCaptionRow {
  border-top-color: #cedeea;
}
.Syncfusion-Grid-Blueberry .PagerGroupDropArea {
  border-top-color: #cedeea;
  background-color: #e4ebf2;
}
.Syncfusion-Grid-Blueberry .GroupCaption {
  background-color: #cddcf1;
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .HeaderCellHover,
.Syncfusion-Grid-Blueberry .GroupHeaderCell:hover {
  color: black;
}
.Syncfusion-Grid-Blueberry .GroupHeaderCell,
.Syncfusion-Grid-Blueberry .GroupHeaderCell:hover,
.Syncfusion-Grid-Blueberry .GrpHdrUnboundColumn {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .GroupHeaderCell {
  color: black;
  border-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .SelectedHeaderCell {
  border-color: #bcd1e3;
  color: black;
}
.Syncfusion-Grid-Blueberry .RowHeader {
  border-color: #bcd1e3;
  background-color: #f3f8fb;
}
.Syncfusion-Grid-Blueberry .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Blueberry .UnboundCell {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .SelectedRowHeaderCell,
Syncfusion-Grid-Blueberry .UnboundButton {
  border-color: #bcd1e3;
  background-color: #f3f8fb;
}
.Syncfusion-Grid-Blueberry .RowCell,
.Syncfusion-Grid-Blueberry .EmptyCell,
.Syncfusion-Grid-Blueberry tr[class*=ChildRow] > .ChildGrid {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .Alt_Row {
  background-color: #f2f7f9;
}
.Syncfusion-Grid-Blueberry .IndentCell {
  border-color: #bcd1e3;
  background-color: #cddcf1;
}
.Syncfusion-Grid-Blueberry .Summary {
  color: #464749;
  background-color: #b8c8db;
  border-color: #8899ad;
}
.Syncfusion-Grid-Blueberry .GridSummary {
  border: 1px none #8899ad;
}
.Syncfusion-Grid-Blueberry .RecordPlusCollapse,
.Syncfusion-Grid-Blueberry .RecordPlusExpand {
  background-color: #cddcf1;
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .MasterCellCollapse,
.Syncfusion-Grid-Blueberry .MasterCellExpand {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .RecordPlusExpand > div,
.Syncfusion-Grid-Blueberry .MasterCellExpand > div {
  background-color: #cddcf1;
}
.Syncfusion-Grid-Blueberry .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Blueberry .reSizeColbg {
  background-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .SelectedColumn {
  background-color: #a2c4dd;
  color: black;
}
.Syncfusion-Grid-Blueberry .SelectionBackground {
  background-color: #4475a1;
  color: white;
}
.Syncfusion-Grid-Blueberry .CurrentCell {
  background-color: #637c91;
  color: white;
}
.Syncfusion-Grid-Blueberry .GridPager {
  background-color: #cfdfea;
  border-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .GridPager,
.Syncfusion-Grid-Blueberry .GridPager .NumericItem,
.Syncfusion-Grid-Blueberry .Spacing,
.Syncfusion-Grid-Blueberry .CaptionRow,
.Syncfusion-Grid-Blueberry .GroupDropArea {
  color: black;
}
.Syncfusion-Grid-Blueberry .NumericItem-hover {
  background-color: #b1c9dd;
  color: black;
}
ul.Blueberry ul li a span.arrows,
ul.Blueberry-context span.arrows,
ul.Blueberry-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Blueberry .PrevPageDisabled,
.Syncfusion-Grid-Blueberry .PrevPage,
.Syncfusion-Grid-Blueberry .NextPage,
.Syncfusion-Grid-Blueberry .NextPageDisabled,
.Syncfusion-Grid-Blueberry .Descending,
.Syncfusion-Grid-Blueberry .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.Blueberry_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Blueberry .RecordPlusCollapse > div,
.Syncfusion-Grid-Blueberry .MasterCellCollapse > div,
.Syncfusion-Grid-Blueberry .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Blueberry .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Blueberry .HeaderCellHover,
.sf-grid-blueberry-menu .button-wrapper,
.sf-grid-blueberry-menu .button-wrapper:hover,
.Syncfusion-Grid-Blueberry .FilterCellHover,
.Syncfusion-Grid-Blueberry .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>) repeat-x scroll center bottom #c0d9e7;
}
.sf-grid-blueberry-menu .sf-choiceList,
.sf-grid-blueberry-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-Blueberry .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Blueberry .AddNewItem,
.Syncfusion-Grid-Blueberry .EditItem,
.Syncfusion-Grid-Blueberry .ExcelItem,
.Syncfusion-Grid-Blueberry .WordItem,
.Syncfusion-Grid-Blueberry .PdfItem,
.Syncfusion-Grid-Blueberry .DeleteItem,
.Syncfusion-Grid-Blueberry .SaveItem,
.Syncfusion-Grid-Blueberry .Cancel,
.Syncfusion-Grid-Blueberry .FirstPage,
.Syncfusion-Grid-Blueberry .LastPage,
.Syncfusion-Grid-Blueberry .FirstPageDisabled,
.Syncfusion-Grid-Blueberry .LastPageDisabled,
.Syncfusion-Grid-Blueberry .GridPager .RefreshPager,
.Syncfusion-Grid-Blueberry .Search,
.Syncfusion-Grid-Blueberry .FilterIcon,
.Syncfusion-Grid-Blueberry .FilterIconTick,
.sf-grid-blueberry-menu .ClearFilterSideImg,
.sf-grid-blueberry-menu .searchButton,
.sf-grid-blueberry-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.Blueberry_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.Blueberry_sprite.png%>);
}
.Syncfusion-Grid-Blueberry .sliderContainer .ui-slider,
.Syncfusion-Grid-Blueberry .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Blueberry .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Blueberry .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.Blueberry_sprite.png%>) !important;
}
.Syncfusion-Grid-Blueberry .HeaderCell,
.Syncfusion-Grid-Blueberry .grid-icon,
.Syncfusion-Grid-Blueberry .GroupTopLeftCell,
.Syncfusion-Grid-Blueberry .TopRightCell,
.Syncfusion-Grid-Blueberry th.MasterHeaderLeftCell,
.Syncfusion-Grid-Blueberry .TopLeftCell,
.Syncfusion-Grid-Blueberry.cloneProperties,
.Syncfusion-Grid-Blueberry .ExternalForm-Header,
.Syncfusion-Grid-Blueberry .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.header-bg.png%>) repeat-x scroll center bottom #d7e0e7;
}
.Syncfusion-Grid-Blueberry .GridHeader {
  background-color: #d7e0e7;
  color: black;
}
.Syncfusion-Grid-Blueberry .ef-headerText {
  color: black;
}
.Syncfusion-Grid-Blueberry .Hdr-widthSettings {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .CurrentItem,
.Syncfusion-Grid-Blueberry .CurrentItem:hover {
  border-color: #edf2f5;
  background-color: #90b3d2;
  color: white !important;
}
.Syncfusion-Grid-Blueberry .ToolbarItems {
  color: black;
}
.Syncfusion-Grid-Blueberry .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Blueberry .StringFilter,
.Syncfusion-Grid-Blueberry .DateFilter,
.Syncfusion-Grid-Blueberry .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Blueberry .EditForm {
  background-color: #90b3d2;
}
.Syncfusion-Grid-Blueberry .RecordCaption {
  color: white;
}
.Syncfusion-Grid-Blueberry .EditForm legend {
  color: white;
}
.Syncfusion-Grid-Blueberry .EditCell .field-validation-error,
.Syncfusion-Grid-Blueberry .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Blueberry .EditCell {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .EditForm fieldset {
  border-color: #ebd7d6;
}
.Syncfusion-Grid-Blueberry .Gridtoolbar .customToolItem {
  color: #be5a5c;
}
.reSizeColbg {
  background-color: #528ab9;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #dae4ff;
  border-color: #528ab9 !important;
}
.Syncfusion-Grid-Blueberry.DragElementtext {
  background-color: #637c91;
  color: white;
  border-color: #528ab9 !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Blueberry .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-blueberry-menu .sf-choiceList,
.sf-grid-blueberry-menu .Search-Choice-wrapper,
.sf-grid-blueberry-menu .button-wrapper,
.sf-grid-blueberry-menu .button-wrapper:hover {
  border-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Blueberry .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Blueberry .sfInputText {
  color: black;
}
.Syncfusion-Grid-Blueberry .Table td.FrozenX,
.Syncfusion-Grid-Blueberry .Table th.FrozenX {
  border-right-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .Table td.FrozenY {
  border-top-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .sfBlueberry .ui-state-default,
.Syncfusion-Grid-Blueberry .sfBlueberry .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Blueberry .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Blueberry .RecordPlusExpand > div,
.Syncfusion-Grid-Blueberry .MasterCellExpand > div,
.Syncfusion-Grid-Blueberry-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Blueberry .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.active-bg.png%>) repeat-x scroll center bottom #9bc2de;
}
.Syncfusion-Grid-Blueberry-Tooltip .tooltipTopDiv {
  background-color: #90b3d2;
  color: white;
}
.Syncfusion-Grid-Blueberry .NextPage:Hover,
.Syncfusion-Grid-Blueberry .LastPage:Hover,
.Syncfusion-Grid-Blueberry .FirstPage:Hover,
.Syncfusion-Grid-Blueberry .PrevPage:Hover,
.Syncfusion-Grid-Blueberry .GridPager .RefreshPager:Hover {
  background-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .FilterBarCell,
.Syncfusion-Grid-Blueberry .FilterBarCellDisabled {
  border-color: #bcd1e3;
  background-color: #f3f8fb;
  background-image: none;
}
.Syncfusion-Grid-Blueberry .FilterBarCell input {
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Blueberry .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #f2f7f9;
  border-color: #bcd1e3;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: black;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blueberry.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Blueberry .EnableRowHover tbody > tr:hover {
  background-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #bcd1e3;
  background-color: #f3f8fb;
}
.Syncfusion-Grid-Blueberry .ExternalEdit {
  background-color: #f3f8fb;
  border-color: #528ab9;
}
.Syncfusion-Grid-Blueberry .bg-clear,
.Syncfusion-Grid-Blueberry .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Blueberry .MasterCellCollapse,
.Syncfusion-Grid-Blueberry .MasterCellExpand,
.Syncfusion-Grid-Blueberry td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #bcd1e3;
}
.Syncfusion-Grid-Blueberry .ef-wrapper {
  border-color: #cedeea;
  background-color: #e4ebf2;
}
