/*============== Blueberry ===================*/
.SF_Blueberry {
  overflow: auto;
  display: inline-block;
}
.SF_Blueberry table {
  font: 11px/19px Verdana;
  border-collapse: collapse;
  background-color: #f2f7f9;
  cursor: default;
}
.SF_Blueberry th,
.SF_Blueberry td {
  padding: 0 2px 0 3px;
  border: solid 1px;
  border-color: #bcd1e3;
  white-space: nowrap;
}
.SF_Blueberry .Value {
  background-color: White;
  text-align: right !important;
}
.SF_Blueberry .Summary {
  background-color: #f2f7f9;
  white-space: nowrap;
  text-align: left;
}
.SF_Blueberry .ColHeader,
.SF_Blueberry .RowHeader {
  background-color: #d0d9e1;
  background-repeat: repeat;
  padding: 0px 3px;
  text-align: left;
}
.SF_Blueberry .RowHeader {
  vertical-align: top;
}
.SF_Blueberry .Expand {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton.png%>);
  background-repeat: no-repeat;
  background-position: 5px 0px;
  width: 19px;
  display: inline-block;
  cursor: pointer;
}
.SF_Blueberry .Expand:hover {
  background-position: 5px -50px;
}
.SF_Blueberry .Collapse {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.gridbutton.png%>);
  background-repeat: no-repeat;
  background-position: 5px -25px;
  width: 19px;
  display: inline-block;
  cursor: pointer;
}
.SF_Blueberry .Collapse:hover {
  background-position: 5px -75px;
}
.SF_Blueberry .ExpandableTextElement {
  text-align: left;
  white-space: nowrap;
}
.SF_Blueberry .ToolTip {
  position: absolute;
  padding: 10px;
  border: 0px;
  margin: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
.SF_Blueberry .ValueCellToolTip {
  background-color: #fcfdfe;
  background: -moz-linear-gradient(top, #fcfdfe 0%, #e5e6f1 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfdfe), color-stop(100%, #e5e6f1));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FCFDFE', endColorStr='#E5E6F1', GradientType=0) !important;
  /* ie */
  border: solid 1px #767676;
  display: none;
  white-space: nowrap;
  padding: 2px 5px;
  position: absolute;
  font: 11px/19px Verdana;
  color: #575757;
}
.SF_Blueberry .ValueCellToolTip .ValueCellTipCaption {
  font-weight: bold;
}
.SF_Blueberry .KpiIconValue {
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.SF_Blueberry .KpiUpArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.UpArrow.png%>);
}
.SF_Blueberry .KpiRightArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.RightArrow.png%>);
}
.SF_Blueberry .KpiDownArrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.DownArrow.png%>);
}
.SF_Blueberry .KpiDiamond {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Diamond.png%>);
}
.SF_Blueberry .KpiTriangle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Triangle.png%>);
}
.SF_Blueberry .KpiCircle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Circle.png%>);
}
.SF_Blueberry .KpiRedRoad {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Red.png%>);
}
.SF_Blueberry .KpiGreenRoad {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Green.png%>);
}
.SF_Blueberry .KpiAllColor {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.KPI.Yellow.png%>);
}
