<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADServerInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ADServerInfo.Properties.Settings>
            <setting name="ServiceArguments" serializeAs="String">
                <value>"-conn={0}" "-StringConn={1}" "-UserConn={2}" "-SrvrConfigId={3}"</value>
            </setting>
            <setting name="DefaultServerExe" serializeAs="String">
                <value>ADispatcherServer.exe</value>
            </setting>
            <setting name="DefaultServerConfig" serializeAs="String">
                <value>ADServer.ADUAServer.config.xml</value>
            </setting>
            <setting name="SysTrayApp" serializeAs="String">
                <value>ADispatcherSysTray.exe</value>
            </setting>
        </ADServerInfo.Properties.Settings>
    </applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
