@border-color: #6F7074;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #E5E9EE;
@row-cell-border-color : #C5C7C7;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #000000;
@group-droparea-bg-color: #D8dde7;
@group-droparea-border-color: #9C9AB7;
@clone-bg-color: #D8dde7;
@clone-border-color: #C5C7C7;
@top-right-border-color: #C5C7C7;
@caption-row-border-color: #9c9ab7;
@caption-row-bg-color: #E2E2EC;
@group-caption-drop-row-font-color:#000000;
@pager-caption-row-border-color: #C5C7C7;
@pager-groupdrop-border-color: #C5C7C7;
@pager-groupdrop-bg-color: #E2E2EC;
@group-indent-expand-collapse-bg-color: #E2E2EC;
@group-indent-expand-collapse-border-color: #C5C7C7;
@hover-header-border-color: #C5C7C7;
@hover-group-header-border-color: #9C9AB7;
@selected-header-border-color: #C5C7C7;
@selected-header-bg-color: #FFECB6;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #F0F1F2;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #C5C7C7;
@selected-row-header-bg-color: #F0F1F2;
@alt-row-bg-color: #F9F9F9;
@summary-font-color: #464749;
@summary-bg-color: #FCF9E8;
@summary-border-color: #C5C7C7;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: ThreeDDarkShadow;
@selected-column-bg-color: #FFECB6;
@selection-bg-color: #FFBD69;
@currentcell-bg-color: #F68B3C;
@currentcell-font-color: #000000;
@gridpager-bg-color: #d9d9e0;
@gridpager-border-color: #9C9AB7;
@numericitem-font-color: #230F20;
@numeric-hover-bg-color: #ffe59b;
@spacing-color: #000000;
@currentitem-border-color: #FFF8ED;
@currentitem-bg-color: Orange;
@currentitem-font-color: #000000;
@edit-caption-font-color: #000000;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #E2E2EC;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #EBD7D6;
@custom-font-color: #000000;
@resizecol-bg-color: #6F7074;
@helper-bg-color: #F0F3F8;
@helper-border-color: #C7CBD1;
@dragelement-bg-color: #F89643;
@dragelement-font-color: #000000;
@dragelement-border-color: #C7CBD1;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #F68B3C;
@choice-wrapper-border-color: #CCD6E5;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #6F7074;
@tooltip-bg-color: #3c3c3c;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #ffe59b;
@filter-cell-bg-color: #F0F1F2;
@filter-input-border-color: #C5C7C7; 
@filter-status-bg-color: #F9F9F9;
@filter-status-border-color: #C5C7C7; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #FBE292;
@skin: ~"Office2007Silver";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-office2007silver-menu";