
@base-background-color: #EEEEEE;
@base-border: 1px solid #6f7074;
@base-Header: #D3DFF2;
@BusinessHr-color: White;
@Workcell-color: #E8EAEC;
@Workcell-select: #4C535C;
@Workcell-Hover: #d2d5da;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #DBDBDB;
@appointment-color:#989898;
@ViewStrip-color:#EEEEEE;
@highlighAppDate: #3C3C3C;
@highlightSelectedDate: #C7C7C7;
@color:Black;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #F2B242 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Office2007Silver.Images.silver.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #3c3c3c;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #EEEEEE;
@ViewStrip-text-color:Black;
@Dialog-text-color:#000000;