<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DriverCodeBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DriverCodeBase.Properties.Settings>
            <setting name="DefaultDrvFileExt" serializeAs="String">
                <value>.drvSettings</value>
            </setting>
            <setting name="DefaultDynFileExt" serializeAs="String">
                <value>.dynJobs</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Drivers</value>
            </setting>
            <setting name="DefaultExchFileExt" serializeAs="String">
                <value>.changeSettings</value>
            </setting>
            <setting name="RefreshDiagnosticIntervall" serializeAs="String">
                <value>1000</value>
            </setting>
        </DriverCodeBase.Properties.Settings>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
