<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebHMIDesignHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebHMIDesignHelper.Properties.Settings>
            <setting name="VisibleHMICategoriesFileName" serializeAs="String">
                <value>VisibleHMIControls</value>
            </setting>
            <setting name="VisibleHMIDocumentManagerFileName" serializeAs="String">
                <value>VisibleHMIDocumentManagers</value>
            </setting>
            <setting name="VisibleHMICommandFileName" serializeAs="String">
                <value>VisibleHMICommands</value>
            </setting>
            <setting name="VisibleHMIAnimationFileName" serializeAs="String">
                <value>VisibleHMIAnimations</value>
            </setting>
        </WebHMIDesignHelper.Properties.Settings>
    </userSettings>
</configuration>