.sfDashboardViewer
{
    width:100%;
}

.sfDashboardViewerHeight
{
    height:100%;
}

.sfDashboardViewerHeaderText 
{
    width: inherit;
    text-align: center;
    height: 26px;
}
.sfDashboardView_container
{
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;  
    border-bottom:1px solid;
}

.toolbar_container
{   
    height:30px;   
    background-color:#EAEAEA;    
}

.scrollcontainer
{
    position:relative;
    width:100%;
    overflow:auto;
    background-color: white;   
    text-align:left;
}

.sfDashboardpageview
{
    position:absolute;
    background-color: white;
}

.sfDashboardLoading
{
    height:100%;
    display:none;
    position:absolute;
    background-color: white;
}

.sfDashboardpagebody
{
    position:absolute;
    background-color: #FFFFFF;
}

.sfDashboardpageheader
{
    position:absolute;
    background-color: #FFFFFF;
}

.sfDashboardpagefooter
{    
    position:absolute;
    background-color: #FFFFFF;
}

/* toolbar items css   */
.toolbarul
{
    margin:5px 0 0 10px;
    padding:0;
}
.toolbarli, .toolbarUploadBox 
{
    float:left;
    height:16px;
    list-style-type:none;
}
.toolbarli { border-right: 1px solid #A1A1A1 !important; }
.tbdiv
{
    background:url(<%Syncfusion.Theme.Base.Themes.Images.DashboardViewerIcons.png%>);
    width: 20px;
    height: 20px; 
    border:1px solid transparent;       
}
.tbdiv:hover
{
    background-color:Silver;
    border:1px solid gray;
}

.tbdiv.Print
{    
    background-position: 0 -737px; width: 16px; height: 16px;
    margin:0 10px 2px; 
}


.tbdiv.zoomin
{  
    background-position: 0 -879px; width: 16px; height: 16px;
    float:left;
    margin:0 6px 2px;
}
.tbdiv.zoomout
{   
    background-position: 0 -945px; width: 16px; height: 16px; 
    float:left;
    margin:0 6px 2px;
}

.tbdiv.zoomlist
{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid silver;    
    margin: 0px 6px 2px;
    width: 60px;    
    height:19px;
    font-family:Arial !important;    
}
/*.msgbar
{
    font-size:14px;
    font-family:Arial;  
    font-style:normal;  
}*/
 

/*.LoadAVReport {
    background-position: center -545px !important;
    background-image: url(<%Syncfusion.Theme.Base.Themes.Images.ToolBarImage.png%>) !important;
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-right: 8px;
	cursor: default;
    height: 13px;
    width: 11px;
}*/
.sf-uploadbox .selectionpart {
    margin-left: 16px !important;
    margin-top: -3px !important;
}
.sf-uploadbox.Metro .inputbutton {
    background-color: #EAEAEA !important;
    border: 1px solid #A1A1A1 !important;
    color: black !important;
}