<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JavaScriptEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JavaScriptEditor.Properties.Settings>
            <setting name="SecretKey" serializeAs="String">
                <value>{a67e0d79-2f96-7bb4-240c-9b9b05072dd2}</value>
            </setting>
            <setting name="ReferencesKey" serializeAs="String">
                <value>'#Language "WWB.NET"'</value>
            </setting>
        </JavaScriptEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
