<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSServerCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MSServerCMS.Properties.Settings>
            <setting name="HttpPortNumber" serializeAs="String">
                <value>60535</value>
            </setting>
            <setting name="ServiceArguments" serializeAs="String">
                <value>"-conn={0}" "-StringConn={1}" "-UserConn={2}"</value>
            </setting>
        </MSServerCMS.Properties.Settings>
    </applicationSettings>
</configuration>