@border-color: #2B3B57;
@font-color: #000000;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@header-bg-color: #20304D;
@row-cell-border-color : #4A5E80;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #3C4F70;
@group-droparea-bg-color: #b6bdce;
@group-droparea-border-color: #8f9aaa;
@clone-bg-color: #4A5E80;
@clone-border-color: #4A5E80;
@top-right-border-color: #4A5E80;
@caption-row-border-color: #bccd78;
@caption-row-bg-color: #C3CBDE;
@group-caption-drop-row-font-color: #3C4F70;
@pager-caption-row-border-color: #8F9AAA;
@pager-groupdrop-border-color: #8F9AAA;
@pager-groupdrop-bg-color: #C3CBDE;
@group-indent-expand-collapse-bg-color: #BCC7D8;
@group-indent-expand-collapse-border-color: #536788;
@hover-header-border-color: #525E75;
@hover-group-header-border-color: #4A5E80;
@selected-header-border-color: #4A5E80;
@selected-header-bg-color: #3B4F70;
@selected-header-color: #000000;
@row-header-bg-color: #B6BDCE;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #A1A5AD;
@selected-row-header-bg-color: #B6BDCE;
@selected-column-color:#C5D0E0;
@alt-row-bg-color: #F7F6F6;
@summary-font-color: #000000;
@summary-bg-color: #FFE8A6;
@summary-border-color: #6B7E9B;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #93A2BF;
@selection-bg-color: #3B4F70;
@currentcell-bg-color: #BCC7D8;
@currentcell-font-color: #3b4f70;
@gridpager-bg-color: #B3BBCC;
@gridpager-border-color: #4A5E80;
@numericitem-font-color: #3C4F70;
@numeric-hover-bg-color: #DCE1E8;
@spacing-color: #354F68;
@currentitem-border-color: #4A5E80;
@currentitem-bg-color: #425575;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #FFFFFF;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #FFFFFF;
@custom-font-color: #FFFFFF;
@resizecol-bg-color: #2B3B57;
@helper-bg-color: #C3CBDE;
@helper-border-color: #232457;
@dragelement-bg-color: #BCC7D8;
@dragelement-font-color: #000000;
@dragelement-border-color: #232457;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@selected-row-color: #FFFFFF;
@choice-wrapper-border-color: #2B3B57;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #142038;
@tooltip-bg-color: #6A8CA6;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #DCE1E8;
@filter-cell-bg-color: #B6BDCE;
@filter-input-border-color: #4A5E80; 
@filter-status-bg-color: #F7F6F6;
@filter-status-border-color: #4A5E80; 
@msg-font-color: #3B4F70;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #B6BDCE;
@skin: ~"VS2010";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-vs2010-menu";