
@base-background-color: #bbc7da;
@base-border: 1px solid #303a56;
@base-Header: #e7ebf2;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #e7ebf2;
@Workcell-select: #45597e;
@Workcell-Hover: #b0bdcf;
@Workcell-Header: #d0deef;
@WorkCellUp-Month: #D0DCF2;
@appointment-color:#6D7E9C;
@ViewStrip-color:#BBC7DA;
@highlighAppDate: Black;
@highlightSelectedDate: #7D8BA5;
@color:Black;
@base-font-family: segoe UI; @hover: #ffd86a ;
@active: #45597E ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.VS2010.Images.VS2010.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #6A8CA6;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #FAFAFA;
@ViewStrip-text-color:Black;
@Dialog-text-color:Black;
