*.orig
*.user
*.rej
*.suo
*.vs
*.cache
_ReSharper.*
*.bak
**.tmp_proj
**/.vs
**/.vshistory
**/obj
**/objinternal
**/bin
**/Bin
**/Packages
*_wpftmp.csproj
UpgradeLog*
msbuild.log
debug.log
**/ViewModelBase/FodyWeavers.xsd
**/helixtoolkit/Output/**
**/objInternal
**/helixtoolkit/Source/Examples/SurfaceDemo/Expressions
**/ElasticObject/Binaries/**
**/.td/OriginTheme/obj.Wpf/**
**/CodeSys/CoDeSysWrapper/x64/**
**/CodeSys/CoDeSysWrapper/Debug/**
**/CodeSysEx/CoDeSysWrapperEx/x64/**
**/CodeSysEx/CoDeSysWrapperEx/Debug/**
