<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExternalAuthentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExternalAuthentication.Properties.Settings>
            <setting name="AccessTokenValidIssuer" serializeAs="String">
                <value>https://sts.windows.net/1f713a6d-5c4d-46f3-a310-c3aa15c20887/</value>
            </setting>
            <setting name="AppKeysBaseEndpoint" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/discovery/keys</value>
            </setting>
            <setting name="Authority" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/v2.0/.well-known/openid-configuration</value>
            </setting>
            <setting name="AuthorizeEndpoint" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/oauth2/v2.0/authorize</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>93ce4ab0-7f6b-464f-9651-09283711ab6c</value>
            </setting>
            <setting name="EndInfoEndpoint" serializeAs="String">
                <value>https://graph.microsoft.com/oidc/userinfo</value>
            </setting>
            <setting name="ExternalIdentityProviderActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogoutEndpoint" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/oauth2/v2.0/logout</value>
            </setting>
            <setting name="Nonce" serializeAs="String">
                <value>xyz</value>
            </setting>
            <setting name="RedirectUriNativeClient" serializeAs="String">
                <value>https://login.microsoftonline.com/common/oauth2/nativeclient</value>
            </setting>
            <setting name="ResponseType" serializeAs="String">
                <value>id_token</value>
            </setting>
            <setting name="ReturnUrlAfterLogin" serializeAs="String">
                <value>https://localhost:44378/Home/ExternalLogin/</value>
            </setting>
            <setting name="ReturnUrlAfterLogout" serializeAs="String">
                <value>https://localhost:44378/Home/ExternalLogout/</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>openid</value>
            </setting>
            <setting name="TenantId" serializeAs="String">
                <value>1f713a6d-5c4d-46f3-a310-c3aa15c20887</value>
            </setting>
            <setting name="TokenEndpoint" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/oauth2/v2.0/token</value>
            </setting>
            <setting name="UserInfoEndpoint" serializeAs="String">
                <value>https://graph.microsoft.com/oidc/userinfo</value>
            </setting>
            <setting name="ValidIssuer" serializeAs="String">
                <value>https://login.microsoftonline.com/1f713a6d-5c4d-46f3-a310-c3aa15c20887/v2.0</value>
            </setting>
        </ExternalAuthentication.Properties.Settings>
    </userSettings>
</configuration>