<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UriResolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UriResolver.Properties.Settings>
            <setting name="SupportedTypeFilter" serializeAs="String">
                <value>Project Files (*.UFProject)|*.UFProject|All Files (*.*)|*.*</value>
            </setting>
            <setting name="xaml" serializeAs="String">
                <value>ScreenManager</value>
            </setting>
            <setting name="DocumentManagersPath" serializeAs="String">
                <value>DocumentManagers</value>
            </setting>
            <setting name="script" serializeAs="String">
                <value>ScriptManager</value>
            </setting>
            <setting name="UFProject" serializeAs="String">
                <value>UFProjectManager</value>
            </setting>
            <setting name="report" serializeAs="String">
                <value>ReportManager</value>
            </setting>
        </UriResolver.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
