.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Vista .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Vista .ef-toggle:hover {
  background-color: #5397bc;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Vista .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #97bcc9;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Vista-horizontal {
  width: 100%;
  height: 32px;
}
ul.Vista-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #5397bc;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-vista-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-vista-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-vista-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Vista .sf-sp-tr {
  background-position: 2px -169px;
}
.Vista .sf-sp-vwrapper,
.Vista .sf-sp-hwrapper {
  background-color: #c7e9e9;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Vista {
  border-color: #0f5475;
  color: black;
}
.Syncfusion-Grid-Vista .GridContent .Table {
  border-top-color: #b0bfde;
  border-bottom-color: #b0bfde;
}
.Syncfusion-Grid-Vista .GridContent {
  background-color: white;
}
.Syncfusion-Grid-Vista .Gridtoolbar {
  border-top-color: #b0bfde !important;
}
.Syncfusion-Grid-Vista .GroupDropArea {
  background-color: #709fbf;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista.cloneProperties {
  color: white;
  background-color: #709fbf;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista th.MasterHeaderLeftCell {
  border-color: #b1c6d7;
}
.Syncfusion-Grid-Vista .CaptionRow {
  background-color: #99c0d6;
}
.Syncfusion-Grid-Vista .HeaderCell,
.Syncfusion-Grid-Vista .GroupTopLeftCell,
.Syncfusion-Grid-Vista .TopLeftCell,
.Syncfusion-Grid-Vista .CaptionRow,
.Syncfusion-Grid-Vista .HeaderCellHover {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Core .sf-toolbar.Vista-horizontal {
  border-color: #b0bfde;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Vista .sf-sp-tr {
  border-color: #b0bfde;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Vista .PagerCaptionRow {
  border-top-color: #b0bfde;
}
.Syncfusion-Grid-Vista .PagerGroupDropArea {
  border-top-color: #b0bfde;
  background-color: #709fbf;
}
.Syncfusion-Grid-Vista .GroupCaption {
  background-color: #d7ecf7;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .HeaderCellHover,
.Syncfusion-Grid-Vista .GroupHeaderCell:hover {
  color: white;
}
.Syncfusion-Grid-Vista .GroupHeaderCell,
.Syncfusion-Grid-Vista .GroupHeaderCell:hover,
.Syncfusion-Grid-Vista .GrpHdrUnboundColumn {
  border-color: #8bd0f3;
}
.Syncfusion-Grid-Vista .GroupHeaderCell {
  color: white;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .SelectedHeaderCell {
  border-color: #b0bfde;
  color: white;
}
.Syncfusion-Grid-Vista .RowHeader {
  border-color: #b0bfde;
  background-color: #c7e9e9;
}
.Syncfusion-Grid-Vista .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Vista .UnboundCell {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .SelectedRowHeaderCell,
Syncfusion-Grid-Vista .UnboundButton {
  border-color: #b0bfde;
  background-color: #c7e9e9;
}
.Syncfusion-Grid-Vista .RowCell,
.Syncfusion-Grid-Vista .EmptyCell,
.Syncfusion-Grid-Vista tr[class*=ChildRow] > .ChildGrid {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .Alt_Row {
  background-color: #f9f9f9;
}
.Syncfusion-Grid-Vista .IndentCell {
  border-color: #b0bfde;
  background-color: #d7ecf7;
}
.Syncfusion-Grid-Vista .Summary {
  color: white;
  background-color: #7daad7;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .GridSummary {
  border: 1px none #b0bfde;
}
.Syncfusion-Grid-Vista .RecordPlusCollapse,
.Syncfusion-Grid-Vista .RecordPlusExpand {
  background-color: #d7ecf7;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .MasterCellCollapse,
.Syncfusion-Grid-Vista .MasterCellExpand {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .RecordPlusExpand > div,
.Syncfusion-Grid-Vista .MasterCellExpand > div {
  background-color: #d7ecf7;
}
.Syncfusion-Grid-Vista .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Vista .reSizeColbg {
  background-color: #a7bac5;
}
.Syncfusion-Grid-Vista .SelectedColumn {
  background-color: #bdd9e5;
  color: black;
}
.Syncfusion-Grid-Vista .SelectionBackground {
  background-color: #c1e5f9;
  color: black;
}
.Syncfusion-Grid-Vista .CurrentCell {
  background-color: #add1ff;
  color: black;
}
.Syncfusion-Grid-Vista .GridPager {
  background-color: #306d90;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .GridPager,
.Syncfusion-Grid-Vista .GridPager .NumericItem,
.Syncfusion-Grid-Vista .Spacing,
.Syncfusion-Grid-Vista .CaptionRow,
.Syncfusion-Grid-Vista .GroupDropArea {
  color: white;
}
.Syncfusion-Grid-Vista .NumericItem-hover {
  background-color: #5397bc;
  color: white;
}
ul.Vista ul li a span.arrows,
ul.Vista-context span.arrows,
ul.Vista-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Vista .PrevPageDisabled,
.Syncfusion-Grid-Vista .PrevPage,
.Syncfusion-Grid-Vista .NextPage,
.Syncfusion-Grid-Vista .NextPageDisabled,
.Syncfusion-Grid-Vista .Descending,
.Syncfusion-Grid-Vista .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.Vista_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Vista .RecordPlusCollapse > div,
.Syncfusion-Grid-Vista .MasterCellCollapse > div,
.Syncfusion-Grid-Vista .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Vista .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Vista .HeaderCellHover,
.sf-grid-vista-menu .button-wrapper,
.sf-grid-vista-menu .button-wrapper:hover,
.Syncfusion-Grid-Vista .FilterCellHover,
.Syncfusion-Grid-Vista .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.hover-bg.png%>) repeat-x scroll center bottom #aee6ec;
}
.sf-grid-vista-menu .sf-choiceList,
.sf-grid-vista-menu .Disable_MenuItem a:hover {
  color: black !important;
}
.Syncfusion-Grid-Vista .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Vista .AddNewItem,
.Syncfusion-Grid-Vista .EditItem,
.Syncfusion-Grid-Vista .ExcelItem,
.Syncfusion-Grid-Vista .WordItem,
.Syncfusion-Grid-Vista .PdfItem,
.Syncfusion-Grid-Vista .DeleteItem,
.Syncfusion-Grid-Vista .SaveItem,
.Syncfusion-Grid-Vista .Cancel,
.Syncfusion-Grid-Vista .FirstPage,
.Syncfusion-Grid-Vista .LastPage,
.Syncfusion-Grid-Vista .FirstPageDisabled,
.Syncfusion-Grid-Vista .LastPageDisabled,
.Syncfusion-Grid-Vista .GridPager .RefreshPager,
.Syncfusion-Grid-Vista .Search,
.Syncfusion-Grid-Vista .FilterIcon,
.Syncfusion-Grid-Vista .FilterIconTick,
.sf-grid-vista-menu .ClearFilterSideImg,
.sf-grid-vista-menu .searchButton,
.sf-grid-vista-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.Vista_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.Vista_sprite.png%>);
}
.Syncfusion-Grid-Vista .sliderContainer .ui-slider,
.Syncfusion-Grid-Vista .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Vista .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Vista .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.Vista_sprite.png%>) !important;
}
.Syncfusion-Grid-Vista .HeaderCell,
.Syncfusion-Grid-Vista .grid-icon,
.Syncfusion-Grid-Vista .GroupTopLeftCell,
.Syncfusion-Grid-Vista .TopRightCell,
.Syncfusion-Grid-Vista th.MasterHeaderLeftCell,
.Syncfusion-Grid-Vista .TopLeftCell,
.Syncfusion-Grid-Vista.cloneProperties,
.Syncfusion-Grid-Vista .ExternalForm-Header,
.Syncfusion-Grid-Vista .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.header-bg.png%>) repeat-x scroll center bottom #306d90;
}
.Syncfusion-Grid-Vista .GridHeader {
  background-color: #306d90;
  color: white;
}
.Syncfusion-Grid-Vista .ef-headerText {
  color: white;
}
.Syncfusion-Grid-Vista .Hdr-widthSettings {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .CurrentItem,
.Syncfusion-Grid-Vista .CurrentItem:hover {
  border-color: #e4f5fd;
  background-color: #e4f5fd;
  color: #17488a !important;
}
.Syncfusion-Grid-Vista .ToolbarItems {
  color: white;
}
.Syncfusion-Grid-Vista .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Vista .StringFilter,
.Syncfusion-Grid-Vista .DateFilter,
.Syncfusion-Grid-Vista .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Vista .EditForm {
  background-color: #97bcc9;
}
.Syncfusion-Grid-Vista .RecordCaption {
  color: black;
}
.Syncfusion-Grid-Vista .EditForm legend {
  color: black;
}
.Syncfusion-Grid-Vista .EditCell .field-validation-error,
.Syncfusion-Grid-Vista .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Vista .EditCell {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .EditForm fieldset {
  border-color: #989898;
}
.Syncfusion-Grid-Vista .Gridtoolbar .customToolItem {
  color: black;
}
.reSizeColbg {
  background-color: #a7bac5;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #b0bfde;
  border-color: #bdd4eb !important;
}
.Syncfusion-Grid-Vista.DragElementtext {
  background-color: #add1ff;
  color: black;
  border-color: #bdd4eb !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Vista .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-vista-menu .sf-choiceList,
.sf-grid-vista-menu .Search-Choice-wrapper,
.sf-grid-vista-menu .button-wrapper,
.sf-grid-vista-menu .button-wrapper:hover {
  border-color: #5a7a93;
}
.Syncfusion-Grid-Vista .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Vista .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Vista .sfInputText {
  color: black;
}
.Syncfusion-Grid-Vista .Table td.FrozenX,
.Syncfusion-Grid-Vista .Table th.FrozenX {
  border-right-color: #053d69;
}
.Syncfusion-Grid-Vista .Table td.FrozenY {
  border-top-color: #053d69;
}
.Syncfusion-Grid-Vista .sfVista .ui-state-default,
.Syncfusion-Grid-Vista .sfVista .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Vista .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Vista .RecordPlusExpand > div,
.Syncfusion-Grid-Vista .MasterCellExpand > div,
.Syncfusion-Grid-Vista-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Vista .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.active-bg.png%>) repeat-x scroll center bottom #eff8fd;
}
.Syncfusion-Grid-Vista-Tooltip .tooltipTopDiv {
  background-color: #17488a;
  color: white;
}
.Syncfusion-Grid-Vista .NextPage:Hover,
.Syncfusion-Grid-Vista .LastPage:Hover,
.Syncfusion-Grid-Vista .FirstPage:Hover,
.Syncfusion-Grid-Vista .PrevPage:Hover,
.Syncfusion-Grid-Vista .GridPager .RefreshPager:Hover {
  background-color: #5397bc;
}
.Syncfusion-Grid-Vista .FilterBarCell,
.Syncfusion-Grid-Vista .FilterBarCellDisabled {
  border-color: #b0bfde;
  background-color: #c7e9e9;
  background-image: none;
}
.Syncfusion-Grid-Vista .FilterBarCell input {
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Vista .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #e3eeff;
  border-color: #a7bac5;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: #356187;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Vista .EnableRowHover tbody > tr:hover {
  background-color: #e1f3fc;
}
.Syncfusion-Grid-Vista .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #b0bfde;
  background-color: #c7e9e9;
}
.Syncfusion-Grid-Vista .ExternalEdit {
  background-color: #c7e9e9;
  border-color: #0f5475;
}
.Syncfusion-Grid-Vista .bg-clear,
.Syncfusion-Grid-Vista .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Vista .MasterCellCollapse,
.Syncfusion-Grid-Vista .MasterCellExpand,
.Syncfusion-Grid-Vista td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #b0bfde;
}
.Syncfusion-Grid-Vista .ef-wrapper {
  border-color: #a7bac5;
  background-color: #99c0d6;
}
