.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Vista .contextcontainer .applicationmenu {
  color: white;
}
.sf-ribboncontainer.Vista .menucontainer .menuimage {
  border-right: #0f5475;
}
.sf-ribboncontainer.Vista .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Vista .contextcontainer .active.wrappertab:hover {
  border: 1px solid #5a7a93;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: white;
}
.sf-ribboncontainer.Vista .contextcontainer .wrappertab:hover {
  border: 1px solid #5a7a93;
}
.sf-ribboncontainer.Vista .menucontainer {
  background: none repeat scroll 0 0 #82c1ca;
  border: 1px solid #0f5475;
}
.sf-ribboncontainer.Vista .menucontainer ul {
  background: none repeat scroll 0 0 #82c1ca;
  border: 1px solid #0f5475;
}
.sf-ribboncontainer.Vista .pagecontainer {
  background: none repeat scroll 0 0 #82c1ca;
  border: 2px solid #0f5475;
  border-top: 2px solid #0f5475;
}
.sf-ribboncontainer.Vista .pagecontainer .menutext.active {
  background-color: #5393ac;
  border-bottom: 1px solid #5a7a93;
  border-top: 1px solid #5a7a93;
}
.sf-ribboncontainer.Vista .pagecontainer .menutext:hover {
  border-bottom: 1px solid #5a7a93;
  border-top: 1px solid #5a7a93;
}
.sf-ribboncontainer.Vista .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Vista .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Vista .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Vista .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Vista .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Vista .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Vista .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Vista .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Vista .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Vista .contextcontainer {
  background: #0a3d6b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0a3d6b 0%, #315d85 72%, #3b678c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a3d6b), color-stop(72%, #315d85), color-stop(100%, #3b678c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0a3d6b 0%, #315d85 72%, #3b678c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0a3d6b 0%, #315d85 72%, #3b678c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0a3d6b 0%, #315d85 72%, #3b678c 100%);
  /* IE10+ */
  background: linear-gradient(top, #0a3d6b 0%, #315d85 72%, #3b678c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3d6b', endColorstr='#3b678c', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Vista .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #073a69;
}
.sf-ribboncontainer.Vista .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #3b668b;
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .contextcontainer .tabcontextbar {
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #f7f7f7), color-stop(45%, #e9e9e8), color-stop(51%, #e3e3e2), color-stop(57%, #e0e0df), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(top, #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #003465;
  border-right: 1px solid #003465;
  border-top: 2px solid #003465;
  color: #aaaaaa;
}
.sf-ribboncontainer.Vista .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Vista .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #dfdfe1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfe1), color-stop(14%, #d5d9d9), color-stop(43%, #c3ced4), color-stop(57%, #bfcbd5), color-stop(62%, #bacbd2), color-stop(81%, #b6cbd6), color-stop(86%, #b5c6d4), color-stop(100%, #b2c5d2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%);
  /* IE10+ */
  background: linear-gradient(top, #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfe1', endColorstr='#b2c5d2', GradientType=0);
  /* IE6-9 */
  border: 1px solid #82c1ca;
}
.sf-ribboncontainer.Vista .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  border: 1px solid #82c1ca;
  background: #d1d8e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d8e8), color-stop(9%, #ced5e6), color-stop(32%, #d0d7e8), color-stop(36%, #d3daea), color-stop(50%, #e6eaf2), color-stop(68%, #f8f9fd), color-stop(82%, #fcfdff), color-stop(100%, #fafcff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* IE10+ */
  background: linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d8e8', endColorstr='#fafcff', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .groupcontainer {
  background: #073a69;
  /* Old browsers */
  background: -moz-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #073a69), color-stop(33%, #104270), color-stop(100%, #2b5881));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* IE10+ */
  background: linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#073a69', endColorstr='#2b5881', GradientType=0);
  /* IE6-9 */

  border: 1px solid #003465;
}
.sf-ribboncontainer.Vista .contentitems {
  background: #073a69;
  /* Old browsers */
  background: -moz-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #073a69), color-stop(33%, #104270), color-stop(100%, #2b5881));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* IE10+ */
  background: linear-gradient(top, #073a69 0%, #104270 33%, #2b5881 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#073a69', endColorstr='#2b5881', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .contextcontainer .applicationmenu {
  background: #b7deed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7deed), color-stop(24%, #71ceef), color-stop(58%, #21b4e2), color-stop(100%, #b7deed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .menucontainer .menuitem:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
.sf-ribboncontainer.Vista .pagecontainer .leftcontainer {
  background: #27567e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #27567e 0%, #0b3d6c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #27567e), color-stop(100%, #0b3d6c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #27567e 0%, #0b3d6c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #27567e 0%, #0b3d6c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #27567e 0%, #0b3d6c 100%);
  /* IE10+ */
  background: linear-gradient(left, #27567e 0%, #0b3d6c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27567e', endColorstr='#0b3d6c', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.Vista .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Vista .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Vista .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #aee6ec;
  color: black;
}
.sf-ribboncontainer.Vista .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #5393ac;
  color: white;
}
.sf-ribboncontainer.Vista .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Vista .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Vista {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Vista .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Vista.Images.sfGalleryView.png%>);
}
.sf-galleryview.Vista .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Vista .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Vista .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Vista .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Vista .slideup,
.sf-galleryview.Vista .slidedown,
.sf-galleryview.Vista .popup {
  position: relative;
}
.sf-galleryview.Vista .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Vista .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Vista .extracontainer ul,
.sf-galleryview.Vista .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Vista .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Vista .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Vista .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Vista .galleryrow {
  position: relative;
}
.sf-galleryview.Vista .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Vista .galleryitem:hover,
.sf-galleryview.Vista .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Vista .extracontainer .menuimage {
  border-right: 1px solid #0f5475;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Vista .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Vista .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Vista .gallerycontainer {
  background: none repeat scroll 0 0 #82c1ca;
  border: 1px solid #0f5475;
}
.sf-galleryview.Vista .subcontainer {
  background: none repeat scroll 0 0 #82c1ca;
  border: 1px solid #0f5475;
}
.sf-galleryview.Vista .extracontainer {
  border-top: 1px solid #0f5475;
  color: white;
}
.sf-galleryview.Vista .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Vista .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Vista .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Vista .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Vista .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Vista .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Vista .extraitems .image {
  border-right: 1px solid #0f5475;
  width: 20px;
}
.sf-galleryview.Vista .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Vista .galleryitem:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
.sf-galleryview.Vista .extracontainer ul li:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
