.sfribbon {
  background: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.sfRibbon.png%>);
}
.sf-ribboncontainer.Turquoise .contextcontainer .applicationmenu {
  color: #107274;
}
.sf-ribboncontainer.Turquoise .menucontainer .menuimage {
  border-right: #52b9bb;
}
.sf-ribboncontainer.Turquoise .contextcontainer .active.wrappertab,
.sf-ribboncontainer.Turquoise .contextcontainer .active.wrappertab:hover {
  border: 1px solid #c6f0f1;
  border-bottom: none;
}
.sf-ribboncontainer .groupcontainer .grouptitle,
.sf-ribboncontainer .contextcontainer .wrappertab .ribbontab,
.sf-ribboncontainer .menucontainer .menutext {
  color: #107274;
}
.sf-ribboncontainer.Turquoise .contextcontainer .wrappertab:hover {
  border: 1px solid #c6f0f1;
}
.sf-ribboncontainer.Turquoise .menucontainer {
  background: none repeat scroll 0 0 #b8e5ee;
  border: 1px solid #52b9bb;
}
.sf-ribboncontainer.Turquoise .menucontainer ul {
  background: none repeat scroll 0 0 #b8e5ee;
  border: 1px solid #52b9bb;
}
.sf-ribboncontainer.Turquoise .pagecontainer {
  background: none repeat scroll 0 0 #b8e5ee;
  border: 2px solid #52b9bb;
  border-top: 2px solid #52b9bb;
}
.sf-ribboncontainer.Turquoise .pagecontainer .menutext.active {
  background-color: #a4dfea;
  border-bottom: 1px solid #bbe3e2;
  border-top: 1px solid #bbe3e2;
}
.sf-ribboncontainer.Turquoise .pagecontainer .menutext:hover {
  border-bottom: 1px solid #159a9d;
  border-top: 1px solid #159a9d;
}
.sf-ribboncontainer.Turquoise .contextcontainer .helpcontainer {
  background-position: 0 -146px;
}
.sf-ribboncontainer.Turquoise .contextcontainer .helpcontainer:hover {
  background-position: 0 -53px;
}
.sf-ribboncontainer.Turquoise .contextcontainer .toggleup {
  background-position: 0 -168px;
}
.sf-ribboncontainer.Turquoise .contextcontainer .toggleup:hover {
  background-position: 0 -116px;
}
.sf-ribboncontainer.Turquoise .contextcontainer .toggledown {
  background-position: 0 -187px;
}
.sf-ribboncontainer.Turquoise .contextcontainer .toggledown:hover {
  background-position: 0 -84px;
}
.sf-ribboncontainer.Turquoise .groupcontainer .divider {
  background-position: -361px 0px;
  background-repeat: repeat-y;
}
.sf-ribboncontainer.Turquoise .groupcontainer .expander {
  background-position: 100% -4px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Turquoise .groupcontainer .expander:hover {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}
.sf-ribboncontainer.Turquoise .contextcontainer {
  background: #d8eceb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8eceb), color-stop(59%, #a3d5d7), color-stop(100%, #87cbcc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%);
  /* IE10+ */
  background: linear-gradient(top, #d8eceb 0%, #a3d5d7 59%, #87cbcc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8eceb', endColorstr='#87cbcc', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .contextcontainer .active.wrappertab .ribbontab,
.sf-ribboncontainer.Turquoise .contextcontainer .active.wrappertab .ribbontab:hover {
  background: #ebfdfc;
}
.sf-ribboncontainer.Turquoise .contextcontainer .wrappertab .ribbontab:hover {
  border: 1px solid #b2d5ce;
  background: #d7dbe4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7dbe4), color-stop(5%, #d5d9e2), color-stop(24%, #d4d6ea), color-stop(38%, #dfe1ef), color-stop(81%, #f3f4f9), color-stop(100%, #f5f6fb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%);
  /* IE10+ */
  background: linear-gradient(top, #d7dbe4 0%, #d5d9e2 5%, #d4d6ea 24%, #dfe1ef 38%, #f3f4f9 81%, #f5f6fb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7dbe4', endColorstr='#f5f6fb', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .contextcontainer .tabcontextbar {
  background: #ff630e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff630e), color-stop(4%, #ff630d), color-stop(6%, #c77050), color-stop(9%, #c57153), color-stop(11%, #c67151), color-stop(19%, #c57255), color-stop(21%, #c57558), color-stop(23%, #c57456), color-stop(26%, #c6755a), color-stop(30%, #c17155), color-stop(32%, #c67a5e), color-stop(36%, #c77d65), color-stop(43%, #cc826a), color-stop(47%, #ce8c78), color-stop(51%, #d1988c), color-stop(53%, #d19b91), color-stop(57%, #d5aba7), color-stop(64%, #d9b2ab), color-stop(70%, #e0beb9), color-stop(72%, #e3c3c3), color-stop(77%, #e5d6d8), color-stop(79%, #e8dbe1), color-stop(85%, #e3e2ea), color-stop(96%, #f0f1f6), color-stop(100%, #f1f1f4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%);
  /* IE10+ */
  background: linear-gradient(top, #ff630e 0%, #ff630d 4%, #c77050 6%, #c57153 9%, #c67151 11%, #c57255 19%, #c57558 21%, #c57456 23%, #c6755a 26%, #c17155 30%, #c67a5e 32%, #c77d65 36%, #cc826a 43%, #ce8c78 47%, #d1988c 51%, #d19b91 53%, #d5aba7 57%, #d9b2ab 64%, #e0beb9 70%, #e3c3c3 72%, #e5d6d8 77%, #e8dbe1 79%, #e3e2ea 85%, #f0f1f6 96%, #f1f1f4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff630e', endColorstr='#f1f1f4', GradientType=0);
  /* IE6-9 */
  border-left: 1px solid #ff630e;
  border-right: 1px solid #ff630e;
  border-top: 2px solid #ff630e;
  color: #aaaaaa;
}
.sf-ribboncontainer.Turquoise .contextcontainer .tabcontextbar .wrappertab.active .ribbontab,
.sf-ribboncontainer.Turquoise .contextcontainer .tabcontextbar .wrappertab.active .ribbontab:hover {
  background: #ffa572;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa572), color-stop(4%, #f19f73), color-stop(13%, #edb5a1), color-stop(17%, #eabeaf), color-stop(26%, #e5ccc7), color-stop(30%, #e8d5d3), color-stop(39%, #ebdee2), color-stop(43%, #eae3e7), color-stop(57%, #e8e7ef), color-stop(70%, #eeeff4), color-stop(78%, #eff0f5), color-stop(83%, #f3f4f9), color-stop(96%, #f6f7fc), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, white 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffa572 0%, #f19f73 4%, #edb5a1 13%, #eabeaf 17%, #e5ccc7 26%, #e8d5d3 30%, #ebdee2 39%, #eae3e7 43%, #e8e7ef 57%, #eeeff4 70%, #eff0f5 78%, #f3f4f9 83%, #f6f7fc 96%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa572', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  border: 1px solid #ebf6f7;
}
.sf-ribboncontainer.Turquoise .contextcontainer .tabcontextbar .wrappertab .ribbontab:hover {
  border: 1px solid #ebf6f7;
  background: #ffa572;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa572), color-stop(5%, #f19f73), color-stop(14%, #edb5a1), color-stop(18%, #eabeaf), color-stop(27%, #e5ccc7), color-stop(32%, #e8d5d3), color-stop(41%, #ebdee2), color-stop(45%, #eae3e7), color-stop(59%, #e8e7ef), color-stop(73%, #eeeff4), color-stop(82%, #eff0f5), color-stop(86%, #f3f4f9), color-stop(100%, #f6f7fc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffa572 0%, #f19f73 5%, #edb5a1 14%, #eabeaf 18%, #e5ccc7 27%, #e8d5d3 32%, #ebdee2 41%, #eae3e7 45%, #e8e7ef 59%, #eeeff4 73%, #eff0f5 82%, #f3f4f9 86%, #f6f7fc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa572', endColorstr='#f6f7fc', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .groupcontainer {
  background: #ecfdfc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecfdfc), color-stop(20%, #e1f8f6), color-stop(23%, #e1faf9), color-stop(38%, #def7f6), color-stop(38%, #dcfaf9), color-stop(45%, #d9f7f6), color-stop(61%, #d7f5f4), color-stop(62%, #d7f7f7), color-stop(100%, #d4f2f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* IE10+ */
  background: linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecfdfc', endColorstr='#d4f2f1', GradientType=0);
  /* IE6-9 */

  border: 1px solid #9bd2d4;
}
.sf-ribboncontainer.Turquoise .contentitems {
  background: #ecfdfc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecfdfc), color-stop(20%, #e1f8f6), color-stop(23%, #e1faf9), color-stop(38%, #def7f6), color-stop(38%, #dcfaf9), color-stop(45%, #d9f7f6), color-stop(61%, #d7f5f4), color-stop(62%, #d7f7f7), color-stop(100%, #d4f2f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* IE10+ */
  background: linear-gradient(top, #ecfdfc 0%, #e1f8f6 20%, #e1faf9 23%, #def7f6 38%, #dcfaf9 38%, #d9f7f6 45%, #d7f5f4 61%, #d7f7f7 62%, #d4f2f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecfdfc', endColorstr='#d4f2f1', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .contextcontainer .applicationmenu {
  background: #f2825b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2825b), color-stop(50%, #e55b2b), color-stop(100%, #f07146));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2825b 0%, #e55b2b 50%, #f07146 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2825b', endColorstr='#f07146', GradientType=0);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .menucontainer .menuitem:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
.sf-ribboncontainer.Turquoise .pagecontainer .leftcontainer {
  background: #d7eceb;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d7eceb 0%, #d8eceb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d7eceb), color-stop(100%, #d8eceb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d7eceb 0%, #d8eceb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d7eceb 0%, #d8eceb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d7eceb 0%, #d8eceb 100%);
  /* IE10+ */
  background: linear-gradient(left, #d7eceb 0%, #d8eceb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7eceb', endColorstr='#d8eceb', GradientType=1);
  /* IE6-9 */

}
.sf-ribboncontainer.Turquoise .groupcontainer .splitrightarrow {
  border-left: 1px solid transparent;
}
.sf-ribboncontainer.Turquoise .groupcontainer .splitbottomarrow {
  border-top: 1px solid transparent;
}
.sf-ribboncontainer.Turquoise .groupcontainer .groupbutton.backgroundhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.hover-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #eaffff;
  color: #212121;
}
.sf-ribboncontainer.Turquoise .groupcontainer .groupbutton.backgroundselected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.active-bg.png%>);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #a4dfea;
  color: #107274;
}
.sf-ribboncontainer.Turquoise .groupcontainer .groupbuttonarrow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -171px -18px;
}
.sf-ribboncontainer.Turquoise .rrbResizeHandle {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.ui-icon.png%>);
  background-repeat: no-repeat;
  background-position: -80px -224px;
}
.sf-galleryview.Turquoise {
  text-align: center;
  display: inline-block;
}
.sf-galleryview.Turquoise .galleryimage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.sfGalleryView.png%>);
}
.sf-galleryview.Turquoise .gallerycontainer {
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.sf-galleryview.Turquoise .galleryitem {
  cursor: pointer;
  float: left;
  margin: 0 0 2px 2px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
}
.sf-galleryview.Turquoise .galleryitem:hover {
  padding: 3px 5px;
}
.sf-galleryview.Turquoise .disabled {
  opacity: 0.3;
  filter: gray(enabled=true) alpha(opacity=30);
}
.sf-galleryview.Turquoise .slideup,
.sf-galleryview.Turquoise .slidedown,
.sf-galleryview.Turquoise .popup {
  position: relative;
}
.sf-galleryview.Turquoise .dropdown {
  float: left;
  font-family: Segoe UI;
  font-size: 11px;
}
.sf-galleryview.Turquoise .extracontainer {
  float: left;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}
.sf-galleryview.Turquoise .extracontainer ul,
.sf-galleryview.Turquoise .extracontainer li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.sf-galleryview.Turquoise .extracontainer li {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
.sf-galleryview.Turquoise .galleryextraitemshover {
  padding-left: 5px;
  text-align: left;
}
.sf-galleryview.Turquoise .galleryextraitems {
  text-align: left;
  padding-left: 5px;
}
.sf-galleryview.Turquoise .galleryrow {
  position: relative;
}
.sf-galleryview.Turquoise .rowitems {
  position: relative;
  float: left;
}
.sf-galleryview.Turquoise .galleryitem:hover,
.sf-galleryview.Turquoise .extracontainer ul li:hover {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sf-galleryview.Turquoise .extracontainer .menuimage {
  border-right: 1px solid #52b9bb;
  clear: both;
  float: left;
  height: 24px;
  padding-right: 5px;
  width: 16px;
}
.sf-galleryview.Turquoise .extracontainer .menutext {
  padding-left: 5px;
  vertical-align: middle;
}
.sf-galleryview.Turquoise .extracontainer .menuitem {
  height: 22px;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: middle;
}
/************************************/

.sf-galleryview.Turquoise .gallerycontainer {
  background: none repeat scroll 0 0 #b8e5ee;
  border: 1px solid #52b9bb;
}
.sf-galleryview.Turquoise .subcontainer {
  background: none repeat scroll 0 0 #b8e5ee;
  border: 1px solid #52b9bb;
}
.sf-galleryview.Turquoise .extracontainer {
  border-top: 1px solid #52b9bb;
  color: #107274;
}
.sf-galleryview.Turquoise .slideup {
  background-position: 0 -730px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Turquoise .slidedown {
  background-position: 0 -760px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Turquoise .popup {
  background-position: 0 -645px;
  height: 25px;
  width: 19px;
}
.sf-galleryview.Turquoise .slideup:hover {
  background-position: 0 -615px;
}
.sf-galleryview.Turquoise .slidedown:hover {
  background-position: 0 -700px;
}
.sf-galleryview.Turquoise .popup:hover {
  background-position: 0 -675px;
}
.sf-galleryview.Turquoise .extraitems .image {
  border-right: 1px solid #52b9bb;
  width: 20px;
}
.sf-galleryview.Turquoise .extraitemshover .image {
  border-right: 1px solid transparent;
  width: 20px;
}
.sf-galleryview.Turquoise .galleryitem:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
.sf-galleryview.Turquoise .extracontainer ul li:hover {
  background: #e5efec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #e5efec), color-stop(92%, #e5efec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* IE10+ */
  background: linear-gradient(top, #e5efec 8%, #e5efec 92%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5efec', endColorstr='#e5efec', GradientType=0);
  /* IE6-9 */
  border-radius: 4px;
  border: 1px solid #afd3cb;
}
