<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFMenuEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFMenuEditor.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFMenu</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>Menu</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
        </UFMenuEditor.Properties.Settings>
    </applicationSettings>
</configuration>