.sfrotator_container {
  padding: 10px;
  float: left;
}
.sfrotator_container .sfrotator_leftbutton {
  background: transparent;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  outline: none;
}
.sfrotator_container .sfrotator_rightbutton {
  background: transparent;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  outline: none;
}
.sfrotator_container .sfrotator-clip_region {
  overflow: hidden;
  position: relative;
  height: 145px;
  float: left;
}
.sfrotator_container .sfrotator-itemcontainer {
  margin: 0;
  padding: 0;
  position: relative;
  left: 0px;
  list-style-type: none;
}
.sfrotator_container .sfrotator-itemlist {
  display: inline;
  float: left;
}
.sfrotator_container .sfrotator_leftbuttondiv {
  border: 1px none;
  border-radius: 17px;
  float: left;
  position: relative;
  height: 35px;
  width: 35px;
  left: -24px;
}
.sfrotator_container .sfrotator_rhtbuttondiv {
  border: 1px none;
  border-radius: 17px;
  position: relative;
  float: left;
  height: 35px;
  width: 35px;
  left: 24px;
}
.sfrotator_container .sfrotator-itemlist .rotator-text {
  text-align: justify;
}
/* Pager */

.sfrotator_container .rotatorpager {
  padding-top: 2px;
  padding-bottom: 12px;
  padding-left: 3px;
}
.sfrotator_container .Spacing {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 2px;
  padding-right: 2px;
}
.sfrotator_container .CurrentItem {
  border-width: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1px;
  margin-left: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}
.sfrotator_container .NumericItem:Hover {
  cursor: pointer;
  text-decoration: none;
  margin-right: 1px;
  margin-left: 1px;
  padding-left: 2px;
  -moz-border-radius: 3px 3px 3px 3px;
}
/******************************************************/

/******************************************************/

.Monochrome.sfrotator_container {
  background-color: #afd1e7;
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator_leftbutton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.Monochrome-arrow.png%>);
  background-repeat: no-repeat;
  background-position: 60% -51px;
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator_rightbutton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.Monochrome-arrow.png%>);
  background-repeat: no-repeat;
  background-position: 70% -117px;
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator_leftbutton-vertical {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.Monochrome-arrow.png%>);
  background-repeat: no-repeat;
  background-position: center -180px;
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator_rightbutton-vertical {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.Monochrome-arrow.png%>);
  background-repeat: no-repeat;
  background-position: center 13px;
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator-itemlist {
  border: 1px solid #899cc9;
}
.Monochrome .sfrotator_rhtbuttondiv.buttonhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.hover.png%>);
  background-repeat: repeat-x;
  background-color: #e2f2ff;
}
.Monochrome .sfrotator_leftbuttondiv.buttonhover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.hover.png%>);
  background-repeat: repeat-x;
  background-color: #e2f2ff;
}
.Monochrome .sfrotator_leftbuttondiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.header.png%>);
  background-color: #afd1e7;
  background-repeat: repeat-x;
}
.Monochrome .sfrotator_rhtbuttondiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.header.png%>);
  background-color: #afd1e7;
  background-repeat: repeat-x;
}
.Monochrome .NumericItem {
  color: #4d81b3;
}
.Monochrome .NumericItem:Hover {
  background-color: #e2f2ff;
}
.Monochrome .CurrentItem {
  background-color: #c2e0f7;
  border-color: #96b8dd;
}
