.schedule_Monochrome.ScheduleRoot {
  font-family: segoe UI;
  font-size: 11px;
  color: #1c3888;
  position: relative;
  border: 1px solid #5a95cf;
  background-color: #c6d4ed;
}
.schedule_Monochrome table,
.schedule_Monochrome th,
.schedule_Monochrome tr,
.schedule_Monochrome .GoToDateWindowInner table tr,
.schedule_Monochrome .GoToDateWindowInner table th {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.schedule_Monochrome td,
.schedule_Monochrome .GoToDateWindowInner table td {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
}
.page {
  page-break-after: always;
  font-size: 11px;
  text-align: left;
}
.schedule_Monochrome .NavigationPaneTd {
  border-right: 1px solid #5a95cf;
  font-size: 10px;
  padding: 2px;
}
.schedule_Monochrome .NavigationPane {
  font-size: 10px;
}
.schedule_Monochrome .ui-datepicker-group {
  width: 100%;
}
.schedule_Monochrome .TopLeftIndentCellTd {
  vertical-align: bottom;
}
.schedule_Monochrome .TopLeftIndentCell {
  font-size: 11pt;
  text-align: center;
  vertical-align: top;
  background-color: #c6d4ed;
}
.schedule_Monochrome .HeaderBar {
  background-color: #c6d4ed;
  background-repeat: repeat-x;
  border-top: 1px solid #5a95cf;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.schedule_Monochrome .HeaderBar td {
  background-color: #c6d4ed;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.schedule_Monochrome .HeaderDateCell {
  background-repeat: repeat-x;
  font-size: 15px;
  padding: 0px 10px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  height: 44px;
  overflow: hidden;
}
.schedule_Monochrome .WorkCellUp,
.schedule_Monochrome .AllDayCell,
.schedule_Monochrome .WorkCellDown {
  font-size: 10px;
  background-color: #e6f0ff;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  overflow: hidden;
}
.schedule_Monochrome .WorkCatCellUp,
.schedule_Monochrome .WorkCatCellDown {
  font-size: 10px;
  background-color: #e6f0ff;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  overflow: hidden;
}
.schedule_Monochrome .WorkCellDownMonth {
  font-size: 10px;
  background-color: white;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  overflow: hidden;
}
.schedule_Monochrome .WorkCellUpMonth {
  font-size: 10px;
  background-color: #d2e1f7;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  overflow: hidden;
}
.schedule_Monochrome .TimeHourCell,
.schedule_Monochrome .TimeHourCellHorizontal {
  background-color: #c6d4ed;
  vertical-align: top;
  font-size: 10pt;
  border-bottom: 1px solid #5a95cf;
  text-align: center;
  overflow: hidden;
}
.schedule_Monochrome .TimeMinuteNextCellHorizontal {
  border-right: 1px solid #5a95cf;
  vertical-align: top;
}
.schedule_Monochrome .TimeMinuteCellHorizontal {
  float: right;
  font-size: 9px;
  vertical-align: top;
}
.schedule_Monochrome .TimeHourCellMonth {
  background-color: #c6d4ed;
  vertical-align: middle;
  font-size: 7pt;
  border-bottom: 1px solid #5a95cf;
  text-align: center;
  overflow: hidden;
}
.schedule_Monochrome .TimeHeaderBar {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.schedule_Monochrome .TimeHeaderBarOuter {
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #5a95cf;
  border-bottom: 1px solid #5a95cf;
}
.schedule_Monochrome .ContentContainer {
  background-color: #eeeeee;
  position: relative;
  width: 100%;
  border: 1px solid #5a95cf;
  text-align: left;
  vertical-align: middle;
}
.schedule_Monochrome .ContentContainer Table {
  table-layout: fixed;
}
.schedule_Monochrome .TimeMinuteCell {
  font-size: 7pt;
  background-color: #c6d4ed;
  border-bottom: 1px solid #5a95cf;
  text-align: left;
}
.schedule_Monochrome .AppointmentContentCell {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #5a95cf 0%, #b5d6f5 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #5a95cf 0%, #b5d6f5 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #5a95cf 0%, #b5d6f5 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #5a95cf), color-stop(2, #b5d6f5));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #5a95cf 0%, #b5d6f5 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #5a95cf 0%, #b5d6f5 100%);
  background-color: #7baad9;
  box-shadow: 0 1px 4px #5a95cf;
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
  background-position: center bottom;
  color: #1c3888;
}
.schedule_Monochrome .CategoryContentCell {
  background-color: #63c7dd;
  opacity: .95;
  color: Black;
}
.schedule_Monochrome .ViewStripCont {
  background-color: #e6eaf6;
  text-align: left;
  vertical-align: middle;
  color: #1c3888;
}
.schedule_Monochrome .toolbarRootTable td {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.schedule_MonochromeTemplatedToolTip {
  font-family: segoe UI;
  font-size: 8pt;
  color: #1c3888;
  padding: 3px;
  font-size: 8pt;
  background-color: white;
  color: black;
  border: 1px solid #5a95cf;
  border-radius: 3px 3px 3px 3px;
  vertical-align: middle;
  text-align: left;
}
.schedule_Monochrome .AppointmentText {
  font-size: 8pt;
  vertical-align: top;
  text-align: left;
  padding: 1px 2px 1px 4px;
  overflow: hidden;
}
.schedule_Monochrome .AppointmentInnerText {
  overflow: hidden;
}
.schedule_Monochrome .RemindImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -5px -611px;
  background-color: Transparent;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}
.schedule_Monochrome .CalendarImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 2px -675px;
  float: left;
  height: 17px;
  width: 20px;
}
.schedule_Monochrome .Recurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -33px -611px;
  background-color: Transparent;
  display: table-cell;
  cursor: pointer;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Monochrome .LowImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -4px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Monochrome .HighImportance {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -33px -641px;
  background-color: Transparent;
  background-repeat: no-repeat;
  height: 20px;
  width: 16px;
  text-align: right;
  float: right;
}
.schedule_Monochrome 	.AppointmentWindowHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -192px;
  border-bottom: 1px solid #5a95cf;
  background-color: #c6d4ed;
  height: 70px;
  padding-left: 3px;
  padding-top: 3px;
}
.schedule_Monochrome 	.AppointmentWindowHeader table {
  border-collapse: separate;
  table-layout: fixed;
}
.schedule_Monochrome 	.AppointmentWindowContent {
  padding: 5px;
  background-color: #c6d4ed;
}
.schedule_Monochrome .AppointmentWindowContent table {
  table-layout: fixed;
  width: 100%;
}
.schedule_Monochrome .AppointmentWindowInner {
  background-color: #c6d4ed;
  border: 1px solid #5a95cf;
  color: #1c3888;
}
.schedule_Monochrome .AppointmentWindow td {
  padding: 3px;
}
.schedule_Monochrome .SaveImageLabel {
  vertical-align: middle;
  text-align: center;
  color: #1c3888;
}
.schedule_Monochrome .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Monochrome .SaveImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -746px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  float: left;
  margin-left: 7px;
}
.schedule_Monochrome .DeleteImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -18px -670px;
  display: table-cell;
  cursor: pointer;
  width: 35px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Monochrome .RecurrenceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -16px -705px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Monochrome .ReminderImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -712px;
  display: table-cell;
  cursor: pointer;
  width: 20px;
  height: 18px;
  text-align: right;
  vertical-align: middle;
}
.schedule_Monochrome .ReminderComboTd {
  padding-left: 5px;
  vertical-align: middle;
}
.schedule_Monochrome .LowImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -1px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  padding-right: 2px;
}
.schedule_Monochrome .HighImportanceImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: -30px -635px;
  height: 25px;
  width: 17px;
  cursor: pointer;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}
.schedule_Monochrome .TimeZoneImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 8px -452px;
  background-repeat: no-repeat;
  display: table-cell;
  cursor: pointer;
  width: 38px;
  height: 32px;
  text-align: center;
  vertical-align: bottom;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}
.schedule_Monochrome .HighLowImportanceLabel {
  *line-height: 24px;
}
.schedule_Monochrome .LowImportanceImage {
  *float: left;
}
.schedule_Monochrome .HighImportanceImage {
  *float: left;
}
.schedule_Monochrome .HighLowImportanceLabel {
  display: table-cell;
  vertical-align: middle;
}
.schedule_Monochrome .SaveImageTd,
.schedule_Monochrome .DeleteImageTd,
.schedule_Monochrome .RecurrenceImageTd,
.schedule_Monochrome  .HighImportanceImageTd,
.schedule_Monochrome  .LowImportanceImageTd,
.schedule_Monochrome  .TimeZoneImageTd {
  border: 1px solid Transparent;
}
.schedule_Monochrome .SaveImageTd:hover,
.schedule_Monochrome  .DeleteImageTd:hover,
.schedule_Monochrome  .RecurrenceImageTd:hover,
.schedule_Monochrome  .TimeZoneImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -277px;
  background-color: #ffd86a;
  border: 1px solid #5a95cf;
  cursor: pointer;
}
.schedule_Monochrome  .SaveImageTd:active,
.schedule_Monochrome  .DeleteImageTd:active,
.schedule_Monochrome  .RecurrenceImageTd:active,
.schedule_Monochrome  .TimeZoneImageTd:active {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -362px;
  background-color: #5a95cf;
  border: 1px solid #5a95cf;
}
.schedule_Monochrome 	.AppointmentWindowToolbar td {
  vertical-align: middle;
}
.schedule_Monochrome 	.Reminder_Details_StartTime {
  margin-left: 30px;
}
.schedule_Monochrome 	.scheduleDropdown {
  float: left;
  margin-left: 5px;
}
.schedule_Monochrome 	.AppointmentCell {
  position: absolute;
  opacity: 0.98 !important;
}
.schedule_Monochrome .AppContainer {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #5a95cf;
  border: 1px solid #5a95cf;
  overflow: hidden;
  /*padding:1px; */

}
.schedule_Monochrome .CategoryCell {
  position: absolute;
  opacity: 0.98 !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px #5a95cf;
  border: 1px solid #5a95cf;
  overflow: hidden;
  /*padding:1px;*/

}
.schedule_Monochrome .selectedAppointmentCell {
  border: 2px solid black;
}
.schedule_Monochrome .AppContainer Table {
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.schedule_Monochrome .PrevDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 1px 0px;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
  padding-right: 5px;
}
.schedule_Monochrome .PrevDayButton:hover {
  background-position: 0px -28px;
}
.schedule_Monochrome .PrevDayButton:active {
  background-position: 0px -60px;
}
.schedule_Monochrome .NextDayButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 22px 0;
  cursor: pointer;
  float: left;
  height: 23px;
  width: 22px;
}
.schedule_Monochrome .category-icon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  height: 23px;
  width: 22px;
}
.schedule_Monochrome .CollapseButton {
  background-position: 55px 28px;
}
.schedule_Monochrome .ExpandButton {
  background-position: 32px 29px;
}
.schedule_Monochrome .NextDayButton:hover {
  background-position: 21px -28px;
}
.schedule_Monochrome .NextDayButton:active {
  background-position: 21px -60px;
}
.schedule_Monochrome .DayImage,
.schedule_Monochrome .WeekImage,
.schedule_Monochrome .WorkWeekImage,
.schedule_Monochrome .MonthImage,
.schedule_Monochrome .TodayView,
.schedule_Monochrome .ImportIcon,
.schedule_Monochrome .ExportIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -487px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #d6e2f1;
  border-right: 1px solid #5a95cf;
}
.schedule_Monochrome .PrintIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 10px -365px;
  width: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
}
.schedule_Monochrome .DayImage:active,
.schedule_Monochrome .WeekImage:active,
.schedule_Monochrome .WorkWeekImage:active,
.schedule_Monochrome .MonthImage:active,
.schedule_Monochrome .toolbarImageActive {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -567px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #5a95cf;
  border-right: 1px solid #5a95cf;
  color: #1c3888;
}
.schedule_Monochrome .ImportIcon:hover,
.schedule_Monochrome .ExportIcon:hover,
.schedule_Monochrome .TodayView:hover,
.schedule_Monochrome .DayImage:hover,
.schedule_Monochrome .WeekImage:hover,
.schedule_Monochrome .WorkWeekImage:hover,
.schedule_Monochrome .MonthImage:hover,
.schedule_Monochrome .toolbarImageHover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -527px;
  background-repeat: repeat-x;
  line-height: 15px;
  background-color: #ffd86a;
  border-right: 1px solid #5a95cf;
}
.schedule_Monochrome .NewAppLabel {
  padding: 5px 0 3px 0px;
  vertical-align: middle;
}
.schedule_Monochrome .NewAppText {
  padding: 5px 0 3px 0px;
}
.schedule_Monochrome .NewAppDesc {
  overflow: auto;
  padding: 5px 0 3px 0px;
}
.schedule_Monochrome .CrudButtons {
  height: 30px;
}
.schedule_Monochrome .Recurrence_div {
  padding: 5px 0 3px 10px;
}
.schedule_Monochrome .Recurrence_types {
  border-right: 1px solid #d6e2f1;
}
.schedule_Monochrome .Recurrence_common {
  padding: 3px;
}
.schedule_Monochrome .Recurrence_common div {
  padding: 3px;
}
.schedule_Monochrome .Recurrence_input {
  vertical-align: top;
}
.schedule_Monochrome .Recurrence_label {
  display: inline-table;
}
.schedule_Monochrome .Recurrence_start {
  display: inline-table;
  margin-left: 10px;
}
.schedule_Monochrome .Recurrence_valignbottom {
  vertical-align: text-bottom;
}
.schedule_Monochrome .Mandatory {
  color: Red;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.schedule_Monochrome .HeaderDaysOuter {
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  border-top: 1px solid #5a95cf;
  text-align: left;
  left: 0px;
  top: 0px;
}
.schedule_Monochrome .HeaderDays {
  padding-top: 1px;
  background-color: #c6d4ed;
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Monochrome .DraggableAreaDiv {
  position: relative;
  left: 0px;
  top: 0px;
}
.schedule_Monochrome .HeaderDays table {
  table-layout: fixed;
}
.schedule_Monochrome .DraggableAreaDiv table {
  table-layout: fixed;
}
.schedule_Monochrome .HeaderDaysCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -784px;
  background-repeat: repeat-x;
  border-right: 1px solid #5a95cf;
  border-bottom: 1px solid #5a95cf;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  table-layout: fixed;
}
.schedule_Monochrome .HeaderResourceCell {
  background-color: #c6d4ed;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  font-size: 8.5pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Monochrome .HeaderResourceCellCategory {
  background-color: #c6d4ed;
  border-bottom: 1px solid #5a95cf;
  border-right: 1px solid #5a95cf;
  font-size: 8.5pt;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Monochrome .HeaderResourceCellCategory:hover {
  cursor: pointer;
}
.schedule_Monochrome .HeaderToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -124px;
  background-color: #5a95cf;
  border-right: 1px solid #5a95cf;
  border-left: 1px solid #5a95cf;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.schedule_Monochrome .HeaderTodayMonth {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -124px;
  background-color: #5a95cf;
  border-right: 1px solid #5a95cf;
  border-left: 1px solid #5a95cf;
  text-align: left;
  overflow: hidden;
}
.schedule_Monochrome .CellToday {
  border-right: 1px solid #5a95cf;
  border-left: 1px solid #5a95cf;
}
.schedule_Monochrome .CellTodayMonth {
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .CellTodayLeft {
  border-left: 1px solid #5a95cf;
}
.schedule_Monochrome .CellTodayRight {
  border-right: 1px solid #5a95cf;
}
.schedule_Monochrome .divDisable {
  background-color: Transparent;
  opacity: .35;
  filter: alpha(opacity=35);
  font-weight: normal;
  cursor: default !important;
}
.schedule_Monochrome .BusinessHour {
  background-color: white;
}
.schedule_Monochrome .selectedCell {
  color: white;
  background-color: #5a95cf;
}
.schedule_Monochrome .cellHover {
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #b5d6f5;
  overflow: hidden;
}
.schedule_Monochrome .tablediv {
  display: table;
  width: 100%;
}
.schedule_Monochrome .celldiv {
  display: table-cell;
}
.schedule_Monochrome .rowdiv {
  display: table-row;
  width: auto;
}
.schedule_Monochrome .scheduleButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -93px;
  background-color: #d6e2f1;
  background-repeat: repeat-x;
  border: 1px solid #5a95cf;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #1c3888;
}
.schedule_Monochrome div.scheduleButton:hover,
.schedule_Monochrome input.scheduleButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -124px;
  background-color: #ffd86a;
  border: 1px solid 1px solid #5a95cf;
  background-repeat: repeat-x;
  border-radius: 3px 3px 3px 3px;
}
.schedule_Monochrome  .HighImportanceImageTd:hover,
.schedule_Monochrome  .LowImportanceImageTd:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -124px;
  border: 1px solid #5a95cf;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #ffd86a;
}
.schedule_Monochrome div.scheduleButton:active,
.schedule_Monochrome  .HighImportanceImageTd:active,
.schedule_Monochrome  .LowImportanceImageTd:active,
.schedule_Monochrome .PressButton {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -158px;
  background-color: #5a95cf;
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .RecurrenceWindow,
.schedule_Monochrome .ReminderWindow {
  font-family: segoe UI;
  font-size: 11px;
  color: #1c3888;
  background-color: #fafafa;
  border: 1px solid #5a95cf;
  padding: 1px 5px;
}
.schedule_Monochrome .RecurrenceWindow td {
  height: 24px;
}
.schedule_Monochrome .Recurrence_Duration,
.schedule_Monochrome .Recurrence_Pattern,
.schedule_Monochrome .Recurrence_Range {
  background-color: Transparent;
  border: 1px solid #5a95cf;
  line-height: 20px;
  padding: 2px;
}
.schedule_Monochrome .Recurrence_Pattern td {
  vertical-align: middle;
}
.schedule_Monochrome .SelectedRecurrence,
.schedule_Monochrome .SelectedTimeZone {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -362px;
  background-color: #5a95cf;
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .WarningImage {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -84px;
  height: 40px;
  width: 40px;
}
.schedule_Monochrome .EditRecurrence {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-color: Transparent;
  background-position: 13px -751px;
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  height: 20px;
  width: 16px;
  float: right;
}
.schedule_Monochrome .Reminder_Details {
  border: 1px solid #5a95cf;
  line-height: 20px;
  height: 150px;
  overflow: auto;
  font-size: 11px;
}
.schedule_Monochrome .Reminder_Details td,
.schedule_Monochrome .Reminder_Details th {
  padding-left: 3px;
}
.schedule_Monochrome .ReminderHeader {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>);
  background-position: 0px -784px;
  background-color: Transparent;
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .ReminderHeader th {
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .Reminder_Details thead {
  background-color: #c6d4ed;
  border: 1px solid 1px solid #5a95cf;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Monochrome .Reminder_Details tbody {
  border: 1px solid 1px solid #5a95cf;
  line-height: 20px;
  padding: 3px;
  text-align: left;
}
.schedule_Monochrome .ReminderCell {
  line-height: 18px;
  text-align: left;
}
.schedule_Monochrome .selectedReminderCell {
  text-align: left;
  color: white;
  background-color: #5a95cf;
}
.schedule_Monochrome .Reminder_Details_Subject {
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
}
.schedule_Monochrome .PrintIconContext {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -370px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  line-height: 15px;
  text-decoration: none;
  width: 30px;
  display: table-cell;
  border-right: 1px solid #5a95cf;
}
.schedule_Monochrome .PrintText {
  padding-left: 10px;
  font-size: 8pt;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}
.schedule_Monochrome .PrintAppointment {
  font-family: segoe UI;
  font-size: 11px;
  color: #1c3888;
  background-color: white;
}
.schedule_Monochrome .PrintAppointment td {
  padding: 3px;
}
.schedule_Monochrome .PrintAppointmentTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}
.schedule_Monochrome .PrintAppointmentLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  width: 40%;
}
.schedule_Monochrome .PrintAppointmentText {
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
}
#ui-datepicker-div {
  z-index: 9999;
}
.schedule_Monochrome .hasDatepicker {
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .ContextNewAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -264px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .ContextNewRecurringAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -326px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .ContextToday {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -347px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .ContextQuickPrint {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -306px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .ContextOpenAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -285px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .ContextDeleteAppointment {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 20px;
  line-height: 15px;
  text-decoration: none;
  width: 20px;
}
.schedule_Monochrome .GoToDate {
  padding: 5px;
  margin: 5px;
  height: 70px;
  border-radius: 3px;
  border: 1px solid #5a95cf;
}
.schedule_Monochrome .InputBox {
  background-color: white !important;
  color: #1c3888 !important;
  border: 1px solid #5a95cf !important;
}
/*-------Numeric textbox --------*/

.sfInputText {
  color: #1c3888 !important;
}
/* ------ AppointmentIndicator ------- */

.schedule_Monochrome .AppointmentIndicatorTop {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -391px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Monochrome .AppointmentIndicatorBottom {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -425px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
}
.schedule_Monochrome .AppointmentIndicatorPrev {
  border: 1px solid #5a95cf;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 30px;
  left: -16px;
  position: absolute;
  text-align: center;
  background-color: #e6eaf6;
  display: none;
  cursor: pointer;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Monochrome .AppointmentIndicatorNext {
  border: 1px solid #5a95cf;
  border-radius: 10px 10px 0 0 ;
  width: 150px;
  height: 30px;
  left: 800px;
  position: absolute;
  display: none;
  cursor: pointer;
  text-align: center;
  background-color: #e6eaf6;
  rotation: 270deg !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.schedule_Monochrome .AppointmentIndicatorDisable {
  opacity: 0.5;
  cursor: default;
}
/* Resizable
----------------------------------*/

.schedule_Monochrome .ui-resizable {
  position: relative;
}
.schedule_Monochrome .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}
.schedule_Monochrome .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.schedule_Monochrome .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.schedule_Monochrome .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.schedule_Monochrome .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Monochrome .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.schedule_Monochrome .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.schedule_Monochrome .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.schedule_Monochrome .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.schedule_Monochrome .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*----Inline------*/

.schedule_Monochrome .AppointmentText .AppointmentInnerText .AppointmentTextBox {
  font-family: segoe UI;
  font-size: 11px;
  color: #1c3888;
  background-color: transparent;
  border: 0px;
  width: 100%;
  margin: 0px 5px;
}
.schedule_Monochrome .subjectTextCss {
  width: 97%;
  border: 1px solid 1px solid #5a95cf;
}
/*----BlockCell------*/

.schedule_Monochrome .BlockTime {
  color: white;
  background-color: #5a95cf;
  position: absolute;
  opacity: .4;
}
.schedule_Monochrome .highlightSelectedDate a {
  background: #c4def7 !important;
  border: 1px solid #5a95cf !important;
  font-weight: normal;
  outline: medium none !important;
}
.schedule_Monochrome .highlighAppointmentDate {
  font-weight: bolder !important;
  color: 1 C 3888 !important;
}
.schedule_Monochrome .categorizeBackground {
  background: none repeat scroll 0 0 transparent;
  border: 0 none !important;
  cursor: pointer;
  color: #1c3888 !important;
}
.schedule_Monochrome .categorizeBackground:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>) !important;
  background-position: 0px -277px !important;
  background-color: #ffd86a !important;
  cursor: pointer !important;
}
.schedule_Monochrome .AppsOverflow {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -153px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
}
.schedule_Monochrome .DateSeparator {
  border-right-color: #5a95cf;
}
.schedule_Monochrome .AppointmentSubject {
  display: inline-block;
}
.schedule_Monochrome .NavigatorBar {
  display: inline-block;
  vertical-align: middle;
}
.schedule_Monochrome .HeaderRowDate {
  float: left;
  font-weight: bold;
  padding: 0 3px;
}
.schedule_Monochrome .TimeScaleContextSelected {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>);
  background-position: -260px 2px;
  background-repeat: no-repeat;
  display: table-cell;
  width: 24px;
  height: 24px;
  position: absolute;
}
/* -------- Appointment Categorieze --------------- */

.schedule_Monochrome .CategorizeIcon {
  border: 1px solid transparent;
}
.GreenCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7bce6d), color-stop(2, #76d466));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7bce6d 0%, #76d466 100%);
  background-color: #7bce6d;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.RedCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #d98889), color-stop(1, #f1b0b1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #d98889 0%, #f1b0b1 100%);
  background-color: #d98889;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.BlueCategorize {
  /* IE10 6CA7FF  */
  background-image: -ms-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #7599e1), color-stop(1, #b5c8ed));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #7599e1 0%, #b5c8ed 100%);
  background-color: #a3c2ff;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.YellowCategorize {
  /* IE10 FFEC3D */
  background-image: -ms-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f8f265), color-stop(1, #fefeaa));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f8f265 0%, #fefeaa 100%);
  background-color: #fff48b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.PurpleCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #cd8eaa), color-stop(1, #e2c2d1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #cd8eaa 0%, #e2c2d1 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top left, #cd8eaa 0%, #e2c2d1 100%);
  background-color: #cd8eaa;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, bottom center, right bottom, color-stop(0, #f19d5b), color-stop(1, #fecaa4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom center, #f19d5b 0%, #fecaa4 100%);
  background-color: #f19d5b;
  color: Black;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 1px 4px white;
}
.OrangeCategorize .AppointmentTextBox,
.GreenCategorize .AppointmentTextBox,
.PurpleCategorize .AppointmentTextBox,
.YellowCategorize .AppointmentTextBox,
.BlueCategorize .AppointmentTextBox,
.RedCategorize .AppointmentTextBox {
  color: Black !important;
}
.RedCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -197px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.GreenCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -59px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.BlueCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 1px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.OrangeCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -128px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.PurpleCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -173px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.YellowCategorizeIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 0 -221px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  display: table-cell;
  line-height: 19px;
  text-decoration: none;
}
.schedule_Monochrome .categorizeBackground .buttonimage {
  background-color: transparent;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>);
  background-position: 12px -24px;
  width: 40px;
  height: 27px;
  background-repeat: no-repeat;
  border: 1px solid transparent !important;
  cursor: pointer;
  color: #1c3888;
}
