<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OPCUAClient" type="Opc.Ua.ApplicationConfigurationSection, Opc.Ua.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Emit" value="false"/>
  </appSettings>
  <OPCUAClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>RecipeService.Core.Config.xml</FilePath>
    </ConfigurationLocation>
  </OPCUAClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
