<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- RollingFileAppender didn't work on .NET Core.
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="Log/SysLog.xml" />
    <encoding value="unicode" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <param name="LockingModel" type="ConcurrentLog4Net.ConcurrentMinimalLock,ConcurrentLog4Net" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender" />
  </root>
  -->
  <appender name="RollingFile" type="log4net.Appender.FileAppender">
    <file value="Log/SysLog.log" />
    <param name="LockingModel" type="ConcurrentLog4Net.ConcurrentMinimalLock,ConcurrentLog4Net" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{dd MMM yyyy HH:mm:ss,fff} %level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>