<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenParametersEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScreenParametersEditor.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>ScreenParameter</value>
            </setting>
            <setting name="MaxUndoRedoActions" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ImportExportAlias" serializeAs="String">
                <value>Alias</value>
            </setting>
            <setting name="ImportExportTag" serializeAs="String">
                <value>Tag</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
        </ScreenParametersEditor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
