
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #FCFCFC;
@click-font-color:@font-color;
@hover-font-color: #FFFFFF;
@active-font-color: #FAFAFA;
@success-font-color: #008000;
@highlight-font-color: #363636;
@watermark-font-color: #666666;
@header-a-font-color: #f5f5f5;
@content-a-font-color: #000;
@error-font-color: #cd0a0a;
@disable-font-color: #A5A5A5;
@upload-font-color: #FFFFFF;

@border-size: 1px;
@border-type: solid;
@content-border-color: #5c5c5c;
@header-border-color: #5c5c5c;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;
@border-color: #808282;
@hover-border-color: #5C5C5C;
@active-border-color:  #5C5C5C;

@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #333536;
@hover-bg-color: #2d2f30;
@active-bg-color: #393a3a;
@progress-bg-color: #BFBFBF;
@content-bg-color: #fafafa;
@header-bg-color: #242323;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@submenu-bg-color:#686762;
@input-bg-color: @bg-color;
@input-hover-color: @bg-color;
@popup-bg-color: @bg-color;
@pane-bg-color: #ffffff;
@seperator-color: #9D9EA0;
@editbutton-bg-color:#333;
@refresh-audio-button-bg-color: #323232;
@refresh-audio-button-border-color: #ededed;
 @captcha-image-border-color: #ededed;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.hover-bg-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Midnight.Images.active-bg-ver.png%>)";


@skin: ~"Midnight";
@foldername: ~"Themes";
@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons-light.png%>)";

@content-bg: ~"none";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";


@scroll-bg-color:#2a2a2b;
@scroll-border:1px solid #5C5C5C;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(top,  #383838 4%, #292a2c 8%, #232427 20%, #202123 36%, #212224 60%, #2c2d2f 92%, #383838 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#383838), color-stop(8%,#292a2c), color-stop(20%,#232427), color-stop(36%,#202123), color-stop(60%,#212224), color-stop(92%,#2c2d2f), color-stop(96%,#383838)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* IE10+ */
	background: linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #313132;
}

.hover-gradient()
{
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(top,  #383838 4%, #292a2c 8%, #232427 20%, #202123 36%, #212224 60%, #2c2d2f 92%, #383838 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#383838), color-stop(8%,#292a2c), color-stop(20%,#232427), color-stop(36%,#202123), color-stop(60%,#212224), color-stop(92%,#2c2d2f), color-stop(96%,#383838)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* IE10+ */
	background: linear-gradient(top,  #383838 4%,#292a2c 8%,#232427 20%,#202123 36%,#212224 60%,#2c2d2f 92%,#383838 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #313132;
}

.container-gradient()
{
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(7,8,10,1) 44%, rgba(21,24,31,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(44%,rgba(7,8,10,1)), color-stop(100%,rgba(21,24,31,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(7,8,10,1) 44%,rgba(21,24,31,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(7,8,10,1) 44%,rgba(21,24,31,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(7,8,10,1) 44%,rgba(21,24,31,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(7,8,10,1) 44%,rgba(21,24,31,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#15181f',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #353536;
}
.itemcontainer-gradient()
{
	background: #303238; /* Old browsers */
	background: -moz-linear-gradient(top, #303238 0%, #181b23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303238), color-stop(100%,#181b23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #303238 0%,#181b23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #303238 0%,#181b23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #303238 0%,#181b23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #303238 0%,#181b23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303238', endColorstr='#181b23',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
    background: #303238;
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #D3D7DC;
    background: #c7cdd4; /* Old browsers */
    background: -moz-linear-gradient(top, #c7cdd4 0%, #dee0e4 57%, #e3e6ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7cdd4), color-stop(57%,#dee0e4), color-stop(100%,#e3e6ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* IE10+ */
    background: linear-gradient(top, #c7cdd4 0%,#dee0e4 57%,#e3e6ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cdd4', endColorstr='#e3e6ea',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
	background: -moz-linear-gradient(top, rgba(204,211,228,0.58) 0%, rgba(204,211,228,0.62) 3%, rgba(204,211,228,0.66) 9%, rgba(204,211,228,0.65) 20%, rgba(204,211,228,0.5) 37%, rgba(204,211,228,0.31) 49%, rgba(204,211,228,0.28) 51%, rgba(204,211,228,0.23) 66%, rgba(204,211,228,0.15) 74%, rgba(204,211,228,0.18) 77%, rgba(204,211,228,0.31) 83%, rgba(204,211,228,0.35) 86%, rgba(204,211,228,0.37) 89%, rgba(204,211,228,0.39) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,211,228,0.58)), color-stop(3%,rgba(204,211,228,0.62)), color-stop(9%,rgba(204,211,228,0.66)), color-stop(20%,rgba(204,211,228,0.65)), color-stop(37%,rgba(204,211,228,0.5)), color-stop(49%,rgba(204,211,228,0.31)), color-stop(51%,rgba(204,211,228,0.28)), color-stop(66%,rgba(204,211,228,0.23)), color-stop(74%,rgba(204,211,228,0.15)), color-stop(77%,rgba(204,211,228,0.18)), color-stop(83%,rgba(204,211,228,0.31)), color-stop(86%,rgba(204,211,228,0.35)), color-stop(89%,rgba(204,211,228,0.37)), color-stop(100%,rgba(204,211,228,0.39))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(204,211,228,0.58) 0%,rgba(204,211,228,0.62) 3%,rgba(204,211,228,0.66) 9%,rgba(204,211,228,0.65) 20%,rgba(204,211,228,0.5) 37%,rgba(204,211,228,0.31) 49%,rgba(204,211,228,0.28) 51%,rgba(204,211,228,0.23) 66%,rgba(204,211,228,0.15) 74%,rgba(204,211,228,0.18) 77%,rgba(204,211,228,0.31) 83%,rgba(204,211,228,0.35) 86%,rgba(204,211,228,0.37) 89%,rgba(204,211,228,0.39) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ccd3e4', endColorstr='#63ccd3e4',GradientType=0 ); /* IE6-9 */
	border-left: @border-size @border-type #888C96;
	border-right: @border-size @border-type #888C96;
	border-top: @border-size+1 @border-type #888C96;
	color: #FFFFFF;
}

.ribboncontainer-active-hover-gradient()
{
	background: rgb(209,216,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(209,216,232,1) 0%, rgba(206,213,230,1) 9%, rgba(208,215,232,1) 32%, rgba(211,218,234,1) 36%, rgba(230,234,242,1) 50%, rgba(248,249,253,1) 68%, rgba(252,253,255,1) 82%, rgba(250,252,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,216,232,1)), color-stop(9%,rgba(206,213,230,1)), color-stop(32%,rgba(208,215,232,1)), color-stop(36%,rgba(211,218,234,1)), color-stop(50%,rgba(230,234,242,1)), color-stop(68%,rgba(248,249,253,1)), color-stop(82%,rgba(252,253,255,1)), color-stop(100%,rgba(250,252,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */ 
}

.ribboncontainer-hover()
{
	background: #d1d8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d8e8 0%, #ced5e6 9%, #d0d7e8 32%, #d3daea 36%, #e6eaf2 50%, #f8f9fd 68%, #fcfdff 82%, #fafcff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d8e8), color-stop(9%,#ced5e6), color-stop(32%,#d0d7e8), color-stop(36%,#d3daea), color-stop(50%,#e6eaf2), color-stop(68%,#f8f9fd), color-stop(82%,#fcfdff), color-stop(100%,#fafcff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* IE10+ */
    background: linear-gradient(top, #d1d8e8 0%,#ced5e6 9%,#d0d7e8 32%,#d3daea 36%,#e6eaf2 50%,#f8f9fd 68%,#fcfdff 82%,#fafcff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(1,2,2,1) 15%, rgba(5,6,8,1) 28%, rgba(38,44,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(15%,rgba(1,2,2,1)), color-stop(28%,rgba(5,6,8,1)), color-stop(100%,rgba(38,44,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(1,2,2,1) 15%,rgba(5,6,8,1) 28%,rgba(38,44,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(1,2,2,1) 15%,rgba(5,6,8,1) 28%,rgba(38,44,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(1,2,2,1) 15%,rgba(5,6,8,1) 28%,rgba(38,44,56,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(1,2,2,1) 15%,rgba(5,6,8,1) 28%,rgba(38,44,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#262c38',GradientType=0 ); /* IE6-9 */
}
