.Syncfusion-Grid-Core .GridHeader,
.Syncfusion-Grid-Core .ExternalForm-Header {
  overflow-x: hidden;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  position: relative;
}
.Syncfusion-Grid-Core.cloneProperties {
  vertical-align: middle;
  text-align: left;
  border-style: solid;
  padding: 5px;
  -moz-border-radius: 4px 4px 4px 4px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
}
.Syncfusion-Grid-Core .GroupHeaderCell {
  background-position: 0 0;
}
.Syncfusion-Grid-Core .RecordPlusExpand > div,
.Syncfusion-Grid-Core .MasterCellExpand > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -207px -210px;
  padding: 0px;
}
.Syncfusion-Grid-Core .RecordPlusCollapse > div,
.Syncfusion-Grid-Core .MasterCellCollapse > div {
  height: 19px;
  vertical-align: middle;
  width: 23px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -191px -207px;
  padding: 0px;
}
.Syncfusion-Grid-Core .Ascending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -778px;
}
.Syncfusion-Grid-Core .Descending {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -802px;
}
.Syncfusion-Grid-Core .FirstPage,
.Syncfusion-Grid-Core .FirstPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -681px;
}
.Syncfusion-Grid-Core .PrevPage,
.Syncfusion-Grid-Core .PrevPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -728px;
}
.Syncfusion-Grid-Core .NextPage,
.Syncfusion-Grid-Core .NextPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -754px;
}
.Syncfusion-Grid-Core .LastPage,
.Syncfusion-Grid-Core .LastPageDisabled {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -1px -707px;
}
.Syncfusion-Grid-Core .GridPager .NumericItem {
  display: inline-block;
}
.ColumnDropIndicator {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -5px -609px;
  width: 13px;
  height: 35px;
}
.Syncfusion-Grid-Core .AddNewItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -14px;
}
.Syncfusion-Grid-Core .EditItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -84px;
}
.Syncfusion-Grid-Core .ExcelItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -155px;
}
.Syncfusion-Grid-Core .WordItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -568px;
}
.Syncfusion-Grid-Core .PdfItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -532px;
}
.Syncfusion-Grid-Core .DeleteItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -119px;
}
.Syncfusion-Grid-Core .SaveItem {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -253px;
}
.Syncfusion-Grid-Core .Cancel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -218px;
}
.Syncfusion-Grid-Core .FilterIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -3px -192px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  width: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .AutoWrap .FilterIcon {
  margin: -14px -4px -7px 3px;
}
.Syncfusion-Grid-Core .FilterIconTick {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -324px;
  margin: -14px -4px -3px 3px;
  padding: 3px 2px;
  float: right;
  width: 10px;
  height: 10px;
  position: relative;
}
.Syncfusion-Grid-Core .FilterCellHover {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 -244px;
  padding: 7px 7px 0 0;
  float: right;
  width: 10px;
  height: 10px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-state-default,
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content .ui-state-default {
  border: 0;
  background-position: 0px -438px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-state-hover {
  background-position: 0 -474px;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-slider .ui-slider-range {
  -moz-border-radius: 4px;
  background-position: 0 -512px;
  background-repeat: repeat-x;
  border: none;
}
.Syncfusion-Grid-Core div[class*=sf] .ui-widget-content {
  background-position: 0px -412px;
  background-repeat: repeat-x !important;
  display: inline-block;
  height: 8px;
  border: 0 none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] {
  position: absolute;
  top: -20px;
  min-width: 13px;
  border: none;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipTopDiv {
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0px 1px 0px 1px;
  min-width: 13px;
  -moz-border-radius: 2px;
  display: block;
  background-repeat: repeat-x;
}
div[class*=Syncfusion-Grid-][class*=-Tooltip] .tooltipBottomDiv {
  height: 6px;
  display: block;
  background-position: -174px -24px;
  background-repeat: no-repeat;
  position: absolute;
}
.Syncfusion-Grid-Core .GridPager .RefreshPager {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: -1px -53px;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-position: -7px -832px;
  background-repeat: no-repeat;
}
.Syncfusion-Grid-Core .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Core .HeaderIcon {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -160px;
  width: 20px;
}
/*------------------------ToggleStart--------------------*/

.Syncfusion-Grid-Blend .ef-toggle {
  height: 18px;
  width: 18px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Blend .ef-toggle:hover {
  background-color: #bdbdbd;
  border-color: #2d2c2c;
}
.Syncfusion-Grid-Blend .ef-toggle.topright {
  background-position: -128px -143px;
}
.Syncfusion-Grid-Blend .ef-toggle.bottomleft {
  background-position: -128px -143px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*----------------------ToggleEnd-------------------*/

.Syncfusion-Grid-Core .efheader-style {
  background: url(<%Syncfusion.Theme.Base.Themes.Images.efHeader.png%>) repeat-x scroll left top;
}
.Syncfusion-Grid-Core .ExternalForm {
  padding: 0.5em 1em;
  background-color: #333333;
}
.Syncfusion-Grid-Core .ImageOnly {
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 20px !important;
}
.Syncfusion-Grid-Core .ImagePlusText {
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: 10px;
}
.Syncfusion-Grid-Core .sf-toolbar.Blend-horizontal {
  width: 100%;
  height: 32px;
}
ul.Blend-context {
  z-index: 1000;
}
.Syncfusion-Grid-Core .Search {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px -349px;
  background-color: transparent;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  background-image: none;
  border: 1px solid transparent;
  background-color: Transparent;
}
.sf-sp-Hhandle:hover,
.sf-sp-Vhandle:hover {
  background-color: #bdbdbd;
}
ul[class*=sf-grid-][class*=-menu] .ClearFilterSideImg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -2px -292px;
  width: 1.5em;
  float: left;
  margin: 2px;
  height: 17px;
  position: absolute;
}
.reSizeColbg {
  width: 1px;
  z-index: 2;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-width: 1px !important;
  border-style: solid !important;
}
.ui-selectable-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 100;
}
.DragTable {
  border-style: groove;
  border-width: 1px;
}
.DropAllowCursor {
  cursor: url(<%Syncfusion.Theme.Base.Themes.Images.ARROW.cur%>), move !important;
}
ul[class*="sf-grid-"][class*="-menu"] .sf-choiceList label.NoMatch {
  margin-left: 2px;
}
.sf-grid-blend-menu .sf-choiceList .sf-sp-vback {
  width: 11px;
}
.sf-grid-blend-menu .sf-choiceList .DropDownFilters {
  height: auto;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 186px;
  border-width: 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper,
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0 0;
  float: right;
  height: 20px;
  width: 11%;
  display: block;
  border-width: 0 0 0 1px;
  border-style: solid;
}
ul[class*=sf-grid-][class*=-menu] .button-wrapper:hover {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 0px -48px;
}
ul[class*=sf-grid-][class*=-menu] .searchButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -352px;
}
ul[class*=sf-grid-][class*=-menu] .closeButton {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1px -380px;
}
ul[class*=sf-grid-][class*=-menu] .search-wrapper,
ul[class*=sf-grid-][class*=-menu] .search-wrapper:hover {
  background-image: none;
  border-left-width: 0;
}
ul[class*=sf-grid-][class*=-menu] .Search-Choice-wrapper input {
  float: left;
  height: 20px;
  width: 88%;
  border: 1px none;
  padding: 0;
  text-indent: 2px;
}
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl,
ul[class*=sf-grid-][class*=-menu] .DropDownFilterEl:hover {
  margin-top: 6px;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv {
  padding: 0 5px 0 0;
  float: right;
}
ul[class*=sf-grid-][class*=-menu] .FilterDiv button {
  margin: 15px 5px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sf-grid-blend-menu .sf-warningmsg {
  display: block;
  float: left;
}
ul[class*=sf-grid-][class*=-menu] a {
  font-family: segoe UI;
}
.sfmatch-options input[type='checkbox'] {
  margin-left: 10px;
}
ul[name=syncfusion-grid] li > div.sortbyasc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -72px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbyasc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbyasc {
  background-position: 0 -36px;
}
ul[name=syncfusion-grid] > li > div.sortbydesc {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -701px;
}
ul[name=syncfusion-grid][class*=blend] li > div.sortbydesc,
ul[name=syncfusion-grid][class*=midnight] li > div.sortbydesc {
  background-position: 0 -275px;
}
ul[name=syncfusion-grid] > li > div.groupby {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -419px;
}
ul[name=syncfusion-grid] > li > div.deleterecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -311px;
}
ul[name=syncfusion-grid] > li > div.clearsorting {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -241px;
}
ul[name=syncfusion-grid][class*=blend] li > div.clearsorting,
ul[name=syncfusion-grid][class*=midnight] li > div.clearsorting {
  background-position: 0 -143px;
}
ul[name=syncfusion-grid] > li > div.cleargrouping {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -211px;
}
ul[name=syncfusion-grid] > li > div.clearfilter {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -179px;
}
ul[name=syncfusion-grid] > li > div.addrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 0;
}
ul[name=syncfusion-grid] > li > div.editrecord {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -347px;
}
ul[name=syncfusion-grid] > li > div.visiblecolumns {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -665px;
}
ul[name=syncfusion-grid] > li > div.save {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -629px;
}
ul[name=syncfusion-grid] > li > div.cancel {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -107px;
}
ul[name=syncfusion-grid] > li > div.hidecolumn {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -449px;
}
ul[name=syncfusion-grid] > li > div.nextpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -521px;
}
ul[name=syncfusion-grid] > li > div.previouspage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -557px;
}
ul[name=syncfusion-grid] > li > div.firstpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -383px;
}
ul[name=syncfusion-grid] > li > div.lastpage {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -485px;
}
ul[name=syncfusion-grid] > li > div.refreshpager {
  background: transparent url(<%Syncfusion.Theme.Base.Themes.Images.contextmenusprite.png%>) no-repeat;
  background-position: 0 -593px;
}
ul[name=syncfusion-grid] > li > div {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  margin-top: 2px;
}
ul[name="syncfusion-grid"] > li > a + ul > li > div.visiblecolumns {
  background-image: none !important;
}
ul[name=syncfusion-grid] li > div > input {
  margin: 0;
  padding: 0;
}
ul[name=syncfusion-grid] li {
  height: 21px;
}
ul[name=syncfusion-grid] li > a {
  font-family: Verdana;
  font-weight: lighter;
  padding: 0 0 0 3.5em !important;
}
/*---------------- sfScroller css ------------------------------*/

.Blend .sf-sp-tr {
  background-position: 2px -169px;
}
.Blend .sf-sp-vwrapper,
.Blend .sf-sp-hwrapper {
  background-color: #414141;
}
/*-------------------------------------------------------------*/

/*..........................Skin css...........................*/

.Syncfusion-Grid-Blend {
  border-color: #808282;
  color: white;
}
.Syncfusion-Grid-Blend .GridContent .Table {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.Syncfusion-Grid-Blend .GridContent {
  background-color: #3d3d3d;
}
.Syncfusion-Grid-Blend .Gridtoolbar {
  border-top-color: #333333 !important;
}
.Syncfusion-Grid-Blend .GroupDropArea {
  background-color: #444444;
  border-color: #2d2c2c;
}
.Syncfusion-Grid-Blend.cloneProperties {
  color: white;
  background-color: #434343;
  border-color: #333333;
}
.Syncfusion-Grid-Blend th.MasterHeaderLeftCell {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .CaptionRow {
  background-color: #595959;
}
.Syncfusion-Grid-Blend .HeaderCell,
.Syncfusion-Grid-Blend .GroupTopLeftCell,
.Syncfusion-Grid-Blend .TopLeftCell,
.Syncfusion-Grid-Blend .CaptionRow,
.Syncfusion-Grid-Blend .HeaderCellHover {
  border-color: #333333;
}
.Syncfusion-Grid-Core .sf-toolbar.Blend-horizontal {
  border-color: #333333;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.Blend .sf-sp-tr {
  border-color: #333333;
  border-top-width: 1px;
  border-top-style: solid;
}
/*Added for pager*/

.Syncfusion-Grid-Blend .PagerCaptionRow {
  border-top-color: #333333;
}
.Syncfusion-Grid-Blend .PagerGroupDropArea {
  border-top-color: #333333;
  background-color: #595959;
}
.Syncfusion-Grid-Blend .GroupCaption {
  background-color: #666666;
  border-color: #333333;
}
.Syncfusion-Grid-Blend .HeaderCellHover,
.Syncfusion-Grid-Blend .GroupHeaderCell:hover {
  color: white;
}
.Syncfusion-Grid-Blend .GroupHeaderCell,
.Syncfusion-Grid-Blend .GroupHeaderCell:hover,
.Syncfusion-Grid-Blend .GrpHdrUnboundColumn {
  border-color: #2b2b2b;
}
.Syncfusion-Grid-Blend .GroupHeaderCell {
  color: white;
  border-color: #2d2c2c;
}
.Syncfusion-Grid-Blend .SelectedHeaderCell {
  border-color: #333333;
  color: white;
}
.Syncfusion-Grid-Blend .RowHeader {
  border-color: #333333;
  background-color: #414141;
}
.Syncfusion-Grid-Blend .TemplateCell {
  color: #81c909;
}
.Syncfusion-Grid-Blend .UnboundCell {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .SelectedRowHeaderCell,
Syncfusion-Grid-Blend .UnboundButton {
  border-color: #333333;
  background-color: #414141;
}
.Syncfusion-Grid-Blend .RowCell,
.Syncfusion-Grid-Blend .EmptyCell,
.Syncfusion-Grid-Blend tr[class*=ChildRow] > .ChildGrid {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .Alt_Row {
  background-color: #414141;
}
.Syncfusion-Grid-Blend .IndentCell {
  border-color: #333333;
  background-color: #666666;
}
.Syncfusion-Grid-Blend .Summary {
  color: white;
  background-color: #2b2b2b;
  border-color: #333333;
}
.Syncfusion-Grid-Blend .GridSummary {
  border: 1px none #333333;
}
.Syncfusion-Grid-Blend .RecordPlusCollapse,
.Syncfusion-Grid-Blend .RecordPlusExpand {
  background-color: #666666;
  border-color: #333333;
}
.Syncfusion-Grid-Blend .MasterCellCollapse,
.Syncfusion-Grid-Blend .MasterCellExpand {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .RecordPlusExpand > div,
.Syncfusion-Grid-Blend .MasterCellExpand > div {
  background-color: #666666;
}
.Syncfusion-Grid-Blend .PlusMinusSelection {
  background-color: #fcc467;
}
.Syncfusion-Grid-Blend .reSizeColbg {
  background-color: #688caf;
}
.Syncfusion-Grid-Blend .SelectedColumn {
  background-color: #bdbdbd;
  color: black;
}
.Syncfusion-Grid-Blend .SelectionBackground {
  background-color: #333333;
  color: white;
}
.Syncfusion-Grid-Blend .CurrentCell {
  background-color: #bdbdbd;
  color: #272828;
}
.Syncfusion-Grid-Blend .GridPager {
  background-color: #383838;
  border-color: #2d2c2c;
}
.Syncfusion-Grid-Blend .GridPager,
.Syncfusion-Grid-Blend .GridPager .NumericItem,
.Syncfusion-Grid-Blend .Spacing,
.Syncfusion-Grid-Blend .CaptionRow,
.Syncfusion-Grid-Blend .GroupDropArea {
  color: white;
}
.Syncfusion-Grid-Blend .NumericItem-hover {
  background-color: #bdbdbd;
  color: #2c2c2c;
}
ul.Blend ul li a span.arrows,
ul.Blend-context span.arrows,
ul.Blend-vertical span.arrows {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>) no-repeat -100px -208px !important;
}
.Syncfusion-Grid-Blend .PrevPageDisabled,
.Syncfusion-Grid-Blend .PrevPage,
.Syncfusion-Grid-Blend .NextPage,
.Syncfusion-Grid-Blend .NextPageDisabled,
.Syncfusion-Grid-Blend .Descending,
.Syncfusion-Grid-Blend .Ascending {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.Blend_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Blend .RecordPlusCollapse > div,
.Syncfusion-Grid-Blend .MasterCellCollapse > div,
.Syncfusion-Grid-Blend .EnableRowHover tbody > tr:hover > .RowHeader div,
.Syncfusion-Grid-Blend .HeaderIcon {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Blend .HeaderCellHover,
.sf-grid-blend-menu .button-wrapper,
.sf-grid-blend-menu .button-wrapper:hover,
.Syncfusion-Grid-Blend .FilterCellHover,
.Syncfusion-Grid-Blend .GroupHeaderCell:hover {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>) repeat-x scroll center bottom #353634;
}
.sf-grid-blend-menu .sf-choiceList,
.sf-grid-blend-menu .Disable_MenuItem a:hover {
  color: white !important;
}
.Syncfusion-Grid-Blend .UnboundButton:hover {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.hover-bg.png%>);
}
.Syncfusion-Grid-Blend .AddNewItem,
.Syncfusion-Grid-Blend .EditItem,
.Syncfusion-Grid-Blend .ExcelItem,
.Syncfusion-Grid-Blend .WordItem,
.Syncfusion-Grid-Blend .PdfItem,
.Syncfusion-Grid-Blend .DeleteItem,
.Syncfusion-Grid-Blend .SaveItem,
.Syncfusion-Grid-Blend .Cancel,
.Syncfusion-Grid-Blend .FirstPage,
.Syncfusion-Grid-Blend .LastPage,
.Syncfusion-Grid-Blend .FirstPageDisabled,
.Syncfusion-Grid-Blend .LastPageDisabled,
.Syncfusion-Grid-Blend .GridPager .RefreshPager,
.Syncfusion-Grid-Blend .Search,
.Syncfusion-Grid-Blend .FilterIcon,
.Syncfusion-Grid-Blend .FilterIconTick,
.sf-grid-blend-menu .ClearFilterSideImg,
.sf-grid-blend-menu .searchButton,
.sf-grid-blend-menu .closeButton,
.ColumnDropIndicator {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.Blend_sprite.png%>);
  background-color: transparent;
}
.Syncfusion-Grid-Core .RowCell.updatedCell {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.Blend_sprite.png%>);
}
.Syncfusion-Grid-Blend .sliderContainer .ui-slider,
.Syncfusion-Grid-Blend .sliderContainer .ui-slider .ui-slider-range,
.Syncfusion-Grid-Blend .sliderContainer .ui-slider-horizontal .ui-slider-handle,
.Syncfusion-Grid-Blend .ui-slider .ui-state-hover {
  background-color: transparent !important;
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.Blend_sprite.png%>) !important;
}
.Syncfusion-Grid-Blend .HeaderCell,
.Syncfusion-Grid-Blend .grid-icon,
.Syncfusion-Grid-Blend .GroupTopLeftCell,
.Syncfusion-Grid-Blend .TopRightCell,
.Syncfusion-Grid-Blend th.MasterHeaderLeftCell,
.Syncfusion-Grid-Blend .TopLeftCell,
.Syncfusion-Grid-Blend.cloneProperties,
.Syncfusion-Grid-Blend .ExternalForm-Header,
.Syncfusion-Grid-Blend .ToggleContainer {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.header-bg.png%>) repeat-x scroll center bottom #353435;
}
.Syncfusion-Grid-Blend .GridHeader {
  background-color: #353435;
  color: white;
}
.Syncfusion-Grid-Blend .ef-headerText {
  color: white;
}
.Syncfusion-Grid-Blend .Hdr-widthSettings {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .CurrentItem,
.Syncfusion-Grid-Blend .CurrentItem:hover {
  border-color: #333333;
  background-color: #d8d6d6;
  color: #2c2c2c !important;
}
.Syncfusion-Grid-Blend .ToolbarItems {
  color: white;
}
.Syncfusion-Grid-Blend .EditFormCaptionCell {
  color: #231f20;
}
.Syncfusion-Grid-Blend .StringFilter,
.Syncfusion-Grid-Blend .DateFilter,
.Syncfusion-Grid-Blend .NumericFilter {
  background-color: #bfdbff;
  border-color: #6593cf;
}
.Syncfusion-Grid-Blend .EditForm {
  background-color: #333333;
}
.Syncfusion-Grid-Blend .RecordCaption {
  color: white;
}
.Syncfusion-Grid-Blend .EditForm legend {
  color: #bcbcbc;
}
.Syncfusion-Grid-Blend .EditCell .field-validation-error,
.Syncfusion-Grid-Blend .EditForm .field-validation-error {
  color: red;
}
.Syncfusion-Grid-Blend .EditCell {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .EditForm fieldset {
  border-color: #ebd7d6;
}
.Syncfusion-Grid-Blend .Gridtoolbar .customToolItem {
  color: white;
}
.reSizeColbg {
  background-color: #2d2c2c;
}
.sf-menu a {
  white-space: nowrap;
}
.ui-selectable-helper {
  background-color: #333333;
  border-color: #333333 !important;
}
.Syncfusion-Grid-Blend.DragElementtext {
  background-color: #bdbdbd;
  color: #272828;
  border-color: #333333 !important;
}
.DragTable {
  border-color: black;
  background-color: gray;
}
.Syncfusion-Grid-Blend .SelectionBackground.SelectedRowHighlight {
  background-color: #ffd6a4;
}
.sf-grid-blend-menu .sf-choiceList,
.sf-grid-blend-menu .Search-Choice-wrapper,
.sf-grid-blend-menu .button-wrapper,
.sf-grid-blend-menu .button-wrapper:hover {
  border-color: #9d9ea0;
}
.Syncfusion-Grid-Blend .GridEditors {
  border-color: silver !important;
  color: black !important;
}
.Syncfusion-Grid-Blend .button {
  border-color: silver !important;
}
.Syncfusion-Grid-Blend .sfInputText {
  color: black;
}
.Syncfusion-Grid-Blend .Table td.FrozenX,
.Syncfusion-Grid-Blend .Table th.FrozenX {
  border-right-color: gray;
}
.Syncfusion-Grid-Blend .Table td.FrozenY {
  border-top-color: gray;
}
.Syncfusion-Grid-Blend .sfBlend .ui-state-default,
.Syncfusion-Grid-Blend .sfBlend .ui-widget-content .ui-state-default {
  background-color: transparent !important;
}
.Syncfusion-Grid-Blend .ToggleTR,
.Syncfusion-Grid-Core  .ToggleBL,
.Syncfusion-Grid-Blend .RecordPlusExpand > div,
.Syncfusion-Grid-Blend .MasterCellExpand > div,
.Syncfusion-Grid-Blend-Tooltip .tooltipBottomDiv {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.ui-icon.png%>);
}
.Syncfusion-Grid-Blend .SelectedHeaderCell {
  background: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.active-bg.png%>) repeat-x scroll center bottom black;
}
.Syncfusion-Grid-Blend-Tooltip .tooltipTopDiv {
  background-color: #e5e5e5;
  color: black;
}
.Syncfusion-Grid-Blend .NextPage:Hover,
.Syncfusion-Grid-Blend .LastPage:Hover,
.Syncfusion-Grid-Blend .FirstPage:Hover,
.Syncfusion-Grid-Blend .PrevPage:Hover,
.Syncfusion-Grid-Blend .GridPager .RefreshPager:Hover {
  background-color: #bdbdbd;
}
.Syncfusion-Grid-Blend .FilterBarCell,
.Syncfusion-Grid-Blend .FilterBarCellDisabled {
  border-color: #333333;
  background-color: #414141;
  background-image: none;
}
.Syncfusion-Grid-Blend .FilterBarCell input {
  border-color: #333333;
}
.Syncfusion-Grid-Blend .Syncfusion-Grid-FilterStatusBar,
.Syncfusion-Grid-Blend .Syncfusion-Grid-FilterStatusBarBottom {
  background-color: #535352;
  border-color: #333333;
}
.Syncfusion-Grid-FilterStatusBar .MsgDiv,
.Syncfusion-Grid-FilterStatusBarBottom .MsgDiv {
  color: white;
}
ul[name=syncfusion-grid] {
  background-image: url(<%Syncfusion.Theme.Base.Themes.Blend.Images.submenu_bg1.png%>) !important;
}
.Syncfusion-Grid-Blend .EnableRowHover tbody > tr:hover {
  background-color: #535352;
}
.Syncfusion-Grid-Blend .EnableRowHover tbody > tr:hover > .RowHeader {
  border-color: #333333;
  background-color: #414141;
}
.Syncfusion-Grid-Blend .ExternalEdit {
  background-color: #414141;
  border-color: #808282;
}
.Syncfusion-Grid-Blend .bg-clear,
.Syncfusion-Grid-Blend .Gridtoolbar .customToolItem,
.Syncfusion-Grid-Blend .MasterCellCollapse,
.Syncfusion-Grid-Blend .MasterCellExpand,
.Syncfusion-Grid-Blend td[class*=MasterCell] > div {
  background-color: transparent;
  border-color: #333333;
}
.Syncfusion-Grid-Blend .ef-wrapper {
  border-color: #333333;
  background-color: #595959;
}
