@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #FFFFFF;
@click-font-color: @font-color;
@hover-font-color: #000000;
@active-font-color: #FFFFFF;
@seperator-color: #39759C;
@success-font-color: #008000;
@watermark-font-color: #666666;
@disable-font-color: #A5A5A5;
@content-a-font-color: #000000;
@header-a-font-color: #FFFFFF;
@highlight-font-color: #363636;
@error-font-color: #cd0a0a;
@upload-font-color: #FFFFFF;

@border-size: 1px;
@border-type: solid;
@border-color: #0F5475;
@hover-border-color: #5A7A93;
@active-border-color: #5A7A93;
@content-border-color: #5a7a93;
@content-bg-color: #ffffff;
@header-border-color: #5a7a93;
@highlight-border-color: #fcefa1;
@error-border-color: #cd0a0a;

@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;
@bg-color: #82c1ca;
@hover-bg-color: #aee6ec;
@active-bg-color: #5393ac;
@progress-bg-color: #036383;
@submenu-bg-color:#82c1ca;
@pane-bg-color: #82c1ca;
@header-bg-color: #E1Edf3;
@hightlight-bg-color: #fbf9ee;
@error-bg-color: #fef1ec;
@overlay-bg-color: #aaaaaa;
@shadow-bg-color: #aaaaaa;
@input-bg-color: #5393ac;
@input-hover-color: #5393ac;
@popup-bg-color: #82c1ca;
@editbutton-bg-color:#066885;
@refresh-audio-button-bg-color: #ffffff;
@refresh-audio-button-border-color: #1f7894;
@captcha-image-border-color: #1f7894;

@header-img: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.header-bg.png%>)";
@hover-img: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.hover-bg.png%>)";
@active-img: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.active-bg.png%>)";

@header-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.header-bg-ver.png%>)";
@hover-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.hover-ver.png%>)";
@active-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.active-ver.png%>)";




@skin: ~"Vista";
@foldername: ~"Themes";

@submenu-bg: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.submenu_bg.png%>)";
@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons-light.png%>)";
@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@content-bg: ~"none";
@header-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.header-bg.png%>)";

@highlight-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.highlight-bg.png%>)";
@error-bg: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.error-bg.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-icon.png%>)";
@ui-state-highlight: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-highlight.png%>)";
@ui-state-error: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.ui-state-error.png%>)";
@ui-bg_highlight-hard: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-hard.png%>)";
@ui-bg_highlight-soft: ~"url(<%Syncfusion.Theme.Base.@{foldername}.Images.ui-bg_highlight-soft.png%>)";

@scroll-bg-color:#82c1ca;
@scroll-border:1px solid #5A7A93;
@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: rgb(229,239,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,239,236,1) 8%, rgba(229,239,236,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(229,239,236,1)), color-stop(92%,rgba(229,239,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efec', endColorstr='#e5efec',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFD3CB;
}

.hover-gradient()
{
	background: rgb(229,239,236); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,239,236,1) 8%, rgba(229,239,236,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(229,239,236,1)), color-stop(92%,rgba(229,239,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(229,239,236,1) 8%,rgba(229,239,236,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efec', endColorstr='#e5efec',GradientType=0 ); /* IE6-9 */
	border-radius: @border-size+3;
	border: @border-size @border-type #AFD3CB;
}

.container-gradient()
{
	background: rgb(10,61,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(10,61,107,1) 0%, rgba(49,93,133,1) 72%, rgba(59,103,140,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,61,107,1)), color-stop(72%,rgba(49,93,133,1)), color-stop(100%,rgba(59,103,140,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(10,61,107,1) 0%,rgba(49,93,133,1) 72%,rgba(59,103,140,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(10,61,107,1) 0%,rgba(49,93,133,1) 72%,rgba(59,103,140,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(10,61,107,1) 0%,rgba(49,93,133,1) 72%,rgba(59,103,140,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(10,61,107,1) 0%,rgba(49,93,133,1) 72%,rgba(59,103,140,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3d6b', endColorstr='#3b678c',GradientType=0 ); /* IE6-9 */
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #003465;
}
.itemcontainer-gradient()
{
	background: rgb(7,58,105); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(7,58,105,1) 0%, rgba(16,66,112,1) 33%, rgba(43,88,129,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,58,105,1)), color-stop(33%,rgba(16,66,112,1)), color-stop(100%,rgba(43,88,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(7,58,105,1) 0%,rgba(16,66,112,1) 33%,rgba(43,88,129,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(7,58,105,1) 0%,rgba(16,66,112,1) 33%,rgba(43,88,129,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(7,58,105,1) 0%,rgba(16,66,112,1) 33%,rgba(43,88,129,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(7,58,105,1) 0%,rgba(16,66,112,1) 33%,rgba(43,88,129,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073a69', endColorstr='#2b5881',GradientType=0 ); /* IE6-9 */
}

.active-hover-gradient()
{
    background: #073A69;
}

.wrapper-ribbon-hover-gradient()
{
    border: @border-size @border-type #3B668B ;
    background: rgb(209,216,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(209,216,232,1) 0%, rgba(206,213,230,1) 9%, rgba(208,215,232,1) 32%, rgba(211,218,234,1) 36%, rgba(230,234,242,1) 50%, rgba(248,249,253,1) 68%, rgba(252,253,255,1) 82%, rgba(250,252,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,216,232,1)), color-stop(9%,rgba(206,213,230,1)), color-stop(32%,rgba(208,215,232,1)), color-stop(36%,rgba(211,218,234,1)), color-stop(50%,rgba(230,234,242,1)), color-stop(68%,rgba(248,249,253,1)), color-stop(82%,rgba(252,253,255,1)), color-stop(100%,rgba(250,252,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */
}

.tabcontextbar-gradient()
{
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 28%, #e9e9e8 45%, #e3e3e2 51%, #e0e0df 57%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#f7f7f7), color-stop(45%,#e9e9e8), color-stop(51%,#e3e3e2), color-stop(57%,#e0e0df), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(top,  #f7f7f7 28%,#e9e9e8 45%,#e3e3e2 51%,#e0e0df 57%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    border-left: @border-size @border-type #003465;
    border-right: @border-size @border-type #003465;
    border-top: @border-size+1 @border-type #003465;
    color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
    background: #dfdfe1; /* Old browsers */
    background: -moz-linear-gradient(top,  #dfdfe1 0%, #d5d9d9 14%, #c3ced4 43%, #bfcbd5 57%, #bacbd2 62%, #b6cbd6 81%, #b5c6d4 86%, #b2c5d2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfe1), color-stop(14%,#d5d9d9), color-stop(43%,#c3ced4), color-stop(57%,#bfcbd5), color-stop(62%,#bacbd2), color-stop(81%,#b6cbd6), color-stop(86%,#b5c6d4), color-stop(100%,#b2c5d2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dfdfe1 0%,#d5d9d9 14%,#c3ced4 43%,#bfcbd5 57%,#bacbd2 62%,#b6cbd6 81%,#b5c6d4 86%,#b2c5d2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dfdfe1 0%,#d5d9d9 14%,#c3ced4 43%,#bfcbd5 57%,#bacbd2 62%,#b6cbd6 81%,#b5c6d4 86%,#b2c5d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dfdfe1 0%,#d5d9d9 14%,#c3ced4 43%,#bfcbd5 57%,#bacbd2 62%,#b6cbd6 81%,#b5c6d4 86%,#b2c5d2 100%); /* IE10+ */
    background: linear-gradient(top,  #dfdfe1 0%,#d5d9d9 14%,#c3ced4 43%,#bfcbd5 57%,#bacbd2 62%,#b6cbd6 81%,#b5c6d4 86%,#b2c5d2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfe1', endColorstr='#b2c5d2',GradientType=0 ); /* IE6-9 */
    border: @border-size @border-type @pane-bg-color;
}

.ribboncontainer-hover()
{
    border: @border-size @border-type @pane-bg-color;
    background: rgb(209,216,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(209,216,232,1) 0%, rgba(206,213,230,1) 9%, rgba(208,215,232,1) 32%, rgba(211,218,234,1) 36%, rgba(230,234,242,1) 50%, rgba(248,249,253,1) 68%, rgba(252,253,255,1) 82%, rgba(250,252,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,216,232,1)), color-stop(9%,rgba(206,213,230,1)), color-stop(32%,rgba(208,215,232,1)), color-stop(36%,rgba(211,218,234,1)), color-stop(50%,rgba(230,234,242,1)), color-stop(68%,rgba(248,249,253,1)), color-stop(82%,rgba(252,253,255,1)), color-stop(100%,rgba(250,252,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(209,216,232,1) 0%,rgba(206,213,230,1) 9%,rgba(208,215,232,1) 32%,rgba(211,218,234,1) 36%,rgba(230,234,242,1) 50%,rgba(248,249,253,1) 68%,rgba(252,253,255,1) 82%,rgba(250,252,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d8e8', endColorstr='#fafcff',GradientType=0 ); /* IE6-9 */
}

.contextcontainer-applicationmenu()
{
    background: #b7deed; /* Old browsers */
	background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 24%, #21b4e2 58%, #b7deed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(24%,#71ceef), color-stop(58%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 24%,#21b4e2 58%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7deed 0%,#71ceef 24%,#21b4e2 58%,#b7deed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7deed 0%,#71ceef 24%,#21b4e2 58%,#b7deed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 24%,#21b4e2 58%,#b7deed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

.pagecontainer-leftcontainer()
{
	background: rgb(39,86,126); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(39,86,126,1) 0%, rgba(11,61,108,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(39,86,126,1)), color-stop(100%,rgba(11,61,108,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(39,86,126,1) 0%,rgba(11,61,108,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(39,86,126,1) 0%,rgba(11,61,108,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(39,86,126,1) 0%,rgba(11,61,108,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(39,86,126,1) 0%,rgba(11,61,108,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27567e', endColorstr='#0b3d6c',GradientType=1 ); /* IE6-9 */
}

