@border-color: #0F5475;
@font-color: #000000;
@grid-header-color: #FFFFFF;
@grid-header-hover-color: #FFFFFF;
@group-caption-pager-color: #FFFFFF;
@numeric-hover-color: #FFFFFF;
@selected-row-color: #000000;
@header-bg-color: #306D90;
@row-cell-border-color : #B0BFDE;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #FFFFFF;
@group-droparea-bg-color: #709fbf;
@group-droparea-border-color: #B0BFDE;
@clone-bg-color: #709fbf;
@clone-border-color: #B0BFDE;
@top-right-border-color: #B1c6D7;
@caption-row-border-color: #a7bac5;
@caption-row-bg-color: #99C0D6;
@group-caption-drop-row-font-color:#004982;
@pager-caption-row-border-color: #B0BFDE;
@pager-groupdrop-border-color: #B0BFDE;
@pager-groupdrop-bg-color: #709FBF;
@group-indent-expand-collapse-bg-color: #D7ECF7;
@group-indent-expand-collapse-border-color: #B0BFDE;
@hover-header-border-color: #B0BFDE;
@hover-group-header-border-color: #8bd0f3;
@selected-header-border-color: #B0BFDE;
@selected-header-bg-color: #EFF8FD;
@selected-header-color: #FFFFFF;
@selected-column-color:#000000;
@row-header-bg-color: #C7E9E9;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #B0BFDE;
@selected-row-header-bg-color: #C7E9E9;
@alt-row-bg-color: #F9F9F9;
@summary-font-color: #FFFFFF;
@summary-bg-color: #7DAAD7;
@summary-border-color: #B0BFDE;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #A7BAC5;
@selected-column-bg-color: #BDD9E5;
@selection-bg-color: #c1E5F9;
@currentcell-bg-color: #ADD1FF;
@currentcell-font-color: #000000;
@gridpager-bg-color: #306D90;
@gridpager-border-color: #B0BFDE;
@numericitem-font-color: #FFFFFF;
@numeric-hover-bg-color: #5397BC;
@spacing-color: #004982;
@currentitem-border-color: #e4f5fd;
@currentitem-bg-color: #e4f5fd;
@currentitem-font-color: #17488A;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #97BCC9;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #000000;
@resizecol-bg-color: #A7BAC5;
@helper-bg-color: #B0BFDE;
@helper-border-color: #BDD4EB;
@dragelement-bg-color: #ADD1FF;
@dragelement-font-color: #000000;
@dragelement-border-color: #BDD4EB;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #5A7A93;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #053D69;
@tooltip-bg-color: #17488A;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #5397BC;
@filter-cell-bg-color: #C7E9E9;
@filter-input-border-color: #B0BFDE; 
@filter-status-bg-color: #e3eeff;
@filter-status-border-color: #a7bac5; 
@msg-font-color: #356187;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #E1F3FC;
@skin: ~"Vista";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-vista-menu";