
@base-background-color: #E2F3FC;
@base-border: 1px solid #51728b;
@base-Header: #cfeafa;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #d9ebf8;
@Workcell-select: #39759c;
@Workcell-Hover: #ccebf8;
@Workcell-Header: #51728B;
@WorkCellUp-Month: #d9ebf8;
@appointment-color:#77C6D4;
@ViewStrip-color:#2e6b93;
@highlighAppDate:#FFFFFF;
@highlightSelectedDate: #39759C;
@color:Black;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #1C5981 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Vista.Images.vista.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #17488A;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #E2F3FC;
@ViewStrip-text-color:#FFFFFF;
@Dialog-text-color:#FFFFFF;