@border-color: #899CC9;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #FFFFFF;
@header-bg-color: #A2BBD8;
@row-cell-border-color : #BCD1E3;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #3B95CC;
@group-droparea-bg-color: #A3C8ED;
@group-droparea-border-color: #899CC9;
@clone-bg-color: #90b2d6;
@clone-border-color: #BCD1E3;
@top-right-border-color: #BCD1E3;
@caption-row-border-color: #C7D5ED;
@caption-row-bg-color: #B9D3EA;
@group-caption-drop-row-font-color:#FFFFFF;
@pager-caption-row-border-color: #BCD1E3;
@pager-groupdrop-border-color: #BCD1E3;
@pager-groupdrop-bg-color: #AAC7E2;
@group-indent-expand-collapse-bg-color: #d0daef;
@group-indent-expand-collapse-border-color: #BCD1E3;
@hover-header-border-color: #AAC4E1;
@hover-group-header-border-color: #BCD1E3;
@selected-header-border-color: #BCD1E3;
@selected-header-bg-color: #5996D0;
@selected-header-color: #000000;
@selected-column-color:#FFFFFF;
@row-header-bg-color: #ECEFF9;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #BCD1E3;
@selected-row-header-bg-color: #ECEFF9;
@alt-row-bg-color: #ECEFF9;
@summary-font-color: #464749;
@summary-bg-color: #DAE0ED;
@summary-border-color: #BCD1E3;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #899CC9;
@selected-column-bg-color: #81A9D0;
@selection-bg-color: #5996D0;
@currentcell-bg-color: #3e6891;
@currentcell-font-color: #ffffff;
@gridpager-bg-color: #c8def2;
@gridpager-border-color: #899CC9;
@numericitem-font-color: #889BC6;
@numeric-hover-bg-color: #E8EDF7;
@spacing-color: #FFFFFF;
@currentitem-border-color: #BCD1E3;
@currentitem-bg-color: #5996D0;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #B9D3EA;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #FFFFFF;
@resizecol-bg-color: #899CC9;
@helper-bg-color: #BCD1E3;
@helper-border-color: #899CC9;
@dragelement-bg-color: #3E6891;
@dragelement-font-color: #FFFFFF;
@dragelement-border-color: #899CC9;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #899CC9;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #899CC9;
@tooltip-bg-color: #ffffff;
@tooltip-font-color: #000000;
@next-last-hover-bg-color: #E8EDF7;
@filter-cell-bg-color: #ECEFF9;
@filter-input-border-color: #BCD1E3; 
@filter-status-bg-color: #ECEFF9;
@filter-status-border-color: #BCD1E3; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #b6caed;
@skin: ~"Monochrome";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-monochrome-menu";