
@base-background-color: #c6d4ed;
@base-border: 1px solid #5a95cf;
@base-Header: #D6E2F1;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #e6f0ff;
@Workcell-select: #5a95cf;
@Workcell-Hover: #b5d6f5;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #D2E1F7;
@appointment-color:#7BAAD9;
@ViewStrip-color:#e6eaf6;
@highlighAppDate: 1C3888;
@highlightSelectedDate: #C4DEF7;
@color:#1c3888;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #5A95CF ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Monochrome.Images.monochrome.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #ffffff;
@tooltip-font-color: #000000;
@Appointment-text-color:#1c3888;
@Dialog-bg-color: #FAFAFA;
@ViewStrip-text-color:#1c3888;
@Dialog-text-color:#1c3888;