
@font-family: Segoe UI;
@font-size: 11px;
@element-font-size:11.7px;
@font-weight: normal;
@watermark-font-style: italic;
@highlight-font-weight: bold;

@font-color: #2e2e2e;
@click-font-color:#ffffff;
@hover-font-color: #ffffff;
@active-font-color: #555555;
@content-a-font-color: #2e2e2e;
@header-a-font-color: #ffffff;
@highlight-font-color: #ffffff;
@success-font-color: #000000;
@watermark-font-color: #000000;
@disable-font-color: #000000;
@error-font-color: #ffffff;
@upload-font-color: #FFFFFF;

@border-size: 1px;
@border-type: solid;

@border-color: #b3b3b3;
@hover-border-color: #159ccb;
@active-border-color: #aaaaaa;
@content-border-color: #aaaaaa;
@header-border-color: #53C3EA;
@highlight-border-color: #ff9700;
@error-border-color: #cd0a0a;


@bg-sizeX: 0;
@bg-sizeY: 50%;
@bg-repeat: no-repeat;

@bg-color: #159ed9;
@hover-bg-color: #33beef;
@active-bg-color: #A8CACC;
@progress-bg-color: #C2E3ED;
@submenu-bg-color: #e6e6e6;
@content-bg-color: #ffffff;
@header-bg-color: #159ed9;
@hightlight-bg-color: #ff9700;
@error-bg-color: #cd0a0a;
@overlay-bg-color: #159ed9;
@shadow-bg-color: #159ed9;
@pane-bg-color: #ffffff;
@popup-bg-color: #e6e6e6;
@input-bg-color: #ffffff;
@input-hover-color: #ffffff;
@editbutton-bg-color: #159ed9;
@refresh-audio-button-bg-color: #f7f7f7;
@refresh-audio-button-border-color: #e0e0e0;
@captcha-image-border-color : #c8c9c9;

@scroll-bg-color: #e6e6e6;
@scroll-border:1px solid #b3b3b3;

@header-img: ~"none";
@hover-img: ~"none";
@active-img: ~"none";


@header-img-ver: ~"none";
@hover-img-ver: ~"none";
@active-img-ver: ~"none";

@skin: ~"Metro";
@foldername: ~"Themes";
@seperator-color: #b3b3b3;
@toolbar-bg-image: ~"url(<%Syncfusion.Theme.Base.Themes.Images.RTE.ui-icons-metro.png%>)";

@submenu-bg: ~"none";
@content-bg: ~"none";
@header-bg: ~"none";

@highlight-bg: ~"none";
@error-bg: ~"none";

@seperator-img: ~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.sep.png%>)";
@seperator-img-ver:~"url(<%Syncfusion.Theme.Base.Themes.@{skin}.Images.versep.png%>)";
@ui-icon: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.active-ui-icon.png%>)";
@ui-widget-header: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.default-ui-icon.png%>)";
@ui-state-default: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.default-ui-icon.png%>)";
@ui-state-focus: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.default-ui-icon.png%>)";
@ui-state-active: ~"url(<%Syncfusion.Theme.Base.@{foldername}.@{skin}.Images.active-ui-icon.png%>)";
@ui-state-highlight: ~"none";
@ui-state-error: ~"none";
@ui-bg_highlight-hard: ~"none";
@ui-bg_highlight-soft: ~"none";



@scroll-img: ~"url(<%Syncfusion.Theme.Base.Themes.None.Images.ScrollPanel.png%>)";

.hover-li-gradient()
{
	background: #159ed9; /* Old browsers */
    border-radius: 0;
    border: @border-size @border-type #b3b3b3;
}

.hover-gradient()
{
	background: #33beef; /* Old browsers */
	border-radius: 0;
	border: @border-size @border-type #159ccb;
}

.container-gradient()
{
	background: #159ed9; /* Old browsers */    
}

.groupcontainer-gradient()
{
	.itemcontainer-gradient();
	border: @border-size @border-type #dddddd;
}
.itemcontainer-gradient()
{
	background: #159ed9; /* Old browsers */    
}

.active-hover-gradient()
{
	background: #159ED9; /* Old browsers */
}

.wrapper-ribbon-hover-gradient()
{
	border: @border-size @border-type #159ccb;
    background: #33beef; /* Old browsers */
}

.tabcontextbar-gradient()
{
	background: #159ed9;
	border-left: @border-size @border-type #b3b3b3;
	border-right: @border-size @border-type #b3b3b3;
	border-top: @border-size+1 @border-type #b3b3b3;
	color: @shadow-bg-color;
}

.ribboncontainer-active-hover-gradient()
{
	background: #e6e6e6; /* Old browsers */
}

.ribboncontainer-hover()
{
	background: #33beef; /* Old browsers */
}

.contextcontainer-applicationmenu()
{
	background: #159ed9; /* Old browsers */
}

.pagecontainer-leftcontainer()
{
	background: #159ed9; /* Old browsers */
}
