
@base-background-color: #F3F3F3;
@base-border: 1px solid #D0D0D0;
@base-Header: #159ed9;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #E8EAEC;
@Workcell-select: #159ed9;
@Workcell-Hover: #33beef;
@Workcell-Header: #EEEEEE;
@WorkCellUp-Month: #d6d6d6;
@appointment-color:#159ED9;
@ViewStrip-color:#159ed9;
@highlighAppDate: #ffffff;
@highlightSelectedDate: #33beef;
@color:#000000;
@base-font-family: segoe UI; 
@hover: #33beef ;
@active: #aaaaaa ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Metro.Images.Schedule_Metro.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #33beef;
@tooltip-font-color: #ffffff;
@Appointment-text-color:#ffffff;
@Dialog-bg-color:#F3F3F3;
@ViewStrip-text-color:#ffffff;
@Dialog-text-color:#000000;