@border-color: #52B9BB;
@font-color: #000000;
@grid-header-color: #000000;
@grid-header-hover-color: #000000;
@group-caption-pager-color: #000000;
@numeric-hover-color: #000000;
@selected-row-color: #000000;
@header-bg-color: #9AD0E7;
@row-cell-border-color : #90D0D0;
@gridcontent-bg-color: #FFFFFF;
@grid-externalform-header-font-color: #428589;
@group-droparea-bg-color: #B1E5E3;
@group-droparea-border-color: #90D0D0;
@clone-bg-color: #E0F2F2;
@clone-border-color: #bbe3e3;
@top-right-border-color: #90D0D0;
@caption-row-border-color: #bbe3e3;
@caption-row-bg-color: #E3F3F3;
@group-caption-drop-row-font-color:#428589;
@pager-caption-row-border-color: #BBE3E3;
@pager-groupdrop-border-color: #BBE3E3;
@pager-groupdrop-bg-color: #E3F3F3;
@group-indent-expand-collapse-bg-color: #CFEBEE;
@group-indent-expand-collapse-border-color: #90D0D0;
@hover-header-border-color: #B2DDED;
@hover-group-header-border-color: #90D0D0;
@selected-header-border-color: #90D0D0;
@selected-header-bg-color: #77BCDC;
@selected-header-color: #000000;
@selected-column-color:#000000;
@row-header-bg-color: #E3F3F3;
@template-unboundcell-color: #81C909;
@selected-row-header-border-color: #90D0D0;
@selected-row-header-bg-color: #E3F3F3;
@alt-row-bg-color: #F3F8FB;
@summary-font-color: #000000;
@summary-bg-color: #90D0D0;
@summary-border-color: #59BBBB;
@plusminus-selection-bg-color: #FCC467;
@sync-resizecol-bg-color: #688CAF;
@selected-column-bg-color: #A1CFD1;
@selection-bg-color: #90D0D0;
@currentcell-bg-color: #D5EEF4;
@currentcell-font-color: #0F7273;
@gridpager-bg-color: #d2ebeb;
@gridpager-border-color: #52B9BB;
@numericitem-font-color: #428589;
@numeric-hover-bg-color: #B4DEEE;
@spacing-color: #428589;
@currentitem-border-color: #E0F2F2;
@currentitem-bg-color: #7ABDDD;
@currentitem-font-color: #FFFFFF;
@edit-caption-font-color: #231F20;
@filter-type-bg-color: #BFDBFF;
@filter-type-border-color: #6593CF;
@edit-form-bg-color: #E3F3F3;
@record-caption-font-color: #000000;
@legend-font-color: #000000;
@error: red;
@fieldset-border-color: #989898;
@custom-font-color: #000000;
@resizecol-bg-color: #52B9BB;
@helper-bg-color: #E3F3F3;
@helper-border-color: #52B9BB;
@dragelement-bg-color: #D5EEF4;
@dragelement-font-color: #000000;
@dragelement-border-color: #52B9BB;
@dragtable-bg-color: gray;
@dragtable-border-color: #000000;
@selected-row-highlight-bg-color: #FFD6A4;
@choice-wrapper-border-color: #52B9B8;
@grid-editors-button-border-color: #C0C0C0;
@dragtable-editors-input-font-color: #000000;
@frozenxy-border-color: #52B9BB;
@tooltip-bg-color: #6DA393;
@tooltip-font-color: #ffffff;
@next-last-hover-bg-color: #B4DEEE;
@filter-cell-bg-color: #E3F3F3;
@filter-input-border-color: #90D0D0; 
@filter-status-bg-color: #F3F8FB;
@filter-status-border-color: #90D0D0; 
@msg-font-color: #000000;
@filter-disabled-bg-image: none;
@filter-disabled-bg-color: #FFFFFF;
@tr-hover: #BBE3E3;
@skin: ~"Turquoise";
@image-bg-color: transparent;
@sf-menu: ~"sf-grid-turquoise-menu";