
@base-background-color: #ABDBDE;
@base-border: 1px solid #54b8c2;
@base-Header: #54b8c2;
@BusinessHr-color: #FFFFFF;
@Workcell-color: #e2f3f3;
@Workcell-select: #66bac2;
@Workcell-Hover: #abdbde;
@Workcell-Header: #ABDBDE;
@WorkCellUp-Month: #e2f3f3;
@appointment-color:#5CA7AF;
@ViewStrip-color:#54b8c2;
@highlighAppDate: #107274;
@highlightSelectedDate: #83C7CE;
@color:Black;
@base-font-family: segoe UI; 
@hover: #ffd86a ;
@active: #66BAC2 ;
@base-font-size:10px; 
@bg-img:~"url(<%Syncfusion.Theme.Base.Themes.Turquoise.Images.turqouise.png%>)";
@common-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Schedule_Common.png%>)";
@commonIcon-img:~"url(<%Syncfusion.Theme.Base.Themes.Images.Icons.png%>)";
@tooltip-bg-color: #6DA393;
@tooltip-font-color: #ffffff;
@Appointment-text-color:Black;
@Dialog-bg-color: #FAFAFA;
@ViewStrip-text-color:Black;
@Dialog-text-color:#000000;