<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataValidation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataValidation.Properties.Settings>
            <setting name="EventDataSourceName" serializeAs="String">
                <value>Event Log</value>
            </setting>
            <setting name="AuditTraceSourceName" serializeAs="String">
                <value>Audit Trace</value>
            </setting>
            <setting name="MaxNumParametersQuery" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DefaultQueryTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxUnauthorizedAccess" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WatermarkFontPageRatio" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WatermarkPrintTransparency" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="WatermarkImageTransparency" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="HistorianDescriptionColumnName" serializeAs="String">
                <value>Description</value>
            </setting>
        </DataValidation.Properties.Settings>
    </applicationSettings>
</configuration>