<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenCompilerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ScreenCompilerManager.Properties.Settings>
            <setting name="ScreenCompilerExe" serializeAs="String">
                <value>ScreenCompiler.exe</value>
            </setting>
            <setting name="ScreenCompilerArg" serializeAs="String">
                <value>/P"{0}" /S"{1}" /C"{2}" /K</value>
            </setting>
            <setting name="ScreenCompiledExtension" serializeAs="String">
                <value>.compiled</value>
            </setting>
            <setting name="ScreenCompilerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenCompilerTraceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRetryOnError" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScreenCompilerRemoveCompiledParameter" serializeAs="String">
                <value>/S"{0}" /D</value>
            </setting>
        </ScreenCompilerManager.Properties.Settings>
    </applicationSettings>
</configuration>