<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UFUserEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFCrossReferenceEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UFUserEditor.Properties.Settings>
            <setting name="DefaultRoleName" serializeAs="String">
                <value>Role</value>
            </setting>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFUser</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>UFUser</value>
            </setting>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="AdminRoleName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="PowerUserRoleName" serializeAs="String">
                <value>Power User</value>
            </setting>
            <setting name="GuestRoleName" serializeAs="String">
                <value>Guest</value>
            </setting>
        </UFUserEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <UFCrossReferenceEditor.Properties.Settings>
            <setting name="DefaultFileExt" serializeAs="String">
                <value>.UFCrossReference</value>
            </setting>
            <setting name="TypeLabel" serializeAs="String">
                <value>UFCrossReference</value>
            </setting>
            <setting name="DefaultProjectName" serializeAs="String">
                <value>CrossReference</value>
            </setting>
            <setting name="MaxItemsInTree" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="MaxItemsForBulkInsert" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TemporaryVariablesDataSynkName" serializeAs="String">
                <value>TemporaryVariables</value>
            </setting>
            <setting name="OpenTagAlias" serializeAs="String">
                <value>&lt;&lt;</value>
            </setting>
            <setting name="SaveAsFileExtensions" serializeAs="String">
                <value />
            </setting>
        </UFCrossReferenceEditor.Properties.Settings>
    </applicationSettings>
</configuration>
