<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UFUAEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <UFUAEditor.Properties.Settings>
      <setting name="DefaultFileExt" serializeAs="String">
        <value>.UFUAServer</value>
      </setting>
      <setting name="TypeLabel" serializeAs="String">
        <value>UFUAServer</value>
      </setting>
      <setting name="DefaultProjectName" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="DefaultMemberName" serializeAs="String">
        <value>Member</value>
      </setting>
      <setting name="DefaultTagName" serializeAs="String">
        <value>Variable</value>
      </setting>
      <setting name="DefaultFolderName" serializeAs="String">
        <value>Folder</value>
      </setting>
      <setting name="DefaultPrototypeName" serializeAs="String">
        <value>Structure</value>
      </setting>
      <setting name="DefaultHistoricalSettingsName" serializeAs="String">
        <value>Historian</value>
      </setting>
      <setting name="DefaultAlarmAreaName" serializeAs="String">
        <value>Area</value>
      </setting>
      <setting name="DefaultAlarmSourceName" serializeAs="String">
        <value>Source</value>
      </setting>
      <setting name="DefaultAlarmPrototypeName" serializeAs="String">
        <value>Alarm</value>
      </setting>
      <setting name="DefaultEngineeringUnitsName" serializeAs="String">
        <value>EngineeringUnit</value>
      </setting>
      <setting name="DefaultViewName" serializeAs="String">
        <value>View</value>
      </setting>
      <setting name="DefaultLocalEndpoint" serializeAs="String">
        <value>net.pipe://localhost/PlatformNext/IOServer/None</value>
      </setting>
      <setting name="SecretKey" serializeAs="String">
        <value>{a67e0d79-2f96-7bb4-240c-9b9b05072dd2}</value>
      </setting>
      <setting name="DefaultDataLoggerSettingsName" serializeAs="String">
        <value>DataLogger</value>
      </setting>
      <setting name="DefaultDataLoggerColumnName" serializeAs="String">
        <value>Column</value>
      </setting>
      <setting name="CertificateCheckerArgs" serializeAs="String">
        <value>"/SPlatform.NExT IOServer" "/E{0}" /I "/A{1}" "/Y{2}"</value>
      </setting>
      <setting name="CertificateChecker" serializeAs="String">
        <value>CertificateChecker.exe</value>
      </setting>
      <setting name="AppNameSuffix" serializeAs="String">
        <value>IOServer</value>
      </setting>
      <setting name="MaxItemsInTree" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="MaxUndoRedoActions" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RemovedTagsExt" serializeAs="String">
        <value>.RemovedTags</value>
      </setting>
      <setting name="ExportWhiteSpace" serializeAs="String">
        <value>-----------------------------------------------------------------</value>
      </setting>
      <setting name="ImportExportTagHelpLink" serializeAs="String">
        <value>ImportExportTags</value>
      </setting>
      <setting name="ImportExportPrototipeHelpLink" serializeAs="String">
        <value>ImportExportPrototype
</value>
      </setting>
      <setting name="ImportExportAlarmsHelpLink" serializeAs="String">
        <value>ImportExportAlarms</value>
      </setting>
      <setting name="ImportExportEUnitHelpLink" serializeAs="String">
        <value>ImportExportEUnit</value>
      </setting>
      <setting name="ImportExportFileExtension" serializeAs="String">
        <value>csv</value>
      </setting>
      <setting name="ImportExportColumnListSettingsFileName" serializeAs="String">
        <value>ColList</value>
      </setting>
      <setting name="ImportExportPrototypeMemberFileName" serializeAs="String">
        <value>MemberList</value>
      </setting>
      <setting name="ImportExportHelpLink" serializeAs="String">
        <value>ImportExport</value>
      </setting>
      <setting name="ImportExportDataloggerHelpLink" serializeAs="String">
        <value>ImportExportDatalogger</value>
      </setting>
      <setting name="ImportExportHistorianHelpLink" serializeAs="String">
        <value>ImportExportHistorian</value>
      </setting>
      <setting name="ImportExportAlarmHelpLink" serializeAs="String">
        <value>ImportExportAlarm</value>
      </setting>
      <setting name="ImportExportTagPrototypeHelpLink" serializeAs="String">
        <value>ImportExportTagPrototype</value>
      </setting>
      <setting name="ImportExportSubPrototypeMemberFileName" serializeAs="String">
        <value>SubMemberList</value>
      </setting>
      <setting name="ImportExportOPCUAFileExtension" serializeAs="String">
        <value>xml</value>
      </setting>
      <setting name="ImportExportAddressSpaceHelpLink" serializeAs="String">
        <value>ImportExportAddressSpace</value>
      </setting>
      <setting name="UaxPrefix" serializeAs="String">
        <value>uax</value>
      </setting>
      <setting name="TreePrototypeTypeScheme" serializeAs="String">
        <value>Structures</value>
      </setting>
      <setting name="AddressSpaceTypeScheme" serializeAs="String">
        <value>AddressSpace</value>
      </setting>
      <setting name="GeneralSettingsTypeScheme" serializeAs="String">
        <value>GeneralSettings</value>
      </setting>
      <setting name="AlarmsTypeScheme" serializeAs="String">
        <value>Alarms</value>
      </setting>
      <setting name="HistoricalTypeScheme" serializeAs="String">
        <value>HistoricalPrototypes</value>
      </setting>
      <setting name="DataLoggerTypeScheme" serializeAs="String">
        <value>Datalogger</value>
      </setting>
      <setting name="EngineeringUnitsTypeScheme" serializeAs="String">
        <value>EngineeringUnits</value>
      </setting>
      <setting name="ViewsTypeScheme" serializeAs="String">
        <value>Views</value>
      </setting>
      <setting name="RedundancyTypeScheme" serializeAs="String">
        <value>Redundancy</value>
      </setting>
      <setting name="TempVariablesTypeScheme" serializeAs="String">
        <value>TempVariables</value>
      </setting>
      <setting name="DriversTypeScheme" serializeAs="String">
        <value>Drivers</value>
      </setting>
      <setting name="FolderAlwaysExpandible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveAsFileExtensions" serializeAs="String">
        <value>.drvsettings;.dynjobs;.tia;.core</value>
      </setting>
    </UFUAEditor.Properties.Settings>
  </applicationSettings>
</configuration>