<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogicCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LogicCommon.Properties.Settings>
            <setting name="AndGateName" serializeAs="String">
                <value>And</value>
            </setting>
            <setting name="XorName" serializeAs="String">
                <value>Xor</value>
            </setting>
            <setting name="CompareGateName" serializeAs="String">
                <value>Compare</value>
            </setting>
            <setting name="InputGateName" serializeAs="String">
                <value>Input</value>
            </setting>
            <setting name="NandGateName" serializeAs="String">
                <value>Nand</value>
            </setting>
            <setting name="NorGateName" serializeAs="String">
                <value>Nor</value>
            </setting>
            <setting name="OrGateName" serializeAs="String">
                <value>Or</value>
            </setting>
            <setting name="OutputGateName" serializeAs="String">
                <value>Output</value>
            </setting>
            <setting name="XnorGateName" serializeAs="String">
                <value>Xnor</value>
            </setting>
            <setting name="XorGateName" serializeAs="String">
                <value>Xor</value>
            </setting>
            <setting name="TimerDelayGateName" serializeAs="String">
                <value>TimerDelay</value>
            </setting>
            <setting name="TimerLatchGateName" serializeAs="String">
                <value>TimerLatch</value>
            </setting>
            <setting name="CommentName" serializeAs="String">
                <value>Comment</value>
            </setting>
            <setting name="PIDGateName" serializeAs="String">
                <value>PID</value>
            </setting>
            <setting name="NotGateName" serializeAs="String">
                <value>Not</value>
            </setting>
            <setting name="SetGateName" serializeAs="String">
                <value>Set</value>
            </setting>
            <setting name="AddGateName" serializeAs="String">
                <value>Add</value>
            </setting>
            <setting name="SubtractGateName" serializeAs="String">
                <value>Subtract</value>
            </setting>
            <setting name="MultiplyGateName" serializeAs="String">
                <value>Multiply</value>
            </setting>
            <setting name="DivideGateName" serializeAs="String">
                <value>Divide</value>
            </setting>
            <setting name="RisingEdgeGateName" serializeAs="String">
                <value>RisingEdge</value>
            </setting>
            <setting name="FallingEdgeGateName" serializeAs="String">
                <value>FallingEdge</value>
            </setting>
            <setting name="ScriptGateName" serializeAs="String">
                <value>Script</value>
            </setting>
        </LogicCommon.Properties.Settings>
    </applicationSettings>
</configuration>